{% for game in games%}
    <div  class='w3-card hidden-overflow w3-margin-bottom margin-right-8 w3-margin-top' style='background-color: white; padding: 0px; {% if game.was_played %}max-width: 500px; min-width: 300px;{%else%}width: 350px;{%endif%}'>
        <div class="w3-container">
            <div class="scheduleGameDashboardGameTeamDisplayContainer w3-display-container" {% if game.team_games[0].game_outcome_letter == 'L'%}style='opacity:.5;'{%endif%}>
                <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.team_games[0].team_season.team.team_color_primary_hex}}'></div>
                <div class="teamScheduleGameDashboardGameTeamDisplayOffsetTop w3-white w3-display-topmiddle"></div>
                <a href='{{game.team_games[0].team_season.team.team_href}}'>
                    <img class='teamScheduleGameDashboardGameTeamDisplayLogoTop w3-display-middle' src='{{game.team_games[0].team_season.team.team_logo_50}}'/>
                </a>
            </div>
            <div class="scheduleGameDashboardGameTeamDisplayContainer w3-display-container" {% if game.team_games[1].game_outcome_letter == 'L'%}style='opacity:.5;'{%endif%}>
                <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.team_games[1].team_season.team.team_color_primary_hex}}'></div>
                <div class="teamScheduleGameDashboardGameTeamDisplayOffsetBottom w3-white w3-display-bottommiddle"></div>
                <a href='{{game.team_games[1].team_season.team.team_href}}'>
                    <img class='teamScheduleGameDashboardGameTeamDisplayLogoBottom w3-display-middle' src='{{game.team_games[1].team_season.team.team_logo_50}}'/>
                </a>
            </div>
            <table class='scheduleGameTable' style='table-layout: fixed; width: calc(100% - 80px);'>
                <colgroup>
                    <col span="1" style='width: 45%;'>
                    {% for period in game.scoring.periods%}
                        <col span="1" style='width: 10%'>
                    {% endfor %}
                    <col span="1" style='width: 15%'>
                    {# <col span="1" style='width: 7%'>
                          <col span="1" style='width: 7%'> #}
                </colgroup>
                <thead>
                    <tr class='bottom-border center-text-row'>
                        {% if game.was_played %}
                            <th class='left-text'>
                                 <div class='font10'>{{game.week.week_name}}</div>
                                <a href="{{game.game_href}}" class='font10'>Box Score</a>
                                {% if game.rivalry %}
                                    <div class='font10'>{{game.rivalry.rivalry_name or 'Rivalry Game'}}</div>
                                    {%endif%}
                                </th>
                                {% for period in game.scoring.periods%}
                                    <th class=''>{{period.period_number}}</th>
                                {% endfor %}
                                <th class='col-group-left'>F</th>
                                {% else%}
                                <th class='left-text'>
                      <div class='font10'>{{game.week.week_name}}</div>
                                    <a href="{{game.game_href}}" class='font10'>Preview</a>
                                    {% if game.rivalry %}
                                        <div class='font10'>{{game.rivalry.rivalry_name or 'Rivalry Game'}}</div>
                                        {%endif%}
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr class=' center-text-row'>
                                <td class='left-text'>
                                    <span class='font10'>{{game.away_team_game.national_rank_display|coalesce( game.away_team_game.team_season.national_rank_display)}}</span>
                                    <a href="{{game.away_team_game.team_season.team.team_href}}" class='{{game.away_team_game.bold}}'>{{game.away_team_game.team_season.team.school_name}}</a>
                                    <span class='font10'>{{game.away_team_game.record_display}}</span>
                                </td>
                                {% if game.was_played %}
                                    {% for period in game.scoring.periods%}
                                        <td>{{ period.points[1]   }}</td>
                                    {% endfor %}
                                    <td class='col-group-left {{game.away_team_game.bold}}'>{{game.away_team_game.points}}</td>
                                {% endif %}
                            </tr>
                            <tr class=' center-text-row'>
                                <td class='left-text '>
                                    <span class='font10'>{{game.home_team_game.national_rank_display|coalesce( game.home_team_game.team_season.national_rank_display)}}</span>
                                    <a href="{{game.home_team_game.team_season.team.team_href}}" class='{{game.home_team_game.bold}}'>{{game.home_team_game.team_season.team.school_name}}</a>
                                    <span class='font10'>{{game.home_team_game.record_display}}</span>
                                </td>
                                {% if game.was_played %}
                                    {% for period in game.scoring.periods%}
                                        <td>{{ period.points[0]   }}</td>
                                    {% endfor %}
                                    <td class='col-group-left {{game.home_team_game.bold}}'>{{game.home_team_game.points}}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}