<div class='ext_NavBar'>
  {% include "../../static/html_templates/ext_NavBar.html" %}
</div>
<style>
  #Top25Table tr:nth-child({{TeamsInPlayoff}}) td{
    border-bottom: 2px solid black;
  }
</style>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>
{% include "../../static/html_templates/ext_TeamColoring.html" %}


<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "../../static/html_templates/Scoreboard.html" %}
    </div>
    <nav>
      <div class="w3-bar team-bar w3-row-padding" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        {% for week in weeks%}
        <button id="nav-week-schedule-tab-{{week.week_id}}" weekid="{{week.week_id}}" class="w3-bar-item w3-button tab nav-tab-button week-schedule font10-plain {%if week.selected_week%}selected-tab{%endif%}" {%if week.selected_week%} style="background-color: #{{page.SecondaryColor}};" {%endif%}>
          {{week.week_name}}
        </button>
        {%endfor%}
      </div>
    </nav>
    <div id="nav-tabContent">

      </div>
  </div>
</body>
