<div class='ext_NavBar'>
  {% include "../../static/html_templates/ext_NavBar.njk" %}
</div>
<style>
  #Top25Table tr:nth-child({{TeamsInPlayoff}}) td{
    border-bottom: 2px solid black;
  }
</style>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>
{% include "../../static/html_templates/ext_TeamColoring.njk" %}


<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "../../static/html_templates/Scoreboard.njk" %}
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-all-players-tab" style="background-color: #{{page.SecondaryColor}};">All Players</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-leaders-tab">Leaders</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:none;"  id="nav-leaders" >
        <div class='w3-row-padding' id='player-stat-leader-container' >
        </div>
      </div>
      <div class="tab-content" style="display:block;"  id="nav-all-players">
        <div class='w3-display-container' >
          <div class='w3-row-padding w3-margin-bottom'>
            <div class='width90p'>
              <div id='player-stats-table-filter'></div>
              <div id='player-stats-table-column-control'></div>
              <div id='player-stats-table-container' class=''></div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
