<div class='ext_nav_bar'>
  {% include "../../static/html_templates/ext_nav_bar.njk" %}
</div>
<style></style>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>
{% include "../../static/html_templates/ext_team_coloring.njk" %}

<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "../../static/html_templates/Scoreboard.njk" %}
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item btn tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
          <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item btn tab nav-tab-button selected-tab" id="nav-ncaa-history" style="background-color: #{{page.SecondaryColor}};">NCAA History</button>
        {% for conference in conferences%}
          <button class="w3-bar-item btn tab nav-tab-button" id="nav-game-records-tab">{{conference.conference_abbreviation}}</button>
          {%endfor%}
        </div>
      </nav>
      <div id="nav-tabContent">
        <div class="tab-content" style="display:block;"  id="nav-ncaa-history" >
          <div class='w3-display-container' >
            <div class="w3-row-padding margin-bottom-24">
              <div class="w3-col s10">
                <div class="card">
                  <div class="w3-bar team-primary-background-bar">
                    <span class='hide-small'>Biggest Upsets</span>
                  </div>
                  <table class='table table-striped table-hover'>
                    <thead>
                      <tr class='team-secondary-table-row center-text-row'>
                        <th class='' >Season</th>
                        <th class='col-group'>Week</th>
                        <th class='col-group'>Rank Difference</th>
                        <th class='col-group left-text' colspan="2">Winning Team</th>
                        <th class='col-group'>Score</th>
                        <th class='col-group left-text' colspan="2">Losing Team</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for game in game_stat_categories["Biggest Upset"]%}
                        
                        <tr class='center-text-row'>
                          <td class='' >{{game.week.season.season}}</td>
                          <td>{{game.week.week_name}}</td>
                          <td class='' >{{game.rank_difference}}</td>
                          <td class='' style='background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.winning_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.winning_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.winning_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                          <td class='' >
                            <a href='{{game.game_href}}'>
                              <span class='bold'>{{game.winning_team_game.points}}</span> - {{game.losing_team_game.points}}
                            </a>
                          </td>
                          <td class='' style='background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.losing_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.losing_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.losing_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="w3-row-padding margin-bottom-24">
              <div class="w3-col s10">
                <div class="card">
                  <div class="w3-bar team-primary-background-bar">
                    <span class='hide-small'>Biggest Comeback Win</span>
                  </div>
                  <table class='table table-striped table-hover'>
                    <thead>
                      <tr class='team-secondary-table-row center-text-row'>
                        <th class='' >Season</th>
                        <th class='col-group'>Week</th>
                        <th class='col-group'>Deficit</th>
                        <th class='col-group left-text' colspan="2">Winning Team</th>
                        <th class='col-group'>Score</th>
                        <th class='col-group left-text' colspan="2">Losing Team</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for game in game_stat_categories["Largest comeback victory"]%}
                        
                        <tr class='center-text-row'>
                          <td class='' >{{game.week.season.season}}</td>
                          <td>{{game.week.week_name}}</td>
                          <td class='' >{{game.losing_team_largest_lead}}</td>
                          <td class='' style='background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.winning_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.winning_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.winning_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                          <td class='' >
                            <a href='{{game.game_href}}'>
                              <span class='bold'>{{game.winning_team_game.points}}</span> - {{game.losing_team_game.points}}
                            </a>
                          </td>
                          <td class='' style='background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.losing_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.losing_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.losing_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="w3-row-padding margin-bottom-24">
              <div class="w3-col s10">
                <div class="card">
                  <div class="w3-bar team-primary-background-bar">
                    <span class='hide-small'>Biggest Blowout</span>
                  </div>
                  <table class='table table-striped table-hover'>
                    <thead>
                      <tr class='team-secondary-table-row center-text-row'>
                        <th class='' >Season</th>
                        <th class='col-group'>Week</th>
                        <th class='col-group'>Margin of Victory</th>
                        <th class='col-group left-text' colspan="2">Winning Team</th>
                        <th class='col-group'>Score</th>
                        <th class='col-group left-text' colspan="2">Losing Team</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for game in game_stat_categories["Largest margin of victory"]%}
                        
                        <tr class='center-text-row'>
                          <td class='' >{{game.week.season.season}}</td>
                          <td>{{game.week.week_name}}</td>
                          <td class='' >{{game.margin_of_victory}}</td>
                          <td class='' style='background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.winning_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.winning_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.winning_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                          <td class='' >
                            <a href='{{game.game_href}}'>
                              <span class='bold'>{{game.winning_team_game.points}}</span> - {{game.losing_team_game.points}}
                            </a>
                          </td>
                          <td class='' style='background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.losing_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.losing_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.losing_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="w3-row-padding margin-bottom-24">
              <div class="w3-col s10">
                <div class="card">
                  <div class="w3-bar team-primary-background-bar">
                    <span class='hide-small'>Most Points By Single Team</span>
                  </div>
                  <table class='table table-striped table-hover'>
                    <thead>
                      <tr class='team-secondary-table-row center-text-row'>
                        <th class='' >Season</th>
                        <th class='col-group'>Week</th>
                        <th class='col-group'>Winning Team Points</th>
                        <th class='col-group left-text' colspan="2">Winning Team</th>
                        <th class='col-group'>Score</th>
                        <th class='col-group left-text' colspan="2">Losing Team</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for game in game_stat_categories["Most points scored by single team"]%}
                        
                        <tr class='center-text-row'>
                          <td class='' >{{game.week.season.season}}</td>
                          <td>{{game.week.week_name}}</td>
                          <td class='' >{{game.winning_team_points}}</td>
                          <td class='' style='background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.winning_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.winning_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.winning_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                          <td class='' >
                            <a href='{{game.game_href}}'>
                              <span class='bold'>{{game.winning_team_game.points}}</span> - {{game.losing_team_game.points}}
                            </a>
                          </td>
                          <td class='' style='background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.losing_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.losing_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.losing_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="w3-row-padding margin-bottom-24">
              <div class="w3-col s10">
                <div class="card">
                  <div class="w3-bar team-primary-background-bar">
                    <span class='hide-small'>Highest scoring game combined</span>
                  </div>
                  <table class='table table-striped table-hover'>
                    <thead>
                      <tr class='team-secondary-table-row center-text-row'>
                        <th class='' >Season</th>
                        <th class='col-group'>Week</th>
                        <th class='col-group'>Winning Team Points</th>
                        <th class='col-group left-text' colspan="2">Winning Team</th>
                        <th class='col-group'>Score</th>
                        <th class='col-group left-text' colspan="2">Losing Team</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for game in game_stat_categories["Highest scoring game combined"]%}
                        
                        <tr class='center-text-row'>
                          <td class='' >{{game.week.season.season}}</td>
                          <td>{{game.week.week_name}}</td>
                          <td class='' >{{game.total_game_points}}</td>
                          <td class='' style='background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.winning_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.winning_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.winning_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                          <td class='' >
                            <a href='{{game.game_href}}'>
                              <span class='bold'>{{game.winning_team_game.points}}</span> - {{game.losing_team_game.points}}
                            </a>
                          </td>
                          <td class='' style='background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.losing_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.losing_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.losing_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="w3-row-padding margin-bottom-24">
              <div class="w3-col s10">
                <div class="card">
                  <div class="w3-bar team-primary-background-bar">
                    <span class='hide-small'>Lowest scoring game combined</span>
                  </div>
                  <table class='table table-striped table-hover'>
                    <thead>
                      <tr class='team-secondary-table-row center-text-row'>
                        <th class='' >Season</th>
                        <th class='col-group'>Week</th>
                        <th class='col-group'>Winning Team Points</th>
                        <th class='col-group left-text' colspan="2">Winning Team</th>
                        <th class='col-group'>Score</th>
                        <th class='col-group left-text' colspan="2">Losing Team</th>
                      </tr>
                    </thead>
                    <tbody>
                      {%for game in game_stat_categories["Lowest scoring game combined"]%}
                        
                        <tr class='center-text-row'>
                          <td class='' >{{game.week.season.season}}</td>
                          <td>{{game.week.week_name}}</td>
                          <td class='' >{{game.total_game_points}}</td>
                          <td class='' style='background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.winning_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.winning_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.winning_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.winning_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.winning_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                          <td class='' >
                            <a href='{{game.game_href}}'>
                              <span class='bold'>{{game.winning_team_game.points}}</span> - {{game.losing_team_game.points}}
                            </a>
                          </td>
                          <td class='' style='background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <img class='logo-30' src='{{game.losing_team_game.team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td class='left-text' style='color: white; background-color: #{{game.losing_team_game.team_season.team.team_color_primary_hex}};'>
                            <a href='{{game.losing_team_game.team_season.team.team_href}}'>
                              <span class='font10'>
                                {{game.losing_team_game.national_rank}}
                              </span>
                              <span>
                                {{game.losing_team_game.team_season.team.full_name}}
                              </span>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>          </div>
        </div>
        <div class="tab-content" style="display:block;"  id="nav-game-records" ></div>
      </div>
    </div>
  </body>