

<div class='ext_NavBar'>
  {% include "../../static/html_templates/ext_NavBar.njk" %}
</div>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>

{% include "../../static/html_templates/ext_TeamColoring.njk" %}

<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      <!-- {% include "../../static/html_templates/Scoreboard.njk" %} -->
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-team-stats-tab">Team Stats</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-history-tab">History</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content show active" style="display:block;"  id="nav-overview">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col l4 m6 s12">
              <div class="w3-card w3-margin-bottom">
                <div class="w3-bar team-primary-background-bar">
                  <div class="">Top 25</div>
                </div>
                <table class='w3-table-all no-border'>
                  <colgroup>
                      <col span="1">
                      <col span="1">
                      <col span="1">
                  </colgroup>
                  {% for team in teams %}
                  <tr class=''  style='border-left-color: #{{team.team_color_primary_hex}}; border-right-color: #{{team.team_color_primary_hex}};'>
                    <td class="worldOverviewTop25TeamLineRank  w3-cell center-text" style='background-color:  #{{team.team_color_primary_hex}}; color: white;'>
                      <div class='Top25RankNumberw3-display-middle '>{{ team.team_season.rankings.national_rank[0] }}</div>
                      {% if team.NationalRankDelta < 0 %}
                      <div class='worldOverviewTop25TeamLineRankDelta worldOverviewTop25TeamLineRankDeltaRed'>&#8595;{{team.NationalRankDeltaAbs}}</div>
                      {% elif team.NationalRankDelta > 0 %}
                      <div class='worldOverviewTop25TeamLineRankDelta worldOverviewTop25TeamLineRankDeltaGreen'>&#8593;{{team.NationalRankDeltaAbs}}</div>
                      {% endif %}
                    </td>
                    <td style='background-color:  #{{team.team_color_primary_hex}}; color: white;' class=''>
                      <a  class='' href="{{team.team_href}}">
                        <img class='worldTeamLogo'  loading="lazy" src='{{team.team_logo_100}}' alt="">
                      </a>
                    </td>
                    <td class='worldOverviewTop25TeamLineName  w3-cell w3-cell-middle'>
                      <ul class='no-list-style'>
                        <li>
                          <a  class='font14' href="/World/{{world_id}}/Team/{{ team.team_id }}/">
                            <span>{{ team.school_name }} <span class='hide-small'>{{ team.team_name }}</span></span>
                          </a>
                        </li>
                        {% if team.team_season.results.national_champion %}
                        <li class='font10 bold opacity-1' style='color: darkgoldenrod;'>National Champions</li>
                        {% endif %}
                        {% if  team.team_season.results.conference_champion %}
                        <li class='font10 bold opacity-1'>{{team.team_season.conference_season.conference.conference_abbreviation}} Champions</li>
                        {% else %}
                        <li class='font10'>{{team.team_season.rankings.division_rank[0]|ordinal}} in {{team.team_season.conference_season.conference.conference_abbreviation}}</li>
                        {% endif %}
                      </ul>
                    </td>
                    <td>
                      <img class='worldTeamLogo w3-hide {{team.AdditionalDisplayLogoClass}}' src='{{team.AdditionalDisplayLogo}}' alt="">
                      <img class='worldTeamLogo  w3-hide {{team.AdditionalDisplayLogo2Class}}' src='{{team.AdditionalDisplayLogo2}}' alt="">
                    </td>
                    <td class='worldOverviewTop25TeamLineRecord w3-cell  center-text'>
                      <span class=''>{{team.team_season.record.wins}} - {{team.team_season.record.losses}}</span>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <!-- <div class="w3-col l4 m6 s12">
              <div class="w3-card w3-margin-bottom">
                <div class="w3-bar team-primary-background-bar">
                  <div class="">New Top 25</div>
                </div>
                <div>
                  {% for team in teams %}
                    <div>
                      <div class="inline-block" style="border-radius: 100px; box-shadow: 0 0 5px 0.1px rgb(0 0 0 / 50%); padding: 10px; position: relative; background-color: white;">
                        <a  class='' href="{{team.team_href}}">
                          <img class='worldTeamLogo' style="width: 40px;"  loading="lazy" src='{{team.team_logo_100}}' alt="">
                        </a>
                      </div>
                      <div class="inline-block" style="height: 30px; margin-left: -20px; box-shadow: 0 0 5px 0.1px rgb(0 0 0 / 50%); ">
                        <div class="inline-block" style='height: inherit; background-color:  #{{team.team_color_primary_hex}}; color: white; padding-left: 25px;'>
                          <a  class='font14' href="/World/{{world_id}}/Team/{{ team.team_id }}/">
                            <span>{{ team.school_name }} <span class='hide-small'>{{ team.team_name }}</span></span>
                          </a>
                        </div>
                        <div class="inline-block" style="height: inherit; background-color: white;">
                          <span class=''>{{team.team_season.record.wins}} - {{team.team_season.record.losses}}</span>
                        </div>
                        <div class="inline-block">{{ team.team_season.rankings.national_rank[0] }}</div>
                        <div class="inline-block">
                          {% if team.NationalRankDelta < 0 %}
                          <div class='worldOverviewTop25TeamLineRankDelta worldOverviewTop25TeamLineRankDeltaRed'>&#8595;{{team.NationalRankDeltaAbs}}</div>
                          {% elif team.NationalRankDelta > 0 %}
                          <div class='worldOverviewTop25TeamLineRankDelta worldOverviewTop25TeamLineRankDeltaGreen'>&#8593;{{team.NationalRankDeltaAbs}}</div>
                          {% endif %}
                        </div>
                      </div>

                    </div>

                  {% endfor %}

                </div>
              </div>
            </div> -->
            <div class="w3-col  l4 m6 s12">
              {% if  this_week_games|length > 0 %}
              <div class="w3-card background-eee">
                <div class="w3-bar team-primary-background-bar">
                  <div class="">Games This Week</div>
                </div>
                <div class="w3-bar boxscore-bar background-white" id="nav-tab-{{game.GameID}}">
                  <button GameFilterSelection="allgame" class="w3-bar-item upcoming-gameview-tab w3-button tab selected-upcoming-gameview-tab" id="upcoming-gameview-allgame-tab">All</button>
                  <button GameFilterSelection="top25game" class="w3-bar-item upcoming-gameview-tab w3-button tab" id="upcoming-gameview-top25game-tab">Top 25</button>
                  <button GameFilterSelection="nationalgame" class="w3-bar-item upcoming-gameview-tab w3-button tab" id="upcoming-gameview-nationalgame-tab">National</button>
                </div>
                <div class="">
                  {% for game in this_week_games%}
                  <table BoxScoreGameID="{{game.game_id}}" {{game.world_page_filter_attributes}} class="bottom-border width100 worldUpcomingTable">
                    <colgroup>
                        <col span="2">
                        <col span="2">
                        <col span="2">
                        <col span="2">
                        <col span="2">
                    </colgroup>
                    <thead>
                      <th class="bottom-border left-text hide-small" colspan="2">
                        <span class='font10 padBottom20 margin-8'><a href="{{game.game_href}}">Preview</a></span>
                      </th>
                      <th class="bottom-border left-text" colspan="4">
                        <span class='font10'>{{game.game_headline_display}}</span>
                      </th>
                      <th class="bottom-border hide-medium right-text" colspan="4">
                        <span class='font10 padBottom20'>{{game.game_time}}</span>
                      </th>
                    </thead>
                    {% for team_game in game.team_games %}
                    <tr class=" w3-margin" style='border-bottom: 1px solid #ddd;'>
                      <td class=' hide-small' colspan='2' style='background-color: #{{team_game.team_season.team.team_color_primary_hex}}; width: 1%;'>
                          <img class="overviewRecentGameDisplayTeamLogo"  loading="lazy" src="{{team_game.team_season.team.team_logo_50}}" alt="">
                      </td>
                      <td class='worldUpcomingGameCell padding-left-8' colspan='4'>
                        <div class='margin0'><span class='font10'>{{team_game.team_season.national_rank_display}}</span> <a href="{{team_game.team_season.team.team_href}}" class='font16'>{{team_game.team_season.team.school_name}}</a></div>
                        <div class="">
                          <span class='font10'>({{team_game.team_season.record_display}})</span>
                        </div>
                      </td>
                      <td class='center-text hide-medium' colspan='2'>
                        <h2 class='font16'>{{team_game.team_season.rankings.stat_rankings.offense[0]}}</h2>
                        <div class="">
                          <span class='font8 margin-right-4 '>Off Rank</span>
                        </div>
                      </td>
                      <td class='center-text hide-medium' colspan='2'>
                        <h2 class='font16'>{{team_game.team_season.rankings.stat_rankings.defense[0]}}</h2>
                        <div class="">
                          <span class='font8 margin-right-4 '>Def Rank</span>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    </table>
                  {% endfor %}
                </div>
              </div>
              {% elif CurrentWeek.PhaseID.PhaseName == 'Preseason' %}
              <div class="w3-card">
                <div class="w3-bar team-primary-background-bar">
                  <div class="">{{CurrentWeek.PhaseID.LeagueSeasonID.SeasonStartYear}} All-Americans</div>
                </div>
                <div class="w3-bar preseason-allamerican-team-bar" id="nav-tab-preseason-allamerican-team">
                  <button TeamSelection='First Team' class="w3-bar-item award-team-tab w3-button tab selected-preseason-award-team-tab" id="preseason-allamerican-team-firstteam-tab">1st Team</button>
                  <button TeamSelection='Second Team' class="w3-bar-item award-team-tab w3-button tab" id="preseason-allamerican-team-secondteam-tab">2nd Team</button>
                </div>
                <div class="w3-bar preseason-allamerican-conference-bar w3-margin-bottom" id="nav-tab-preseason-allamerican-conference">
                  {% for Conf in PreseasonAllAmericans%}
                  <button ConferenceSelection="{{Conf.Conference.ConferenceID}}" class="w3-bar-item award-conference-tab w3-button tab {{Conf.ConferenceSelected}}" id="preseason-allamerican-conference-{{Conf.Conference.ConferenceID}}-tab">{{Conf.Conference.ConferenceAbbreviation}}</button>
                  {% endfor %}
                </div>
                <div class="list-group list-group-flush">
                  <table id='teamOverviewConferenceStandings' class=' w3-table-all no-border'>
                    <thead class=''>
                      <th>Pos</th>
                      <th>Team</th>
                      <th>Player</th>
                    </thead>
                    {% for Conf in PreseasonAllAmericans%}
                    {% for AwardTeam in Conf.Teams %}
                    {% for Award in AwardTeam.Team %}
                    <tr class='{{Conf.ShowConference}} {{AwardTeam.ShowTeam}} pre-season-allamarican-row preseason-allamerican-conference-{{Conf.Conference.ConferenceID}} preseason-allamerican-team-{{AwardTeam.TeamName}}'>
                      <td>{{Award.PositionID.PositionAbbreviation}}</td>
                      <td>
                        <a href="/World/{{page.WorldID}}/Team/{{ Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamID }}/">
                          <img class='teamOverviewConferenceStandingsTeamLogo'  loading="lazy" src="{{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamLogoURL_50}}" />
                           {{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamName }}
                        </a>
                      </td>
                      <td><a href="/World/{{page.WorldID}}/Player/{{ Award.PlayerTeamSeasonID.PlayerID_id }}/">{{Award.PlayerTeamSeasonID.PlayerID.FullName}}</a>, {{Award.PlayerTeamSeasonID.ClassID.ClassAbbreviation}}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                  </table>
                </div>
              </div>
              {% elif CurrentWeek.PhaseID.PhaseName == 'Season Recap' %}
              <div class="w3-card">
                <div class="w3-bar team-primary-background-bar">
                  <div class="">{{CurrentWeek.PhaseID.LeagueSeasonID.SeasonStartYear}} All-Americans</div>
                </div>
                <div class="w3-bar season-allamerican-team-bar" id="nav-tab-season-allamerican-team">

                  <button TeamSelection='First Team' class="w3-bar-item award-team-tab w3-button tab selected-season-award-team-tab" id="season-allamerican-team-firstteam-tab">1st Team</button>
                  <button TeamSelection='Second Team' class="w3-bar-item award-team-tab w3-button tab" id="season-allamerican-team-secondteam-tab">2nd Team</button>
                  <button TeamSelection='Freshman Team' class="w3-bar-item award-team-tab w3-button tab" id="season-allamerican-team-freshman-tab">Freshmen</button>
                </div>
                <div class="w3-bar season-allamerican-conference-bar w3-margin-bottom" id="nav-tab-season-allamerican-conference">
                  {% for Conf in SeasonAllAmericans%}
                  <button ConferenceSelection="{{Conf.Conference.ConferenceID}}" class="w3-bar-item award-conference-tab w3-button tab {{Conf.ConferenceSelected}}" id="season-allamerican-conference-{{Conf.Conference.ConferenceID}}-tab">{{Conf.Conference.ConferenceAbbreviation}}</button>
                  {% endfor %}
                </div>
                <div class="list-group list-group-flush">
                  <table id='teamOverviewConferenceStandings' class=' w3-table-all no-border'>
                    <thead class=''>
                      <th>Pos</th>
                      <th>Team</th>
                      <th>Player</th>
                    </thead>
                    {% for Conf in SeasonAllAmericans%}
                    {% for AwardTeam in Conf.Teams %}
                    {% for Award in AwardTeam.Team %}
                    <tr class='{{Conf.ShowConference}} {{AwardTeam.ShowTeam}} season-allamarican-row season-allamerican-conference-{{Conf.Conference.ConferenceID}} season-allamerican-team-{{AwardTeam.TeamName}}'>
                      <td>{{Award.PositionID.PositionAbbreviation}}</td>
                      <td>
                        <a href="/World/{{page.WorldID}}/Team/{{ Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamID }}/">
                          <img class='teamOverviewConferenceStandingsTeamLogo'  loading="lazy" src="{{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamLogoURL_50}}" />
                           {{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamName }}
                        </a>
                      </td>
                      <td><a href="/World/{{page.WorldID}}/Player/{{ Award.PlayerTeamSeasonID.PlayerID_id }}/">{{Award.PlayerTeamSeasonID.PlayerID.FullName}}</a>, {{Award.PlayerTeamSeasonID.ClassID.ClassAbbreviation}}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                  </table>
                </div>
              </div>

              {% endif %}
            </div>
            <div class='w3-col l3 m6 s12'>
              <div class="w3-card">
                <span class='table_title'>Headlines</span>
                <ul class='margin-right-4'>
                    {% for Headline in Headlines%}
                    <li class='left-text gray-text'>
                      <a href="{{Headline.HeadlineHref}}" class='charcoal-text font12'>{{Headline.HeadlineText}}</a>
                    </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
