<div class='w3-display-container' >

    {% for team_leader_category in team_leader_categories%}
    {% if team_leader_category.timeframe != 'season' or team_leader_category.timeframe == undefined %}
    {% if loop.index % 3 == 1 %}
    <div class='w3-row-padding'>
    {% endif %}
    <div class="w3-col s4">
      <div class="w3-card margin-bottom-24">
        <div class='team-primary-background-bar'>
          {{team_leader_category.category_name}}
        </div>

        <table class='w3-table-all no-border'>
          <tbody class="">
            <tr>
              <td class="center-text bold font20" style='background-color: #{{team_leader_category.team_games[0].team_game.team_season.team.team_color_primary_hex}}; color:white;'>
                1
              </td>
              <td class="" style='background-color: #{{team_leader_category.team_games[0].team_game.team_season.team.team_color_primary_hex}}; color:white;'>
                <a href="{{team_leader_category.team_games[0].team_game.team_season.team.team_href}}">
                  <img src="{{team_leader_category.team_games[0].team_game.team_season.team.team_logo}}" alt="" class='logo-50'>
                </a>
              </td>
              <td class="" colspan='1'>
                <div class="inline-block">
                  <div class="font16">
                    <a href="{{team_leader_category.team_games[0].team_game.team_season.team.team_href}}">
                      {{team_leader_category.team_games[0].team_game.team_season.team.full_name}}
                    </a>
                  </div>
                  <div class="font10">
                    {{team_leader_category.team_games[0].team_game.team_season.season}} Season
                  </div>
                  <div class="font10">
                    <span class='{{team_leader_category.team_games[0].team_game.game_outcome_letter}} bold'>{{team_leader_category.team_games[0].team_game.game_outcome_letter}} </span>
                    <a href='{{team_leader_category.team_games[0].team_game.game.game_href}}'>{{team_leader_category.team_games[0].team_game.game_stats.team.points}}-{{team_leader_category.team_games[0].team_game.opponent_game_stats.team.points}} </a>
                    vs.
                    <a href='{{team_leader_category.team_games[0].team_game.opponent_team_season.team.team_href}}'>{{team_leader_category.team_games[0].team_game.opponent_team_season.team.team_abbreviation}}</a>
                  </div>
                </div>



              </td>
              <td class="center-text">
                <div class="font20">
                  {{team_leader_category.team_games[0].value}}
                </div>
                <div class="font10">
                  {{team_leader_category.category_abbr}}
                </div>
              </td>
            </tr>
            <tr>
              <th class='center-text'>Rank</th>
              <th colspan='2'>Team</th>
              <th class='center-text'>{{team_leader_category.category_abbr}}</th>
            </tr>
            {% for team_obj in team_leader_category.team_games.slice(1,5)%}
            <tr>
              <td class='center-text bold' style='background-color: #{{team_obj.team_game.team_season.team.team_color_primary_hex}}; color:white;'>
                {{loop.index + 1}}
              </td>
              <td style='background-color: #{{team_obj.team_game.team_season.team.team_color_primary_hex}}' class='center-text'>
                <a href="{{team_obj.team_game.team_season.team.team_href}}">
                  <img src="{{team_obj.team_game.team_season.team.team_logo}}" alt="" class='logo-30'>
                </a>
              </td>
              <td>
                <div class="">
                  <span>
                    <a href="{{team_obj.team_game.team_season.team.team_href}}">{{team_obj.team_game.team_season.team.full_name}}</a>
                  </span>
                </div>
                <div class="font10">
                  {{team_obj.team_game.game.week.week_name}}, {{team_obj.team_season.season}} Season
                </div>
                <div class="font10">
                  <span class='{{team_obj.team_game.game_outcome_letter}} bold'>{{team_obj.team_game.game_outcome_letter}} </span>
                  <a href='{{team_obj.team_game.game.game_href}}'>{{team_obj.team_game.game_stats.team.points}}-{{team_obj.team_game.opponent_game_stats.team.points}} </a>
                  vs.
                  <a href='{{team_obj.team_game.opponent_team_season.team.team_href}}'>{{team_obj.team_game.opponent_team_season.team.team_abbreviation}}</a>
                </div>

              </td>
              <td class='center-text'>{{team_obj.value}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% if loop.index % 3 == 0 %}
    </div>
    {% endif %}
    {%endif%}
    {% endfor %}
</div>
