{% include "../../static/html_templates/common_templates/ext_nav_bar.njk" %}

{% include "../../static/html_templates/common_templates/ext_team_coloring.njk" %}

<body>
  <div class='PageContent'>
    <div class='CoachHeader'>
      <div class="team-header-color-left" style='background-color: #{{page.PrimaryColor}}; border-right-color: #{{page.SecondaryColor}};'></div>
      <a href='{{coach.current_coach_team_season.team_season.team.team_href}}'>
        <div class='page-header-logo-div'>
          <img class='coachTeamLogo' src='{{coach.current_coach_team_season.team_season.team.team_logo}}'  alt="My image">
        </div>
      </a>
      <div class="CoachFace" id='CoachFace'>
        {{coach.CoachFaceSVG|safe}}
      </div>
      <div class='inline-block' style='vertical-align: middle;'>
        <div class='coachHeaderInfo'>
          <span class='coachFirstName'>
            {{coach.name.first}}
          </span>
          <span class='coachLastName'>
            {{coach.name.last}}
          </span>
          <div class='coachOverviewInfo'>
            <a href="{{current_team.team_href}}">{{current_team.school_name}}
              {{current_team.team_name}}</a>
          | {{coach.current_coach_team_season.coaching_position}}
          </div>
        </div>
        <table class='playerHeaderBio mx-3' style='border-color:#{{page.PrimaryColor}}; margin-bottom: 0;'>
          <tr>
            <td>
              <div>
                {{coach|log}}
                <i class="fa fa-map-marker-alt geo-marker" style="color: #{{page.PrimaryColor}};" city="{{coach.hometown.city}}" state="{{coach.hometown.state}}"></i>
                {{coach.hometown_and_state}}
              </div>
              <div class='font10'>HOMETOWN</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>{{coach.alma_mater_team.school_name}}</div>
              <div class='font10'>ALMA MATER</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>
                {{coach.current_coach_team_season.age}}
              </div>
              <div class='font10'>AGE</div>
            </td>
          </tr>
        </table>
      </div>

      <div class="team-header-color-right hide-small" style='background-color: #{{page.PrimaryColor}}; border-left-color: #{{page.SecondaryColor}};'></div>

    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: {{page.PrimaryColor|TeamBackgroundFontColor}}; ">
        <button class='w3-bar-item btn tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
          <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item btn tab nav-tab-button selected-tab"  id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item btn tab nav-tab-button"  id="nav-coaching-tree-tab">Coaching Tree</button>
        {% if coach_awards | length > 0 %}
          <button class="w3-bar-item btn tab nav-tab-button"  id="nav-awards-tab">Awards</button>
          {%endif%}
        </div>
      </nav>
      <div  id="nav-tabContent">
        <div class="tab-content" style='display:block;' id="nav-overview" >
          <div class=' '>

            <div class='w3-row-padding mb-4'>
            <div class='w3-col width100'>
              <div class="card ">
                <div class="w3-bar team-primary-background-bar left-text">
                  Yearly History
                </div>

                <table class="table table-striped table-hover" id='TeamSchedule'  style="width:100%">
                  <thead>
                    <tr class='team-secondary-table-row center-text-row'>
                      <th colspan='3' class=' col-group'></th>
                      <th colspan='3' class=' col-group'></th>
                      <th colspan='3' class='col-group'>Conference</th>
                      <th colspan='4' class='col-group '>Rankings</th>
                      <th colspan='3' class=''>Ratings</th>
                    </tr>
                    <tr class='team-primary-table-row center-text-row'>
                      <th class='' colspan='2'>Team</th>
                      <th class='col-group'>Role</th>
                      <th class='left-text'>Season</th>
                      <th>Record</th>
                      <th class=' col-group'>Outcome</th>

                      <th class=''>Conference</th>
                      <th class=''>W-L (Conf)</th>
                      <th class='col-group'>Place</th>

                      <th class='hide-small'>Final</th>
                      <th class='hide-small'>First</th>
                      <th class='hide-small'>Best</th>
                      <th class='hide-small col-group'>Worst</th>

                      <th>OVR</th>
                      <th>OFF</th>
                      <th>DEF</th>
                    </tr>

                  </thead>
                  <tbody>
                    {%for coach_team_season in coach.coach_team_seasons %}
                      {% set team_season = coach_team_season.team_season%}
                      <tr class='center-text-row'>
                        {% if coach_team_season.team_name_row_span > 0%}
                          <td rowspan='{{coach_team_season.team_name_row_span}}' style='background-color: #{{team_season.team.team_color_primary_hex}};'>
                            <a href='{{team_season.team.team_href}}'>
                              <img class='logo logo-30' src='{{team_season.team.team_logo}}'/>
                            </a>
                          </td>
                          <td rowspan='{{coach_team_season.team_name_row_span}}' class='white-text left-text' style='background-color: #{{team_season.team.team_color_primary_hex}};'>
                            <a href='{{team_season.team.team_href}}'>
                              {{team_season.team.full_name}}
                            </a>
                          </td>
                        {% endif %}
                        {% if coach_team_season.coaching_position_row_span > 0%}
                          <td rowspan='{{coach_team_season.coaching_position_row_span}}' class='col-group'>
                            {{coach_team_season.coaching_position}}
                          </td>
                        {% endif %}
                        <td class='left-text'>
                          <a href="{{team_season.team_season_href}}">{{team_season.season}}</a>
                        </td>
                        <td>{{team_season.record_display}}</td>
                        <td class=' col-group'>
                          {%if team_season.league_season.is_season_complete%}
                            {% if team_season.results.national_champion%}
                              <span style='color: darkgoldenrod;' class='bold opacity-1'>National Champions</span>
                            {% elseif team_season.results.bowl == undefined%}
                              <span>No Bowl</span>
                              {% else%}
                              <div>
                                <span class='W-L-badge {%if team_season.results.bowl.is_winning_team%} W {% else%} L {%endif%}'>
                                  {%if team_season.results.bowl.is_winning_team%} W {% else%} L {%endif%}</span>
                                  <a href="{{team_season.results.bowl.game.game_href}}">
                                    <span>{{team_season.results.bowl.bowl_name}}</span></a>

                                </div>
                              {% endif %}
                            {% else %}
                              <span style='' class=''>In Progress</span>
                              {%endif%}
                            </td>

                            {% if coach_team_season.conference_name_row_span > 0%}
                              <td rowspan='{{coach_team_season.conference_name_row_span}}'>{{team_season.conference_season.conference.conference_name}}</td>
                            {% endif %}
                            <td>{{team_season.conference_record_display}}</td>
                            <td class=' col-group'>
                              {%if team_season.league_season.is_season_complete and team_season.results.conference_champion %}
                                <span style='color: darkgoldenrod;' class='bold opacity-1'>
                                  {{team_season.conference_season.conference.conference_abbreviation}} Champs
                            </span>
                              {%elif team_season.results.division_champion%}
                                <span class='bold opacity-1'>
                                  {{team_season.conference_season.conference.conference_abbreviation}}
                                  {{team_season.division_name}} Champs
                            </span>
                                {%else%}
                                {{team_season.final_conference_rank|ordinal}}
                              {% endif %}

                            </td>

                            <td class='column-shrink'>{{team_season.final_national_rank}}</td>
                            <td class='column-shrink'>{{team_season.first_national_rank}}</td>
                            <td class='column-shrink'>{{team_season.best_national_rank}}</td>
                            <td class='column-shrink col-group'>{{team_season.worst_national_rank}}</td>

                            <td class='column-shrink'>{{team_season.rating.overall|round}}</td>
                            <td class='column-shrink'>{{team_season.rating.by_position_group['Offense']|round}}</td>
                            <td class='column-shrink'>{{team_season.rating.by_position_group['Defense']|round}}</td>

                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
            <div class='w3-row-padding no-flex-wrap width100 mb-3 space-between'>
              {% if head_coaching_record|length > 0%}
              <div class='w3-col' style='flex: 2 1 auto;'>
                <div class="card ">
                  <div class="w3-bar team-primary-background-bar left-text">
                  Head Coaching Totals
                </div>
                <div>
                  <table class='table table-striped'>
                    <thead>
                      <tr class='center-text-row team-secondary-table-row no-wrap'>
                        <th colspan='2'>Team</th>
                        <th>Years</th>
                        <th>Record</th>
                        <th class='col-group'>Win %</th>
                        <th>Conf Record</th>
                        <th class='col-group'>Conf Win %</th>
                        <th>Natl Champ</th>
                        <th>Conf Champ</th>
                        <th class='col-group'>Div Champ</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for team_name, history in head_coaching_record%}
                      <tr class='center-text-row'>
                        <td style='background-color: #{{history.team.team_color_primary_hex}};'>
                          <a href='{{history.team.team_href}}'>
                            <img class='logo logo-30' src='{{history.team.team_logo}}' />
                          </a>
                        </td>
                        <td class='white-text left-text no-wrap ' style='background-color: #{{history.team.team_color_primary_hex}};'>
                           <a href='{{history.team.team_href}}'>
                            {{history.team.full_name}}
                          </a>
                        </td>
                        <td>{{history.years}}</td>
                        <td>{{history.wins}}-{{history.losses}}</td>
                        <td class='col-group'>{{history.win_percentage}}</td>
                        <td>{{history.conference_wins}}-{{history.conference_losses}}</td>
                        <td class='col-group'>{{history.conference_win_percentage}}</td>
                        <td>{{history.national_championships}}</td>
                        <td>{{history.conference_championships}}</td>
                        <td class='col-group'>{{history.division_championships}}</td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
                </div>
              </div>
              {% endif %}
              {% if championships|length > 0%}
                <div class='w3-col ' style='flex: 1 1 auto;'>
                  <div class="card ">
                    <div class="w3-bar team-primary-background-bar left-text">
                  Championships
                </div>
                    <div>
                      <table class='table table-striped'>
                        {% for champ_name, champ_list in championships%}
                          <tr>
                            <th {%if champ_name=='National Champions'%} style='color: darkgoldenrod;' {%endif%}>{{champ_list|length}} time {{champ_name}}</th>
                            <td>
                              {% for team_season in champ_list%}
                                {{team_season|log}}
                                <div>
                                  <a href='{{team_season.team_season_href}}'>
                                    {{team_season.season}}
                                    {{team_season.team.full_name}}
                                  </a>
                          ({{team_season.record.wins}}-{{team_season.record.losses}})
                        </div>
                              {%endfor %}
                            </td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="tab-content" style='display:none;' id="nav-coaching-tree" >
            <div class='w3-container w3-margin-bottom'>
              <div class='w3-row-padding'>
                <div class='w3-col l10 m12' id='coach-stats-season-stat-div'>
                  TODO
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content" style='display:none;' id="nav-game-log" >
            <div class='w3-container'>
              <div class='w3-row-padding '>
                <div class="w3-col l10 m12">
                  <div class="card w3-margin-bottom">

                    <div class="w3-bar team-primary-background-bar">Game Stats</div>
                    <div id='coach-stats-game-log-div'></div>

                  </div>
                </div>
              </div>
              <div class='w3-row-padding'></div>

            </div>
          </div>
          <div class="tab-content" style='display:none;' id="nav-analytics" ></div>
          <div class="tab-content" style='display:none;' id="nav-awards" >
            <div class='w3-container'>
              <div class='w3-row-padding'>
                <div class='w3-col l6 m12'>
                  <div class="card w3-margin-bottom">

                    <div class='w3-bar team-primary-background-bar'>
                  Awards
                </div>
                    <table class='table table-striped table-hover'>
                      {% for award_obj in award_list%}
                        <tr>
                          <td class='font16 bold'>{{award_obj.award_key}}</td>
                          <td>
                            <ul class='no-list-style'>
                              {% for award in award_obj.awards%}
                                <li>
                                  {% if award.award_href|length > 0%}
                                    <a href="{{award.award_href}}">{{award.award_name}}</a>
                                  {% else %}
                                    {{award.award_name}}
                                    {%endif%}
                                  </li>
                                {% endfor %}
                              </ul>
                            </td>
                          </tr>
                          {%endfor%}
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="" id='face'></div>
        </body>