{% include "../../static/html_templates/common_templates/ext_nav_bar.njk" %}

{% include "../../static/html_templates/common_templates/ext_team_coloring.njk" %}

<body>
  <div class='PageContent'>
    <div class='CoachHeader'>
      <div class="team-header-color-left" style='background-color: #{{page.PrimaryColor}}; border-right-color: #{{page.SecondaryColor}};'></div>
      <a href='{{coach.current_coach_team_season.team_season.team.team_href}}'>
        <div class='page-header-logo-div'>
          <img class='coachTeamLogo' src='{{coach.current_coach_team_season.team_season.team.team_logo}}'  alt="My image">
        </div>
      </a>
      <div class="CoachFace" id='CoachFace'>
        {{coach.CoachFaceSVG|safe}}
      </div>
      <div class='inline-block' style='vertical-align: middle;'>
        <div class='coachHeaderInfo'>
          <span class='coachFirstName'>
            {{coach.name.first}}
          </span>
          <span class='coachLastName'>
            {{coach.name.last}}
          </span>
          <div class='coachOverviewInfo'>
            <a href="{{current_team.team_href}}">{{current_team.school_name}}
              {{current_team.team_name}}</a>
          | {{coach.current_coach_team_season.coaching_position}}
          </div>
        </div>
        <ul class='coachHeaderBio' style='border-color:#{{page.PrimaryColor}}; margin-bottom: 0;'>
          <li class='coachHeaderClass'>
            <div class='coachHeaderBioDescription'>AGE</div>
            <div class='coach-class'>
              {{coach.current_coach_team_season.age}}
            </div>
          </li>
          <li class='coachHeaderHometown'>
            <div class='coachHeaderBioDescription'>HOMETOWN</div>
            <div>{{coach.hometown_and_state}}</div>
          </li>
          <li class='coachHeaderHometown'>
            <div class='coachHeaderBioDescription'>ALMA MATER</div>
            <div>{{coach.hometown_and_state}}</div>
          </li>
        </ul>
      </div>

      <div class="team-header-color-right hide-small" style='background-color: #{{page.PrimaryColor}}; border-left-color: #{{page.SecondaryColor}};'></div>

    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: {{page.PrimaryColor|TeamBackgroundFontColor}}; ">
        <button class='w3-bar-item btn tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
          <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item btn tab nav-tab-button selected-tab"  id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        {% if coach_team_games|length > 0%}
          <button class="w3-bar-item btn tab nav-tab-button"  id="nav-stats-tab">Stats</button>
        {% endif %}
        {% if coach_awards | length > 0 %}
          <button class="w3-bar-item btn tab nav-tab-button"  id="nav-awards-tab">Awards</button>
          {%endif%}
        </div>
      </nav>
      <div  id="nav-tabContent">
        <div class="tab-content" style='display:block;' id="nav-overview" >
          <div class='w3-container'>
            <div class='w3-row-padding'>
              <div class='w3-col l5 m12 coachOverviewRatingBox'>
                <div class="card margin-bottom-24">
                  <table class='width100 table table-striped table-hover '></table>

                </div>
              </div>
              <div class='w3-col l7 m12'>

                {%if coach_team_games|length > 0%}
                  <div class="card w3-margin-bottom">
                    <div class="w3-bar team-primary-background-bar">
                  Recent Game Stats
                </div>
                    <div id='coach-stats-recent-games-div'></div>

                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="tab-content" style='display:none;' id="nav-stats" >
          <div class='w3-container w3-margin-bottom'>
            <div class='w3-row-padding'>
              <div class='w3-col l10 m12' id='coach-stats-season-stat-div'></div>
            </div>
          </div>
        </div>
        <div class="tab-content" style='display:none;' id="nav-game-log" >
          <div class='w3-container'>
            <div class='w3-row-padding '>
              <div class="w3-col l10 m12">
                <div class="card w3-margin-bottom">

                  <div class="w3-bar team-primary-background-bar">Game Stats</div>
                  <div id='coach-stats-game-log-div'></div>

                </div>
              </div>
            </div>
            <div class='w3-row-padding'></div>

          </div>
        </div>
        <div class="tab-content" style='display:none;' id="nav-analytics" ></div>
        <div class="tab-content" style='display:none;' id="nav-awards" >
          <div class='w3-container'>
            <div class='w3-row-padding'>
              <div class='w3-col l6 m12'>
                <div class="card w3-margin-bottom">

                  <div class='w3-bar team-primary-background-bar'>
                  Awards
                </div>
                  <table class='table table-striped table-hover'>
                    {% for award_obj in award_list%}
                      <tr>
                        <td class='font16 bold'>{{award_obj.award_key}}</td>
                        <td>
                          <ul class='no-list-style'>
                            {% for award in award_obj.awards%}
                              <li>
                                {% if award.award_href|length > 0%}
                                  <a href="{{award.award_href}}">{{award.award_name}}</a>
                                {% else %}
                                  {{award.award_name}}
                                  {%endif%}
                                </li>
                              {% endfor %}
                            </ul>
                          </td>
                        </tr>
                        {%endfor%}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" id='face'></div>
      </body>