  <div class="w3-display-container">
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-col l12 mw1100">
        <div class=" card">

        <table class='table table-striped table-hover' id='HeismanRaceTable'>

          <tbody>
            {% for player_team_season in heisman_race%}
            <tr playerid='{{player_team_season.player.player_id}}'>
              <td  class='font32 white-text column-shrink center-text' style="background-color: #{{player_team_season.team_season.team.team_color_primary_hex}}">{{loop.index}}</td>
              <td  class='center-text' style="background-color: #{{player_team_season.team_season.team.team_color_primary_hex}}">
                <a href="{{player_team_season.team_season.team.team_href}}">
                  <img src="{{player_team_season.team_season.team.team_logo}}" class='logo logo-90' alt="">
                </a>
              </td>
              <td class='column-shrink center-text' style="background-color: #{{player_team_season.team_season.team.team_color_primary_hex}}">
                <div id='heisman-face-{{loop.index}}-{{player_team_season.player.player_id}}' player_id='{{player_team_season.player.player_id}}'  class='PlayerFace-90 PlayerFace-Headshot' style='background-color: white; border-color: #{{player_team_season.team_season.team.team_color_secondary_hex}}'>
                </div>
              </td>
              <td>
                <div class="font32 bold font-black">
                  <a href="{{player_team_season.player.player_href}}">
                    {{player_team_season.player.full_name}}
                  </a>
                </div>
                <div class="">
                  {% if player_team_season.team_season.team.is_user_team%}
                  <span style='color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                      <i class="fa fa-user"></i>
                  </span>
                  {%endif%}
                  <a href="{{player_team_season.team_season.team.team_href}}">
                    {{player_team_season.team_season.team.full_name}}
                  </a>
                </div>
                <div class=""  player_id='{{player_team_season.player_id}}'>
                  <span><i class="fa fa-address-card player-profile-popup-icon"></i></span>
                  &#183;
                  <span>{{player_team_season.position}}</span>
                  &#183;
                  <span>{{player_team_season.class.class_name}}</span>
                </div>
              </td>
              <td>
                  <ul class='no-list-style'>
                    {% for stat in player_team_season.season_stats.top_stats%}
                    {%if stat.season_score_value > (player_team_season.season_stats.games.weighted_game_score * 0.05) %}
                    <li>{{stat.display}}</li>
                    {%endif%}
                    {% endfor %}
                  </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      </div>
    </div>
  </div>
