<div class='ext_NavBar'>
  {% include "../../static/html_templates/ext_NavBar.njk" %}
</div>
<style>
  #Top25Table tr:nth-child({{TeamsInPlayoff}}) td{
    border-bottom: 2px solid black;
  }
</style>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>
{% include "../../static/html_templates/ext_TeamColoring.njk" %}


<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "../../static/html_templates/Scoreboard.njk" %}
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-player-stats-tab" style="background-color: #{{page.SecondaryColor}};">Top 25</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-playoff-picture-tab">Playoff Picture</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:block;"  id="nav-player-stats">
        <div class='w3-display-container' >
          <div class='w3-row-padding'>
            <div class='w3-col l10'>
              <div class="w3-card ">

                <table class="w3-table w3-table-all no-border" id='Top25Table'  style="width:100%">
                  <thead>
                    <tr class='team-primary-background-bar'>
                      <th class=''>Rank</th>
                      <th></th>
                      <th>Team</th>
                      <th class="center-text">Trend</th>
                      <th class="center-text">Record</th>
                      <th>Last Week</th>
                      <th class='hide-small'>This Week</th>
                    </tr>
                  </thead>
                  <tbody id="Top25Table-body">
                    {% for i in range(5)%}
                    <tr>
                      <td class="moving-gradient"></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <table class="w3-table no-border"   style="width:100%">
                  <tr>
                    <td>Others receiving votes:
                      {% for team_season in bubble_teams%}
                      <span><a href="{{team_season.team.team_href}}">{{team_season.team.school_name}}</a>{% if loop.last %} {% else %}, {% endif%}</span>
                      {% endfor %}</td>
                  </tr>
                  {%if dropped_teams%}
                  <tr>
                    <td>Teams dropped from rankings:
                      {% for team_season in dropped_teams%}
                      <span><a href="{{team_season.team.team_href}}">{{team_season.team.school_name}}</a> ({{team_season.rankings.national_rank[1]}}) {% if loop.last %} {% else %}, {% endif%}</span>
                      {% endfor %}</td>
                  </tr>
                  {%endif%}
                </table>

              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-playoff-picture">
        <div class='w3-display-container'>
          <div class='w3-row-padding' id='worldLeagueLeaderRow'>
            <div class="width100">
              <div class="equal-sized-item-container centered-item">
                {% for playoff_round in playoffs.playoff_rounds %}
                  <div class="equal-sized-item centered-item mw300">
                    <div class="">
                      {{playoff_round.round_name}}
                    </div>
                    <div class="">
                      {{playoff_round.week_name}}
                    </div>
                  </div>
                {% endfor %}
              </div>

              <div class="equal-sized-item-container centered-item height100">
                {% for playoff_round in playoffs.playoff_rounds %}
                <div class="equal-sized-item equal-sized-item-container column-flex height100 mw300" style='width: 200px; justify-content: space-evenly;'>

                  {% for playoff_game in playoff_round.playoff_games%}
                  <div class="equal-sized-item w3-card width80 height100 w3-margin-bottom" style=' flex: 0 1 0%; '>
                      <table class='w3-table-all width100 text-left no-border'>
                        <thead>
                          {% if playoff_game.game_id%}
                          <tr>
                            <th colspan='4'>
                              <a href="{{playoff_game.game.game_href}}">
                              {% if playoff_game.game.was_played%}
                              Box Score
                              {% else %}
                              Preview
                              {% endif %}
                              </a>

                            </th>
                          </tr>
                          {% endif %}
                        </thead>
                        {% for team_obj in playoff_game.team_objs%}
                        <tr>
                          {% if team_obj.team_season != null%}
                          <td class='white-text font20 column-shrink' style='background-color: #{{team_obj.team_season.team.team_color_primary_hex}}'>{{team_obj.seed}}</td>
                          <td class='column-shrink' style='background-color: #{{team_obj.team_season.team.team_color_primary_hex}}'>
                            <img class='logo-30' src="{{team_obj.team_season.team.team_logo_100}}" alt="">
                          </td>
                          <td class='white-text font16' style='background-color: #{{team_obj.team_season.team.team_color_primary_hex}}'>
                            <a href="{{team_obj.team_season.team.team_href}}">
                              <span>{{team_obj.team_season.team.school_name}}</span>
                            </a>
                          </td>
                          <td class='center-text'>{{team_obj.team_game.points}}</td>
                          {% else %}
                          <td class='center-text' colspan='5'>BYE</td>
                          {% endif%}
                        </tr>
                        {% endfor %}
                      </table>

                  </div>
                  {% endfor %}
                </div>
                {% endfor %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
