{% include "../../static/html_templates/ext_NavBar.html" %}

<style>
  #Top25Table tr:nth-child({{TeamsInPlayoff}}) td{
    border-bottom: 2px solid black;
  }
</style>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>


<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      <p>scoreboard</p>
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-player-stats-tab" style="background-color: #{{page.SecondaryColor}};">Top 25</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-playoff-picture-tab">Playoff Picture</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:block;"  id="nav-player-stats">
        <div class='w3-display-container' >
          <div class='w3-row-padding'>
            <div class='w3-col l10'>
              <div class="w3-card ">

                <table class="w3-table w3-table-all no-border" id='Top25Table'  style="width:100%">
                  <thead>
                    <tr>
                      <th class=''>Rank</th>
                      <th></th>
                      <th>Team</th>
                      <th>Trend</th>
                      <th>Record</th>
                      <th>Last Week</th>
                      <th class='hide-small'>This Week</th>
                      <th></th>
                    </tr>
                  </thead>
                </table>

                <table class="w3-table no-border"   style="width:100%">
                  <tr>
                    <td>Others receiving votes:
                      {% for Team in BubbleTeams%}
                      <span><a href="{{Team.TeamHref}}">{{Team.TeamSeasonID__TeamID__TeamName}}</a>{% include "HeadFootballCoach/ext_Comma.html" %}</span>
                      {% endfor %}</td>
                  </tr>
                  {%if DroppedOutTeams%}
                  <tr>
                    <td>Teams dropped from rankings:
                      {% for Team in DroppedOutTeams%}
                      <span><a href="{{Team.TeamHref}}">{{Team.TeamSeasonID__TeamID__TeamName}}</a> ({{Team.PreviousRank}}) </span>
                      {% endfor %}</td>
                  </tr>
                  {%endif%}
                </table>

              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-playoff-picture">
        <div class='w3-display-container'>
          <div class='w3-row-padding' id='worldLeagueLeaderRow'>
            <div class="width100">
              <div class="equal-sized-item-container centered-item">
                {% for Round in PlayoffBracket %}
                  <div class="equal-sized-item centered-item mw300">
                    Round {{Round.Round}}
                  </div>
                {% endfor %}
              </div>

              <div class="equal-sized-item-container centered-item height100">
                {% for Round in PlayoffBracket %}
                <div class="equal-sized-item equal-sized-item-container column-flex height100 mw300" style='width: 200px; justify-content: space-evenly;'>

                  {% for Game in Round.Matchups%}
                  <div class="equal-sized-item width80 height100 padding-10 all-border" style='margin: 10 20 10 20; border-radius: 10px; flex: 0 1 0%; '>
                      <table class='width100 text-left'>
                        <tr>
                          <td>

                            <a href="{{Game.AwayTeam.TeamHref}}">
                              <img src="{{Game.AwayTeam.TeamSeasonID__TeamID__TeamLogoURL}}" alt="" style='height: 20px;'>
                              <span>{{Game.AwayTeam.TeamSeasonID__TeamID__TeamName}}</span>

                            </a>
                          </td>
                          <td class='text-right'>34</td>
                        </tr>
                        <tr>
                          <td>
                            <a href="{{Game.HomeTeam.TeamHref}}">
                              <img src="{{Game.HomeTeam.TeamSeasonID__TeamID__TeamLogoURL}}" alt="" style='height: 20px;'>
                              <span>{{Game.HomeTeam.TeamSeasonID__TeamID__TeamName}}</span>

                            </a>
                          </td>
                          <td class='text-right'>26</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td class='text-right'>
                            <a href="{{Game.GameHref}}">
                              Box Score
                            </a>
                          </td>
                        </tr>
                      </table>

                  </div>
                  {% endfor %}
                </div>
                {% endfor %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
