<div class='TeamHeader' style='height: 150px;'>
  <div class="team-header-color-left" style='background-color: #{{page.PrimaryColor}}; border-right-color: #{{page.SecondaryColor}};'></div>
  <div class='page-header-logo-div'><img class='teamTeamLogo' src='{{team.team_logo}}' alt="My image"></div>
  <div class='teamHeaderInfo'>
    <span class='thin-font font20'>
      {{team.team_season.national_rank_display}}
    </span>
    <span class='teamSchoolName'>
      {{ team.school_name }}
    </span>
    <span class='teamTeamName'>
      {{team.team_name}}
    </span>
    <span class='teamRecord hide-small'>
      {{team.team_season.record_display}}
    </span>
    <div class='teamOverviewInfo'>
      <i class="fa fa-map-marker-alt geo-marker" style='color: #{{team.team_color_primary_hex}};' city='{{team.location.city}}' state='{{team.location.state}}'></i>
      {{team.location.city}}, {{team.location.state}} | {{team.team_season.rankings.division_rank[0]|ordinal}}
      <span class='font10'>in</span>
      <a href="{{team.team_season.conference_season.conference.conference_href}}">{{team.team_season.conference_season.conference.conference_name}}</a>
    </div>
    <div class='teamOverviewInfo'>
      {% for Link in page.TeamHeaderLinks.link_paths%}
        <a href="{{team.team_href}}/{{Link.href_extension}}">{{Link.Display}}</a>
        {% if loop.last %}
        {% else %}  |  {% endif%}
        {% endfor %}
      </div>
    </div>
    <div class="team-header-color-right align-middle hide-small" style='background-color: #{{page.PrimaryColor}}; border-left-color: #{{page.SecondaryColor}};'></div>

  </div>