<style>
  .player-primary-background-bar {
    background-color: #{{page.PrimaryColor}} !important;
    color: #{{page.PrimaryColor|TeamBackgroundFontColor}} !important;
    border-top: 4px solid #{{page.SecondaryColor}} !important;
  }
</style>

<div class="card modal-content">
  <div class="w3-bar team-primary-background-bar-generic player-primary-background-bar">
    <span class='hide-small'>{{location.city}}, {{location.state}}</span>
  </div> 
  <div class='player-modal-header' id='map-body' style='height: 400px;'>

  </div>
</div>
