{% include "Hoops/NavBar.html" %}
{% load static %}


<body>
  <div class="PageContent">
    <h2>
      <span class='teamSchoolName'>Tournaments</span>

    </h2>


    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-NCAA" aria-selected="true">NCAA Tournament</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-roster" role="tab" aria-controls="nav-Big12" aria-selected="false">Big 12 Tournament</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="container">
          <div class="row">
            <div class='col-12'>
              <div class="grid_15 prefix_1">
                <div id="bracket">
                </div>
              </div>
            </div>
          </div>
            <div class="row">
              <div class='col-12'>
                <div class="grid_15 prefix_1">
                  <div id="flat-bracket">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>

<div class="tooltip_templates">
    <div id="tooltip_content" class="bracketTooltip bracketTooltipHome">
        <div>Home Team</div>
        vs.
        <div>Away Team</div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'moment.min.js' %}"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//d3js.org/queue.v1.min.js"></script>

<script src="{% static 'rgbaster.js' %}"></script>

<link rel="stylesheet" href="//billmill.org/css/960css/reset.css" />
<link rel="stylesheet" href="//billmill.org/css/960css/960.css" />
<link rel="stylesheet" href="//billmill.org/css/style.css" />

<script type="text/javascript" src="{% static 'tooltipster/dist/js/tooltipster.bundle.js' %}"></script>

<script src="{% static 'jquery-bracket/src/jquery.bracket.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery-bracket/src/jquery.bracket.css' %}" />
<script src="{% static 'Pages/Bracket2.js' %}"></script>
<script src="{% static 'Pages/Bracket.js' %}"></script>

<script>
  var j = {{bracketjson|safe}};
  var WorldID = {{page.WorldID}}

/*
  queue()
    .defer(d3.json, j)
    .await(function(err, teams) { main(teams); });
*/
main(j, WorldID);

$(document).ready(function() {
      console.log($('.tooltipster'));
      $('.tooltipster').tooltipster({
        theme: 'tooltipster-noir',
        contentCloning: true,
        functionInit: function(instance, helper){
          //console.log('helper origin', $(helper.origin));
            //var content = $(helper.origin).find('.tooltip_content').detach();
            //data-tooltip-teamname
            var content = $(helper.origin).attr('data-tooltip-teamname');
            //console.log('content',content);
            instance.content(content);
        },
        contentAsHTML: true
        });
    });

var BracketData = {{BracketData|safe}};
initBracket(BracketData);

</script>



 <link rel="stylesheet" type="text/css" href="{% static 'tooltipster/dist/css/tooltipster.bundle.min.css' %}" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/bootstrap-sortable.css' %}">
