<div>
  {% include "Hoops/NavBar.html" %}
</div>
{% load static %}

<body>
  <div class='PageContent'>

    <div class="w3-container">
      <div class='w3-row-padding'>
        <div class='w3-col s2 text-left'>
          <a href="/World/{{page.WorldID}}/Team/{{awayTeam.TeamID}}"><img class='gameTeamLogo' src='{{awayTeam.LogoURL}}' alt="My image"></a>
        </div>
        <div class="w3-col s2 gameHeaderTeamContent away">
          <div class="gameHeaderTeamContainer gameSchoolName gameTeamName">
            <div class="gameHeaderTeamContainerInfo">
              <div class="gameHeaderTeamContainerName">
                {{game.AwayTeamRankDisplayString}} {{awayTeam.TeamName}} {{awayTeam.TeamNickname}}
              </div>
              <div class="gameHeaderTeamContainerRecord">
                {{game.AwayTeamRecord}}
              </div>
            </div>
          </div>
          <div class="gameHeaderScoreContainer gameOutcome{{game.AwayOutcomeLetter}}">
              {{game.AwayTeamScore}}
          </div>
        </div>
        <div class='w3-col s4 text-center'>
          {% if game.WasPlayed == 1 %}
          <table class='gameBoxScoreTable w3-table-all'>
            <thead>
              <th></th>
              {% for EventPeriod in boxScore %}
              <th class='w3-center'>{{EventPeriod.PeriodName}}</th>
              {% endfor %}
              <th class='w3-center'>F</th>
            </thead>
            <tr>
              <td class='gameBoxScoreTeamName'>{{awayTeam.Abbreviation}}</td>
              {% for EventPeriod in boxScore %}
              <td class='w3-center'>{{EventPeriod.AwayTeamScore}}</td>
              {% endfor %}
              <td class='w3-center'>{{game.AwayTeamScore}}</td>
            </tr>
            <tr>
              <td class='gameBoxScoreTeamName'>{{homeTeam.Abbreviation}}</td>
              {% for EventPeriod in boxScore %}
              <td class='w3-center'>{{EventPeriod.HomeTeamScore}}</td>
              {% endfor %}
              <td class='w3-center'>{{game.HomeTeamScore}}</td>
            </tr>
          </table>
          {%else%}
          {{game.DateShortDisplay}}
          {% endif %}

        </div>
        <div class="w3-col s2 gameHeaderTeamContent home">
          <div class="gameHeaderScoreContainer gameOutcome{{game.HomeOutcomeLetter}}">
              {{game.HomeTeamScore}}
          </div>
          <div class="gameHeaderTeamContainer gameSchoolName gameTeamName">
            <div class="gameHeaderTeamContainerInfo">
              <div class="gameHeaderTeamContainerName">
                {{game.HomeTeamRankDisplayString}} {{homeTeam.TeamName}} {{homeTeam.TeamNickname}}
              </div>
              <div class="gameHeaderTeamContainerRecord">
                {{game.HomeTeamRecord}}
              </div>
            </div>
          </div>
        </div>
        <div class='w3-col s2 text-left'>
          <a href="/World/{{page.WorldID}}/Team/{{homeTeam.TeamID}}"><img class='gameTeamLogo' src='{{homeTeam.LogoURL}}' alt="My image"></a>
        </div>
      </div>

      <nav>
        <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
          <button class="w3-bar-item w3-button tab nav-tab-button selected-tab"  id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
          <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-boxscore-tab">Box Score</button>
        </div>
      </nav>
      <div class="" id="nav-tabContent">
        <div class="tab-pane show active tab-content" id="nav-overview">
          <div class="w3-display-container">
            <div class="w3-row-padding">
              <div class='w3-col s3'>
                <div class='w3-card'>
                  <div class='w3-container'>
                    <h1 class='w3-medium bold w3-margin-8'>Team Stats {{TeamStatHeaderSuffix}}</h1>
                  </div>
                  <div class='w3-container'>
                    <div class='gameTeamStatBox w3-border-top w3-border-right w3-border-bottom w3-border-gray'>
                      <h3>FG %</h3>
                      <span class='gameTeamStatAbbreviation'>{{awayTeam.Abbreviation}}</span>
                      <div class="w3-light-grey w3-round-xlarge statBar">
                        <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{awayTeam.TeamColor_Primary_HEX}} !important; width:{{teamStatBox.AwayFGBarPercent}}%">{{game.AwayFGPercent}}</div>
                      </div>
                      <div class="w3-light-grey w3-round-xlarge statBar">
                        <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{homeTeam.TeamColor_Primary_HEX}} !important; width:{{teamStatBox.HomeFGBarPercent}}%">{{game.HomeFGPercent}}</div>
                      </div>
                      <span class='gameTeamStatAbbreviation'>{{homeTeam.Abbreviation}}</span>
                    </div>
                    <div class='gameTeamStatBox w3-border-top w3-border-left w3-border-bottom w3-border-gray'>
                      <h3>Three Point %</h3>
                      <span class='gameTeamStatAbbreviation'>{{awayTeam.Abbreviation}}</span>
                      <div class="w3-light-grey w3-round-xlarge statBar">
                        <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{awayTeam.TeamColor_Primary_HEX}} !important; width:{{teamStatBox.Away3PBarPercent}}%">{{game.Away3PTPercent}}</div>
                      </div>
                      <div class="w3-light-grey w3-round-xlarge statBar">
                        <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{homeTeam.TeamColor_Primary_HEX}} !important; width:{{teamStatBox.Home3PBarPercent}}%">{{game.Home3PTPercent}}</div>
                      </div>
                      <span class='gameTeamStatAbbreviation'>{{homeTeam.Abbreviation}}</span>
                    </div>
                    <div class='gameTeamStatBox w3-border-right w3-border-top w3-border-gray'>
                      <h3>Rebounds</h3>
                      <span class='gameTeamStatAbbreviation'>{{awayTeam.Abbreviation}}</span>
                      <div class="w3-light-grey w3-round-xlarge statBar">
                        <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{awayTeam.TeamColor_Primary_HEX}} !important; width:{{teamStatBox.AwayReboundBarPercent}}%">{{game.AwayTeamRebounds}}</div>
                      </div>
                      <div class="w3-light-grey w3-round-xlarge statBar">
                        <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{homeTeam.TeamColor_Primary_HEX}} !important; width:{{teamStatBox.HomeReboundBarPercent}}%">{{game.HomeTeamRebounds}}</div>
                      </div>
                      <span class='gameTeamStatAbbreviation'>{{homeTeam.Abbreviation}}</span>
                    </div>
                    <div class='gameTeamStatBox w3-border-left w3-border-top w3-border-gray'>
                      <h3>Assists</h3>
                      <span class='gameTeamStatAbbreviation'>{{awayTeam.Abbreviation}}</span>
                      <div class="w3-light-grey w3-round-xlarge statBar">
                        <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{awayTeam.TeamColor_Primary_HEX}} !important; width:{{teamStatBox.AwayAssistBarPercent}}%">{{game.AwayTeamAssists}}</div>
                      </div>
                      <div class="w3-light-grey w3-round-xlarge statBar">
                        <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{homeTeam.TeamColor_Primary_HEX}} !important; width:{{teamStatBox.HomeAssistBarPercent}}%">{{game.HomeTeamAssists}}</div>
                      </div>
                      <span class='gameTeamStatAbbreviation'>{{homeTeam.Abbreviation}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class='w3-col s6'>
                <div  class='w3-card' id="GameFlowChart"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane tab-content" style='display:none;' id="nav-boxscore">
          <div class='container'>
            <div class='row'>
              <div class='w3-col s12'>
                <img class='gameBoxScoreTeamLogo' src='{{homeTeam.LogoURL}}'  />
                {{homeTeam.Name}}
                <table id='gameAwayTeamBoxScore' class='table table-striped'>
                  <thead>
                      <th scope="col">Starters</th>
                      <th scope="col">POS</th>
                      <th scope="col" data-defaultsort="asc">MIN</th>
                      <th scope="col" data-defaultsort="asc">PTS</th>
                      <th scope="col" data-defaultsort="asc">FG</th>
                      <th scope="col" data-defaultsort="asc">3P</th>
                      <th scope="col" data-defaultsort="asc">FT</th>
                      <th scope="col" data-defaultsort="asc">OREB</th>
                      <th scope="col" data-defaultsort="asc">DREB</th>
                      <th scope="col" data-defaultsort="asc">DREB</th>
                      <th scope="col" data-defaultsort="asc">AST</th>
                      <th scope="col" data-defaultsort="asc">STL</th>
                      <th scope="col" data-defaultsort="asc">BLK</th>
                      <th scope="col" data-defaultsort="asc">TO</th>
                      <th scope="col" data-defaultsort="asc">GS</th>
                      <th scope="col" data-defaultsort="asc">+/-</th>

                  </thead>
                  {% for player in homePlayers %}
                  {% if player.Started %}
                  <tr>
                    <td><a href='/World/{{page.WorldID}}/Player/{{player.PlayerID}}'>{{player.FullName}}</a></td>
                    <td>{{player.Position}}</td>
                    <td>{{player.Minutes}}</td>
                    <td>{{player.Points}}</td>
                    <td data-value="{{player.FGM}}">{{player.FGM}} - {{player.FGA}}</td>
                    <td data-value="{{player.ThreePM}}">{{player.ThreePM}} - {{player.ThreePA}}</td>
                    <td data-value="{{player.FTM}}">{{player.FTM}} - {{player.FTA}}</td>
                    <td>{{player.OffensiveRebounds}}</td>
                    <td>{{player.DREB}}</td>
                    <td>{{player.Rebounds}}</td>
                    <td>{{player.Assists}}</td>
                    <td>{{player.Steals}}</td>
                    <td>{{player.Blocks}}</td>
                    <td>{{player.Turnovers}}</td>
                    <td>{{player.GameScore}}</td>
                    <td>{{player.PlusMinus}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  <thead>
                      <th scope="col">Bench</th>
                      <th scope="col">POS</th>
                      <th scope="col" data-defaultsort="asc">MIN</th>
                      <th scope="col" data-defaultsort="asc">PTS</th>
                      <th scope="col" data-defaultsort="asc">FG</th>
                      <th scope="col" data-defaultsort="asc">3P</th>
                      <th scope="col" data-defaultsort="asc">FT</th>
                      <th scope="col" data-defaultsort="asc">OREB</th>
                      <th scope="col" data-defaultsort="asc">DREB</th>
                      <th scope="col" data-defaultsort="asc">DREB</th>
                      <th scope="col" data-defaultsort="asc">AST</th>
                      <th scope="col" data-defaultsort="asc">STL</th>
                      <th scope="col" data-defaultsort="asc">BLK</th>
                      <th scope="col" data-defaultsort="asc">TO</th>
                      <th scope="col" data-defaultsort="asc">GS</th>
                      <th scope="col" data-defaultsort="asc">+/-</th>
                  </thead>
                  {% for player in homePlayers %}
                  {% if player.Bench %}
                  <tr>
                    <td><a href='/World/{{page.WorldID}}/Player/{{player.PlayerID}}'>{{player.FullName}}</a></td>
                    <td>{{player.Position}}</td>
                    <td>{{player.Minutes}}</td>
                    <td>{{player.Points}}</td>
                    <td data-value="{{player.FGM}}">{{player.FGM}} - {{player.FGA}}</td>
                    <td data-value="{{player.ThreePM}}">{{player.ThreePM}} - {{player.ThreePA}}</td>
                    <td data-value="{{player.FTM}}">{{player.FTM}} - {{player.FTA}}</td>
                    <td>{{player.OffensiveRebounds}}</td>
                    <td>{{player.DREB}}</td>
                    <td>{{player.Rebounds}}</td>
                    <td>{{player.Assists}}</td>
                    <td>{{player.Steals}}</td>
                    <td>{{player.Blocks}}</td>
                    <td>{{player.Turnovers}}</td>
                    <td>{{player.GameScore}}</td>
                    <td>{{player.PlusMinus}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  <tr>
                    <td>Totals</td>
                    <td></td>
                    <td></td>
                    <td>{{game.HomeTeamScore}}</td>
                    <td data-value="{{awayTeam.FGM}}">{{game.HomeTeamFGM}} - {{game.HomeTeamFGA}}</td>
                    <td data-value="{{awayTeam.ThreePM}}">{{game.HomeTeam3PM}} - {{game.HomeTeam3PA}}</td>
                    <td data-value="{{awayTeam.FTM}}">{{game.HomeTeamFTM}} - {{game.HomeTeamFTM}}</td>
                    <td>{{game.HomeTeamOffensiveRebounds}}</td>
                    <td>{{awayTeam.DREB}}</td>
                    <td>{{game.HomeTeamRebounds}}</td>
                    <td>{{game.HomeTeamAssists}}</td>
                    <td>{{awayTeam.Steals}}</td>
                    <td>{{awayTeam.Blocks}}</td>
                    <td>{{awayTeam.Turnovers}}</td>
                  </tr>
                </table>

                  <img  class='gameBoxScoreTeamLogo' src='{{awayTeam.LogoURL}}'  />
                  {{awayTeam.Name}}
                  <table id='gameAwayTeamBoxScore' class='table table-striped'>
                    <thead>
                        <th scope="col">Starters</th>
                        <th scope="col">POS</th>
                        <th scope="col" data-defaultsort="asc">MIN</th>
                        <th scope="col" data-defaultsort="asc">PTS</th>
                        <th scope="col" data-defaultsort="asc">FG</th>
                        <th scope="col" data-defaultsort="asc">3P</th>
                        <th scope="col" data-defaultsort="asc">FT</th>
                        <th scope="col" data-defaultsort="asc">OREB</th>
                        <th scope="col" data-defaultsort="asc">DREB</th>
                        <th scope="col" data-defaultsort="asc">DREB</th>
                        <th scope="col" data-defaultsort="asc">AST</th>
                        <th scope="col" data-defaultsort="asc">STL</th>
                        <th scope="col" data-defaultsort="asc">BLK</th>
                        <th scope="col" data-defaultsort="asc">TO</th>
                        <th scope="col" data-defaultsort="asc">GS</th>
                        <th scope="col" data-defaultsort="asc">+/-</th>
                    </thead>
                    {% for player in awayPlayers %}
                    {% if player.Started %}
                    <tr>
                      <td><a href='/World/{{page.WorldID}}/Player/{{player.PlayerID}}'>{{player.FullName}}</a></td>
                      <td>{{player.Position}}</td>
                      <td>{{player.Minutes}}</td>
                      <td>{{player.Points}}</td>
                      <td data-value="{{player.FGM}}">{{player.FGM}} - {{player.FGA}}</td>
                      <td data-value="{{player.ThreePM}}">{{player.ThreePM}} - {{player.ThreePA}}</td>
                      <td data-value="{{player.FTM}}">{{player.FTM}} - {{player.FTA}}</td>
                      <td>{{player.OffensiveRebounds}}</td>
                      <td>{{player.DREB}}</td>
                      <td>{{player.Rebounds}}</td>
                      <td>{{player.Assists}}</td>
                      <td>{{player.Steals}}</td>
                      <td>{{player.Blocks}}</td>
                      <td>{{player.Turnovers}}</td>
                      <td>{{player.GameScore}}</td>
                      <td>{{player.PlusMinus}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <thead>
                        <th scope="col">Bench</th>
                        <th scope="col">POS</th>
                        <th scope="col" data-defaultsort="asc">MIN</th>
                        <th scope="col" data-defaultsort="asc">PTS</th>
                        <th scope="col" data-defaultsort="asc">FG</th>
                        <th scope="col" data-defaultsort="asc">3P</th>
                        <th scope="col" data-defaultsort="asc">FT</th>
                        <th scope="col" data-defaultsort="asc">OREB</th>
                        <th scope="col" data-defaultsort="asc">DREB</th>
                        <th scope="col" data-defaultsort="asc">DREB</th>
                        <th scope="col" data-defaultsort="asc">AST</th>
                        <th scope="col" data-defaultsort="asc">STL</th>
                        <th scope="col" data-defaultsort="asc">BLK</th>
                        <th scope="col" data-defaultsort="asc">TO</th>
                        <th scope="col" data-defaultsort="asc">GS</th>
                        <th scope="col" data-defaultsort="asc">+/-</th>
                    </thead>
                    {% for player in awayPlayers %}
                    {% if player.Bench %}
                    <tr>
                      <td><a href='/World/{{page.WorldID}}/Player/{{player.PlayerID}}'>{{player.FullName}}</a></td>
                      <td>{{player.Position}}</td>
                      <td>{{player.Minutes}}</td>
                      <td>{{player.Points}}</td>
                      <td data-value="{{player.FGM}}">{{player.FGM}} - {{player.FGA}}</td>
                      <td data-value="{{player.ThreePM}}">{{player.ThreePM}} - {{player.ThreePA}}</td>
                      <td data-value="{{player.FTM}}">{{player.FTM}} - {{player.FTA}}</td>
                      <td>{{player.OffensiveRebounds}}</td>
                      <td>{{player.DREB}}</td>
                      <td>{{player.Rebounds}}</td>
                      <td>{{player.Assists}}</td>
                      <td>{{player.Steals}}</td>
                      <td>{{player.Blocks}}</td>
                      <td>{{player.Turnovers}}</td>
                      <td>{{player.GameScore}}</td>
                      <td>{{player.PlusMinus}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                      <td>Totals</td>
                      <td></td>
                      <td></td>
                      <td>{{game.AwayTeamScore}}</td>
                      <td data-value="{{awayTeam.FGM}}">{{game.AwayTeamFGM}} - {{game.AwayTeamFGA}}</td>
                      <td data-value="{{awayTeam.ThreePM}}">{{game.AwayTeam3PM}} - {{game.AwayTeam3PA}}</td>
                      <td data-value="{{awayTeam.FTM}}">{{game.AwayTeamFTM}} - {{game.AwayTeamFTM}}</td>
                      <td>{{game.AwayTeamOffensiveRebounds}}</td>
                      <td>{{awayTeam.DREB}}</td>
                      <td>{{game.AwayTeamRebounds}}</td>
                      <td>{{game.AwayTeamAssists}}</td>
                      <td>{{awayTeam.Steals}}</td>
                      <td>{{awayTeam.Blocks}}</td>
                      <td>{{awayTeam.Turnovers}}</td>
                    </tr>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'bootstrap-sortable.js' %}"></script>
<!-- Load c3.css -->
<link href="{% static 'c3/c3.css' %}" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static 'c3/c3.js' %}"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/bootstrap-sortable.css' %}">

<script type="text/javascript">
  $(document).ready(function() {


    let colors = {}
    colors['{{homeTeam.TeamName}}'] = '{{homeTeam.TeamColor_Primary_HEX}}';
    colors['{{awayTeam.TeamName}}'] = '{{awayTeam.TeamColor_Primary_HEX}}';

    if ('{{game.WasPlayed}}' == 'True'){


      var chart = c3.generate({
        bindto: '#GameFlowChart',
        data: {
          x: 'x',
          columns: [
            ['x' {%for event in gameEvents %}, {{event.GameTime}} {% endfor %}],
            ['{{homeTeam.TeamName}}' {% for event in gameEvents %}, {{event.HomeTeamScore}} {% endfor %}],
            ['{{awayTeam.TeamName}}' {% for event in gameEvents %}, {{event.AwayTeamScore}} {% endfor %}]
          ],
          colors: colors
        },
        axis: {
          x: {
            tick: {
              format: function(s) {
                var SecondsInToThisHalf = s;
                var halfStr = '1st | '
                if ((s > 1200) && (s <= 2400)) {
                  SecondsInToThisHalf = s - 1200;
                  halfStr = '2nd | '
                }
                else if (s >= 2400) {
                  SecondsInToThisHalf = s - 2400;
                  halfStr = 'OT | '
                }

                var SecondsRemainingInHalf = 1200 - SecondsInToThisHalf;

                if (s > 2401) {
                  var SecondsRemainingInHalf = 300 - SecondsInToThisHalf;
                }
                console.log(halfStr, SecondsInToThisHalf, s, SecondsRemainingInHalf)
                if (SecondsRemainingInHalf % 60 < 10) {
                  return halfStr + parseInt(SecondsRemainingInHalf / 60) + ':0' + SecondsRemainingInHalf % 60;
                } else {
                  return halfStr + parseInt(SecondsRemainingInHalf / 60) + ':' + SecondsRemainingInHalf % 60;
                }

              }
            }
          },
          y: {
            padding: {
              top: 0,
              bottom: 0
            }
          }
        },
        point: {
          show: false
        }
      });
  }
    else {

            var chart = c3.generate({
              bindto: '#GameFlowChart',
              data: {
                  columns: [
                      ['{{homeTeam.TeamName}}', {{game.HomeTeamWinChance}}],
                      ['{{awayTeam.TeamName}}', {{game.AwayTeamWinChance}}],
                  ],
                  type : 'donut',
                  onclick: function (d, i) { console.log("onclick", d, i); },
                  onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                  onmouseout: function (d, i) { console.log("onmouseout", d, i); },
                  colors: colors
              },
              donut: {
                  title: "{{homeTeam.TeamName}} | {{awayTeam.TeamName}}"
              }
          });
    }
  });

</script>
