<thead>
    <th colspan='2'>Team</th>
    <th>Conference</th>
    <th></th>
</thead>
<tbody>
    {% for team in teams%}
    <tr team-id="{{team.team_id}}">
        <td style='background-color: #{{team.team_color_primary_hex}}; color: white;'>
            <img class='logo logo-30' src='{{team.team_logo}}'/>
        </td>
        <td style='background-color: #{{team.team_color_primary_hex}}; color: white;'>{{team.full_name}}</td>
        <td>{{team.conference.conference_name}}</td>
        <td>
            <button class='btn default-coloring'>Coach team</button>
        </td>
    </tr>
    {%endfor%}
</tbody>