{% include "HeadFootballCoach/ext_NavBar.html" %}
{% load static %}

<div WorldID="{{page.WorldID}}" TeamJerseyInvert="{{page.TeamJerseyInvert}}" TeamJerseyStyle="{{page.TeamJerseyStyle}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;'
  id='PageDataPassthru'></div>

<link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
{% include "HeadFootballCoach/ext_TeamColoring.html" %}

<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "HeadFootballCoach/Scoreboard.html" %}
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        {% if HeismanWinner is not None %}
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-heisman-winner-tab"  style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-season-tab">Season AAs</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-preseason-tab">Preseason AAs</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-weekly-tab">Weekly Award</button>
        {% else %}
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-weekly-tab" style="background-color: #{{page.SecondaryColor}};">Weekly Award</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-preseason-tab">Preseason AAs</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-heisman-tab">Heisman Race</button>
        {% endif %}
        <div class="w3-dropdown-hover  w3-right" style='margin-right: 20px;'>
          <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-team-dropdown">Seasons</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:20px; max-height: 70vh; overflow-y: scroll;">
            {% for Season in Seasons %}
            <a href="{{Season.SeasonStatsHref}}" class="w3-bar-item w3-button">{{Season.SeasonStartYear}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:none;' id="nav-preseason">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col w3-display-container">
              {% for Conference in AwardDict.PreseasonAllAmericans%}
              <div class="w3-row-padding w3-margin-top">
              {% for Team in Conference.Teams%}
                <div class="w3-col s6">
                  <div class="w3-card ">

                  <div class="w3-bar team-primary-background-bar">
                    {{Conference.Conference.ConferenceName}} {{Team.TeamName}}
                  </div>
                  <table id='teamOverviewConferenceStandings'>
                    {% for Player in Team.Team %}
                    <tr class='{{Conf.ShowConference}}'>
                      <td>
                          {{Player.PlayerTeamSeasonID__PlayerID__PositionID__PositionAbbreviation}}
                      </td>
                      <td>
                        <a href="{{Player.TeamHref}}">
                          <img class='awardConferenceWeeklyAwardTeamLogo' src="{{Player.PlayerTeamSeasonID__TeamSeasonID__TeamID__TeamLogoURL_50 }}" />
                           {{Player.PlayerTeamSeasonID__TeamSeasonID__TeamID__TeamName }}
                        </a>
                      </td>
                      <td>
                        <a href="{{Player.PlayerHref}}/">{{Player.PlayerTeamSeasonID__PlayerID__PlayerFirstName}} {{Player.PlayerTeamSeasonID__PlayerID__PlayerLastName}}</a>, {{Player.PlayerTeamSeasonID__ClassID__ClassAbbreviation}}
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              {% endfor %}
            </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-season">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col w3-display-container">
              {% for Conference in AwardDict.PostseasonAllAmericans%}
              <div class="w3-row-padding w3-margin-top">
              {% for Team in Conference.Teams%}
                <div class="w3-col s4">
                  <div class="w3-card ">

                  <div class="w3-bar team-primary-background-bar">
                    {{Conference.Conference.ConferenceName}} {{Team.TeamName}}
                  </div>
                  <table id='teamOverviewConferenceStandings'>
                    {% for Player in Team.Team %}
                    <tr class='{{Conf.ShowConference}}'>
                      <td>
                          {{Player.PlayerTeamSeasonID__PlayerID__PositionID__PositionAbbreviation}}
                      </td>
                      <td>
                        <a href="{{Player.TeamHref}}">
                          <img class='awardConferenceWeeklyAwardTeamLogo' src="{{Player.PlayerTeamSeasonID__TeamSeasonID__TeamID__TeamLogoURL_50 }}" />
                           {{Player.PlayerTeamSeasonID__TeamSeasonID__TeamID__TeamName }}
                        </a>
                      </td>
                      <td>
                        <a href="{{Player.PlayerHref}}/">{{Player.PlayerTeamSeasonID__PlayerID__PlayerFirstName}} {{Player.PlayerTeamSeasonID__PlayerID__PlayerLastName}}</a>, {{Player.PlayerTeamSeasonID__ClassID__ClassAbbreviation}}
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              {% endfor %}
            </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% if HeismanWinner %}
      <div class="tab-content" style='display:block;' id="nav-heisman-winner">
        <div class="w3-row-padding">
          <div class="w3-col l12 mw1200">

            <div class="w3-card w3-margin-bottom">
              <div class="w3-bar team-primary-background-bar-generic" style='background-color: #{{NationalChampion.TeamID.TeamColor_Primary_HEX}}; color: white; border-top: 4px solid #{{NationalChampion.TeamID.TeamColor_Secondary_HEX}};'>
                National Champion
              </div>
              <table class='width100' style='border-left-color: #{{NationalChampion.TeamID.TeamColor_Primary_HEX}}'>
                <tr>
                  <td>
                    <div class='w3-row-padding ' style='text-align: initial;'>
                      <div class='w3-col l3 m6 s12' style='width: 250px;'>
                        <img class='playerTeamLogo' src='{{NationalChampion.TeamID.TeamLogoURL}}'  style='width: 150px; height: inherit; margin-left: 0%;'>
                      </div>
                      <div class='w3-col l4 m6 s12 vertical-align-middle' style='width: 370px;'>
                        <div class="">
                          <span class='minor-bold font32 margin-right-4'>{{NationalChampion.TeamID.TeamName}}</span>
                          <span class=' font32' >{{NationalChampion.TeamID.TeamNickname}}</span>
                        </div>
                        <div>
                          <span class='font16'>{{NationalChampion.TeamRecord}}</span>
                        </div>
                      </div>
                      </div>
                  </td>
                </tr>
              </table>

            </div>
            <div class="w3-card w3-margin-bottom">
              <div class="w3-bar team-primary-background-bar-generic" style='background-color: #{{NationalRunnerUp.TeamID.TeamColor_Primary_HEX}}; color: white; border-top: 4px solid #{{NationalRunnerUp.TeamID.TeamColor_Secondary_HEX}};'>
                National Runner Up
              </div>
              <table class='width100' style='border-left-color: #{{NationalRunnerUp.TeamID.TeamColor_Primary_HEX}}'>
                <tr>
                  <td>
                    <div class='w3-row-padding ' style='text-align: initial;'>
                      <div class='w3-col l3 m6 s12' style='width: 250px;'>
                        <img class='playerTeamLogo' src='{{NationalRunnerUp.TeamID.TeamLogoURL}}'  style='width: 150px; height: inherit; margin-left: 0%;'>
                      </div>
                      <div class='w3-col l4 m6 s12 vertical-align-middle' style='width: 370px;'>
                        <div class="">
                          <span class='minor-bold font32 margin-right-4'>{{NationalRunnerUp.TeamID.TeamName}}</span>
                          <span class=' font32' >{{NationalRunnerUp.TeamID.TeamNickname}}</span>
                        </div>
                        <div>
                          <span class='font16'>{{NationalRunnerUp.TeamRecord}}</span>
                        </div>
                      </div>
                      </div>
                  </td>
                </tr>
              </table>

            </div>
            <div class="w3-card w3-margin-bottom">
              <div class="w3-bar team-primary-background-bar-heisman">
                Heisman Winner
              </div>
              <table class='width100'>
                <tr>
                  <td id='heisman-highlight'>
                    <div class='w3-row-padding ' style='text-align: initial;'>
                      <div class='w3-col l3 m6 s12' style='width: 250px;'>
                        <img class='playerTeamLogo' src-field='playerteamseason__TeamSeasonID__TeamID__TeamLogoURL'  style='width: 150px; height: inherit; margin-left: 0%;'>
                        <div class="PlayerFace" style='width: 150px; height: 250px; margin-left: -100px;'>

                        </div>
                      </div>
                      <div class='w3-col l4 m6 s12 vertical-align-middle' style='width: 370px;'>
                        <div class=''>
                          <div class='playerHeaderInfo'>
                            <span data-field="PlayerFirstName" class='playerFirstName'>
                            </span>
                            <span data-field="PlayerLastName" class='playerLastName' style='margin-top: 0px; margin-bottom: 0px;'>

                            </span>
                            <div class='playerOverviewInfo'>
                              <a href-field="PlayerTeamHref"><span data-field="playerteamseason__TeamSeasonID__TeamID__TeamName"></span> <span data-field="playerteamseason__TeamSeasonID__TeamID__TeamNickname"></span></a>
                              | #<span data-field="JerseyNumber"></span> | <span data-field="Position"></span>
                            </div>
                            <div class='playerOverviewInfo italic player-captain'>
                              <span html-field="TeamCaptainIcon"></span><span data-field="TeamCaptain"></span>
                            </div>

                          </div>
                          <ul class='playerHeaderBio' style='border-color:{{playerTeam.TeamColor_Primary_HEX}}'>
                            <li class='playerHeaderClass'>
                              <div class='playerHeaderBioDescription'>CLASS</div>
                              <div class="player-class">
                                <span data-field="playerteamseason__ClassID__ClassName"></span><span  html-field="RedshirtIcon"></span>
                              </div>
                            </li>
                            <li class='playerHeaderHtWt'>
                              <div class='playerHeaderBioDescription'>HT/WT</div>
                              <div><span data-field="HeightFormatted"></span>, <span data-field="WeightFormatted"></span></div>
                            </li>
                            <li class='playerHeaderHometown'>
                              <div class='playerHeaderBioDescription'>HOMETOWN</div>
                              <div><span data-field="HometownAndState"></span></div>
                            </li>
                            <li class='playerHeaderHometown'>
                              <div class='playerHeaderBioDescription'>OVR</div>
                              <div><span data-field="playerteamseason__playerteamseasonskill__OverallRating"></span></div>
                            </li>
                          </ul>

                        </div>
                      </div>
                      </div>
                      <div class='w3-row-padding ' style='text-align: initial;' id='heisman-highlight'>

                      <div class='w3-col m12 s12'>
                      <div class="w3-row-padding">
                                <div id='' class="w3-bar w3-row-padding player-highlight-info-selection-bar">
                                  <button class='w3-button w3-bar-item highlight-tab selected-highlight-tab highlight-ratings-tab' type="button" name="button" id="highlight-ratings-tab">Ratings</button>
                                  <button class='w3-button w3-bar-item w3-hide highlight-tab highlight-stats-tab' type="button" name="button" id="highlight-stats-tab">Stats</button>
                                  <button class='w3-button w3-bar-item highlight-tab highlight-awards-tab' type="button" name="button" id="highlight-awards-tab">Awards</button>
                                  <button class='w3-button w3-bar-item highlight-tab highlight-recruiting-tab' type="button" name="button" id="highlight-recruiting-tab">Recruiting</button>
                                  <button class='w3-button w3-bar-item highlight-tab highlight-actions-tab' type="button" name="button" id="highlight-actions-tab">Actions</button>
                                </div>
                              </div>
                              <div class='w3-row-padding'>
                                <div style="width: 100%;" class='player-highlight-info-content'>
                                  <div  class="w3-row-padding highlight-ratings">

                                  </div>
                                  <div class="w3-container w3-hide highlight-stats">
                                  </div>
                                  <div class="w3-container w3-hide highlight-awards">
                                  </div>
                                  <div class="w3-container w3-hide highlight-recruiting">

                                  </div>
                                  <div class="w3-container w3-hide highlight-actions w3-row-padding">
                                    <table class=' w3-table' style='width: 50%;'>
                                    </table>
                                  </div>
                                </div>
                              </div>
                      </div>

                    </div>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if  HeismanWinner %}
      <div class="tab-content" style='display:none;' id="nav-weekly">
      {% else %}
      <div class="tab-content" style='display:block;' id="nav-weekly">
      {% endif %}
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col w3-display-container">
              {% for Conference in AwardDict.WeeklyAwards%}

              <div class="w3-row-padding w3-margin-top">
              {% for PositionGroup, WeeklyAwards in Conference.Awards.items%}
                <div class="w3-col s6">
                  <div class="w3-card ">
                  <div class="w3-bar team-primary-background-bar">
                    {{Conference.Group}} {{PositionGroup}}
                  </div>
                  <table id='teamOverviewConferenceStandings'>

                    {% for Week in WeeklyAwards %}
                    <tr class='{{Conf.ShowConference}}'>
                      <td>
                        <a href="{{Week.GameHref}}">{{Week.ShortWeekName}}</a>
                      </td>
                      <td>
                        <a href="{{Week.TeamHref}}">
                          <img class='awardConferenceWeeklyAwardTeamLogo' src="{{Week.PlayerTeamSeasonID__TeamSeasonID__TeamID__TeamLogoURL_50 }}" />
                           {{Week.PlayerTeamSeasonID__TeamSeasonID__TeamID__TeamName }}
                        </a>
                      </td>
                      <td><a href="{{Week.PlayerHref}}/">{{Week.PlayerTeamSeasonID__PlayerID__PlayerFirstName}} {{Week.PlayerTeamSeasonID__PlayerID__PlayerLastName}}</a>, {{Week.PlayerTeamSeasonID__PlayerID__PositionID__PositionAbbreviation}}</td>
                      <td class='hide-small'>
                        <ul class='no-list-style light-padding-top'>
                          <li><span class='{{Week.GameWin}}'>{{Week.GameWin}}</span><span> {{Week.ScoreDisplay}}</span><span> vs.</span><span><a href="{{Week.OpponentTeamHref}}"> {{Week.OpponentTeamName}}</a></span></li>
                          <li class='margin-left-12'>{{Week.WeekID__game__teamgame__playergamestat__TopStatStringDisplay1}}</li>
                          <li class='margin-left-12'>{{Week.WeekID__game__teamgame__playergamestat__TopStatStringDisplay2}}</li>
                        </ul>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>

                </div>

              {% endfor %}
            </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-heisman">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col l12 mw1100">
              <div class=" w3-card">

              <table class='w3-table-all' id='HeismanRaceTable'>
                <thead>
                  <th>Rank</th>
                  <th>Team</th>
                  <th>Player</th>
                  <th>Pos</th>
                  <th>Class</th>
                </thead>
                <tbody>
                  {% for Player in HeismanRace%}
                  <tr playerid='{{Player.PlayerID}}'>
                    <td  class='teamTableBorder' style="border-left-color: #{{Player.playerteamseason__TeamSeasonID__TeamID__TeamColor_Primary_HEX}}">{{Player.HeismanRank}}</td>
                    <td>
                      <a href="{{Player.PlayerTeamHref}}">
                        <img src="{{Player.playerteamseason__TeamSeasonID__TeamID__TeamLogoURL_50}}" class='worldTeamStatLogo' alt="">
                        {{Player.playerteamseason__TeamSeasonID__TeamID__TeamName}}
                      </a>
                    </td>
                    <td>
                      <a href="{{Player.PlayerHref}}">{{Player.PlayerName}}</a>
                    </td>
                    <td>{{Player.PositionID__PositionAbbreviation}}</td>
                    <td>{{Player.playerteamseason__ClassID__ClassAbbreviation}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


{% include "HeadFootballCoach/ext_CommonScripts.html" %}
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script src="{% static 'common/bootstrap.min.js' %}"></script>
<script src="{% static 'Pages/Awards.js' %}"></script>
<script src="{% static 'common/loader.js' %}"></script>

{{ HeismanWinner|json_script:"heisman-winner-data" }}
