{% include "HeadFootballCoach/NavBar.html" %}
{% load static %}

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" PlayerID="{{player.PlayerID}}" style='display:none;' id='PageDataPassthru'></div>
<body>
  <div class="PageContent">
    <h2>
      <img class='teamTeamLogo' src='/static/img/TeamLogos/{{team.LogoURL}}.png' alt="My image">
      <span class='teamSchoolName'>Coach Carousel</span>

    </h2>


    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-saved-tab">Saved Players</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s5">
              <div class="w3-card">
                <span class='table_title'>Open Jobs</span>
                <table class='display table sortable w3-table-all'>
                  <thead>

                  </thead>
                  <tbody>
                    {% for Job in OpenJobs %}
                    <tr>
                      <td>
                        <a href="{{Job.TeamHref}}">
                          <img src="{{Job.TeamLogoURL}}" class='worldTeamStatLogo' alt="">
                          {{Job.TeamName}}
                        </a>
                      </td>
                      <td>{{Job.Position}}</td>
                      <td>{{Job.TeamRecord}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="w3-col s5">
              <div class="w3-card">
                <span class='table_title'>Coach Movement</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-saved">
        <div class='container'>
          <div class='row'>
            <div class='col-12'>
              <table id='recruitingTeamRecruitTable' class="table table-striped sortable">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">#</th>
                    <th scope="col">Position</th>
                    <th scope="col">Height</th>
                    <th scope="col">Class</th>
                    <th scope="col">Overall</th>
                    <th scope="col" data-defaultsort="asc">Potential</th>
                    <th scope="col" data-defaultsort="asc">MPG</th>
                    <th scope="col" data-defaultsort="asc">PPG</th>
                    <th scope="col" data-defaultsort="asc">RPG</th>
                    <th scope="col" data-defaultsort="asc">APG</th>
                    <th scope="col" data-defaultsort="asc">ORTG</th>
                    <th scope="col" data-defaultsort="asc">DRTG</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in players %}
                  <tr>
                    <a href='/World/{{page.WorldID}}/Player/{{ player.PlayerID }}/'>
                      <td data-value='{{player.PlayerLastName}}'>{{ player.FullName }}</td>
                    </a>
                    <td>{{player.JerseyNumber}}</td>
                    <td data-value='{{player.PositionSortOrder}}'>{{player.Position}}</td>
                    <td data-value='{{player.Height}}'>{{player.HeightFormatted}}</td>
                    <td data-value='{{player.ClassSortOrder}}'>{{player.Class}}</td>
                    <td>{{player.OverallRating}}</td>
                    <td>{{player.PotentialRating}}</td>
                    <td>{{player.MPG}}</td>
                    <td>{{player.PPG}}</td>
                    <td>{{player.RPG}}</td>
                    <td>{{player.APG}}</td>
                    <td>{{player.ORTG}}</td>
                    <td>{{player.DTRG}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-ranking">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s6">
              <div class="w3-card">

                <table id='recruitingNationalRankingTable' class='w3-table-all'>
                  <thead>
                    <th>
                      Rank
                    </th>
                    <th>
                      Team
                    </th>
                    <th>
                      5*
                    </th>
                    <th>
                      4*
                    </th>
                    <th>
                      3*
                    </th>
                    <th>
                      2*
                    </th>
                    <th>
                      1*
                    </th>
                    <th>
                      Total
                    </th>

                  </thead>
                  {% for Team in RecruitingRankings %}
                  <tr>
                    <td data-value='{{Team.RecruitingRank}}'>{{Team.RecruitingRank}}</td>
                    <td>
                      <a href='/World/{{page.WorldID}}/Team/{{Team.TeamID.TeamID}}'>
                        <img class='recruitingCommitTeamLogo' src='{{Team.TeamID.TeamLogoURL}}' alt=''>
                        {{Team.TeamID.TeamName}}
                      </a>
                    </td>
                    <td style='{{Team.RecruitsSignedStyle5}}'>{{Team.RecruitsSigned5}}</td>
                    <td style='{{Team.RecruitsSignedStyle4}}'>{{Team.RecruitsSigned4}}</td>
                    <td style='{{Team.RecruitsSignedStyle3}}'>{{Team.RecruitsSigned3}}</td>
                    <td style='{{Team.RecruitsSignedStyle2}}'>{{Team.RecruitsSigned2}}</td>
                    <td style='{{Team.RecruitsSignedStyle1}}'>{{Team.RecruitsSigned1}}</td>
                    <td>{{Team.RecruitsSigned}}</td>
                  </tr>
                  {% endfor %}
                  <tfoot>
                    <th>
                      Rank
                    </th>
                    <th>
                      Team
                    </th>
                    <th>
                      5*
                    </th>
                    <th>
                      4*
                    </th>
                    <th>
                      3*
                    </th>
                    <th>
                      2*
                    </th>
                    <th>
                      1*
                    </th>
                    <th>
                      Total
                    </th>
                  </tfoot>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-analytics" role="tabpanel" aria-labelledby="nav-profile-tab">
        Analytics Window
        <div id="map" style="width: 930px; height: 630px; border: solid 3px red;"></div>
      </div>
      <div class="tab-pane fade" id="nav-coaches" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class='container'>
          <div class='row'>
            <div class='col-1'></div>
            <div class='col-10'>
              <article>
                <header>
                  Head Coach
                </header>
                {{HC.CoachFirstName}} {{HC.CoachLastName}}
              </article>
            </div>
            <div class='col-1'></div>
          </div>
          <div class='row'>
            <div class='col-1'></div>
            <div class='col-5'>{{AHC.CoachFirstName}} {{AHC.CoachLastName}}</div>
            <div class='col-5'>{{AC.CoachFirstName}} {{AC.CoachLastName}}</div>
            <div class='col-1'></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class='container'>
          <div class='row'>
            <div class='col-1'></div>
            <div class='col-10'>History</div>
            <div class='col-1'></div>
          </div>
          <div class='row'>
            <div class='col-1'></div>
            <div class='col-5'>History #1</div>
            <div class='col-5'>History #2</div>
            <div class='col-1'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'moment.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


<script>
  $(document).ready(function() {
    var RecruitTable = $('#recruitingFullRecruitTable').DataTable({
      "order": [
        [5, "desc"],
        [6, "desc"]
      ],
      "scrollX": true,
      autoWidth: true,
      "pageLength": 25

    });

    RecruitTable.columns.adjust().draw();
  });
</script>




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/bootstrap-sortable.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="{% static 'Pages/Recruiting.js' %}" type="module"></script>
  <script>

  function IntToHeight(Val){
    var Feet = parseInt(Val / 12);
    var Inches = Val % 12;
    return Feet + '\' ' + Inches + '"';
  }

  function FilterPlayers(FilterType, Parameters, IsInt, IsRange){
    console.log('Filtering for ', FilterType , Parameters);

    $.each($('.mock-row'), function(Index,Row){
      //console.log();
      var RowVal = $(Row).attr(FilterType);
      var IsHidden = $(Row).hasClass('w3-hide');
      var ShouldBeHidden = !(IsInt && IsRange && RowVal >= Parameters[0] && RowVal <= Parameters[1]);
      if (ShouldBeHidden && !IsHidden) {
        $(Row).addClass('w3-hide');
      }
      else if (!ShouldBeHidden && IsHidden){
        $(Row).removeClass('w3-hide');
      }
    });
  }


  $( function() {
    console.log('Adding sliders');

    $( "#PlayerHeightSlider" ).slider({
      range: true,
      min: 66,
      max: 89,
      values: [ 66, 89 ],
      slide: function( event, ui ) {
        $( "#PlayerHeightSliderValue" ).val( IntToHeight(ui.values[ 0 ]) + " - " + IntToHeight(ui.values[ 1 ]) );
        FilterPlayers('playerheight', [ui.values[ 0 ], ui.values[ 1 ]], true, true);
      }
    });
    $( "#PlayerHeightSliderValue" ).val( IntToHeight($( "#PlayerHeightSlider" ).slider( "values", 0 )) +
      " - " + IntToHeight($( "#PlayerHeightSlider" ).slider( "values", 1 )) );
  } );
  </script>
