<div>
  {% include "HeadFootballCoach/ext_NavBar.html" %}
</div>
{% load static %}
{% load humanize %}


<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/fixedHeader.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">


<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>


<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "HeadFootballCoach/Scoreboard.html" %}
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-player-stats-tab" style="background-color: #{{page.SecondaryColor}};">Coaches</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-league-leaders-tab">League Leaders</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:block;"  id="nav-team-stats">
        <div class='w3-display-container' >
          <div class='w3-row-padding'>
            <div class='w3-col s10'>
              <div class="w3-card ">

                <table class="w3-table w3-table-all w3-hoverable center-text" id='CoachStats'  style="width:100%">
                  <thead>
                    <tr >
                      <th colspan="4" class='center-text col-group'>TEAM</th>
                      <th colspan="4" class='center-text col-group'>GAMES</th>
                      <th colspan="4" class='center-text col-group'>COACH SKILL</th>
                      <th colspan="6" class='center-text col-group'>COACH PHILOSOPHY</th>

                    </tr>
                    <tr>
                      <th colspan="1" data-data="PlayerTeam" data-tooltip-title="Player Current Team">Team</th>
                      <th colspan="1" data-data="PlayerTeam" data-tooltip-title="Player Current Team">Conference</th>
                      <th  colspan="1" data-data="PlayerTeam" data-tooltip-title="Player Current Team">Coach</th>
                      <th  colspan="1" data-data="PlayerTeam" data-tooltip-title="Player Current Team">Position</th>

                      <th  colspan="1" data-data="Wins" data-tooltip-title="Player Current Team">Wins</th>
                      <th  colspan="1" data-data="Losses" data-tooltip-title="Player Current Team">Losses</th>
                      <th  colspan="1" data-data="Wins" data-tooltip-title="Player Current Team">Top 25 Wins</th>
                      <th  colspan="1" data-data="Losses" data-tooltip-title="Player Current Team">Top 25 Losses</th>

                      <th  colspan="1" data-data="Points" data-tooltip-title="Player Current Team">Charisma</th>
                      <th  colspan="1" data-data="Points Allowed" data-tooltip-title="Player Current Team">Reputation</th>
                      <th  colspan="1" data-data="Points Allowed" data-tooltip-title="Player Current Team">Gameplan</th>
                      <th  colspan="1" data-data="Points" data-tooltip-title="Player Current Team">Scouting</th>

                      <th  colspan="1" data-data="Points Allowed" data-tooltip-title="Player Current Team">Veteran Tendency</th>
                      <th  colspan="1" data-data="Points Allowed" data-tooltip-title="Player Current Team">Redshirt Tendency</th>
                      <th  colspan="1" data-data="Points Allowed" data-tooltip-title="Player Current Team">Aggressiveness</th>
                      <th  colspan="1" data-data="Points Allowed" data-tooltip-title="Player Current Team">Passing Frequency</th>
                      <th  colspan="1" data-data="Points" data-tooltip-title="Player Current Team">Offensive Playbook</th>
                      <th  colspan="1" data-data="Points Allowed" data-tooltip-title="Player Current Team">Defensive Playbook</th>
                    </tr>
                  </thead>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</body>

<script src="{% static 'common/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'common/jquery.min.js' %}"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'Pages/CoachStats.js' %}" type="module"></script>
<script src="{% static 'common/popper.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.select.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.searchPanes.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedColumns.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedHeader.min.js' %}"></script>


{{ CoachList|json_script:"coach-data" }}
