<div>
{% include "HeadFootballCoach/NavBar.html" %}
</div>
{% load static %}
<body>


<div class='PageContent'>
  <div class='CoachHeader'>

    <a href='/Team/{{coachTeam.TeamID.TeamID}}'><img class='coachTeamLogo' src=  '/static/img/TeamLogos/{{coachTeam.TeamID.LogoURL}}.png'  alt="My image"></a>
    <div class='coachHeaderInfo'>
      <span class='coachFirstName'>
        {{Coach.CoachFirstName}}
      </span>
      <span class='coachLastName'>
        {{Coach.CoachLastName}}
      </span>
      <div class='coachOverviewInfo'>
        <a href="/Team/{{coachTeam.TeamID.TeamID}}">{{coachTeam.TeamID.Name}}</a> | {{currentCoachTeamSeason.Position}}
      </div>
    </div>
    <ul class='coachHeaderBio' style='border-color:{{coachTeam.TeamID.TeamColor_Primary_HEX}}'>
      <li class='coachHeaderClass'>
        <div class='coachHeaderBioDescription'>AGE</div>
        <div>{{Coach.CoachAge}}</div>
      </li>
      <li class='coachHeaderHtWt'>
        <div class='coachHeaderBioDescription'>YEARS EXP</div>
        <div>{{CoachCareerTotals.YearsExperience}}</div>
      </li>
      <li class='coachHeaderHometown'>
        <div class='coachHeaderBioDescription'>HOMETOWN</div>
        <div>{{Coach.HometownAndState}}</div>
      </li>
    </ul>
    <div class='coachHeaderStatsBox' style='border-color:{{coachTeam.TeamID.TeamColor_Primary_HEX}}'>
      <div class="coachHeaderStatsHeader" style="background-color:{{coachTeam.TeamID.TeamColor_Primary_HEX}}">Career Totals</div>
      <ul class='coachHeaderStats'>
        <li>
          <div class='container'>
            <div class='row coachHeaderStatsHeaderRowLine'>
              <div class='col-3 coachHeaderStatsHeaderRow'>Games Coached</div><div class='col-3 coachHeaderStatsHeaderRow'>Wins</div><div class='col-3 coachHeaderStatsHeaderRow'>Winning Pct</div><div class='col-3 coachHeaderStatsHeaderRow'>Playoff Bids</div>
            </div>
          </div>
        </li>
        <li>
          <div class='container'>
            <div class='row'>
              <div class='col-3 coachHeaderStatsValueRow'>{{Coach.CareerGamesCoached}}</div><div class='col-3 coachHeaderStatsValueRow'>{{Coach.CareerWins}}</div><div class='col-3 coachHeaderStatsValueRow'>{{Coach.CareerWinningPct}}</div><div class='col-3 coachHeaderStatsValueRow'>{{Coach.CareerPlayoffBids}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-stats" role="tab" aria-controls="nav-stats" aria-selected="false">Stats</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class='container'>
      <div class='row'>
        <div class='col-6 coachOverviewRatingBox'>
            <div class='coachOverviewRatingBoxGrouping'>
              <span class='coachOverviewRatingAbbreviation'>Overall Rating</span>
              <div class="w3-light-grey w3-round-xlarge statBar">
                <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{coachTeam.TeamColor_Primary_HEX}} !important; width:{{coach.coach.CurrentSkills.OverallRating}}%">{{coach.coach.CurrentSkills.OverallRating}}</div>
              </div>
            </div>
            <div class='coachOverviewRatingBoxGrouping'>
              <span class='coachOverviewRatingAbbreviation'>Inside Shooting Rating</span>
              <div class="w3-light-grey w3-round-xlarge statBar">
                <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{coachTeam.TeamColor_Primary_HEX}} !important; width:{{coach.coach.CurrentSkills.InsideShootingRating}}%">{{coach.coach.CurrentSkills.InsideShootingRating}}</div>
              </div>
            </div>
            <div class='coachOverviewRatingBoxGrouping'>
              <span class='coachOverviewRatingAbbreviation'>Three Point Shooting Rating</span>
              <div class="w3-light-grey w3-round-xlarge statBar">
                <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{coachTeam.TeamColor_Primary_HEX}} !important; width:{{coach.coach.CurrentSkills.ThreePointRating}}%">{{coach.coach.CurrentSkills.ThreePointRating}}</div>
              </div>
            </div>
            <div class='coachOverviewRatingBoxGrouping'>
              <span class='coachOverviewRatingAbbreviation'>Passing Rating</span>
              <div class="w3-light-grey w3-round-xlarge statBar">
                <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{coachTeam.TeamColor_Primary_HEX}} !important; width:{{coach.coach.CurrentSkills.PassingRating}}%">{{coach.coach.CurrentSkills.PassingRating}}</div>
              </div>
            </div>
            <div class='coachOverviewRatingBoxGrouping'>
              <span class='coachOverviewRatingAbbreviation'>Potential Rating</span>
              <div class="w3-light-grey w3-round-xlarge statBar">
                <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{coachTeam.TeamColor_Primary_HEX}} !important; width:{{coach.coach.CurrentSkills.PotentialRating}}%">{{coach.coach.CurrentSkills.PotentialRating}}</div>
              </div>
            </div>
            <div class='coachOverviewRatingBoxGrouping'>
              <span class='coachOverviewRatingAbbreviation'>Free Throw Rating</span>
              <div class="w3-light-grey w3-round-xlarge statBar">
                <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{coachTeam.TeamColor_Primary_HEX}} !important; width:{{coach.coach.CurrentSkills.FreeThrowRating}}%">{{coach.coach.CurrentSkills.FreeThrowRating}}</div>
              </div>
            </div>
            <div class='coachOverviewRatingBoxGrouping'>
              <span class='coachOverviewRatingAbbreviation'>Rebounding Rating</span>
              <div class="w3-light-grey w3-round-xlarge statBar">
                <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{coachTeam.TeamColor_Primary_HEX}} !important; width:{{coach.coach.CurrentSkills.ReboundingRating}}%">{{coach.coach.CurrentSkills.ReboundingRating}}</div>
              </div>
            </div>
            <div class='coachOverviewRatingBoxGrouping'>
              <span class='coachOverviewRatingAbbreviation'>Dribbling Rating</span>
              <div class="w3-light-grey w3-round-xlarge statBar">
                <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{coachTeam.TeamColor_Primary_HEX}} !important; width:{{coach.coach.CurrentSkills.DribblingRating}}%">{{coach.coach.CurrentSkills.DribblingRating}}</div>
              </div>
            </div>
        </div>
        <div class='col-6'>
          Recent Games
          <table class="table table-striped sortable">
            <thead>
              <tr>
                <th scope="col">OPP</th>
                <th class='initialSortColumn' data-defaultsort="asc">Date</th>
                <th scope="col" data-defaultsort="desc">MIN</th>
                <th scope="col" data-defaultsort="desc">PTS</th>
                <th scope="col" data-defaultsort="desc">FG</th>
                <th scope="col" data-defaultsort="desc">3P</th>
                <th scope="col" data-defaultsort="desc">REB</th>
                <th scope="col" data-defaultsort="desc">AST</th>
              </tr>
            </thead>
            <tbody>
              {% for game in gameStats %}
              {% if game.RecentGame == 1 %}
              <tr>
                <td><a href='/Team/{{game.Opponent.TeamID}}'><img class='coachSeasonStatOpponentLogo' src='/static/img/TeamLogos/{{game.Opponent.LogoURL}}.png'  /></a></td>
                <td data-value="{{game.GameID.GameDateID.DateID}}">{{game.GameID.GameDateID.Date}}</td>
                <td>{{game.Minutes}}</td>
                <td>{{game.Points}}</td>
                <td>{{game.FGM}} - {{game.FGA}} </td>
                <td>{{game.ThreePM}} - {{game.ThreePA}} </td>
                <td>{{game.Rebounds}}</td>
                <td>{{game.Assists}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-stats" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          Season Stats
          <table class="table table-striped sortable">
            <thead>
              <tr>
                <th scope="col">Season</th>
                <th scope="col">Team</th>
                <th scope="col">Class</th>
                <th scope="col">Overall</th>
                <th scope="col" data-defaultsort="desc">Minutes</th>
                <th scope="col" data-defaultsort="desc">Points</th>
                <th scope="col" data-defaultsort="desc">FG %</th>
                <th scope="col" data-defaultsort="desc">3P %</th>
                <th scope="col" data-defaultsort="desc">Rebounds</th>
                <th scope="col" data-defaultsort="desc">Assists</th>
                <th scope="col" data-defaultsort="desc">Blocks</th>
                <th scope="col" data-defaultsort="desc">Steals</th>
              </tr>
            </thead>
            <tbody>
              {% for season in seasonStats %}
              <tr>
                <td>{{season.Season}}</td>
                <td><a href="/Team/{{season.TeamID}}">{{season.TeamAbbreviation}}</a></td>
                <td data-value="{{season.ClassSortOrder}}">{{season.coachClass}}</td>
                <td>{{coach.OverallRating}}</td>
                <td>{{season.MPG}}</td>
                <td>{{season.PPG}}</td>
                <td>{{season.FGPercent}}</td>
                <td>{{season.3PPercent}}</td>
                <td>{{season.RPG}}</td>
                <td>{{season.APG}}</td>
                <td>{{season.BPG}}</td>
                <td>{{season.SPG}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        Game Stats
        <table class="table table-striped sortable">
          <thead>
            <tr>
              <th scope="col">Opponent</th>
              <th class='initialSortColumn' data-defaultsort="asc">Date</th>
              <th scope="col" data-defaultsort="desc">Minutes</th>
              <th scope="col" data-defaultsort="desc">Points</th>
              <th scope="col" data-defaultsort="desc">FG</th>
              <th scope="col" data-defaultsort="desc">3P</th>
              <th scope="col" data-defaultsort="desc">Rebounds</th>
              <th scope="col" data-defaultsort="desc">Assists</th>
              <th scope="col" data-defaultsort="desc">Blocks</th>
              <th scope="col" data-defaultsort="desc">Steals</th>
            </tr>
          </thead>
          <tbody>
            {% for game in gameStats %}
            <tr>
              <td><img class='coachSeasonStatOpponentLogo' src='/static/img/TeamLogos/{{game.Opponent.LogoURL}}.png'  /><a href='/Team/{{game.Opponent.TeamID}}'>{{game.Opponent}}</a></td>
              <td data-value="{{game.GameID.GameDateID.DateID}}">{{game.GameID.GameDateID.Date}}</td>
              <td>{{game.Minutes}}</td>
              <td>{{game.Points}}</td>
              <td>{{game.FGM}} - {{game.FGA}} </td>
              <td>{{game.ThreePM}} - {{game.ThreePA}} </td>
              <td>{{game.Rebounds}}</td>
              <td>{{game.Assists}}</td>
              <td>{{game.Blocks}}</td>
              <td>{{game.Steals}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-6'>
    <div>
      Career Highs
      <div class='container'>
        {% for stat in careerHigh %}
          <div class='row'>
            <div class='col-2'>
              {{stat.Stat}}
            </div>
            <div class='col-3'>
              {{stat.Value}}
            </div>
            <div class='col-7'>
              <a href='/Game/{{stat.Game.GameID.GameID}}'>vs. {{stat.Game.OpponentTeam}}</a>
            </div>
          </div>
        {% endfor %}
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
</div>
</div>
</body>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'bootstrap-sortable.js' %}"></script>



 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">

 <!-- Load c3.css -->
<link href="{% static 'c3/c3.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/bootstrap-sortable.css' %}">
<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static 'c3/c3.js' %}"></script>
