{% include "HeadFootballCoach/ext_NavBar.html" %}
{% load static %}

<div WorldID="{{page.WorldID}}" TeamJerseyInvert="{{page.TeamJerseyInvert}}" TeamJerseyStyle="{{page.TeamJerseyStyle}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;'
  id='PageDataPassthru'></div>

<link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "HeadFootballCoach/Scoreboard.html" %}
    </div>
    <div class='TeamHeader'></div>
    {{Conference.ConferenceName}}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        {% for Conference in ConferenceStandings%}
        {% if forloop.counter == 1%}
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-{{Conference.ConferenceID}}-tab" style="background-color: #{{page.SecondaryColor}};">{{Conference.ConferenceAbbreviation}}</button>
        {% else %}
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-{{Conference.ConferenceID}}-tab">{{Conference.ConferenceAbbreviation}}</button>
        {% endif %}
        {% endfor %}
      </div>
    </nav>
    <div id="nav-tabContent">
      {% for Conference in ConferenceStandings%}
      {% if forloop.counter == 1%}
      <div class="tab-content" style='display:block;' id="nav-{{Conference.ConferenceID}}">
      {% else %}
      <div class="tab-content" style='display:none;' id="nav-{{Conference.ConferenceID}}">
      {% endif %}
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col w3-display-container">
              <div class="w3-row-padding">
                <div class="w3-col s7">
                  <div class="w3-card w3-margin-bottom">

                  <table class='w3-table-all' id='teamOverviewConferenceStandings-{{Conference.ConferenceID}}'>
                    <colgroup>
                        <col span="1" class='colgroup-border-right'>
                        <col span="3" class='colgroup-border-right'>
                        <col >
                    </colgroup>
                    {% for Division in Conference.ConferenceDivisions %}
                    <thead>
                      <tr class='team-secondary-table-row'>
                        {% if Division.DivisionName %}
                        <th>{{Division.DivisionName}}</th>
                        {% else %}
                        <th>Team</th>
                        {%endif%}
                        <th  class='center-text'>Conf. W-L</th>
                        <th class='hide-small center-text'>GB</th>
                        <th class='center-text'>W-L</th>
                        <th scope="col"  class='center-text'>PPG</th>
                        <th scope="col"  class='center-text'>PAPG</th>
                        <th scope="col"  class='center-text'>MOV</th>
                      </tr>
                    </thead>
                    {% for standingTeam in Division.Standings%}
                    <tr class='{{standingTeam.BoldTeam}} ' style=''>
                      <td style='border-left-color: #{{standingTeam.TeamID__TeamColor_Primary_HEX}}' class='teamTableBorder'>
                        <a href="{{ standingTeam.TeamHref }}">
                          <img class='teamOverviewConferenceStandingsTeamLogo' src="{{standingTeam.TeamID__TeamLogoURL}}" />
                          {{standingTeam.NationalRankDisplay}} {{standingTeam.TeamID__TeamName }}
                        </a>
                      </td>
                      <td class='center-text'>{{standingTeam.ConferenceWins}}-{{standingTeam.ConferenceLosses}}</td>
                      <td class='center-text'>{{standingTeam.ConferenceGB}}</td>
                      <td class='center-text'>{{standingTeam.Wins}}-{{standingTeam.Losses}}</td>
                      <td class='center-text'>{{standingTeam.PPG}}</td>
                      <td class='center-text'>{{standingTeam.PAPG}}</td>
                      <td class='center-text'>{{standingTeam.MOV}}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                  </table>
                </div>
                </div>
                <div class="w3-col s4">
                  <div class="w3-card ">

                  <table class='w3-table-all' id='conferenceStandingsOpposing-{{Conference.ConferenceID}}'>
                    <thead>
                      <th>Conference</th>
                      <th>Total Record</th>
                      <th>{{Conference.ConferenceAbbreviation}} Record vs</th>
                      <th>{{Conference.ConferenceAbbreviation}} MOV vs</th>
                    </thead>
                    {% for OppConf in Conference.OpposingConferences %}
                    <tr class='{{OppConf.BoldConf}}'>
                      <td>
                        <a href="/World/{{page.WorldID}}/Conference/{{ OppConf.ConferenceID }}/">
                          <img class='conferenceOverviewLogo' src="{{OppConf.ConferenceLogoURL}}" />
                          {{OppConf.ConferenceName}}
                        </a>
                      </td>
                      <td>{{OppConf.Wins}} - {{OppConf.Losses}}</td>
                      <td>{{OppConf.VsWins}} - {{OppConf.VsLosses}}</td>
                      <td>{{OppConf.MOV}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="w3-card">
                  Conference Top Players Here
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>


{% include "HeadFootballCoach/ext_CommonScripts.html" %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript">
  {%for Conference in ConferenceStandings%}
  var Table = $('#teamOverviewConferenceStandings-{{Conference.ConferenceID}}').DataTable({
      "scrollX": false,
      "filter": true,
      "ordering": false,
      "lengthChange" : false,
      "searching": false,
      "pagingType": "full_numbers",
      "paginationType": "full_numbers",
      "paging": false,
      "info": false,
  });

  var OppTable = $('#conferenceStandingsOpposing-{{Conference.ConferenceID}}').DataTable({
      "scrollX": false,
      "filter": true,
      "ordering": false,
      "lengthChange" : false,
      "searching": false,
      "pagingType": "full_numbers",
      "paginationType": "full_numbers",
      "paging": false,
      "info": false,
  });
  {%endfor %}
</script>
