{% include "HeadFootballCoach/NavBar.html" %}
{% load static %}

<div WorldID="{{page.WorldID}}" TeamJerseyInvert="{{page.TeamJerseyInvert}}" TeamJerseyStyle="{{page.TeamJerseyStyle}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;'
  id='PageDataPassthru'></div>

<link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<body>
  <div class="PageContent">
    <div class='TeamHeader'></div>
    {{Conference.ConferenceName}}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-roster-tab">Roster</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col w3-display-container">
              <div class="w3-row-padding">
                <div class="w3-card w3-col s3">
                  <table id='teamOverviewConferenceStandings'>
                    <thead>
                      <th>Team</th>
                      <th>Conf</th>
                      <th>GB</th>
                      <th>Record</th>
                    </thead>
                    {% for standingTeam in ConferenceStandings %}
                    <tr class='{{standingTeam.BoldTeam}}'>
                      <td>
                        <a href="/World/{{page.WorldID}}/Team/{{ standingTeam.TeamID }}/">
                          <img class='teamOverviewConferenceStandingsTeamLogo' src="{{standingTeam.LogoURL}}" />
                          {{standingTeam.NationalRankDisplay}} {{standingTeam.Name }}
                        </a>
                      </td>
                      <td>{{standingTeam.ConferenceWins}}-{{standingTeam.ConferenceLosses}}</td>
                      <td>{{standingTeam.ConferenceGB}}</td>
                      <td>{{standingTeam.Wins}}-{{standingTeam.Losses}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="w3-card w3-col s3">
                  <table id='teamOverviewConferenceStandings'>
                    <thead>
                      <th>Conference</th>
                      <th>Total Record</th>
                      <th>{{Conference.ConferenceAbbreviation}} Record vs</th>
                    </thead>
                    {% for OppConf in OpposingConferences %}
                    <tr class='{{OppConf.BoldConf}}'>
                      <td>
                        <a href="/World/{{page.WorldID}}/Conference/{{ OppConf.ConferenceID }}/">
                          <img class='conferenceOverviewLogo' src="{{OppConf.ConferenceLogoURL}}" />
                          {{OppConf.ConferenceName}}
                        </a>
                      </td>
                      <td>{{OppConf.Wins}} - {{OppConf.Losses}}</td>
                      <td>{{OppConf.VsWins}} - {{OppConf.VsLosses}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="w3-card w3-col s3">
                  <table id='teamOverviewConferenceStandings'>
                    <thead>
                      <th>Week</th>
                      <th>Team</th>
                      <th>Player</th>
                    </thead>
                    {% for Award in ConferenceAwards %}
                    <tr class='{{standingTeam.BoldTeam}}'>
                      <td>{{Award.WeekID}}</td>
                      <td>
                        <a href="/World/{{page.WorldID}}/Team/{{ Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamID }}/">
                          <img class='teamOverviewConferenceStandingsTeamLogo' src="{{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.LogoURL}}" />
                           {{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamName }}
                        </a>
                      </td>
                      <td><a href="/World/{{page.WorldID}}/Player/{{ Award.PlayerTeamSeasonID.PlayerID_id }}/">{{Award.PlayerTeamSeasonID.PlayerID.FullName}}</a>, {{Award.PlayerTeamSeasonID.PlayerID.Position}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
