{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'w3/w3.css' %}">

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{page.PageTitle}}</title>
    <meta charset="utf-8">
    <link rel="icon" href="{{page.TabIcon}}">
  </head>
</html>


<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" style='display:none;' id='DataPassthru'></div>

<div class="w3-sidebar w3-bar-block" style="border-left: 4px solid #{{page.PrimaryColor}};">

  <h3 class='SideNavGroup w3-margin-left'>
    <div class="">
      {{CurrentWeek.WeekName}}, {{CurrentWeek.PhaseID.LeagueSeasonID.SeasonStartYear}} Tasks
    </div>
  </h3>
  <ul class='no-list-style w3-margin-bottom'>
    <li><a href="#" id='SimThisWeek' class="w3-bar-item w3-button SideNavItem w3-padding-small">Sim This Week</a></li>
  </ul>

  <h3 class='SideNavGroup w3-margin-left'>
    <img src="/static/img/TeamLogos/ncaa-text.png" class='' alt="">
  </h3>
  <ul class='no-list-style w3-margin-bottom'>
    <li><a href="/World/{{page.WorldID}}" class="w3-bar-item w3-button SideNavItem w3-padding-small">Overview</a></li>
    <li><a href="/World/{{page.WorldID}}/Conferences" class="w3-bar-item w3-button SideNavItem w3-padding-small">Standings</a></li>
    <li><a href="/World/{{page.WorldID}}/Rankings" class="w3-bar-item w3-button SideNavItem w3-padding-small">Rankings</a></li>
    <li><a href="/World/{{page.WorldID}}/Schedule" class="w3-bar-item w3-button SideNavItem w3-padding-small">Schedule</a></li>
    <li><a href="/World/{{page.WorldID}}/Headlines" class="w3-bar-item w3-button SideNavItem w3-padding-small">Headlines</a></li>
    <li><a href="/World/{{page.WorldID}}/Awards" class="w3-bar-item w3-button SideNavItem w3-padding-small">Awards & Races</a></li>
  </ul>

  <h3 class='SideNavGroup w3-margin-left'>
    <img src="{{userTeam.TeamLogoURL}}" alt="">
  </h3>
  <ul class='no-list-style w3-margin-bottom'>
    <li><a href="/World/{{page.WorldID}}/Team/{{userTeam.TeamID}}" class="w3-bar-item w3-button SideNavItem w3-padding-small">Overview</a></li>
    <li><a href="/World/{{page.WorldID}}/Team/{{userTeam.TeamID}}/Schedule" class="w3-bar-item w3-button SideNavItem w3-padding-small">Schedule</a></li>
    <li><a href="/World/{{page.WorldID}}/Team/{{userTeam.TeamID}}/Roster" class="w3-bar-item w3-button SideNavItem w3-padding-small">Roster</a></li>
    <li><a href="/World/{{page.WorldID}}/Team/{{userTeam.TeamID}}/DepthChart" class="w3-bar-item w3-button SideNavItem w3-padding-small">Depth Chart</a></li>
    <li><a href="/World/{{page.WorldID}}/Team/{{userTeam.TeamID}}/Gameplan" class="w3-bar-item w3-button SideNavItem w3-padding-small">Gameplan</a></li>
    <li><a href="/World/{{page.WorldID}}/Coaches/Team/{{userTeam.TeamID}}" class="w3-bar-item w3-button SideNavItem w3-padding-small">Coaches</a></li>
    <li><a href="/World/{{page.WorldID}}/Recruiting" class="w3-bar-item w3-button SideNavItem w3-padding-small">Recruiting</a></li>
    <li><a href="/World/{{page.WorldID}}/PlayerDevelopment/Team/{{userTeam.TeamID}}" class="w3-bar-item w3-button SideNavItem w3-padding-small">Player Development</a></li>
    <li><a href="/World/{{page.WorldID}}/Team/{{userTeam.TeamID}}/History" class="w3-bar-item w3-button SideNavItem w3-padding-small">History</a></li>
  </ul>

  <h3 class='SideNavGroup w3-margin-left'>
    Almanac
  </h3>
  <ul class='no-list-style w3-margin-bottom'>
    <li><a href="/World/{{page.WorldID}}/PlayerStats" class="w3-bar-item w3-button SideNavItem w3-padding-small">Player Stats</a></li>
    <li><a href="/World/{{page.WorldID}}/PlayerRecords" class="w3-bar-item w3-button SideNavItem w3-padding-small">Player Records</a></li>
    <li><a href="/World/{{page.WorldID}}/TeamStats" class="w3-bar-item w3-button SideNavItem w3-padding-small">Team Stats</a></li>
    <li><a href="/World/{{page.WorldID}}/TeamRecords" class="w3-bar-item w3-button SideNavItem w3-padding-small">Team Records</a></li>
    <li><a href="/World/{{page.WorldID}}/HallOfFame" class="w3-bar-item w3-button SideNavItem w3-padding-small">Hall of Fame</a></li>
    <li><a href="/World/{{page.WorldID}}/History" class="w3-bar-item w3-button SideNavItem w3-padding-small">History</a></li>
    <li><a href="/World/{{page.WorldID}}/Coaches" class="w3-bar-item w3-button SideNavItem w3-padding-small">Coach Stats</a></li>
  </ul>

  <h3 class='SideNavGroup w3-margin-left'>
    Game
  </h3>
  <ul class='no-list-style w3-margin-bottom'>
    <li><a href="/" class="w3-bar-item w3-button SideNavItem w3-padding-small">Home Page</a></li>
    <li><a href="/admin" class="w3-bar-item w3-button SideNavItem w3-padding-small">Admin</a></li>
    <li><a href="/audit" class="w3-bar-item w3-button SideNavItem w3-padding-small">Audit</a></li>
    <li><a href="/Credits" class="w3-bar-item w3-button SideNavItem w3-padding-small">Credits</a></li>
    <li><a href="/Acheivements" class="w3-bar-item w3-button SideNavItem w3-padding-small">Acheivements</a></li>
  </ul>
</div>

<div class="w3-modal" tabindex="-1" role="dialog" id='SimDayModal'>
  <div class="s8">
    <div class="w3-modal-content w3-container">
      <div class="modal-body w3-row-padding">
        <p>Simulating {{date.Date}}...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
