{% load static %}
<div class='TeamHeader' style='height: 150px;'>
  <div class="team-header-color-left" style='background-color: #{{ThisTeamSeason.TeamID.TeamColor_Primary_HEX}}; border-right-color: #{{page.SecondaryColor}};'></div>
  <img class='teamTeamLogo' src='{{ThisTeamSeason.TeamID.LogoURL}}' alt="My image">
  <div class='teamHeaderInfo'>
    <span class='thin-font font20'>
        {{ThisTeamSeason.NationalRankDisplay}}
    </span>
    <span class='teamSchoolName'>
      {{ ThisTeamSeason.TeamID.TeamName }}
    </span>
    <span class='teamTeamName'>
      {{ThisTeamSeason.TeamID.TeamNickname}}
    </span>
    <span class='teamRecord hide-small'>
      {{ThisTeamSeason.Wins}} - {{ThisTeamSeason.Losses}}
    </span>
    <div class='teamOverviewInfo'>
      {{ThisTeamSeason.TeamID.CityID.CityName}}, {{ThisTeamSeason.TeamID.CityID.StateID.StateName}} | <a href="/World/{{page.WorldID}}/Conferences/{{ThisTeamSeason.ConferenceID_id}}">{{ThisTeamSeason.ConferenceID.ConferenceName}}</a>
    </div>
    <div class='teamOverviewInfo'>
      {% for Link in HeaderLink.LinkPaths%}
      {% if forloop.counter0 > 0%}
      |
      {% endif %}
      <a href="/World/{{page.WorldID}}/Team/{{ThisTeamSeason.TeamID.TeamID}}/{{Link.HrefExtension}}">{{Link.Display}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="team-header-color-right align-middle hide-small" style='background-color: #{{ThisTeamSeason.TeamID.TeamColor_Primary_HEX}}; border-left-color: #{{page.SecondaryColor}};'>
  </div>

</div>
