{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'w3/w3.css' %}">

  <head>
    <title>{{page.PageTitle}}</title>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/Icons/favicon.ico' %}">
  </head>


<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" style='display:none;' id='DataPassthru'></div>

<div class="w3-sidebar w3-bar-block" style="border-left: 4px solid #{{page.PrimaryColor}};">

  {% for Group in page.NavBarLinks%}
  <h3 class='SideNavGroup w3-margin-left'>
    <div class="">
      {{Group.GroupDisplay|safe}}
    </div>
  </h3>
  <ul class='no-list-style w3-margin-bottom'>
    {% for Link in Group.GroupLinks%}
    <li><a href="{{Link.Href}}" id='{{Link.id}}' class="w3-bar-item w3-button SideNavItem w3-padding-small {{Link.ClassName}}">{{Link.LinkDisplay}}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}


</div>

<div class="w3-modal" tabindex="-1" role="dialog" id='SimDayModal'>
  <div class="s8">
    <div class="w3-modal-content w3-container">
      <div class="modal-body w3-row-padding">
        <p>Simulating {{date.Date}}...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
