{% load static %}
<div class="w3-dropdown-hover  w3-right" style='margin-right: 20px;'>
  <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-team-dropdown">{{playerTeam.TeamName}} Players</button>
  <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:20px; height: 70vh; overflow-y: scroll;">
    {% for Position, Players in PlayerList.items %}
    <div class="w3-bar-item w3-light-gray">{{Position}}</div>
      {% for Player in Players %}
      <a href="{{Player.PlayerHref}}" class="w3-bar-item w3-button"><img src="{{Player.PlayerTeamLogoURL}}" class="small-logo" alt="">{{Player.PlayerName}} ({{Player.playerseasonskill__OverallRating}})</a>

      {% endfor %}
    {% endfor %}
  </div>
</div>
