{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'w3/w3.css' %}">

<head>
  <title>{{page.PageTitle}}</title>
  <link rel="icon" href="{{page.TabIcon}}">
</head>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" style='display:none;' id='DataPassthru'></div>

<div class="w3-sidebar w3-bar-block">

  <ul class='no-list-style'>
    <li><a href="/World/{{page.WorldID}}" class="w3-bar-item w3-button">Dashboard</a></li>
  </ul>

  <h3 class='SideNavGroup'>
    This Week
  </h3>
  <ul class='no-list-style'>
    <li><a href="#" id='SimThisWeek' class="w3-bar-item w3-button">Sim This Week</a></li>
  </ul>

  <h3 class='SideNavGroup'>
    <img src="/static/img/TeamLogos/ncaa-text.png" class='' alt="">
  </h3>
  <ul class='no-list-style'>
    <li><a href="/World/{{page.WorldID}}/Conferences" class="w3-bar-item w3-button SideNavItem">Standings</a></li>
    <li><a href="/World/{{page.WorldID}}/ManageTeam" class="w3-bar-item w3-button SideNavItem">Rankings</a></li>
    <li><a href="/World/{{page.WorldID}}/Recruiting" class="w3-bar-item w3-button SideNavItem">Schedule</a></li>
    <li><a href="/World/{{page.WorldID}}/Recruiting" class="w3-bar-item w3-button SideNavItem">Award Races</a></li>
    <li><a href="/World/{{page.WorldID}}/Recruiting" class="w3-bar-item w3-button SideNavItem">History</a></li>
  </ul>

  <h3 class='SideNavGroup'>
    <img src="{{userTeam.TeamLogoURL}}" alt="">
  </h3>
  <ul class='no-list-style'>
    <li><a href="/World/{{page.WorldID}}/Team/{{userTeam.TeamID}}" class="w3-bar-item w3-button SideNavItem">Roster</a></li>
    <li><a href="/World/{{page.WorldID}}/ManageTeam" class="w3-bar-item w3-button SideNavItem">Gameplan</a></li>
    <li><a href="/World/{{page.WorldID}}/Recruiting" class="w3-bar-item w3-button SideNavItem">Recruiting</a></li>
  </ul>

  <h3 class='SideNavGroup'>
    Players
  </h3>
  <ul class='no-list-style'>
    <li><a href="/World/{{page.WorldID}}/Team/{{userTeam.TeamID}}" class="w3-bar-item w3-button SideNavItem">Recruiting</a></li>
    <li><a href="/World/{{page.WorldID}}/ManageTeam" class="w3-bar-item w3-button SideNavItem">Transfer Portal</a></li>
    <li><a href="/World/{{page.WorldID}}/Recruiting" class="w3-bar-item w3-button SideNavItem">Recruiting</a></li>
    <li><a href="/World/{{page.WorldID}}/Recruiting" class="w3-bar-item w3-button SideNavItem">Watch List</a></li>
  </ul>

  <h3 class='SideNavGroup'>
    Stats
  </h3>
  <ul class='no-list-style'>
    <li><a href="/World/{{page.WorldID}}/Team/{{userTeam.TeamID}}" class="w3-bar-item w3-button SideNavItem">Player Stats</a></li>
    <li><a href="/World/{{page.WorldID}}/ManageTeam" class="w3-bar-item w3-button SideNavItem">Records</a></li>
    <li><a href="/World/{{page.WorldID}}/Recruiting" class="w3-bar-item w3-button SideNavItem">Team Stats</a></li>
  </ul>

  <h3 class='SideNavGroup'>
    Game
  </h3>
  <ul class='no-list-style'>
    <li><a href="/" class="w3-bar-item w3-button w3-right navHomeLink">Home Page</a></li>
    <li><a href="/World/{{page.WorldID}}/ManageTeam" class="w3-bar-item w3-button SideNavItem">Credits</a></li>
    <li><a href="/World/{{page.WorldID}}/Recruiting" class="w3-bar-item w3-button SideNavItem">Acheivements</a></li>
  </ul>
</div>

<div class="w3-modal" tabindex="-1" role="dialog" id='SimDayModal'>
  <div class="s8">
    <div class="w3-modal-content w3-container">
      <div class="modal-body w3-row-padding">
        <p>Simulating {{date.Date}}...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
