<div>
  {% include "HeadFootballCoach/ext_NavBar.html" %}
</div>
{% load static %}
{% load CustomTags %}

<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/fixedHeader.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">
<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" SecondaryJerseyColor="{{page.SecondaryJerseyColor}}" TeamID="{{team.TeamID}}" PlayerID="{{PlayerID}}" style='display:none;' id='PageDataPassthru'></div>

{% include "HeadFootballCoach/ext_TeamColoring.html" %}


<body>


  <div class='PageContent'>
    <div class='PlayerHeader'>
      <div class="team-header-color-left" style='background-color: #{{playerTeam.TeamColor_Primary_HEX}}; border-right-color: #{{page.SecondaryColor}};'></div>
      <a href='/World/{{page.WorldID}}/Team/{{playerTeam.TeamID}}'><img class='playerTeamLogo' src='{{playerTeam.LogoURL}}' alt="My image"></a>
      <div class="PlayerFace" id='PlayerFace'>

      </div>
      <div class='playerHeaderInfo'>
        <span class='playerFirstName'>
          {{player.PlayerFirstName}}
        </span>
        <span class='playerLastName'>
          {{player.PlayerLastName}}
        </span>
        <div class='playerOverviewInfo'>
          {% if player.IsRecruit %}
          <a href="/World/{{page.WorldID}}/Recruiting">{{player.RecruitingStars}}* Recruit</a>
          {% else %}
          <a href="/World/{{page.WorldID}}/Team/{{playerTeam.TeamID}}">{{playerTeam.TeamName}} {{playerTeam.TeamNickname}}</a>
          {% endif %}
          | #{{player.JerseyNumber}} | {{player.Position}}
        </div>
        <div  class='playerOverviewInfo player-captain'>
          {% if TeamCaptain%}
          <i class="fas fa-crown w3-text-green"></i><span class='italic'>Team Captain</span>
          {% endif %}
        </div>
      </div>
      <ul class='playerHeaderBio' style='border-color:{{playerTeam.TeamColor_Primary_HEX}}'>
        <li class='playerHeaderClass'>
          <div class='playerHeaderBioDescription'>CLASS</div>
          <div class='player-class'>{{player.ClassID__ClassName}}
            {% if RedshirtedThisSeason == True %}
              <i class="fas fa-tshirt player-class-icon" style="color: red; margin-left: 4px;"></i>
            {% endif %}
          </div>
        </li>
        <li class='playerHeaderHtWt'>
          <div class='playerHeaderBioDescription'>HT/WT</div>
          <div>{{player.HeightFormatted}}, {{player.Weight}} lbs</div>
        </li>
        <li class='playerHeaderHometown'>
          <div class='playerHeaderBioDescription'>HOMETOWN</div>
          <div>{{player.HometownAndState}}</div>
        </li>
      </ul>
      <div class="font32 inline-block bold w3-display-container" style="height: 80px; width:100px; border: 1px solid black; vertical-align: top; margin: 20px 20px 20px 40px;">
        <div class="team-primary-background font12 center-text" style=" color: white;">
          Overall
        </div>
        <div class=" center-text">
          {{OverallRating}}
        </div>
        <div class="w3-grey w3-display-bottommiddle statBar" style='width: 100%;'>
          <div class="w3-container  {{OverallRating|NumberToGradeClass}}-Fill" style="width:{{OverallRating}}%; height: 8px;"></div>
        </div>
      </div>
      <div class="team-header-color-right hide-small" style='background-color: #{{playerTeam.TeamColor_Primary_HEX}}; border-left-color: #{{page.SecondaryColor}};'></div>

    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: {{page.PrimaryColor|TeamBackgroundFontColor}}; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab"  id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        {% if player.IsRecruit %}
        <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-recruiting-tab">Recruiting</button>
        {% else %}
        <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-ratings-tab">Ratings</button>
        <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-stats-tab">Stats</button>
        <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-game-log-tab">Game Log</button>
        {% endif %}
        {% if Awards %}
        <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-awards-tab">Awards</button>
        {%endif%}
        {% include "HeadFootballCoach/ext_PlayerList.html" %}
      </div>
    </nav>
    <div  id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview" >
        <div class='w3-container'>
          <div class='w3-row-padding'>
            <div class='w3-col l6 m12 playerOverviewRatingBox'>
              <div class="w3-card margin-bottom-24">
                <table class='width100 w3-table w3-striped'>
                    {% for SkillGroup in Skills%}
                    {% if SkillGroup.TopShow%}
                    <thead>
                    <tr  class='team-primary-background'>
                      <th colspan="3">{{SkillGroup.SkillGroup}}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for Skill in SkillGroup.Skills%}
                    <tr>
                      <td style='width:15%' class='bold'>{{Skill.SkillName}}</td>
                      <td style='width:70%'>
                        <div class="w3-grey w3-round-xlarge statBar" style='width: 60%; margin-left: 20%;'>
                          <div class="w3-container w3-round-xlarge {{Skill.SkillValue|NumberToGradeClass}}-Fill" style="width:{{Skill.SkillValue}}%; height: 8px;"></div>
                        </div>
                      </td>
                      <td style='width:15%' class='font20'>{{Skill.SkillValue}}</td>
                    </tr>

                    {% endfor %}
                  </tbody>
                    {% endif %}
                    {% endfor %}
                </table>

              </div>
            </div>
            <div class='w3-col l6 m12'>
              {% if playerTeam.IsUserTeam%}
              {% if Actions%}
              <div class="w3-card w3-margin-bottom">
                <div class="w3-bar team-primary-background-bar">
                  Actions
                </div>
                <table class=' w3-table' style='width: 50%;'>
                  {% for Action in Actions%}
                  <tr>
                    <td style='width:10%;'>{{Action.Icon|safe}}</td>
                    <td confirm-info='{{Action.ConfirmInfo}}' response-type='refresh' background-ajax='{{Action.AjaxLink}}' class="w3-button {{Action.Class}} text-left"> {{Action.Display}} </td>
                  </tr>
                  {% endfor %}
                </table>

            </div>
              {% endif %}
              {% endif %}
              <div class="w3-card">
                <div class="w3-bar team-primary-background-bar">
                  Recent Game Stats
                </div>
                <table class="w3-table table-striped width100" id='RecentGameStats' style='width: 100%;'>
                  <thead>
                    <tr>
                      <th colspan="3" class='center-text col-group'>GAME</th>
                      <th colspan="8" class='center-text col-group'>PASSING STATS</th>
                      <th colspan="7" class='center-text col-group'>RUSHING STATS</th>
                      <th colspan="6" class='center-text col-group'>RECEIVING STATS</th>
                      <th colspan="2" class='center-text col-group'>BLOCKING STATS</th>
                      <th colspan="7" class='center-text col-group'>DEFENSE STATS</th>
                      <th colspan="4" class='center-text col-group'>KICKING STATS</th>
                    </tr>
                    <tr>
                      <!-- Game -->
                      <th class='teamColorBorder' scope="col">OPP</th>
                      <th class='initialSortColumn teamColorBorder' data-defaultsort="asc">Date</th>
                      <th>Game Outcome</th>

                      <!-- Passing Stats -->
                      <th>CMP</th>
                      <th>ATT</th>
                      <th>CMP %</th>
                      <th>YRDs</th>
                      <th>YPA</th>
                      <th>TDs</th>
                      <th>INTs</th>
                      <th>Sacks</th>

                      <!-- Rushing Stats -->
                      <th>CAR</th>
                      <th>YRDs</th>
                      <th>YPC</th>
                      <th>TDs</th>
                      <th>FUM</th>
                      <th>20+</th>
                      <th>LNG</th>

                      <!-- Receiving Stats -->
                      <th>TGT</th>
                      <th>REC</th>
                      <th>YRDs</th>
                      <th>YPC</th>
                      <th>TD</th>
                      <th>LNG</th>

                      <!-- Blocking Stats -->
                      <th>PNC</th>
                      <th>SCK</th>

                      <!-- Defense Stats -->
                      <th>TCK</th>
                      <th>TFL</th>
                      <th>SACK</th>
                      <th>INT</th>
                      <th>DEF</th>
                      <th>FF</th>
                      <th>FR</th>

                      <!-- Kicking Stats -->
                      <th>FGM</th>
                      <th>FGA</th>
                      <th>XPM</th>
                      <th>XPA</th>

                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>
      </div>
      {% if player.IsRecruit %}
      <div class="tab-content"  style='display:none;' id="nav-recruiting" >
        <div class='w3-container'>
          <div class='w3-row'>
            <div class='w3-col l12'>
              <table class="table table-striped sortable" id='playerRecruitingTeamTable'>
                <thead>
                  <tr>
                    <th class='teamColorBorder' scope="col">Rank</th>
                    <th class='teamColorBorder' scope="col">Team</th>
                    <th class='teamColorBorder' scope="col">Signed?</th>
                    <th class='teamColorBorder' scope="col">Scholarship Offered?</th>
                    <th class='teamColorBorder' scope="col">Interest Level</th>
                    <th class='teamColorBorder' scope="col">Actively Recruiting?</th>
                    <th class='teamColorBorder' scope="col">Team Prestige Rating</th>
                    <th class='teamColorBorder' scope="col">Distance Match</th>
                    <th class='teamColorBorder' scope="col">Match 1</th>
                    <th class='teamColorBorder' scope="col">Match 2</th>
                    <th class='teamColorBorder' scope="col">Match 3</th>
                  </tr>
                </thead>
                <tbody>
                  {% for RecruitTeamSeason in RecruitTeamSeasons %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                      <a href="/World/{{page.WorldID}}/Team/{{ RecruitTeamSeason.TeamSeasonID.TeamID.TeamID }}/">
                        <img class='indexConferenceStandingTeamLogo' src='{{RecruitTeamSeason.TeamSeasonID.TeamID.LogoURL}}' alt="My image">
                        {{ RecruitTeamSeason.TeamSeasonID.TeamID.Name }}
                      </a>
                    </td>
                    <td>
                        {{ RecruitTeamSeason.Signed }}
                    </td>
                    <td>
                        {{ RecruitTeamSeason.OfferMade }}
                    </td>
                    <td>
                        {{ RecruitTeamSeason.InterestLevel }}
                    </td>
                    <td>
                        {{ RecruitTeamSeason.IsActivelyRecruiting }}
                    </td>
                    <td>
                        {{ RecruitTeamSeason.TeamPrestigeRating }}
                    </td>
                    <td>
                        {{ RecruitTeamSeason.DistanceMatchRating }}
                    </td>
                    <td>
                        {{RecruitTeamSeason.Preference1MatchRating}} - {{RecruitTeamSeason.Preference1Name}}
                    </td>
                    <td>
                        {{RecruitTeamSeason.Preference2MatchRating}} - {{RecruitTeamSeason.Preference2Name}}
                    </td>
                    <td>
                        {{RecruitTeamSeason.Preference3MatchRating}} - {{RecruitTeamSeason.Preference3Name}}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
          <div class="w3-row">
            <div class="" id='RecruitingContainer' style='width: 100%; height: 400px;'>

            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="tab-content" style='display:none;' id="nav-stats" >
        <div class='w3-container'>
            <div class='w3-row-padding'>
              <div class='w3-col l10 m12'>

                <table id="PlayerSeasonStatTableClone" class='w3-hide width100 w3-padding' style=''>

                  <tfoot>
                    <tr>
                    </tr>
                  </tfoot>
                 </table>
                 <table id="PlayerCareerHighTableClone" class='w3-hide width100 w3-padding' style=''>
                   <thead>
                     <th>Stat</th>
                     <th>Value</th>
                     <th>Week</th>
                   </thead>
                  </table>
              </div>

            </div>

        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-game-log" >
        <div class='w3-container'>
          <div class='w3-row-padding'>
              <div class="w3-col l10 m12">
                <div class="w3-card">

                  <div class="w3-bar team-primary-background-bar">Game Stats</div>
                <table class="w3-table table-striped width100" id='FullGameStats' style='width: 100%;'>
                  <thead>
                    <tr>
                      <th colspan="3" class='center-text col-group'>GAME</th>
                      <th colspan="8" class='center-text col-group'>PASSING STATS</th>
                      <th colspan="7" class='center-text col-group'>RUSHING STATS</th>
                      <th colspan="6" class='center-text col-group'>RECEIVING STATS</th>
                      <th colspan="2" class='center-text col-group'>BLOCKING STATS</th>
                      <th colspan="7" class='center-text col-group'>DEFENSE STATS</th>
                      <th colspan="4" class='center-text col-group'>KICKING STATS</th>
                    </tr>
                    <tr>
                      <!-- Game -->
                      <th class='teamColorBorder' scope="col">OPP</th>
                      <th class='initialSortColumn teamColorBorder' data-defaultsort="asc">Date</th>
                      <th>Game Outcome</th>

                      <!-- Passing Stats -->
                      <th>CMP</th>
                      <th>ATT</th>
                      <th>CMP %</th>
                      <th>YRDs</th>
                      <th>YPA</th>
                      <th>TDs</th>
                      <th>INTs</th>
                      <th>Sacks</th>

                      <!-- Rushing Stats -->
                      <th>CAR</th>
                      <th>YRDs</th>
                      <th>YPC</th>
                      <th>TDs</th>
                      <th>FUM</th>
                      <th>20+</th>
                      <th>LNG</th>

                      <!-- Receiving Stats -->
                      <th>TGT</th>
                      <th>REC</th>
                      <th>YRDs</th>
                      <th>YPC</th>
                      <th>TD</th>
                      <th>LNG</th>

                      <!-- Blocking Stats -->
                      <th>PNC</th>
                      <th>SCK</th>

                      <!-- Defense Stats -->
                      <th>TCK</th>
                      <th>TFL</th>
                      <th>SACK</th>
                      <th>INT</th>
                      <th>DEF</th>
                      <th>FF</th>
                      <th>FR</th>

                      <!-- Kicking Stats -->
                      <th>FGM</th>
                      <th>FGA</th>
                      <th>XPM</th>
                      <th>XPA</th>

                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              </div>
          </div>
          <div class='w3-row-padding'>

          </div>

        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-analytics" >
        <div class='w3-container'>
          <div class='w3-row'>
            <div class='w3-col l6 m12'>
              <div id='StatChart'>
              </div>
            </div>

            <div id='playerShotChart' class='w3-col l6 m12'>
              <pb-shot-chart yclamp="300" export-filename="_" export-title=" 2014-15" filters="shotChartFilters" active-games="activeGames" shot-data="shots" distance-highlight="distanceHighlight" bin-highlight="binHighlight"
                class="ng-isolate-scope chart-action-hoverable shot-chart">
                <div><svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 900 600">
                    <g class="global" transform="scale(1.6 1.6)">
                      <g class="marks-below"></g>
                      <g class="court">
                        <rect     fill="{{player.Player.CurrentPlayerTeamSeason.ShotChart.3PT}}" width='480' height='330' x='10'></rect>
                        <path     fill="{{player.Player.CurrentPlayerTeamSeason.ShotChart.MidRange}}" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M30,42 a1,1 0 0,0 440,0"></path>
                        <polyline fill="{{player.Player.CurrentPlayerTeamSeason.ShotChart.MidRange}}" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" points="470.364,47.064 470.364,0 30.059,0 30.059,47.064     "></polyline>
                        <rect x="170.196" fill="{{player.Player.CurrentPlayerTeamSeason.ShotChart.Inside}}" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" width="160.033" height="189.945"></rect>
                        <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M190.518,189.945 c0,32.943,26.726,59.65,59.694,59.65c32.97,0,59.695-26.707,59.695-59.65"></path>
                        <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M210.729,52.773 c2.745,21.792,22.653,37.229,44.459,34.486c18.033-2.269,32.236-16.464,34.509-34.486"></path>
                        <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" stroke-dasharray="13.33,11.67"
                          d="M309.907,189.945c0-32.943-26.726-59.649-59.695-59.649c-32.969,0-59.694,26.706-59.694,59.649"></path>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="330.229" y1="0" x2="340.391" y2="0"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="340.391" y1="145.95" x2="330.229" y2="145.95"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="340.391" y1="114.223" x2="330.229" y2="114.223"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="340.391" y1="82.495" x2="330.229" y2="82.495"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="340.391" y1="71.071" x2="330.229" y2="71.071"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="160.032" y1="145.95" x2="170.196" y2="145.95"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="160.032" y1="114.223" x2="170.196" y2="114.223"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="160.032" y1="82.495" x2="170.196" y2="82.495"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="160.032" y1="71.071" x2="170.196" y2="71.071"></line>
                        <!-- <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M30.203,137.058 c49.417,121.198,187.98,179.485,309.489,130.194c59.332-24.068,106.401-71.017,130.529-130.194"></path>-->
                        <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M309.907,470 c0-32.945-26.726-59.65-59.695-59.65c-32.969,0-59.694,26.705-59.694,59.65"></path>
                      </g>
                      <g class="legends"></g>
                      <g class="shots"></g>
                      <g class="highlighters"></g>
                      <g class="hoop">
                        <line class="backboard" fill="none" stroke="#999999" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="280.271" y1="40.19" x2="220.151" y2="40.19"></line>
                        <path class="rim" fill="none" stroke="#F9A01B" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" stroke-width="1.5"
                          d="M250.212,54.993 c3.977,0,7.197-3.215,7.197-7.188c0-3.977-3.221-7.192-7.197-7.192c-3.976,0-7.197,3.216-7.197,7.192 C243.015,51.778,246.236,54.993,250.212,54.993z"></path>
                      </g>
                    </g>
                  </svg></div>
                <div class="chart-actions"><span class="png-saver chart-action ng-isolate-scope" ng-click="save()" data-filename="shotchart__.png">Export as PNG</span></div>
              </pb-shot-chart>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="tab-content" style='display:none;' id="nav-awards" >
        <div class='w3-container'>
          <div class='w3-row-padding'>
            <div class='w3-col l6 m12'>
              Awards
              <table>
                {% for Award in Awards%}
                <tr>
                  <td>{{Award.AwardName}} x{{Award.AwardCount}}</td>
                </tr>
                {%endfor%}
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-ratings" >
        <div class='w3-container'>
          <div class='w3-row-padding'>
            <div class='w3-col l12 mw1000'>
              <div class="w3-card margin-bottom-24">
                <table class='width100 w3-table w3-striped'>
                    {% for SkillGroup in Skills%}
                    <thead>
                    <tr class='team-primary-background'>
                      <th colspan="3">{{SkillGroup.SkillGroup}}</th>
                      <th class=" text-center">Avg {{player.Position}} Starter</th>
                      <th class=" text-center">Avg {{playerTeam.ConferenceID.ConferenceAbbreviation}} {{player.Position}} Starter</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for Skill in SkillGroup.Skills%}
                    <tr>
                      <td class='bold'>{{Skill.SkillName}}</td>
                      <td style='width:55%'>
                        <div class="w3-grey w3-round-xlarge statBar" style='width: 100%;'>
                          <div class="w3-container w3-round-xlarge {{Skill.SkillValue|NumberToGradeClass}}-Fill" style="width:{{Skill.SkillValue}}%; height: 8px;"></div>
                        </div>
                      </td>
                      <td class='font20 text-center'>{{Skill.SkillValue}}</td>
                      <td class="text-center">
                        {{Skill.PositionAverage}}
                      </td>
                      <td class="text-center">
                        {{Skill.PositionConferenceAverage}}
                      </td>
                    </tr>

                    {% endfor %}
                  </tbody>
                    {% endfor %}
                </table>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" id='face'>

  </div>
</body>





{% include "HeadFootballCoach/ext_CommonScripts.html" %}
<!-- Load c3.css -->
<link href="{% static 'c3/c3.css' %}" rel="stylesheet">
<!-- Load d3.js and c3.js -->
<script src="{% static 'common/d3.v5.min.js' %}"></script>
<script src="{% static 'c3/c3.js' %}"></script>

<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.select.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.searchPanes.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedColumns.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedHeader.min.js' %}"></script>



<script src="{% static 'Pages/Player.js' %}"></script>
<script>
  var chart = c3.generate({
      bindto: '#StatChart',
      data: {
        columns: [
          ['Points' {% for game in gameStats %} , {{game.Points}} {% endfor %}],
          ['Rebounds' {% for game in gameStats %} , {{game.Rebounds}} {% endfor %}],
          ['Assist' {% for game in gameStats %} , {{game.Assists}} {% endfor %}],
        ]
      }
  });


  chart.resize({
    height: 400,
    width: 400
  });

  $('#playerRecruitingTeamTable').DataTable( {
    "searching": false,
      "info": false,
      "paging":   false,
      "order": [[ 3, "desc" ], [ 4, "desc" ]]
  } );

  //playerRecruitingTeamTable


</script>

<script>

$(document).ready(function(){
  console.log("player.PlayerFaceJson", {{player.PlayerFaceJson|safe}});

  var overrides = {'teamColors': ["#{{playerTeam.TeamColor_Primary_HEX}}","#{{playerTeam.TeamColor_Secondary_HEX}}","#FFF",]}

  {% if player.PlayerFaceJson|length > 0 %}
    BuildFace({{player.PlayerFaceJson|safe}}, "{{playerTeam.TeamJerseyStyle}}", "{{player.TeamJerseyInvert}}", overrides=overrides, DOMID = 'PlayerFace');
  {% else %}
    BuildFace(undefined, "{{playerTeam.TeamJerseyStyle}}", "{{player.TeamJerseyInvert}}");
  {% endif %}


});
</script>

{% if player.IsRecruit %}
<script src="{% static 'Highcharts/code/highcharts.js' %}"></script>

<script type="text/javascript">

  Highcharts.chart('RecruitingContainer', {
    title: {
        text: 'Combination chart'
    },
    labels: {
        items: [{
            html: 'Recruiting',
            style: {
                left: '50px',
                top: '18px',
                color: ( // theme
                    Highcharts.defaultOptions.title.style &&
                    Highcharts.defaultOptions.title.style.color
                ) || 'black'
            }
        }]
    },
    series: [
    {% for RecruitTeamSeason in RecruitTeamSeasons %}
    {
        type: 'column',
        name: '{{RecruitTeamSeason.TeamSeasonID.TeamID.TeamName}}',
        data: [{{RecruitTeamSeason.InterestLevel}}],
        color: '#{{RecruitTeamSeason.TeamSeasonID.TeamID.TeamColor_Primary_HEX}}',
    },
    {% endfor %}
     {
        type: 'line',
        name: 'Points Needed',
        data: [{{player.RecruitingPointsNeeded}}],
        marker: {
            lineWidth: 10,
            lineColor: 'black',
            fillColor: 'white'
        }
    }]
});
</script>
{% endif %}


<style media="screen">
  .teamColorBorder {
    border-top-color: #{{page.PrimaryColor}}  !important;
    border-bottom-color: #{{page.PrimaryColor}} !important;
  }

  .w3-card {
    box-shadow: 0 2px 4px 0 #{{page.PrimaryColor}}, 0 2px 8px 0 #{{page.PrimaryColor}}
  }
</style>

{{ PrimaryStatShow|json_script:"primary-stat-show" }}
{{ PlayerStatsShow|json_script:"player-stats-show" }}
{{ GameStats|json_script:"game-stat-data" }}
{{ RecentGameStats|json_script:"recent-game-stat-data" }}
