<div>
  {% include "HeadFootballCoach/NavBar.html" %}
</div>
{% load static %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" PlayerID="{{player.PlayerID}}" style='display:none;' id='PageDataPassthru'></div>

<body>


  <div class='PageContent'>
    <div class='PlayerHeader'>

      <a href='/World/{{page.WorldID}}/Team/{{playerTeam.TeamID}}'><img class='playerTeamLogo' src='{{playerTeam.LogoURL}}' alt="My image"></a>
      <div class="PlayerFace" id='PlayerFace'>

      </div>
      <div class='playerHeaderInfo'>
        <span class='playerFirstName'>
          {{player.PlayerFirstName}}
        </span>
        <span class='playerLastName'>
          {{player.PlayerLastName}}
        </span>
        <div class='playerOverviewInfo'>
          {% if player.IsRecruit %}
          <a href="/World/{{page.WorldID}}/Recruiting">{{player.RecruitingStars}}* Recruit</a>
          {% else %}
          <a href="/World/{{page.WorldID}}/Team/{{playerTeam.TeamID}}">{{playerTeam.TeamName}} {{playerTeam.TeamNickname}}</a>
          {% endif %}
          | #{{player.JerseyNumber}} | {{player.Position}}
        </div>
      </div>
      <ul class='playerHeaderBio' style='border-color:{{playerTeam.TeamColor_Primary_HEX}}'>
        <li class='playerHeaderClass'>
          <div class='playerHeaderBioDescription'>CLASS</div>
          <div>{{player.Class}}</div>
        </li>
        <li class='playerHeaderHtWt'>
          <div class='playerHeaderBioDescription'>HT/WT</div>
          <div>{{player.HeightFormatted}}, {{player.Weight}} lbs</div>
        </li>
        <li class='playerHeaderHometown'>
          <div class='playerHeaderBioDescription'>HOMETOWN</div>
          <div>{{player.HometownAndState}}</div>
        </li>
      </ul>
      <div class='playerHeaderStatsBox' style='border-color:{{playerTeam.TeamColor_Primary_HEX}}'>
        {% for season in seasonStats %}
        {% if season.IsCurrent == 1 %}
        <div class="playerHeaderStatsHeader" style="background-color:{{playerTeam.TeamColor_Primary_HEX}}">{{season.Season}} Stats</div>
        <div class="w3-col w3-display-container s3">
          <div class="w3-row">
            MPG
          </div>
          <div class="w3-row">
            {{season.MPG}}
          </div>
        </div>
        <div class="w3-col w3-display-container s3">
          <div class="w3-row">
            PPG
          </div>
          <div class="w3-row">
            {{season.PPG}}
          </div>
        </div>
        <div class="w3-col w3-display-container s3">
          <div class="w3-row">
            RPG
          </div>
          <div class="w3-row">
            {{season.RPG}}
          </div>
        </div>
        <div class="w3-col w3-display-container s3">
          <div class="w3-row">
            APG
          </div>
          <div class="w3-row">
            {{season.APG}}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab"  id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        {% if player.IsRecruit %}
        <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-recruiting-tab">Recruiting</button>
        {% else %}
        <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-stats-tab">Stats</button>
        <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-analytics-tab">Analytics</button>
        {% endif %}
        {% if Awards %}
        <button class="w3-bar-item w3-button tab nav-tab-button"  id="nav-awards-tab">Awards</button>
        {%endif%}
      </div>
    </nav>
    <div  id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview" >
        <div class='w3-container'>
          <div class='w3-row'>
            <div class='w3-col s6 playerOverviewRatingBox'>
              {% for Skill in Skills%}
              <div class='playerOverviewRatingBoxGrouping'>
                <span class='playerOverviewRatingAbbreviation'>{{Skill.SkillName}}</span>
                <div class="w3-light-grey w3-round-xlarge statBar">
                  <div class="w3-container w3-blue w3-round-xlarge" style="background-color:#{{playerTeam.TeamColor_Primary_HEX}} !important; width:{{Skill.Value}}%">{{Skill.Value}}</div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class='w3-col s6'>
              Recent Games
              <table class="table table-striped sortable">
                <thead>
                  <tr>
                    <th scope="col">OPP</th>
                    <th class='initialSortColumn' data-defaultsort="asc">Date</th>
                    {%for Stat in PlayerStatCategories%}
                    <th>{{Stat.DisplayName}}</th>
                    {%endfor%}
                  </tr>
                </thead>
                <tbody>
                  {% for game in RecentGameStats %}
                  <tr>
                    <td><a href='/World/{{page.WorldID}}/Team/{{game.OpposingTeamID}}'><img class='playerSeasonStatOpponentLogo' src='{{game.OpposingTeamLogoURL}}' /></a></td>
                    <td><a href="/World/{{page.WorldID}}/Game/{{game.TeamGameID__GameID}}">Week {{game.TeamGameID__GameID__GameDateID__WeekID__WeekNumber}}</a></td>
                    {%for Stat in game.Stats%}
                    <td>{{Stat.Value}}</td>
                    {%endfor%}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% if player.IsRecruit %}
      <div class="tab-content"  style='display:none;' id="nav-recruiting" >
        <div class='w3-container'>
          <div class='w3-row'>
            <div class='w3-col s12'>
              <table class="table table-striped sortable" id='playerRecruitingTeamTable'>
                <thead>
                  <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Signed?</th>
                    <th scope="col">Scholarship Offered?</th>
                    <th scope="col">Interest Level</th>
                    <th scope="col">Match Rating</th>
                  </tr>
                </thead>
                <tbody>
                  {% for RecruitTeamSeason in RecruitTeamSeasons %}
                  <tr>
                    <td>
                      <a href="/World/{{page.WorldID}}/Team/{{ RecruitTeamSeason.TeamSeasonID.TeamID.TeamID }}/">
                        <img class='indexConferenceStandingTeamLogo' src='{{RecruitTeamSeason.TeamSeasonID.TeamID.LogoURL}}' alt="My image">
                        {{ RecruitTeamSeason.TeamSeasonID.TeamID.Name }}
                      </a>
                    </td>
                    <td>
                        {{ RecruitTeamSeason.Signed }}
                    </td>
                    <td>
                        {{ RecruitTeamSeason.OfferMade }}
                    </td>
                    <td>
                        {{ RecruitTeamSeason.InterestLevel }}
                    </td>
                    <td>
                        {{ RecruitTeamSeason.MatchRating }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      {% else %}
      <div class="tab-content" style='display:none;' id="nav-stats" >
        <div class='w3-container'>
          <div class='w3-row'>
            <div class='w3-col s12'>
              Season Stats
              <table class="table table-striped sortable">
                <thead>
                  <tr>
                    <th scope="col">Season</th>
                    <th scope="col">Team</th>
                    <th scope="col">Class</th>
                    <th scope="col">Overall</th>
                    <th scope="col" data-defaultsort="desc">Minutes</th>
                    <th scope="col" data-defaultsort="desc">Points</th>
                    <th scope="col" data-defaultsort="desc">FG %</th>
                    <th scope="col" data-defaultsort="desc">3P %</th>
                    <th scope="col" data-defaultsort="desc">Rebounds</th>
                    <th scope="col" data-defaultsort="desc">Assists</th>
                    <th scope="col" data-defaultsort="desc">Blocks</th>
                    <th scope="col" data-defaultsort="desc">Steals</th>
                    <th scope="col" data-defaultsort="desc">PER</th>
                  </tr>
                </thead>
                <tbody>
                  {% for season in seasonStats %}
                  <tr>
                    <td>{{season.Season}}</td>
                    <td><a href="/World/{{page.WorldID}}/Team/{{season.TeamID.TeamID}}">{{season.TeamAbbreviation}}</a></td>
                    <td data-value="{{season.ClassSortOrder}}">{{season.PlayerClass}}</td>
                    <td>{{player.OverallRating}}</td>
                    <td>{{season.MPG}}</td>
                    <td>{{season.PPG}}</td>
                    <td>{{season.FGPercent}}</td>
                    <td>{{season.3PPercent}}</td>
                    <td>{{season.RPG}}</td>
                    <td>{{season.APG}}</td>
                    <td>{{season.BPG}}</td>
                    <td>{{season.SPG}}</td>
                    <td>{{season.PER}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class='w3-row'>
            <div class='w3-col s12'>
              Game Stats
              <table class="table table-striped sortable">
                <thead>
                  <tr>
                    <th scope="col">Opponent</th>
                    <th class='initialSortColumn' data-defaultsort="asc">Date</th>
                    <th scope="col" data-defaultsort="desc">Pass Yards</th>
                    <th scope="col" data-defaultsort="desc">Pass TDs</th>
                    <th scope="col" data-defaultsort="desc">Rush Yards</th>
                    <th scope="col" data-defaultsort="desc">Rush TDs</th>
                    <th scope="col" data-defaultsort="desc">Game Score</th>
                  </tr>
                </thead>
                <tbody>
                  {% for game in gameStats %}
                  <tr>
                    <td><img class='playerSeasonStatOpponentLogo' src='{{game.TeamGameID.OpposingTeamGame.TeamSeasonID.TeamID.LogoURL}}' /><a href='/World/{{page.WorldID}}/Team/{{game.TeamGameID.OpposingTeamGame.TeamSeasonID.TeamID.TeamID}}'>{{game.TeamGameID.OpposingTeamGame.TeamSeasonID.TeamID.Name}}</a></td>
                    <td data-value="{{game.GameID.GameDateID.DateID}}">{{game.TeamGameID.GameID.GameDateID.Date}}</td>
                    <td>{{game.PAS_Yards}}</td>
                    <td>{{game.PAS_TD}}</td>
                    <td>{{game.RUS_Yards}}</td>
                    <td>{{game.RUS_TD}}</td>
                    <td>{{game.GameScore}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class='w3-row'>
            <div class='w3-col s6'>
              <div>
                Career Highs
                <div class='w3-container'>
                  {% for stat in careerHigh %}
                  <div class='w3-row'>
                    <div class='w3-col s2'>
                      {{stat.Stat}}
                    </div>
                    <div class='w3-col s3'>
                      {{stat.Value}}
                    </div>
                    <div class='w3-col s7'>
                      <a href='/World/{{page.WorldID}}/Game/{{stat.Game.GameID.GameID}}'>vs. {{stat.Game.OpponentTeam}}</a>
                    </div>
                  </div>
                  {% endfor %}
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-analytics" >
        <div class='w3-container'>
          <div class='w3-row'>
            <div class='w3-col s6'>
              <div id='StatChart'>
              </div>
            </div>

            <div id='playerShotChart' class='w3-col s6'>
              <pb-shot-chart yclamp="300" export-filename="_" export-title=" 2014-15" filters="shotChartFilters" active-games="activeGames" shot-data="shots" distance-highlight="distanceHighlight" bin-highlight="binHighlight"
                class="ng-isolate-scope chart-action-hoverable shot-chart">
                <div><svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 900 600">
                    <g class="global" transform="scale(1.6 1.6)">
                      <g class="marks-below"></g>
                      <g class="court">
                        <rect     fill="{{player.Player.CurrentPlayerTeamSeason.ShotChart.3PT}}" width='480' height='330' x='10'></rect>
                        <path     fill="{{player.Player.CurrentPlayerTeamSeason.ShotChart.MidRange}}" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M30,42 a1,1 0 0,0 440,0"></path>
                        <polyline fill="{{player.Player.CurrentPlayerTeamSeason.ShotChart.MidRange}}" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" points="470.364,47.064 470.364,0 30.059,0 30.059,47.064     "></polyline>
                        <rect x="170.196" fill="{{player.Player.CurrentPlayerTeamSeason.ShotChart.Inside}}" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" width="160.033" height="189.945"></rect>
                        <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M190.518,189.945 c0,32.943,26.726,59.65,59.694,59.65c32.97,0,59.695-26.707,59.695-59.65"></path>
                        <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M210.729,52.773 c2.745,21.792,22.653,37.229,44.459,34.486c18.033-2.269,32.236-16.464,34.509-34.486"></path>
                        <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" stroke-dasharray="13.33,11.67"
                          d="M309.907,189.945c0-32.943-26.726-59.649-59.695-59.649c-32.969,0-59.694,26.706-59.694,59.649"></path>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="330.229" y1="0" x2="340.391" y2="0"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="340.391" y1="145.95" x2="330.229" y2="145.95"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="340.391" y1="114.223" x2="330.229" y2="114.223"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="340.391" y1="82.495" x2="330.229" y2="82.495"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="340.391" y1="71.071" x2="330.229" y2="71.071"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="160.032" y1="145.95" x2="170.196" y2="145.95"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="160.032" y1="114.223" x2="170.196" y2="114.223"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="160.032" y1="82.495" x2="170.196" y2="82.495"></line>
                        <line fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="160.032" y1="71.071" x2="170.196" y2="71.071"></line>
                        <!-- <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M30.203,137.058 c49.417,121.198,187.98,179.485,309.489,130.194c59.332-24.068,106.401-71.017,130.529-130.194"></path>-->
                        <path fill="none" stroke="#999999" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" d="M309.907,470 c0-32.945-26.726-59.65-59.695-59.65c-32.969,0-59.694,26.705-59.694,59.65"></path>
                      </g>
                      <g class="legends"></g>
                      <g class="shots"></g>
                      <g class="highlighters"></g>
                      <g class="hoop">
                        <line class="backboard" fill="none" stroke="#999999" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" x1="280.271" y1="40.19" x2="220.151" y2="40.19"></line>
                        <path class="rim" fill="none" stroke="#F9A01B" stroke-linecap="square" stroke-linejoin="bevel" stroke-miterlimit="10" stroke-width="1.5"
                          d="M250.212,54.993 c3.977,0,7.197-3.215,7.197-7.188c0-3.977-3.221-7.192-7.197-7.192c-3.976,0-7.197,3.216-7.197,7.192 C243.015,51.778,246.236,54.993,250.212,54.993z"></path>
                      </g>
                    </g>
                  </svg></div>
                <div class="chart-actions"><span class="png-saver chart-action ng-isolate-scope" ng-click="save()" data-filename="shotchart__.png">Export as PNG</span></div>
              </pb-shot-chart>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="tab-content" style='display:none;' id="nav-awards" >
        <div class='w3-container'>
          <div class='w3-row-padding'>
            <div class='w3-col s6'>
              Awards
              <table>
                {% for Award in Awards%}
                <tr>
                  <td>{{Award.AwardName}} x{{Award.AwardCount}}</td>
                </tr>
                {%endfor%}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" id='face'>

  </div>
</body>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'bootstrap-sortable.js' %}"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>


<!-- Load c3.css -->
<link href="{% static 'c3/c3.css' %}" rel="stylesheet">
<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static 'c3/c3.js' %}"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>



<script src="{% static 'Pages/Player.js' %}"></script>
<script>
  var chart = c3.generate({
      bindto: '#StatChart',
      data: {
        columns: [
          ['Points' {% for game in gameStats %} , {{game.Points}} {% endfor %}],
          ['Rebounds' {% for game in gameStats %} , {{game.Rebounds}} {% endfor %}],
          ['Assist' {% for game in gameStats %} , {{game.Assists}} {% endfor %}],
        ]
      }
  });


  chart.resize({
    height: 400,
    width: 400
  });

  $('#playerRecruitingTeamTable').DataTable( {
    "searching": false,
      "info": false,
      "paging":   false,
      "order": [[ 3, "desc" ], [ 4, "desc" ]]
  } );

  //playerRecruitingTeamTable


</script>

<script>

$(document).ready(function(){
  console.log("player.PlayerFaceJson", {{player.PlayerFaceJson|safe}});

  {% if player.PlayerFaceJson|length > 0 %}
    BuildFace({{player.PlayerFaceJson|safe}}, "{{playerTeam.TeamJerseyStyle}}", "{{player.TeamJerseyInvert}}");
  {% else %}
    BuildFace(undefined, "{{playerTeam.TeamJerseyStyle}}", "{{player.TeamJerseyInvert}}");
  {% endif %}


});
</script>
