<div>
  {% include "HeadFootballCoach/ext_NavBar.html" %}
</div>
{% load static %}
{% load CustomTags %}
{% load humanize %}


<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">


<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>


<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "HeadFootballCoach/Scoreboard.html" %}
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-career-records-tab" style="background-color: #{{page.SecondaryColor}};">Career Records</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-season-records-tab">Season Records</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-game-records-tab">Game Records</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:block;"  id="nav-career-records">
        <div class='w3-display-container'>
          {% for Stat in CareerLeaders%}
          {% if forloop.counter0|modulo:3 == 0%}
          <div class='w3-row-padding margin-top-24' id='worldLeagueLeaderRow'>
            {% endif %}
            <div class='w3-card w3-col s4 margin-sides-12 no-padding'>
              <table id='' class='display table sortable w3-table w3-striped w3-bordered'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th data-field='DisplayName'>{{Stat.DisplayName}}</th>
                  <th>Seasons</th>
                </thead>
                <tbody>
                  {% with StatName=Stat.FieldName %}
                  {% for Player in Stat.Players%}
                  <tr id='worldLeagueLeadersRowClone' class=''>
                    <td class='WorldLeagueLeaderRowCell text-center' data-field='ValueRank' data-value="">{{forloop.counter}}</td>
                    <td class='WorldLeagueLeaderRowCell' data-value=""><a href="{{Player.PlayerHref}}" href-field='PlayerHref' ><span data-field='PlayerName'>{{Player.PlayerName}}</span>, </a><span data-field='PlayerPosition'>{{Player.PlayerPosition}}</span></td>
                    <td class='WorldLeagueLeaderRowCell' data-value=""><a href="{{Player.TeamHref}}" href-field='PlayerTeamHref'><img src="{{Player.TeamLogoURL}}" src-field='TeamLogoURL' class='worldLeagueLeaderTeamLogo'></a></td>
                    <td class='WorldLeagueLeaderRowCell' data-field='Value' data-value="">{{Player|keyvalue:StatName}}</td>
                    <td>{{Player.Timeframe}}</td>
                  </tr>
                  {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            </div>

              {% if forloop.counter0|modulo:3 == 2%}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-season-records">
        <div class='w3-display-container'>
          {% for Stat in SeasonLeaders%}
          {% if forloop.counter0|modulo:3 == 0%}
          <div class='w3-row-padding margin-top-24' id='worldLeagueLeaderRow'>
            {% endif %}
            <div class='w3-card w3-col s4 margin-sides-12 no-padding'>
              <table id='' class='display table sortable w3-table w3-striped w3-bordered'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th data-field='DisplayName'>{{Stat.DisplayName}}</th>
                  <th>Season</th>
                </thead>
                <tbody>
                  {% with StatName=Stat.FieldName %}
                  {% for Player in Stat.Players%}
                  <tr id='worldLeagueLeadersRowClone' class=''>
                    <td class='WorldLeagueLeaderRowCell text-center' data-field='ValueRank' data-value="">{{forloop.counter}}</td>
                    <td class='WorldLeagueLeaderRowCell' data-value=""><a href="{{Player.PlayerHref}}" href-field='PlayerHref' ><span data-field='PlayerName'>{{Player.PlayerName}}</span>, </a><span data-field='PlayerPosition'>{{Player.PlayerPosition}}</span></td>
                    <td class='WorldLeagueLeaderRowCell' data-value=""><a href="{{Player.TeamHref}}" href-field='PlayerTeamHref'><img src="{{Player.TeamLogoURL}}" src-field='TeamLogoURL' class='worldLeagueLeaderTeamLogo'></a></td>
                    <td class='WorldLeagueLeaderRowCell' data-field='Value' data-value="">{{Player|keyvalue:StatName}}</td>
                    <td>{{Player.Timeframe}}</td>
                  </tr>
                  {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            </div>

              {% if forloop.counter0|modulo:3 == 2%}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-game-records">
        <div class='w3-display-container'>
          {% for Stat in GameLeaders%}
          {% if forloop.counter0|modulo:3 == 0%}
          <div class='w3-row-padding margin-top-24' id='worldLeagueLeaderRow'>
            {% endif %}
            <div class='w3-card w3-col s4 margin-sides-12 no-padding'>
              <table id='' class='display table sortable w3-table w3-striped w3-bordered'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th data-field='DisplayName'>{{Stat.DisplayName}}</th>
                  <th>Week</th>
                </thead>
                <tbody>
                  {% with StatName=Stat.FieldName %}
                  {% for Player in Stat.Players%}
                  <tr id='worldLeagueLeadersRowClone' class=''>
                    <td class='WorldLeagueLeaderRowCell text-center' data-field='ValueRank' data-value="">{{forloop.counter}}</td>
                    <td class='WorldLeagueLeaderRowCell' data-value=""><a href="{{Player.PlayerHref}}" href-field='PlayerHref' ><span data-field='PlayerName'>{{Player.PlayerName}}</span>, </a><span data-field='PlayerPosition'>{{Player.PlayerPosition}}</span></td>
                    <td class='WorldLeagueLeaderRowCell' data-value=""><a href="{{Player.TeamHref}}" href-field='PlayerTeamHref'><img src="{{Player.TeamLogoURL}}" src-field='TeamLogoURL' class='worldLeagueLeaderTeamLogo'></a></td>
                    <td class='WorldLeagueLeaderRowCell' data-field='Value' data-value="">{{Player|keyvalue:StatName}}</td>
                    <td><a href="{{Player.TimeframeHref}}">{{Player.Timeframe}}</a></td>
                  </tr>
                  {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            </div>

              {% if forloop.counter0|modulo:3 == 2%}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>

<script src="{% static 'common/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'common/jquery.min.js' %}"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'Pages/PlayerRecords.js' %}" type="module"></script>
<script src="{% static 'common/popper.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
