{% include "HeadFootballCoach/ext_NavBar.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/fixedHeader.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/bootstrap-sortable.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">


<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" PlayerID="{{player.PlayerID}}" style='display:none;' id='PageDataPassthru'></div>
<body>
  <div class="PageContent">
    <h2>
      <span class='teamSchoolName'>Recruiting Actions Left:
          <span id='UserRecruitingPointsLeft'>{{CurrentWeek.UserRecruitingPointsLeft}}</span></span>

    </h2>


    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        {% if SavedPlayers|length > 0%}
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-saved-tab" style="background-color: #{{page.SecondaryColor}};">Saved Players</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-overview-tab">All Players</button>
        {% else %}
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">All Players</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-saved-tab">Saved Players</button>
        {% endif %}
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-ranking-tab">National Ranking</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-team-needs-tab">Team Needs</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-boxscore-tab">Box Score</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      {% if SavedPlayers|length > 0%}
      <div class="tab-content" style='display:none;' id="nav-overview">
        {% else %}
        <div class="tab-content" style='display:block;' id="nav-overview">
        {% endif %}
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col l12 mw1200">
              <div class="w3-card">
                <div id="">
                  <table id='recruitingMainTable' class='width100 w3-table w3-striped center-aligned-table recruiting-player-table' style='width: 100%;'>
                    <thead>
                      <tr>
                        <th colspan="7" class="col-group">PLAYER</th>
                        <th colspan="4" class="col-group">STATUS</th>
                        <th colspan="5">MEASURABLES</th>
                        <th colspan="7" class="col-group">PHYSICAL SKILLS</th>
                        <th colspan="7" class="col-group">PASSING SKILLS</th>
                        <th colspan="4" class="col-group">RUSHING SKILLS</th>
                        <th colspan="4" class="col-group">RECEIVING SKILLS</th>
                        <th colspan="3" class="col-group">BLOCKING SKILLS</th>
                        <th colspan="7" class="col-group">DEFENSE SKILLS</th>
                        <th colspan="2" class="col-group">KICKING SKILLS</th>
                        <th colspan="4"></th>
                      </tr>
                      <tr>
                        <th>Rank</th>
                        <th>Stars</th>
                        <th>Name</th>
                        <th>Pos</th>
                        <th>OVR</th>
                        <th>% Scouted</th>
                        <th>Signed</th>

                        <th>% Lock</th>
                        <th>Interest in Team</th>
                        <th>Time Left</th>
                        <th>Offer Made</th>

                        <th>Ht.</th>
                        <th>Wt.</th>
                        <th>40 Time</th>
                        <th>Bench Press</th>
                        <th>Vert.</th>

                        <th>STR</th>
                        <th>AGI</th>
                        <th>SPD</th>
                        <th>ACC</th>
                        <th>STA</th>
                        <th>JMP</th>
                        <th>AWR</th>

                        <th>THP</th>
                        <th>TA(S)</th>
                        <th>TA(M)</th>
                        <th>TA(D)</th>
                        <th>ToR</th>
                        <th>TUP</th>
                        <th>PA</th>

                        <th>CAR</th>
                        <th>ELU</th>
                        <th>BC</th>
                        <th>BRK</th>

                        <th>CTH</th>
                        <th>CIT</th>
                        <th>ROU</th>
                        <th>REL</th>

                        <th>PassBlk</th>
                        <th>RunBlk</th>
                        <th>ImpBlk</th>

                        <th>PR</th>
                        <th>SHD</th>
                        <th>TCK</th>
                        <th>HP</th>
                        <th>MCov</th>
                        <th>ZCov</th>
                        <th>PRS</th>

                        <th>KckPow</th>
                        <th>KckAcc</th>


                        <th>Show</th>
                        <th>State</th>
                        <th>State</th>
                        <th>Stage</th>
                      </tr>
                    </thead>
                    <tbody>

                  </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      {% if SavedPlayers|length > 0%}
      <div class="tab-content" style='display:block;' id="nav-saved">
        {% else %}
        <div class="tab-content" style='display:none;' id="nav-saved">
        {% endif %}
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col l12 mw1200">
              <div class="w3-card">
                <div id="">
                  <table id='recruitingBoardTable' class='width100 w3-table w3-striped center-aligned-table recruiting-player-table' style='width: 100%;'>
                    <thead>
                      <tr>
                        <th colspan="7" class="col-group">PLAYER</th>
                        <th colspan="4" class="col-group">STATUS</th>
                        <th colspan="5">MEASURABLES</th>
                        <th colspan="7" class="col-group">PHYSICAL SKILLS</th>
                        <th colspan="7" class="col-group">PASSING SKILLS</th>
                        <th colspan="4" class="col-group">RUSHING SKILLS</th>
                        <th colspan="4" class="col-group">RECEIVING SKILLS</th>
                        <th colspan="3" class="col-group">BLOCKING SKILLS</th>
                        <th colspan="7" class="col-group">DEFENSE SKILLS</th>
                        <th colspan="2" class="col-group">KICKING SKILLS</th>
                        <th colspan="4"></th>
                      </tr>
                      <tr>
                        <th>Rank</th>
                        <th>Stars</th>
                        <th>Name</th>
                        <th>Pos</th>
                        <th>OVR</th>
                        <th>% Scouted</th>
                        <th>Signed</th>

                        <th>% Lock</th>
                        <th>Interest in Team</th>
                        <th>Time Left</th>
                        <th>Offer Made</th>

                        <th>Ht.</th>
                        <th>Wt.</th>
                        <th>40 Time</th>
                        <th>Bench Press</th>
                        <th>Vert.</th>

                        <th>STR</th>
                        <th>AGI</th>
                        <th>SPD</th>
                        <th>ACC</th>
                        <th>STA</th>
                        <th>JMP</th>
                        <th>AWR</th>

                        <th>THP</th>
                        <th>TA(S)</th>
                        <th>TA(M)</th>
                        <th>TA(D)</th>
                        <th>ToR</th>
                        <th>TUP</th>
                        <th>PA</th>

                        <th>CAR</th>
                        <th>ELU</th>
                        <th>BC</th>
                        <th>BRK</th>

                        <th>CTH</th>
                        <th>CIT</th>
                        <th>ROU</th>
                        <th>REL</th>

                        <th>PassBlk</th>
                        <th>RunBlk</th>
                        <th>ImpBlk</th>

                        <th>PR</th>
                        <th>SHD</th>
                        <th>TCK</th>
                        <th>HP</th>
                        <th>MCov</th>
                        <th>ZCov</th>
                        <th>PRS</th>

                        <th>KckPow</th>
                        <th>KckAcc</th>


                        <th>Show</th>
                        <th>State</th>
                        <th>State</th>
                        <th>Stage</th>
                      </tr>
                    </thead>
                    <tbody>

                  </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>
        </div>      </div>
      <div class="tab-content" style='display:none;' id="nav-ranking">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s6">
              <div class="w3-card">

                <table id='recruitingNationalRankingTable' class='w3-table-all'>
                  <thead>
                    <th>
                      Rank
                    </th>
                    <th>
                      Team
                    </th>
                    <th>
                      5*
                    </th>
                    <th>
                      4*
                    </th>
                    <th>
                      3*
                    </th>
                    <th>
                      2*
                    </th>
                    <th>
                      1*
                    </th>
                    <th>
                      Total
                    </th>

                  </thead>
                  {% for Team in RecruitingRankings %}
                  <tr>
                    <td data-value='{{Team.RecruitingRank}}'>{{Team.RecruitingRank}}</td>
                    <td>
                      <a href='/World/{{page.WorldID}}/Team/{{Team.TeamID}}'>
                        <img class='recruitingCommitTeamLogo' src='{{Team.TeamID__TeamLogoURL}}' alt=''>
                        {{Team.TeamID__TeamName}}
                      </a>
                    </td>
                    <td style='{{Team.RecruitsSignedStyle5}}'>{{Team.RecruitsSigned5}}</td>
                    <td style='{{Team.RecruitsSignedStyle4}}'>{{Team.RecruitsSigned4}}</td>
                    <td style='{{Team.RecruitsSignedStyle3}}'>{{Team.RecruitsSigned3}}</td>
                    <td style='{{Team.RecruitsSignedStyle2}}'>{{Team.RecruitsSigned2}}</td>
                    <td style='{{Team.RecruitsSignedStyle1}}'>{{Team.RecruitsSigned1}}</td>
                    <td>{{Team.RecruitsSigned}}</td>
                  </tr>
                  {% endfor %}
                  <tfoot>
                    <th>
                      Rank
                    </th>
                    <th>
                      Team
                    </th>
                    <th>
                      5*
                    </th>
                    <th>
                      4*
                    </th>
                    <th>
                      3*
                    </th>
                    <th>
                      2*
                    </th>
                    <th>
                      1*
                    </th>
                    <th>
                      Total
                    </th>
                  </tfoot>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-team-needs">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col l12 mw800">
              <div class="w3-card">

                <table id='recruitingTeamNeedsTable' class='w3-table-all'>
                  <thead>
                    <tr class='center-text-row'>
                      <th colspan="6" class=' col-group'>THIS YEAR</th>
                      <th colspan="5">NEXT YEAR</th>
                    </tr>
                    <tr class='center-text-row'>
                      <th class=' left-text'>Pos</th>
                      <th>FR</th>
                      <th>SO</th>
                      <th>JR</th>
                      <th>SR</th>
                      <th class=' col-group'>TOT</th>
                      <th class=' left-text'>Pos</th>
                      <th>Returning</th>
                      <th>Targets</th>
                      <th>Commits</th>
                      <th>Need</th>
                    </tr>

                  </thead>
                  {% for TSP in TeamNeeds %}
                  <tr class='center-text-row'>
                    <td class='bold left-text'>{{TSP.PositionID.PositionAbbreviation}}</td>
                    <td class='{%if TSP.FreshmanPlayerCount == 0%}opacity-0{%endif%}'>{{TSP.FreshmanPlayerCount}}</td>
                    <td class='{%if TSP.SophomorePlayerCount == 0%}opacity-0{%endif%}'>{{TSP.SophomorePlayerCount}}</td>
                    <td class='{%if TSP.JuniorPlayerCount == 0%}opacity-0{%endif%}'>{{TSP.JuniorPlayerCount}}</td>
                    <td class='{%if TSP.SeniorPlayerCount == 0%}opacity-0{%endif%}'>{{TSP.SeniorPlayerCount}}</td>
                    <td class='{%if TSP.CurrentPlayerCount == 0%}opacity-0{%endif%} col-group'>{{TSP.CurrentPlayerCount}}</td>
                    <td class='bold left-text {% if TSP.Year1PlayersNeeded > 0%}alert-row{%endif%}'>{{TSP.PositionID.PositionAbbreviation}}</td>
                    <td class='{% if TSP.Year1PlayersNeeded > 0%}alert-row{%endif%}'>{{TSP.Year1PlayersOnRoster}}</td>
                    <td class='{%if TSP.CurrentPlayerCount == 0%}opacity-0{%endif%} {% if TSP.Year1PlayersNeeded > 0%}alert-row{%endif%}'>0</td>
                    <td class='{%if TSP.CurrentPlayerCount == 0%}opacity-0{%endif%} {% if TSP.Year1PlayersNeeded > 0%}alert-row{%endif%}'>{{TSP.CommitCount}}</td>
                    <td class='{%if TSP.Year1PlayersNeeded == 0%}opacity-0 {%else%} bold {%endif%}  {% if TSP.Year1PlayersNeeded > 0%}alert-row{%endif%}'>{{TSP.Year1PlayersNeeded}}</td>
                  </tr>
                  {% endfor %}
                  <tfoot class='bold center-text-row'>
                    <tr>
                      <td class=' left-text'>Totals</td>
                      <td class='{%if TeamNeedsTotals.FreshmanPlayerCount__sum == 0%}opacity-0{%endif%}'>{{TeamNeedsTotals.FreshmanPlayerCount__sum}}</td>
                      <td class='{%if TeamNeedsTotals.SophomorePlayerCount__sum == 0%}opacity-0{%endif%}'>{{TeamNeedsTotals.SophomorePlayerCount__sum}}</td>
                      <td class='{%if TeamNeedsTotals.JuniorPlayerCount__sum == 0%}opacity-0{%endif%}'>{{TeamNeedsTotals.JuniorPlayerCount__sum}}</td>
                      <td class='{%if TeamNeedsTotals.SeniorPlayerCount__sum == 0%}opacity-0{%endif%}'>{{TeamNeedsTotals.SeniorPlayerCount__sum}}</td>
                      <td class='{%if TeamNeedsTotals.CurrentPlayerCount__sum == 0%}opacity-0{%endif%} col-group'>{{TeamNeedsTotals.CurrentPlayerCount__sum}}</td>
                      <td class='bold left-text'>Needs</td>
                      <td>{{TeamNeedsTotals.Year1PlayersOnRoster__sum}}</td>
                      <td class=' '>0</td>
                      <td class=' '>{{TeamNeedsTotals.CommitCount__sum}}</td>
                      <td class='{%if TeamNeedsTotals.Year1PlayersNeeded__sum == 0%}opacity-0 {%else%} bold {%endif%}'>{{TeamNeedsTotals.Year1PlayersNeeded__sum}}</td>
                    </tr>
                  </tfoot>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="RecruitingModal" class="w3-modal" style='padding-top: 20px;'>
      <div class="w3-modal-content" style='    box-shadow: 0px 0px 50px 1px rgba(0,0,0,.5);'>
        <div class="w3-row-padding">
          <div class="w3-col l4">
            <div class="" data-field='player-name'>

            </div>
            <div class="">
              Recruiting
            </div>
          </div>
          <div class="w3-col l4">
            <div class="" data-field='this-player-time-remaining'>

            </div>
            <div class="">
              This Player
            </div>
          </div>
          <div class="w3-col l4">
            <div class="" data-field='all-players-time-remaining'>

            </div>
            <div class="">
              All Players
            </div>
          </div>

        </div>
        <nav>
          <div class="w3-bar recruiting-call-bar" id="recruiting-nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
            <button class="w3-bar-item w3-button tab recruiting-nav-tab-button selected-tab" id="recruiting-nav-pitch-tab" style="background-color: #{{page.SecondaryColor}};">Pitch Player</button>
            <button class="w3-bar-item w3-button tab recruiting-nav-tab-button" id="recruiting-nav-promise-tab">Make a Promise</button>
            <button class="w3-bar-item w3-button tab recruiting-nav-tab-button" id="recruiting-nav-offer-tab">Offer Scholarship</button>
            <button class="w3-bar-item w3-button tab recruiting-nav-tab-button" id="recruiting-nav-visit-tab">Schedule Visit</button>
            <div class="w3-right w3-button close-modal">
              &times;
            </div>
          </div>
        </nav>
        <div id="recruiting-nav-tabContent">
          <div class="recruiting-tab-content" style='display:block;' id="recruiting-nav-pitch">
            <table class='w3-table-all player-pitch-table'>
              <thead>
                <tr>
                  <th>Pitch</th>
                  <th>Player Interest</th>
                  <th>Team Rating</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <div class="recruiting-tab-content" style='display:none;' id="recruiting-nav-promise">
            <span>Make Promise</span>
            <span></span>
          </div>
          <div class="recruiting-tab-content" style='display:none;' id="recruiting-nav-offer">
            <span>Offer Scholarship</span>
            <span>
              <button type="button" name="button">Offer</button>
            </span>
          </div>
          <div class="recruiting-tab-content" style='display:none;' id="recruiting-nav-visit">
            <select class="w3-select" name="">
              <option value="" disabled selected>Choose a week for visit</option>
              <option value="">Week 1</option>
              <option value="">Week 2</option>
              <option value="">Week 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>


{% include "HeadFootballCoach/ext_CommonScripts.html" %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>

<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.select.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.searchPanes.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedColumns.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'Pages/Recruiting.js' %}" type="module"></script>

{{ Players|json_script:"recruiting-player-data" }}
{{ SavedPlayers|json_script:"recruiting-saved-players-data" }}
