{% include "HeadFootballCoach/ext_NavBar.html" %}
{% load static %}

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" PlayerID="{{player.PlayerID}}" style='display:none;' id='PageDataPassthru'></div>
<body>
  <div class="PageContent">
    <h2>
      <img class='teamTeamLogo' src='/static/img/TeamLogos/{{team.LogoURL}}.png' alt="My image">
      <span class='teamSchoolName'>Recruiting</span>

    </h2>


    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-saved-tab">Saved Players</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-ranking-tab">National Ranking</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-boxscore-tab">Box Score</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-boxscore-tab">Box Score</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s8">
              <div class="w3-card">
                <div id="">
                  <table id='recruitingMainTable' class='width100'>
                    <thead>
                      <th>Rank</th>
                      <th></th>
                      <th>Name</th>
                      <th>Pos</th>
                      <th>Ht.</th>
                      <th>Wt.</th>
                      <th>Int</th>
                      <th>Ath</th>
                      <th>Skill</th>
                      <th>OVR</th>
                      <th>Signed</th>
                    </thead>
                    <tbody>

                    {% for player in Players %}

                    <tr class="">
                      <td class="recruiting-player-rank">
                        {{player.Recruiting_NationalRank}}
                      </td>
                      <td class="" PlayerFaceJson="{{player.PlayerFaceJson|safe}}" HasPlayerFaceJSON="{%if player.PlayerFaceJson|length > 0%}1{%else%}0{%endif%}">

                        <div class="PlayerFaceDisplay" id="PlayerFaceDisplay{{player.PlayerID}}" style='height: 70px;width: 40px;'></div>
                      </td>
                      <td class="text-left">
                        <div class="recruiting-player-name font16">
                          <a  href="/World/{{page.WorldID}}/Player/{{player.PlayerID}}">
                            {{player.FullName}}
                          </a>
                        </div>
                        <div class="recruiting-player-city font10">{{player.CityID.CityName}}, {{player.CityID.StateID.StateAbbreviation}} </div>
                      </td>
                      <td class=>
                        <div class="section font16">
                          <span>{{player.PositionID.PositionAbbreviation}}</span>
                        </div>
                        <div class="font10">
                          <span>Balanced</span>
                        </div>
                      </td>
                      <td class='font16'>
                          <span>{{player.HeightFormatted}}</span>
                      </td>
                      <td class='font16'>
                          <span>{{player.WeightFormatted}}</span>
                      </td>
                      <td class=>
                        <div class="section font16">
                          <span>B+</span>
                        </div>
                        <div class="font10">
                          <span>Intelligence</span>
                        </div>
                      </td>
                      <td class=>
                        <div class="section font16">
                          <span>A-</span>
                        </div>
                        <div class="font10">
                          <span>Athleticism</span>
                        </div>
                      </td>
                      <td class=>
                        <div class="section font16">
                          <span>B</span>
                        </div>
                        <div class="font10">
                          <span>Passing</span>
                        </div>
                      </td>
                      <td class=>
                        <div class="section font16">
                          <span>{{player.RecruitingStars}} *</span>
                          <span>{{player.OverallRating}} OVR</span>
                        </div>
                        <div class="font10">
                          <span class='dot'>Natl {{player.Recruiting_NationalRank}}</span>
                          <span class='dot'>State {{player.Recruiting_StateRank}}</span>
                          <span>Pos {{player.Recruiting_NationalPositionalRank}}</span>
                        </div>
                      </td>
                      <td class="ratings">

                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  </table>
                </div>
              </div>

            </div>
            <div class="w3-col s3">
              <div class="w3-card">
                <div class="">
                  <div class="">
                    <label for="PlayerHeightSliderValue">Player Height:</label>
                    <input type="text" id="PlayerHeightSliderValue" readonly style="border:0; color:charcoal; font-weight:bold; width:inherit;">
                  </div>
                  <div class="w3-margin" id='PlayerHeightSlider'>
                  </div>
                </div>
                <div class="">
                  <div class="">
                    <label for="PlayerOverallSliderValue">Player Overall:</label>
                    <input type="text" id="PlayerOverallSliderValue" readonly style="border:0; color:charcoal; font-weight:bold; width:inherit;">
                  </div>
                  <div class="w3-margin" id='PlayerOverallSlider'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-saved">
        <div class='container'>
          <div class='row'>
            <div class='col-12'>
              <table id='recruitingTeamRecruitTable' class="table table-striped sortable">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">#</th>
                    <th scope="col">Position</th>
                    <th scope="col">Height</th>
                    <th scope="col">Class</th>
                    <th scope="col">Overall</th>
                    <th scope="col" data-defaultsort="asc">Potential</th>
                    <th scope="col" data-defaultsort="asc">MPG</th>
                    <th scope="col" data-defaultsort="asc">PPG</th>
                    <th scope="col" data-defaultsort="asc">RPG</th>
                    <th scope="col" data-defaultsort="asc">APG</th>
                    <th scope="col" data-defaultsort="asc">ORTG</th>
                    <th scope="col" data-defaultsort="asc">DRTG</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in players %}
                  <tr>
                    <a href='/World/{{page.WorldID}}/Player/{{ player.PlayerID }}/'>
                      <td data-value='{{player.PlayerLastName}}'>{{ player.FullName }}</td>
                    </a>
                    <td>{{player.JerseyNumber}}</td>
                    <td data-value='{{player.PositionSortOrder}}'>{{player.Position}}</td>
                    <td data-value='{{player.Height}}'>{{player.HeightFormatted}}</td>
                    <td data-value='{{player.ClassSortOrder}}'>{{player.Class}}</td>
                    <td>{{player.OverallRating}}</td>
                    <td>{{player.PotentialRating}}</td>
                    <td>{{player.MPG}}</td>
                    <td>{{player.PPG}}</td>
                    <td>{{player.RPG}}</td>
                    <td>{{player.APG}}</td>
                    <td>{{player.ORTG}}</td>
                    <td>{{player.DTRG}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-ranking">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s6">
              <div class="w3-card">

                <table id='recruitingNationalRankingTable' class='w3-table-all'>
                  <thead>
                    <th>
                      Rank
                    </th>
                    <th>
                      Team
                    </th>
                    <th>
                      5*
                    </th>
                    <th>
                      4*
                    </th>
                    <th>
                      3*
                    </th>
                    <th>
                      2*
                    </th>
                    <th>
                      1*
                    </th>
                    <th>
                      Total
                    </th>

                  </thead>
                  {% for Team in RecruitingRankings %}
                  <tr>
                    <td data-value='{{Team.RecruitingRank}}'>{{Team.RecruitingRank}}</td>
                    <td>
                      <a href='/World/{{page.WorldID}}/Team/{{Team.TeamID}}'>
                        <img class='recruitingCommitTeamLogo' src='{{Team.TeamID__TeamLogoURL}}' alt=''>
                        {{Team.TeamID__TeamName}}
                      </a>
                    </td>
                    <td style='{{Team.RecruitsSignedStyle5}}'>{{Team.RecruitsSigned5}}</td>
                    <td style='{{Team.RecruitsSignedStyle4}}'>{{Team.RecruitsSigned4}}</td>
                    <td style='{{Team.RecruitsSignedStyle3}}'>{{Team.RecruitsSigned3}}</td>
                    <td style='{{Team.RecruitsSignedStyle2}}'>{{Team.RecruitsSigned2}}</td>
                    <td style='{{Team.RecruitsSignedStyle1}}'>{{Team.RecruitsSigned1}}</td>
                    <td>{{Team.RecruitsSigned}}</td>
                  </tr>
                  {% endfor %}
                  <tfoot>
                    <th>
                      Rank
                    </th>
                    <th>
                      Team
                    </th>
                    <th>
                      5*
                    </th>
                    <th>
                      4*
                    </th>
                    <th>
                      3*
                    </th>
                    <th>
                      2*
                    </th>
                    <th>
                      1*
                    </th>
                    <th>
                      Total
                    </th>
                  </tfoot>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-analytics" role="tabpanel" aria-labelledby="nav-profile-tab">
        Analytics Window
        <div id="map" style="width: 930px; height: 630px; border: solid 3px red;"></div>
      </div>
      <div class="tab-pane fade" id="nav-coaches" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class='container'>
          <div class='row'>
            <div class='col-1'></div>
            <div class='col-10'>
              <article>
                <header>
                  Head Coach
                </header>
                {{HC.CoachFirstName}} {{HC.CoachLastName}}
              </article>
            </div>
            <div class='col-1'></div>
          </div>
          <div class='row'>
            <div class='col-1'></div>
            <div class='col-5'>{{AHC.CoachFirstName}} {{AHC.CoachLastName}}</div>
            <div class='col-5'>{{AC.CoachFirstName}} {{AC.CoachLastName}}</div>
            <div class='col-1'></div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class='container'>
          <div class='row'>
            <div class='col-1'></div>
            <div class='col-10'>History</div>
            <div class='col-1'></div>
          </div>
          <div class='row'>
            <div class='col-1'></div>
            <div class='col-5'>History #1</div>
            <div class='col-5'>History #2</div>
            <div class='col-1'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>




{% include "HeadFootballCoach/ext_CommonScripts.html" %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/bootstrap-sortable.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'Pages/Recruiting.js' %}" type="module"></script>
