<div>
  {% include "HeadFootballCoach/NavBar.html" %}
</div>
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">


<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>


<body>
  <div class="PageContent">
    <div class='worldHeader'>
      <div class='worldHeaderStatsBox' style='border-color:{{playerTeam.TeamColor_Primary_HEX}}'>
        <div class="playerHeaderStatsHeader" style="background-color:{{playerTeam.TeamColor_Primary_HEX}}">{{currentSeason.LeagueSeasonDisplay}} Stat Leaders</div>
        <div class='playerHeaderStats'>
          <div>
            <div class='w3-display-container'>
              <div class='w3-row playerHeaderStatsHeaderRowLine'>
                <div class='w3-col s4 playerHeaderStatsHeaderRow'>Points</div>
                <div class='w3-col s4 playerHeaderStatsHeaderRow'>Rebounds</div>
                <div class='w3-col s4 playerHeaderStatsHeaderRow'>Assist</div>
              </div>
            </div>
          </div>
          <div>
            <div class='w3-display-container'>
              {% for leader in leaders %}
              <div class='w3-row playerHeaderStatsValueRowLine'>
                <div class='w3-col s4 playerHeaderStatsValueRow'>
                  <a href='/World/{{page.WorldID}}/Player/{{leader.PPG.PlayerID}}'>{{leader.PPG.PlayerID__PlayerFirstName}} {{leader.PPG.PlayerID__PlayerLastName}}</a>, <a
                    href='/World/{{page.WorldID}}/Team/{{leader.PPG.TeamSeasonID__TeamID_id}}'>{{leader.PPG.TeamSeasonID__TeamID__Abbreviation}}</a> - {{leader.PPG.PPG}}
                </div>
                <div class='w3-col s4 playerHeaderStatsValueRow'>
                  <a href='/World/{{page.WorldID}}/Player/{{leader.RPG.PlayerID}}'>{{leader.RPG.PlayerID__PlayerFirstName}} {{leader.RPG.PlayerID__PlayerLastName}}</a>, <a
                    href='/World/{{page.WorldID}}/Team/{{leader.RPG.TeamSeasonID__TeamID_id}}'>{{leader.RPG.TeamSeasonID__TeamID__Abbreviation}}</a> - {{leader.RPG.RPG}}
                </div>
                <div class='w3-col s4 playerHeaderStatsValueRow'>
                  <a href='/World/{{page.WorldID}}/Player/{{leader.APG.PlayerID}}'>{{leader.APG.PlayerID__PlayerFirstName}} {{leader.APG.PlayerID__PlayerLastName}}</a>, <a
                    href='/World/{{page.WorldID}}/Team/{{leader.APG.TeamSeasonID__TeamID_id}}'>{{leader.APG.TeamSeasonID__TeamID__Abbreviation}}</a> - {{leader.APG.APG}}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-conference-standings-tab">Conference Standings</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content show active" style="display:block;"  id="nav-overview">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s6">
              <div class="w3-card">
                <div class="w3-bar preseason-allamerican-team-bar" id="nav-tab-preseason-allamerican-team">
                  <div class="w3-bar-item fontweight500">Preseason All-Americans</div>
                  <button TeamSelection='First Team' class="w3-bar-item award-team-tab w3-button tab selected-season-award-team-tab" id="season-allamerican-team-firstteam-tab">First Team</button>
                  <button TeamSelection='Second Team' class="w3-bar-item award-team-tab w3-button tab" id="season-allamerican-team-secondteam-tab">Second Team</button>
                </div>
                <div class="w3-bar season-allamerican-conference-bar w3-margin-bottom" id="nav-tab-season-allamerican-conference">
                  {% for Conf in AllAmericans%}
                  <button ConferenceSelection="{{Conf.Conference.ConferenceID}}" class="w3-bar-item award-conference-tab w3-button tab {{Conf.ConferenceSelected}}" id="season-allamerican-conference-{{Conf.Conference.ConferenceID}}-tab">{{Conf.Conference.ConferenceAbbreviation}}</button>
                  {% endfor %}
                </div>
                <div class="list-group list-group-flush">
                  <table id='teamOverviewConferenceStandings'>
                    <thead class=''>
                      <th>Pos</th>
                      <th>Team</th>
                      <th>Player</th>
                    </thead>
                    {% for Conf in AllAmericans%}
                    {% for AwardTeam in Conf.Teams %}
                    {% for Award in AwardTeam.Team %}
                    <tr class='{{Conf.ShowConference}} {{AwardTeam.ShowTeam}} season-allamarican-row season-allamerican-conference-{{Conf.Conference.ConferenceID}} season-allamerican-team-{{AwardTeam.TeamName}}'>
                      <td>{{Award.PositionID.PositionAbbreviation}}</td>
                      <td>
                        <a href="/World/{{page.WorldID}}/Team/{{ Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamID }}/">
                          <img class='teamOverviewConferenceStandingsTeamLogo' src="{{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.LogoURL}}" />
                           {{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamName }}
                        </a>
                      </td>
                      <td><a href="/World/{{page.WorldID}}/Player/{{ Award.PlayerTeamSeasonID.PlayerID_id }}/">{{Award.PlayerTeamSeasonID.PlayerID.FullName}}</a>, {{Award.PlayerTeamSeasonID.PlayerID.Class}}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            <div class="w3-col  s4">
              <div class="w3-card">
              </div>
            </div>
            <div class="w3-col s3">
              <div class="w3-card">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content" style="display:none;" id="nav-conference-standings">
        <div class='w3-display-container' id='ConferenceStandingTabContainer'>
          <div class='w3-row-padding w3-hide' id='ConferenceStandingTableClone'>
            <div class='w3-col s10'>
              <span data-field='ConferenceName'></span>
              <table class="w3-table w3-table-all">
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-team-stats">
        <div class='w3-display-container' id='TeamStatsTabContainer'>
          <div class='w3-row-padding w3-hide' id='TeamStatsTableClone'>
            <div class='w3-col s10'>
              <table class="w3-table w3-table-all">
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-award-races">
        <div class='w3-display-container' id='AwardRacesTabContainer'>
          <div class='w3-row-padding w3-hide' id='AwardRacesTableClone'>
            <div class='w3-col s10'>
              <table class="w3-table w3-table-all">
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-schedule">
        <div class="w3-display-container">
          <div class="w3-row">
            <div class="w3-col s6">
              <div class="card">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'Pages/Season.js' %}"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
