<div>
  {% include "HeadFootballCoach/ext_NavBar.html" %}
</div>
{% load static %}
{% load humanize %}
{% load CustomTags %}



<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/rowGroup.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/fixedHeader.dataTables.min.css' %}">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">


<head>
  <style id="addedStyle">
    .w3-button.dt-button {
      border: 2px solid #{{page.PrimaryColor}} !important;
      background-color: white !important;
      color: #{{page.PrimaryColor}} !important;
      background-image: none !important;
      font-weight: 500;
      font-size: 14px!important;
    }

    .w3-button.dt-button:hover {
      box-shadow: 0px 2px 12px #{{page.PrimaryColor}};
      border: 3px solid #{{page.PrimaryColor}};
    }

    table, tbody {
      overflow: visible;
    }

    .draggable {
      cursor:move;
    }
  </style>
</head>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>


<body>
  <div class="PageContent">
    {% include "HeadFootballCoach/ext_TeamHeader.html" %}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        {% for PositionGroup in PositionGroups%}
        {% if forloop.counter == 1%}
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-{{PositionGroup.PositionGroupName}}-tab" style="background-color: #{{page.SecondaryColor}};">{{PositionGroup.PositionGroupName}}</button>
        {% else %}
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-{{PositionGroup.PositionGroupName}}-tab">{{PositionGroup.PositionGroupName}}</button>
        {% endif %}
        {% endfor %}
        {% include "HeadFootballCoach/ext_TeamList.html" %}
      </div>
    </nav>
    <div id="nav-tabContent">
      {% for PositionGroup in PositionGroups%}
      {% if forloop.counter == 1%}
      <div class="tab-content" style="display:block;"  id="nav-{{PositionGroup.PositionGroupName}}">
      {% else %}
      <div class="tab-content" style="display:none;"  id="nav-{{PositionGroup.PositionGroupName}}">
      {% endif %}
          <div class='w3-display-container'>
            <div class='w3-row-padding'>
              <div class="w3-col s5"   style='overflow-y: scroll; height: 70vh; overflow: visible;'>
                {% for Position in PositionGroup.Positions%}
                <div class=" w3-card">
                  <span class='table_title'>
                    {{Position.PositionName}}
                  </span>
                  <ul class='no-list-style'>
                    <li class="font12">{{Position.StarterCount}} Starters</li>
                    <li class="font12">{{Position.BenchCount}} Bench spots</li>
                  </ul>
                  <table class='width100 margin-bottom-24 player-list-table'>
                    <thead>
                      <tr>
                        <th></th>
                        <th>Player Name</th>
                        <th>Player Pos</th>
                        <th>OVR</th>
                        <th>Accuracy (S)</th>
                        <th>Accuracy (M)</th>
                        <th>Accuracy (D)</th>
                        <th>Thr Pow</th>
                        <th>Thr on Run</th>
                        <th>BCV</th>
                        <th>ELU</th>
                        <th>BRT</th>
                        <th>CAR</th>
                        <th>PBL</th>
                        <th>CAT</th>
                        <th>CIT</th>
                        <th>REL</th>
                        <th>RR</th>
                        <th>JMP</th>
                      </tr>
                    </thead>
                    <tbody class="player-list hidden-overflow width100" PositionAbbreviation="{{Position.PositionAbbreviation}}" StarterCount="{{Position.StarterCount}}" BenchCount="{{Position.BenchCount}}">

                      {% for Player in Position.InDepthChart%}
                      <tr class="ui-state-default draggable ui-sortable {{Player.StarterClass}}" playerid='{{Player.PlayerID}}' position='{{Player.PositionID__PositionAbbreviation}}''>
                        <td><i class="fas fa-arrows-alt font10"></i></td>
                        <td>{{Player.PlayerName}}</td>
                        <td>{{Player.PlayerPosition}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__OverallRating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__ShortThrowAccuracy_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__MediumThrowAccuracy_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__DeepThrowAccuracy_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__ThrowPower_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__ThrowUnderPressure_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__BallCarrierVision_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__Elusiveness_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__BreakTackle_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__Carrying_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__PassBlock_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__Catching_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__CatchInTraffic_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__Release_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__RouteRunning_Rating}}</td>
                        <td>{{Player.PlayerTeamSeasonID__PlayerID__playerseasonskill__Jumping_Rating}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endfor %}
              </div>
                <div class="w3-col w3-card s5" style='overflow-y: scroll; height: 70vh; overflow: visible;'>
                  <span class='table_title'>Available Players</span>
                  <table class='width100 AvailablePlayerList'>
                    <thead>
                      <tr>
                        <th></th>
                        <th>Player Name</th>
                        <th>Player Position</th>
                        <th>OVR</th>
                        <th>Accuracy (S)</th>
                        <th>Accuracy (M)</th>
                        <th>Accuracy (D)</th>
                        <th>Thr Pow</th>
                        <th>Thr on Run</th>
                        <th>BCV</th>
                        <th>ELU</th>
                        <th>BRT</th>
                        <th>CAR</th>
                        <th>PBL</th>
                        <th>CAT</th>
                        <th>CIT</th>
                        <th>REL</th>
                        <th>RR</th>
                        <th>JMP</th>
                      </tr>
                    </thead>
                    <tbody class="player-list original-list width100">
                      {% for Player in PositionGroup.AvailablePlayers%}
                      <tr class="ui-state-default draggable ui-sortable" playerid='{{Player.PlayerID}}' position='{{Player.PositionID__PositionAbbreviation}}''>
                        <td><i class="fas fa-arrows-alt font10"></i></td>
                        <td>{{Player.PlayerName}}</td>
                        <td>{{Player.PositionID__PositionAbbreviation}}</td>
                        <td>{{Player.playerseasonskill__OverallRating}}</td>
                        <td>{{Player.playerseasonskill__ShortThrowAccuracy_Rating}}</td>
                        <td>{{Player.playerseasonskill__MediumThrowAccuracy_Rating}}</td>
                        <td>{{Player.playerseasonskill__DeepThrowAccuracy_Rating}}</td>
                        <td>{{Player.playerseasonskill__ThrowPower_Rating}}</td>
                        <td>{{Player.playerseasonskill__ThrowUnderPressure_Rating}}</td>
                        <td>{{Player.playerseasonskill__BallCarrierVision_Rating}}</td>
                        <td>{{Player.playerseasonskill__Elusiveness_Rating}}</td>
                        <td>{{Player.playerseasonskill__BreakTackle_Rating}}</td>
                        <td>{{Player.playerseasonskill__Carrying_Rating}}</td>
                        <td>{{Player.playerseasonskill__PassBlock_Rating}}</td>
                        <td>{{Player.playerseasonskill__Catching_Rating}}</td>
                        <td>{{Player.playerseasonskill__CatchInTraffic_Rating}}</td>
                        <td>{{Player.playerseasonskill__Release_Rating}}</td>
                        <td>{{Player.playerseasonskill__RouteRunning_Rating}}</td>
                        <td>{{Player.playerseasonskill__Jumping_Rating}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

<script src="{% static 'common/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'common/jquery.min.js' %}"></script>
<script src="{% static 'common/js.cookie.min.js' %}"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="{% static 'common/jquery-ui.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.select.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.rowGroup.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.searchPanes.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/buttons.colVis.min.js' %}"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'Pages/TeamDepthChart.js' %}"></script>
<script src="{% static 'common/popper.min.js' %}"></script>
