{% include "HeadFootballCoach/ext_NavBar.html" %}
{% load static %}
{% load CustomTags %}
{% load humanize %}

<div WorldID="{{page.WorldID}}" TeamJerseyInvert="{{page.TeamJerseyInvert}}" TeamJerseyStyle="{{page.TeamJerseyStyle}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}"  SecondaryJerseyColor="{{page.SecondaryJerseyColor}}" TeamID="{{ThisTeamSeason.TeamID.TeamID}}" style='display:none;'
  id='PageDataPassthru'></div>

<head>
  <style id="addedStyle">
    .SelectedGameBox::after {
      border-left-width: 35px;
      border-right-width: 35px;
      border-width: 15px 35px 0;}

  </style>

</head>

{% include "HeadFootballCoach/ext_TeamColoring.html" %}


<link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<body>
  <div class="PageContent">
    {% include "HeadFootballCoach/ext_TeamHeader.html" %}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-info-tab">Team Info</button>
        {% include "HeadFootballCoach/ext_TeamList.html" %}
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview">
        {% if games|length > 0%}
        <div class="w3-display-container w3-margin-bottom">
          <div class="w3-row-padding">
            <div class="w3-col l8 m12 w3-display-container">
              <div class="w3-row">
                <div class="w3-card w3-light-grey w3-col s12">

                  <div class="w3-row teamScheduleBar w3-white equal-sized-item-container">
                    {% for game in games%}
                    <div BoxScoreGameID="{{game.GameID.GameID}}" class="equal-sized-item teamScheduleGameBox w3-display-container {{game.SelectedGameBox}}">
                      <div class="teamScheduleGameBoxShortDate ellipsis" style='background-color: #{{game.Opponent.TeamColor_Primary_HEX}}'>{{game.Week}}</div>
                      <div class="equal-sized-item-container">
                        <img class='teamScheduleOpponentLogo centered-item' src='{{game.OpponentLogoURL}}' />
                      </div>

                      <div class="width100">
                        <a href="/World/{{page.WorldID}}/Team/{{game.Opponent.TeamID}}">
                          <div class='teamScheduleGameBoxVsString hide-small'>{{game.VsString}}</div>
                          <div class='teamScheduleGameBoxVsString show-small'>{{game.Opponent.Abbreviation}}</div>
                        </a>
                        <div class="teamScheduleGameBoxResult">
                          <div class="teamGameResultLetter{{game.GameResultLetter}}">{{game.GameResultLetter}}</div>
                          <a href="{{game.GameHref}}" class='hide-small'>{{game.GameDisplay}}</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="w3-row teamScheduleGameDashboard w3-display-container w3-light-grey">
                    {% for game in games%}
                    <div BoxScoreGameID="{{game.GameID.GameID}}" class="teamScheduleGameDashboardGameDisplay w3-display-middle w3-col l12 mw600 w3-display-container w3-white w3-border w3-border-grey w3-hide">
                      <div class="w3-col l7 m12 s12 height100 w3-display-container">
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.AwayTeam.TeamColor_Primary_HEX}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetTop w3-white w3-display-topmiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoTop w3-display-middle' src='{{game.AwayTeam.LogoURL}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.HomeTeam.TeamColor_Primary_HEX}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetBottom w3-white w3-display-bottommiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoBottom w3-display-middle' src='{{game.HomeTeam.LogoURL}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameDisplayTeams w3-col w3-hide  s12 w3-display-container w3-display-topmiddle">
                          <div class=" w3-display-container">
                            <span class='w3-display-right font10 padBottom20'>{{game.Week}}</span>
                          </div>
                          <div class=" w3-display-container">
                            <span class='font10'>{{game.AwayTeamRankDisplay}}</span>
                            <span class='font17 {{game.AwayTeamWinningGameBold}}'><a href="/World/{{page.WorldID}}/Team/{{game.AwayTeam.TeamID}}">{{game.AwayTeam.TeamName}}</a></span>
                            <span class='font10'>{{game.AwayTeamRecord}}</span>
                            <span class='w3-display-right {{game.AwayTeamWinningGameBold}}'>{{game.AwayPoints}}</span>
                          </div>
                          <div class=" w3-display-container">
                            <span class='font10'>{{game.HomeTeamRankDisplay}}</span>
                            <span class='font17 {{game.HomeTeamWinningGameBold}}'><a href="/World/{{page.WorldID}}/Team/{{game.HomeTeam.TeamID}}">{{game.HomeTeam.TeamName}}</a></span>
                            <span class='font10'>{{game.HomeTeamRecord}}</span>
                            <span class='w3-display-right {{game.HomeTeamWinningGameBold}}'>{{game.HomePoints}}</span>

                          </div>
                        </div>
                        <div class="teamScheduleGameDashboardGameDisplayTeams w3-col s12 w3-display-container w3-display-topmiddle">
                          <table class='width100 left-text'>
                            <tbody>
                              <tr>
                                <td colspan="1" ></td>
                                <td colspan="3" class='font10'>{{game.Week}}</td>
                              </tr>
                              <tr>
                                <td class='font10'>{{game.AwayTeamRankDisplay}}</td>
                                <td class='font17 {{game.AwayTeamWinningGameBold}}'>
                                  <a href="/World/{{page.WorldID}}/Team/{{game.AwayTeam.TeamID}}">
                                    {{game.AwayTeam.TeamName}}
                                  </a>
                                  <span class='font10'>{{game.AwayTeamRecord}}</span>
                                </td>
                                <td class='{{game.AwayTeamWinningGameBold}} font16'>{{game.AwayPoints}}</td>
                              </tr>
                              <tr>
                                <td class='font10'>{{game.HomeTeamRankDisplay}}</td>
                                <td class=''>
                                  <a href="/World/{{page.WorldID}}/Team/{{game.HomeTeam.TeamID}}" class='font17 {{game.HomeTeamWinningGameBold}}'>
                                    {{game.HomeTeam.TeamName}}
                                  </a>
                                  <span class='font10'>{{game.HomeTeamRecord}}</span>
                                </td>
                                <td class='{{game.HomeTeamWinningGameBold}} font16'>{{game.HomePoints}}</td>
                              </tr>
                            </tbody>
                          </table>

                        </div>

                        <div class="w3-display-bottomleft teamScheduleGameDashboardGameDisplayBoxScoreText">
                          <a href="/World/{{page.WorldID}}/Game/{{game.GameID.GameID}}">
                            Box Score
                          </a>
                        </div>
                      </div>
                      <div class="w3-col w3-display-container l5 m12 height100">
                        <div class="w3-bar boxscore-bar" id="nav-tab-{{game.GameID.GameID}}">
                          <button TeamID="{{game.HomeTeam.TeamID}}" GameID="{{game.GameID.GameID}}" class="w3-bar-item boxscore-tab w3-button tab selected-boxscore-tab" id="boxscore-hometeam-tab">{{game.HomeTeam.Abbreviation}}</button>
                          <button TeamID="{{game.AwayTeam.TeamID}}" GameID="{{game.GameID.GameID}}" class="w3-bar-item boxscore-tab w3-button tab" id="boxscore-awayteam-tab">{{game.AwayTeam.Abbreviation}}</button>
                        </div>
                        <div class="w3-display-container">
                          {% if game.WasPlayed == 1%}
                          <div TeamID="{{game.HomeTeam.TeamID}}" GameID="{{game.GameID.GameID}}" class="w3-display-container team-highlights w3-light-grey height100 selected-boxscore">
                            {% for Player in game.HomePlayers %}
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{Player.PlayerTeamSeasonID.PlayerID.PlayerID}}">{{Player.PlayerTeamSeasonID.PlayerID.PlayerFirstName}} {{Player.PlayerTeamSeasonID.PlayerID.PlayerLastName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{Player.PlayerTeamSeasonID.PlayerID.PositionID.PositionAbbreviation}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{Player.TopStatStringDisplay1}}</span>
                                {%if Player.TopStatStringDisplay2%}and <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{Player.TopStatStringDisplay2}}</span>{% endif %}
                              </div>
                            </div>
                            {% endfor %}

                          </div>
                          <div TeamID="{{game.AwayTeam.TeamID}}" GameID="{{game.GameID.GameID}}" class="w3-display-container team-highlights w3-light-grey w3-hide height100">
                            {% for Player in game.AwayPlayers %}
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{Player.PlayerTeamSeasonID.PlayerID.PlayerID}}">{{Player.PlayerTeamSeasonID.PlayerID.PlayerFirstName}} {{Player.PlayerTeamSeasonID.PlayerID.PlayerLastName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{Player.PlayerTeamSeasonID.PlayerID.PositionID.PositionAbbreviation}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{Player.TopStatStringDisplay1}}</span>
                                {%if Player.TopStatStringDisplay2%}and <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{Player.TopStatStringDisplay2}}</span>{% endif %}
                              </div>
                            </div>
                            {% endfor %}

                          </div>
                          {% else %}
                          <div  TeamID="{{game.HomeTeam.TeamID}}" GameID="{{game.GameID.GameID}}" class="w3-display-container team-highlights w3-light-grey height100 selected-boxscore">
                            {% for Stat in game.HomeTeamStats%}
                              <div class="">

                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'>{{Stat.Header}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{Stat.Display}}</span>
                              </div>
                            </div>

                            {% endfor %}
                          </div>
                          <div  TeamID="{{game.AwayTeam.TeamID}}" GameID="{{game.GameID.GameID}}" class="w3-display-container team-highlights w3-light-grey height100 selected-boxscore">
                            {% for Stat in game.AwayTeamStats%}
                              <div class="">

                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'>{{Stat.Header}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{Stat.Display}}</span>
                              </div>
                            </div>

                            {% endfor %}
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
              {% if teamLeaders|length > 0%}
              <div class="w3-row w3-margin-top">
                <div class="w3-col s12">
                  <div class="w3-card">
                    <div class="w3-bar team-primary-background-bar">
                      Team Leaders
                    </div>
                    <div class="w3-row">
                      {% for teamLeader in teamLeaders %}
                      <div class="w3-col s6 teamTeamLeaderBox">
                        <h2 class='teamTeamLeaderBoxStat'>{{teamLeader.DisplayName}}</h2>
                        <div class="" style='display:inline-block; margin-top: -10px;'>
                          <div class="teamTeamLeaderBoxPlayerFace inline-block" id="teamTeamLeaderBoxPlayerFace{{forloop.counter}}" PlayerFaceJson="{{teamLeader.PTS.PlayerFaceJson|safe}}" HasPlayerFaceJSON="{%if teamLeader.PTS.PlayerFaceJson|length > 0%}1{%else%}0{%endif%}" >
                              <div id="playerFace{{forloop.counter}}" class="PlayerFaceDisplay">

                              </div>
                          </div>
                          <div class="inline-block w3-cell-bottom">
                            <div class="">
                              <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{teamLeader.PTS.PlayerID}}">{{teamLeader.PTS.PlayerName}}</a></span>
                              <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{teamLeader.PTS.PlayerPosition}}</span>
                            </div>
                            <div class="">
                              <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{teamLeader.Value}} total{% if teamLeader.ValuePerGame%}, {{teamLeader.ValuePerGame}} per game{%endif%}</span>
                            </div>
                          </div>

                        </div>
                      </div>
                      {% if forloop.counter|divisibleby:2%}
                    </div>
                    <div class="w3-row">
                      {% endif %}
                      {% endfor %}
                    </div>

                    </div>
                  </div>

              </div>
              {% endif %}
              {% if teamStats|length > 0%}
              <div class="w3-row w3-margin-top">
                <div class="w3-col s12">
                  <div class="w3-card ">
                    <div class="w3-bar team-primary-background-bar">
                      Team Stats
                    </div>
                    <div class="w3-row">
                      <div class="w3-col s6">
                        <div class="teamTeamLeaderBox">
                          <div class="">
                            <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.HomeTeamPlayer1.PlayerID}}">{{game.HomeTeamPlayer1.PlayerName}}</a></span>
                            <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.HomeTeamPlayer1.PlayerPosition}}</span>
                          </div>
                          <div class="">
                            <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.HomeTeamPlayer1.PlayerStats}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="w3-col s6">
                        PER Leader
                      </div>
                    </div>
                    <div class="w3-row">
                      <div class="w3-col s6">
                        APG Leader
                      </div>
                      <div class="w3-col s6">
                        RPG Leader
                      </div>
                    </div>
                    <div class="w3-row">
                      <div class="w3-col s6">
                        SPG Leader
                      </div>
                      <div class="w3-col s6">
                        BPG Leader
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              {% endif %}
            </div>
            <div class="w3-col l4 m12 s12">
              <div class="w3-row">


                <div class="w3-card">
                  <div class="w3-bar team-primary-background-bar">
                    {{ThisTeamSeason.DivisionSeasonID.ConferenceSeasonID.ConferenceID.ConferenceName}}<span class='hide-small'> Standings</span>
                  </div>
                  <table id='teamOverviewConferenceStandings' class='w3-table-all width100 no-border'>

                    {% for Division in ConferenceDivisions%}
                    <thead>
                      <tr class='team-secondary-table-row'>
                        {% if Division.DivisionName %}
                        <th>{{Division.DivisionName}}</th>
                        {% else %}
                        <th>Team</th>
                        {%endif%}
                        <th>Conf</th>
                        <th class='hide-small'>GB</th>
                        <th>Record</th>
                      </tr>
                    </thead>
                    {% for standingTeam in Division.Standings %}
                    <tr class='{{standingTeam.BoldTeam}}'>
                      <td>
                        <a href="{{standingTeam.TeamHref}}">
                          <img class='teamOverviewConferenceStandingsTeamLogo' src="{{standingTeam.TeamID__TeamLogoURL_50}}" />
                          <span  class='hide-small'>{{standingTeam.NationalRankDisplay}} {{standingTeam.TeamID__TeamName }}</span>
                        </a>
                      </td>
                      <td>{{standingTeam.ConferenceWins}}-{{standingTeam.ConferenceLosses}}</td>
                      <td class='hide-small'> {{standingTeam.ConferenceGB}}</td>
                      <td>{{standingTeam.Wins}}-{{standingTeam.Losses}}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="w3-row w3-margin-top">


                <div class="w3-card">
                  <div class="w3-bar team-primary-background-bar">
                    {{team.TeamName}} Signed Recruits
                  </div>
                  <table  class='w3-table-all' id='teamOverviewConferenceStandings'>
                    <thead>
                      <th class='teamColorBorder'>Player</th>
                      <th class='teamColorBorder'>Pos</th>
                      <th class='teamColorBorder'>Hometown</th>
                      <th class='teamColorBorder'>*</th>
                      <th class='teamColorBorder'>Rank</th>
                      <th class='teamColorBorder'>Overall</th>
                    </thead>
                    {% for Recruit in SignedRecruits %}
                    <tr >
                      <td  class='w3-margin-top'>
                        <a href="{{Recruit.PlayerHref}}">
                          {{Recruit.PlayerName}}
                        </a>
                      </td>
                      <td>{{Recruit.Position}}</td>
                      <td>{{Recruit.Hometown}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__RecruitingStars}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__Recruiting_NationalRank}}</td>
                      <td>{{Recruit.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="w3-display-container w3-margin-bottom">
          <div class="w3-row-padding">
            <div class="w3-col l6 m12 w3-display-container">
              <div class="w3-row">
                <div class="w3-card w3-col s12">
                  <div class="w3-bar team-primary-background-bar">
                    Recruits Here
                  </div>
                  <table id='teamOverviewConferenceStandings' class='w3-table'>
                    <thead>
                      <th class='teamColorBorder'>Player</th>
                      <th class='teamColorBorder'>Pos</th>
                      <th class='teamColorBorder'>Hometown</th>
                      <th class='teamColorBorder'>*</th>
                      <th class='teamColorBorder'>Rank</th>
                      <th class='teamColorBorder'>Overall</th>
                    </thead>
                    {% for Recruit in SignedRecruits %}
                    <tr >
                      <td  class='w3-margin-top'>
                        <a href="{{Recruit.PlayerHref}}">
                          {{Recruit.PlayerName}}
                        </a>
                      </td>
                      <td>{{Recruit.Position}}</td>
                      <td>{{Recruit.Hometown}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__RecruitingStars}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__Recruiting_NationalRank}}</td>
                      <td>{{Recruit.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>


            </div>
            <div class="w3-col l6 m12">
              <div class="w3-row">


                <div class="w3-card">
                  <div class="w3-bar team-primary-background-bar">
                    Top Players Returning
                  </div>
                  <table class='w3-table' id='teamOverviewConferenceStandings'>
                    <thead>
                      <th>Pos</th>
                      <th>Player</th>
                      <th class='hide-small'>Class</th>
                      <th>OVR</th>
                    </thead>
                    {% for Player in TopPlayersReturning %}
                    <tr class='{{standingTeam.BoldTeam}}'>
                      <td>
                        {{Player.PlayerID.PositionID.PositionAbbreviation}}
                      </td>
                      <td>
                        <a href="{{Player.PlayerHref}}">
                          {{Player.PlayerID.PlayerFirstName}} {{Player.PlayerID.PlayerLastName}}
                        </a>
                      </td>
                      <td class='hide-small'> {{Player.ClassID.ClassAbbreviation}}</td>
                      <td>{{Player.playerteamseasonskill.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-info">
        <div class='w3-display-container'>
          <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col l12 mw800">
              <div class="w3-card">
                <div class="team-primary-background-bar">
                  Team Info
                </div>
                <table class='w3-table-all width100' id='TeamInfo' style='width: 100%;'>
                  <thead>
                    <th>Category</th>
                    <th>Grade</th>
                    <th>Rank</th>
                    <th></th>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>
</body>


{% include "HeadFootballCoach/ext_CommonScripts.html" %}
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>

<script src="{% static 'Highcharts/code/highcharts.js' %}"></script>
<script src="{% static 'Highcharts/code/modules/accessibility.js' %}"></script>

<script src="{% static 'Pages/Team.js' %}" type="module"></script>
<script src="{% static 'common/loader.js' %}"></script>

<style media="screen">
  .teamColorBorder {
    border-top-color: #{{page.PrimaryColor}}  !important;
    border-bottom-color: #{{page.PrimaryColor}} !important;
  }
</style>

{{ TeamInfoRatings|json_script:"team-info-data" }}
