{% include "HeadFootballCoach/NavBar.html" %}
{% load static %}

<div WorldID="{{page.WorldID}}" TeamJerseyInvert="{{page.TeamJerseyInvert}}" TeamJerseyStyle="{{page.TeamJerseyStyle}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;'
  id='PageDataPassthru'></div>

<link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<body>
  <div class="PageContent">
    <div class='TeamHeader'>
      <img class='teamTeamLogo' src='{{team.LogoURL}}' alt="My image">
      <div class='teamHeaderInfo'>
        <span class='teamSchoolName'>
          {{ team.TeamName }}
        </span>
        <span class='teamTeamName'>
          {{team.TeamNickname}}
        </span>
        <span class='teamRecord'>
          {{team.CurrentTeamSeason.Wins}} - {{team.CurrentTeamSeason.Losses}}
        </span>
        <div class='teamOverviewInfo'>
          {{team.CityID.CityName}}, {{team.CityID.StateID.StateName}} | <a href="/World/{{page.WorldID}}/Conference/{{team.ConferenceID_id}}">{{team.ConferenceID.ConferenceName}}</a>
        </div>
      </div>
      <div class='teamHeaderRankBox' style='border-color:{{team.TeamColor_Primary_HEX}}'>
        <div class="teamHeaderRankHeader w3-row" style="background-color:{{team.TeamColor_Primary_HEX}}">Team Rankings</div>
        <div class="w3-col w3-display-container s6">
          <div class="w3-row">
            {{team.ConferenceID.ConferenceAbbreviation}} Ranking
          </div>
          <div class="w3-row">
            {{team.CurrentTeamSeason.ConferenceRank}}
          </div>
        </div>
        <div class="w3-col w3-display-container s6">
          <div class="w3-row">
            National Ranking
          </div>
          <div class="w3-row">
            {{team.CurrentTeamSeason.NationalRank}}
          </div>

        </div>
      </div>
    </div>

    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-roster-tab">Roster</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-schedule-tab">Schedule</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-analytics-tab">Analytics</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-coaches-tab">Coaches</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-history-tab">Team History</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s8 w3-display-container">
              <div class="w3-row">
                <div class="w3-card w3-light-grey w3-col s12">
                  <div class="w3-row teamScheduleBar w3-white">
                    {% for game in games%}
                    <div BoxScoreGameID="{{game.GameID}}" class="w3-col s1 teamScheduleGameBox w3-display-container {{game.SelectedGameBox}}">
                      <span class="teamScheduleGameBoxShortDate w3-display-topleft">{{game.Week}}</span>
                      <img class='teamScheduleOpponentLogo' src='{{game.OpponentLogoURL}}' />

                      <div class="width100 w3-display-bottommiddle">
                        <a href="/World/{{page.WorldID}}/Team/{{game.Opponent.TeamID}}">
                          <div class='teamScheduleGameBoxVsString'>{{game.VsString}}</div>
                        </a>
                        <div class="teamScheduleGameBoxResult">
                          <div class="teamGameResultLetter{{game.GameResultLetter}}">{{game.GameResultLetter}}</div>
                          <a href="/World/{{page.WorldID}}/Game/{{game.Game.GameID}}">{{game.GameDisplay}}</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="w3-row teamScheduleGameDashboard w3-display-container w3-light-grey">
                    {% for game in games%}
                    <div BoxScoreGameID="{{game.GameID}}" class="teamScheduleGameDashboardGameDisplay w3-display-middle w3-col s8 w3-display-container w3-white w3-border w3-border-grey w3-hide">
                      <div class="w3-col s7 height100 w3-display-container">
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.AwayTeam.TeamColor_Primary_HEX}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetTop w3-white w3-display-topmiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoTop w3-display-middle' src='{{game.AwayTeam.LogoURL}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.HomeTeam.TeamColor_Primary_HEX}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetBottom w3-white w3-display-bottommiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoBottom w3-display-middle' src='{{game.HomeTeam.LogoURL}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameDisplayTeams w3-col s12 w3-display-container w3-display-topmiddle">
                          <div class=" w3-display-container">
                            <span class='w3-display-right font10 padBottom20'>{{game.OverviewText}}</span>
                          </div>
                          <div class=" w3-display-container">
                            <span class='font10'>{{game.AwayTeamRank}}</span>
                            <span class='font17 {{game.AwayTeamWinningGameBold}}'><a href="/World/{{page.WorldID}}/Team/{{game.AwayTeam.TeamID}}">{{game.AwayTeam.TeamName}}</a></span>
                            <span class='font10'>{{game.AwayTeamRecord}}</span>
                            <span class='w3-display-right {{game.AwayTeamWinningGameBold}}'>{{game.AwayPoints}}</span>
                          </div>
                          <div class=" w3-display-container">
                            <span class='font10'>{{game.HomeTeamRank}}</span>
                            <span class='font17 {{game.HomeTeamWinningGameBold}}'><a href="/World/{{page.WorldID}}/Team/{{game.HomeTeam.TeamID}}">{{game.HomeTeam.TeamName}}</a></span>
                            <span class='font10'>{{game.HomeTeamRecord}}</span>
                            <span class='w3-display-right {{game.HomeTeamWinningGameBold}}'>{{game.HomePoints}}</span>

                          </div>
                        </div>
                        <div class="w3-display-bottomleft teamScheduleGameDashboardGameDisplayBoxScoreText">
                          <a href="/World/{{page.WorldID}}/Game/{{game.GameID}}">
                            Box Score
                          </a>
                        </div>
                      </div>
                      <div class="w3-col w3-display-container s5 height100">
                        <div class="w3-bar boxscore-bar" id="nav-tab-{{game.GameID}}">
                          <button TeamID="{{game.HomeTeam.TeamID}}" GameID="{{game.GameID}}" class="w3-bar-item boxscore-tab w3-button tab selected-boxscore-tab" id="boxscore-hometeam-tab">{{game.HomeTeam.Abbreviation}}</button>
                          <button TeamID="{{game.AwayTeam.TeamID}}" GameID="{{game.GameID}}" class="w3-bar-item boxscore-tab w3-button tab" id="boxscore-awayteam-tab">{{game.AwayTeam.Abbreviation}}</button>
                        </div>
                        <div class="w3-display-container">

                          <div TeamID="{{game.HomeTeam.TeamID}}" GameID="{{game.GameID}}" class="w3-display-container team-highlights w3-light-grey height100 selected-boxscore">
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.HomeTeamPlayer1.PlayerID}}">{{game.HomeTeamPlayer1.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.HomeTeamPlayer1.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.HomeTeamPlayer1.PlayerStats}}</span>
                              </div>
                            </div>
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.HomeTeamPlayer2.PlayerID}}">{{game.HomeTeamPlayer2.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.HomeTeamPlayer2.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.HomeTeamPlayer2.PlayerStats}}</span>
                              </div>
                            </div>
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.HomeTeamPlayer3.PlayerID}}">{{game.HomeTeamPlayer3.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.HomeTeamPlayer3.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.HomeTeamPlayer3.PlayerStats}}</span>
                              </div>
                            </div>
                          </div>
                          <div TeamID="{{game.AwayTeam.TeamID}}" GameID="{{game.GameID}}" class="w3-display-container team-highlights w3-light-grey w3-hide height100">
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.AwayTeamPlayer1.PlayerID}}">{{game.AwayTeamPlayer1.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.AwayTeamPlayer1.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.AwayTeamPlayer1.PlayerStats}}</span>
                              </div>
                            </div>
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.AwayTeamPlayer2.PlayerID}}">{{game.AwayTeamPlayer2.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.AwayTeamPlayer2.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.AwayTeamPlayer2.PlayerStats}}</span>
                              </div>
                            </div>
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.AwayTeamPlayer3.PlayerID}}">{{game.AwayTeamPlayer3.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.AwayTeamPlayer3.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.AwayTeamPlayer3.PlayerStats}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="w3-row w3-margin-top">
                <div class="w3-card w3-col s12 w3-padding-small">
                  <div class="w3-card-header">
                    Team Leaders
                  </div>
                  <div class="w3-row">
                    {% for teamLeader in teamLeaders %}
                    <div class="w3-col s6 teamTeamLeaderBox">
                      <h2 class='teamTeamLeaderBoxStat'>{{teamLeader.Stat}}</h2>
                      <div class="" style='display:inline-block; margin-top: -10px;'>
                        <div class="teamTeamLeaderBoxPlayerFace inline-block" id="teamTeamLeaderBoxPlayerFace{{forloop.counter}}" PlayerFaceJson='{{teamLeader.PlayerFaceJson|safe}}' {%if teamLeader.PlayerFaceJson%} style='margin-top:5px;'
                          {% endif %}></div>
                        <div class="inline-block w3-cell-bottom">
                          <div class="">
                            <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{teamLeader.PlayerID}}">{{teamLeader.PlayerName}}</a></span>
                            <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{teamLeader.PlayerPosition}}</span>
                          </div>
                          <div class="">
                            <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{teamLeader.Value}}</span>
                          </div>
                        </div>

                      </div>
                    </div>
                    {% if forloop.counter|divisibleby:2%}
                  </div>
                  <div class="w3-row">
                    {% endif %}
                    {% endfor %}
                  </div>

                </div>
              </div>
              <div class="w3-row w3-margin-top">
                <div class="w3-card w3-col s12 w3-padding-small">
                  <div class="w3-card-header">
                    Team Stats
                  </div>
                  <div class="w3-row">
                    <div class="w3-col s6">
                      <div class="teamTeamLeaderBox">
                        <div class="">
                          <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.HomeTeamPlayer1.PlayerID}}">{{game.HomeTeamPlayer1.PlayerName}}</a></span>
                          <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.HomeTeamPlayer1.PlayerPosition}}</span>
                        </div>
                        <div class="">
                          <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.HomeTeamPlayer1.PlayerStats}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="w3-col s6">
                      PER Leader
                    </div>
                  </div>
                  <div class="w3-row">
                    <div class="w3-col s6">
                      APG Leader
                    </div>
                    <div class="w3-col s6">
                      RPG Leader
                    </div>
                  </div>
                  <div class="w3-row">
                    <div class="w3-col s6">
                      SPG Leader
                    </div>
                    <div class="w3-col s6">
                      BPG Leader
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w3-col  s4">
              <div class="w3-row">


                <div class="w3-card">

                  <div class="w3-card-header">
                    {{team.ConferenceName}} Standings
                  </div>
                  <table id='teamOverviewConferenceStandings'>
                    <thead>
                      <th>Team</th>
                      <th>Conf</th>
                      <th>GB</th>
                      <th>Record</th>
                    </thead>
                    {% for standingTeam in conferenceTeams %}
                    <tr class='{{standingTeam.BoldTeam}}'>
                      <td>
                        <a href="/World/{{page.WorldID}}/Team/{{ standingTeam.TeamID }}/">
                          <img class='teamOverviewConferenceStandingsTeamLogo' src="{{standingTeam.LogoURL}}" />
                          {{standingTeam.NationalRankDisplay}} {{standingTeam.Name }}
                        </a>
                      </td>
                      <td>{{standingTeam.ConferenceWins}}-{{standingTeam.ConferenceLosses}}</td>
                      <td>{{standingTeam.ConferenceGB}}</td>
                      <td>{{standingTeam.Wins}}-{{standingTeam.Losses}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="w3-row w3-margin-top">


                <div class="w3-card">

                  <div class="w3-card-header">
                    {{team.TeamName}} Recruits
                  </div>
                  <table id='teamOverviewConferenceStandings'>
                    <thead>
                      <th>Player</th>
                      <th>Hometown</th>
                      <th>*</th>
                      <th>Rank</th>
                      <th>Overall</th>
                    </thead>
                    {% for Recruit in SignedRecruits %}
                    <tr >
                      <td  class='w3-margin-top'>
                        <a href="/World/{{page.WorldID}}/Player/{{ Recruit.PlayerID.PlayerID }}/">
                          {{Recruit.PlayerID.FullName}}
                        </a>
                      </td>
                      <td>{{Recruit.PlayerID.HometownAndState}}</td>
                      <td>{{Recruit.PlayerID.RecruitingStars}}</td>
                      <td>{{Recruit.PlayerID.Recruiting_NationalRank}}</td>
                      <td>{{Recruit.PlayerID.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-roster">
        <div class='container'>
          <div class='row'>
            <div class='w3-col s12'>
              <div id='roster-bar' class="w3-bar">
                <div class="w3-bar-item">
                  Data display:
                </div>
                <button class='w3-button w3-bar-item selected-roster-tab' type="button" table-data-context="StatsPG" name="button">Player Stats (Per Game)</button>
                <button class='w3-button w3-bar-item' type="button" table-data-context="Ratings" name="button">Player Ratings</button>
              </div>
              <table class="table table-striped sortable" id='teamRosterTable'>
                <thead>
                  <tr>
                    <th table-data-context="All" class='TeamRosterHeaderCell' scope="col">Name</th>
                    <th table-data-context="All" class='TeamRosterHeaderCell' scope="col">#</th>
                    <th table-data-context="All" class='TeamRosterHeaderCell' scope="col">Position</th>
                    <th table-data-context="All" class='TeamRosterHeaderCell' scope="col">Height</th>
                    <th table-data-context="All" class='TeamRosterHeaderCell' scope="col">Class</th>
                    <th table-data-context="All" class='TeamRosterHeaderCell' scope="col">Overall</th>
                    <th table-data-context="StatsPG" class='TeamRosterHeaderCell' scope="col" data-defaultsort="asc">MPG</th>
                    <th table-data-context="StatsPG" class='TeamRosterHeaderCell' scope="col" data-defaultsort="asc">PPG</th>
                    <th table-data-context="StatsPG" class='TeamRosterHeaderCell' scope="col" data-defaultsort="asc">RPG</th>
                    <th table-data-context="StatsPG" class='TeamRosterHeaderCell' scope="col" data-defaultsort="asc">APG</th>
                    <th table-data-context="StatsPG" class='TeamRosterHeaderCell' scope="col" data-defaultsort="asc">PER</th>
                    <th table-data-context="StatsPG" class='TeamRosterHeaderCell' scope="col" data-defaultsort="asc">ORTG</th>
                    <th table-data-context="StatsPG" class='TeamRosterHeaderCell' scope="col" data-defaultsort="asc">DRTG</th>
                    <th table-data-context="Ratings" class='TeamRosterHeaderCell w3-hide' scope="col" data-defaultsort="asc">Inside</th>
                    <th table-data-context="Ratings" class='TeamRosterHeaderCell w3-hide' scope="col" data-defaultsort="asc">Reb</th>
                    <th table-data-context="Ratings" class='TeamRosterHeaderCell w3-hide' scope="col" data-defaultsort="asc">Playmaking</th>
                    <th table-data-context="Ratings" class='TeamRosterHeaderCell w3-hide' scope="col" data-defaultsort="asc">Outside Shooting</th>
                    <th table-data-context="Ratings" class='TeamRosterHeaderCell w3-hide' scope="col" data-defaultsort="asc">Athletic</th>
                    <th table-data-context="Ratings" class='TeamRosterHeaderCell w3-hide' scope="col" data-defaultsort="asc">IQ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id='TeamRosterPlayerRowClone' class='hidden'>
                    <td table-data-context="All" class='TeamRosterPlayerRowCell' data-field='FullName' data-value=""><a href="" href-field='PlayerID'></a></td>
                    <td table-data-context="All" class='TeamRosterPlayerRowCell' data-field='JerseyNumber'></td>
                    <td table-data-context="All" class='TeamRosterPlayerRowCell' data-field='Position' data-value=""></td>
                    <td table-data-context="All" class='TeamRosterPlayerRowCell' data-field='HeightFormatted' data-value=""></td>
                    <td table-data-context="All" class='TeamRosterPlayerRowCell' data-field='PlayerClass' data-value=""></td>
                    <td table-data-context="All" class='TeamRosterPlayerRowCell' data-field='OverallRating'></td>
                    <td table-data-context="StatsPG" class='TeamRosterPlayerRowCell' data-field='MPG'></td>
                    <td table-data-context="StatsPG" class='TeamRosterPlayerRowCell' data-field='PPG'></td>
                    <td table-data-context="StatsPG" class='TeamRosterPlayerRowCell' data-field='RPG'></td>
                    <td table-data-context="StatsPG" class='TeamRosterPlayerRowCell' data-field='APG'></td>
                    <td table-data-context="StatsPG" class='TeamRosterPlayerRowCell' data-field='PER'></td>
                    <td table-data-context="StatsPG" class='TeamRosterPlayerRowCell' data-field='ORTG'></td>
                    <td table-data-context="StatsPG" class='TeamRosterPlayerRowCell' data-field='DRTG'></td>
                    <td table-data-context="Ratings" class='TeamRosterPlayerRowCell w3-hide' data-field='InsideShootingGrade'></td>
                    <td table-data-context="Ratings" class='TeamRosterPlayerRowCell w3-hide' data-field='ReboundingGrade'></td>
                    <td table-data-context="Ratings" class='TeamRosterPlayerRowCell w3-hide' data-field='PlaymakingGrade'></td>
                    <td table-data-context="Ratings" class='TeamRosterPlayerRowCell w3-hide' data-field='OutsideShootingGrade'></td>
                    <td table-data-context="Ratings" class='TeamRosterPlayerRowCell w3-hide' data-field='AthleticismGrade'></td>
                    <td table-data-context="Ratings" class='TeamRosterPlayerRowCell w3-hide' data-field='IQGrade'></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-schedule">
        <div class="w3-container">
          <div class="w3-row-padding">
            <div class="w3-col s8">
              <div class="w3-card ">
                <div class="w3-card-header">
                  Schedule
                </div>
                <table class="w3-table-all">
                  <tbody id='TeamScheduleContainer'>
                    <tr class='w3-hide' id='TeamScheduleRowPlayedGames'>
                      <td>Week</td>
                      <td>Opponent</td>
                      <td>Record</td>
                      <td>Outcome</td>
                    </tr>
                    <tr class="w3-hide w3-padding-16 TeamScheduleRow" id='TeamScheduleRowClone'>
                      <td class='TeamScheduleGameCell' data-field='DateShortDisplayDayOfWeek'></td>
                      <td class="w3-col TeamScheduleGameCell">
                        <span data-field='AtOrVs'></span>
                        <img src="" img-src-field='LogoURL' alt="" class='teamScheduleTeamLogo'>
                        <span data-field='OpponentRank'></span>
                        <a href="" href-field='TeamIDURL' data-field='TeamName'></a>
                      </td>
                      <td data-field='GameResultLetter'></td>
                      <td class="w3-col TeamScheduleGameCell">
                        <span data-field='GameResultLetter' class-field='GameResultLetterClass'></span>
                        <a href=""  href-field='GameIDURL' data-field='GameDisplay'></a>
                      </td>
                    </tr>
                    <tr class='w3-hide' id='TeamScheduleRowFutureGames'>
                      <td>Week</td>
                      <td>Opponent</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-analytics">
        Analytics Window
        <div id="map" style="width: 930px; height: 630px; border: solid 3px red;"></div>
        <div id="TeamRankTrend" style="width: 930px; height: 630px; border: solid 3px black;"></div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-coaches">
        <div class='container'>
          <div class='row'>
            <div class='w3-col s1'></div>
            <div class='w3-col s10'>
              <article>
                <header>
                  Head Coach
                </header>
                <a href="/World/{{page.WorldID}}/Coach/{{HC.CoachID.CoachID}}">{{HC.CoachFirstName}} {{HC.CoachLastName}}</a>
              </article>
            </div>
            <div class='w3-col s1'></div>
          </div>
          <div class='row'>
            <div class='w3-col s1'></div>
            <div class='w3-col s5'><a href="/World/{{page.WorldID}}/Coach/{{AHC.CoachID}}">{{AHC.CoachFirstName}} {{AHC.CoachLastName}}</a></div>
            <div class='w3-col s5'><a href="/World/{{page.WorldID}}/Coach/{{AC.CoachID}}">{{AC.CoachFirstName}} {{AC.CoachLastName}}</a></div>
            <div class='w3-col s1'></div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-history">
        <div class='w3-display-container'>
          <div class='w3-row-padding'>
            <div class='w3-col s10'>
              <table id='teamSeasonHistoryResultsTable' class='display table sortable'>
                <thead id='TeamSeasonHistoryTable'>
                  <th>Season</th>
                  <th>Record</th>
                  <th>Conf Record</th>
                  <th>Playoff Seed</th>
                  <th>Recruit Class Rank</th>
                  <th>Result</th>
                </thead>
                <tr id='TeamSeasonHistoryRowClone' class='hidden'>
                  <td class='TeamSeasonHistoryRowCell' data-field='LeagueSeasonDisplay' data-value=""></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='TeamRecord' data-value=""></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='TeamConferenceRecord' data-value=""></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='PlayoffSeed' data-value=""></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='RecruitingClassRank' data-value=""></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='SeasonResultDisplay' data-value=""></td>
                </tr>
              </table>
            </div>
          </div>
          <div class='w3-row-padding teamHistoryPlayerLeaderRow'>
            <div class='w3-col s4'>
              <table id='teamHistoryPlayerLeadersPPG' class='display table sortable'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Seasons</th>
                  <th>PPG</th>
                </thead>
                <tr id='teamHistoryPlayerLeadersPPGRowClone' class='hidden'>
                  <td class='TeamHistoricalLeaderPPGRowCell' data-field='PPGRank' data-value=""></td>
                  <td class='TeamHistoricalLeaderPPGRowCell' data-field='FullName' data-value=""><a href="" href-field='PlayerID'></a></td>
                  <td class='TeamHistoricalLeaderPPGRowCell' data-field='Seasons' data-value=""></td>
                  <td class='TeamHistoricalLeaderPPGRowCell' data-field='PointsPG' data-value=""></td>
                </tr>
              </table>
            </div>
            <div class='w3-col s4'>
              <table id='teamHistoryPlayerLeadersRPG' class='display table sortable'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Seasons</th>
                  <th>RPG</th>
                </thead>
                <tr id='teamHistoryPlayerLeadersRPGRowClone' class='hidden'>
                  <td class='TeamHistoricalLeaderRPGRowCell' data-field='RPGRank' data-value=""></td>
                  <td class='TeamHistoricalLeaderRPGRowCell' data-field='FullName' data-value=""><a href="" href-field='PlayerID'></a></td>
                  <td class='TeamHistoricalLeaderRPGRowCell' data-field='Seasons' data-value=""></td>
                  <td class='TeamHistoricalLeaderRPGRowCell' data-field='ReboundsPG' data-value=""></td>
                </tr>
              </table>
            </div>
            <div class='w3-col s4'>
              <table id='teamHistoryPlayerLeadersAPG' class='display table sortable'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Seasons</th>
                  <th>APG</th>
                </thead>
                <tr id='teamHistoryPlayerLeadersAPGRowClone' class='hidden'>
                  <td class='TeamHistoricalLeaderAPGRowCell' data-field='APGRank' data-value=""></td>
                  <td class='TeamHistoricalLeaderAPGRowCell' data-field='FullName' data-value=""><a href-field='PlayerID'></a></td>
                  <td class='TeamHistoricalLeaderAPGRowCell' data-field='Seasons' data-value=""></td>
                  <td class='TeamHistoricalLeaderAPGRowCell' data-field='AssistsPG' data-value=""></td>
                </tr>
              </table>
            </div>
          </div>
          <div class='w3-row-padding'>
            <div class='w3-col s10'>
              {% for Banner in TeamHistory %}
                <div class="teamAchievementFlag" style='background: #{{page.PrimaryColor}}; border-color: #{{page.SecondaryColor}};'>
                  <div class='teamAchievementFlagYear'>{{Banner.Season}}</div>
                  <div class="teamAchievementFlagTitle">{{team.TeamName}}</div>
                  <div class="teamAchievementFlagTitle BannerLine1">{{Banner.BannerLine1}}</div>
                  <div class="teamAchievementFlagTitle BannerLine2">{{Banner.BannerLine2}}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="{% static 'Pages/Team.js' %}" type="module"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Rank');

      data.addRows([
      {% for WeeklyRank in TeamWeeklyRanks %}
      [{{WeeklyRank.DateID.JSDateDefinition}},  {{WeeklyRank.NationalRank}}],
      {% endfor %}
      ]);

      var options = {
        chart: {
          title: '{{team.TeamName}} Rank',
          subtitle: 'in millions of dollars (USD)'
        },
        width: 900,
        height: 500,
        vAxis: {
            direction: -1,
            viewWindowMode:'explicit',
            viewWindow: {
              max:{{MaxWeeklyRank}},
              min:1
            }
        },
        hAxis: {
            showTextEvery: 4
        }
      };


        var chart = new google.visualization.LineChart(document.getElementById('TeamRankTrend'));

        chart.draw(data, options);
      }
    </script>
