<div>
  {% include "HeadFootballCoach/ext_NavBar.html" %}
</div>
{% load static %}
{% load humanize %}
{% load CustomTags %}



<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/fixedHeader.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">

{% include "HeadFootballCoach/ext_TeamColoring.html" %}


<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>


<body>
  <div class="PageContent">
    {% include "HeadFootballCoach/ext_TeamHeader.html" %}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-team-history-tab" style="background-color: #{{page.SecondaryColor}};">Team History</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-career-records-tab">Career Leaders</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-season-records-tab">Player Season Records</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-game-records-tab">Player Game Records</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-team-season-records-tab">Team Season Records</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-team-game-records-tab">Team Game Records</button>
        {% include "HeadFootballCoach/ext_TeamList.html" %}
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:block;"  id="nav-team-history">
          <div class='w3-display-container'>
            <div class='w3-row-padding w3-margin-bottom'>
              <div class='w3-col l12 mw1000'>
                <div class="w3-card">
                  <div class="w3-bar team-primary-background-bar">
                    Team History
                  </div>
                  <table id='teamSeasonHistoryResultsTable' class='width100 w3-table-all center-aligned-table' style='width: 100%;'>
                    <thead id='TeamSeasonHistoryTable'>
                      <th class=' teamColorBorder'>Season</th>
                      <th class=' teamColorBorder'>Final Rank</th>
                      <th class=' teamColorBorder'>Record</th>
                      <th class=' teamColorBorder'>Conf Record</th>
                      <th class=' teamColorBorder'>Conf Rank</th>
                      <th class=' teamColorBorder'>Bowl</th>
                      <th class=' teamColorBorder'>Recruit Class Rank</th>
                    </thead>

                  </table>
                </div>
              </div>
            </div>
            <div class='w3-row-padding w3-margin-bottom'>
              <div class='w3-col l12 mw1000'>
                <div class="">

                {% for Banner in TeamHistory %}
                  <div class="teamAchievementFlag" style='background: #{{page.PrimaryColor}}; border-color: #{{page.SecondaryColor}};'>
                    <div class="teamAchievementFlagTitle">
                      <img src="{{team.TeamLogoURL}}" alt="" style='width: 80px; filter: drop-shadow(0 0 10px #{{page.SecondaryColor}});'>
                    </div>
                    <div class="bold" style='color: #{{team.TeamColor_Secondary_HEX}}'>
                      <div class="teamAchievementFlagTitle BannerLine1">{{Banner.BannerLine1}}</div>
                      <div class="teamAchievementFlagTitle BannerLine2">{{Banner.BannerLine2}}</div>
                    </div>
                    <div class='teamAchievementFlagYear' style='color: white'>{{Banner.Season}}</div>
                  </div>
                {% endfor %}
              </div>
              </div>
            </div>
          </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-career-records">
        <div class='w3-display-container'>
          {% for Stat in CareerLeaders%}
          {% if forloop.counter0|modulo:3 == 0%}
          <div class='w3-row-padding margin-top-24 w3-margin-bottom' id='worldLeagueLeaderRow'>
            {% endif %}
            <div class='w3-card w3-col s3 margin-sides-12 equal-sized-item no-padding'>
              <div class="w3-bar team-primary-background-bar">
                {{Stat.LongDisplayName}}
              </div>
              <table id='' class=' w3-table-all'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th data-field='DisplayName'>{{Stat.DisplayName}}</th>
                  <th>Seasons</th>
                </thead>
                <tbody>
                  {% with StatName=Stat.FieldName %}
                  {% for Player in Stat.Players%}
                  <tr id='worldLeagueLeadersRowClone' class=''>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='ValueRank' data-value="">{{forloop.counter}}</td>
                    <td class='WorldLeagueLeaderRowCell' data-value=""><a href="{{Player.PlayerHref}}" href-field='PlayerHref' ><span data-field='PlayerName'>{{Player.PlayerName}}</span>, </a><span data-field='PlayerPosition'>{{Player.PlayerPosition}}</span></td>
                    <td class='WorldLeagueLeaderRowCell center-text' data-value="">
                      <a href="{{Player.TeamHref}}" href-field='PlayerTeamHref'>
                        <img src="{{Player.TeamLogoURL}}" src-field='TeamLogoURL' class='worldLeagueLeaderTeamLogo'>
                      </a>
                    </td>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='Value' data-value="">{{Player|keyvalue:StatName}}</td>
                    <td>{{Player.Timeframe}}</td>
                  </tr>
                  {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            </div>

              {% if forloop.counter0|modulo:3 == 2%}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-season-records">
        <div class='w3-display-container'>
          {% for Stat in SeasonLeaders%}
          {% if forloop.counter0|modulo:3 == 0%}
          <div class='w3-row-padding margin-top-24 w3-margin-bottom' id='worldLeagueLeaderRow'>
            {% endif %}
            <div class='w3-card s3 equal-sized-item margin-sides-12 no-padding'>
              <div class="w3-bar team-primary-background-bar">
                {{Stat.LongDisplayName}}
              </div>
              <table id='' class='w3-table-all'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th data-field='DisplayName'>{{Stat.DisplayName}}</th>
                  <th>Season</th>
                </thead>
                <tbody>
                  {% with StatName=Stat.FieldName %}
                  {% for Player in Stat.Players%}
                  <tr id='worldLeagueLeadersRowClone' class=''>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='ValueRank' data-value="">{{forloop.counter}}</td>
                    <td class='WorldLeagueLeaderRowCell' data-value=""><a href="{{Player.PlayerHref}}" href-field='PlayerHref' ><span data-field='PlayerName'>{{Player.PlayerName}}</span>, </a><span data-field='PlayerPosition'>{{Player.PlayerPosition}}</span></td>
                    <td class='WorldLeagueLeaderRowCell center-text' data-value="">
                      <a href="{{Player.TeamHref}}" href-field='PlayerTeamHref'>
                        <img src="{{Player.TeamLogoURL}}" src-field='TeamLogoURL' class='worldLeagueLeaderTeamLogo'>
                      </a>
                    </td>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='Value' data-value="">{{Player|keyvalue:StatName}}</td>
                    <td>{{Player.Timeframe}}</td>
                  </tr>
                  {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            </div>

              {% if forloop.counter0|modulo:3 == 2%}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-game-records">
        <div class='w3-display-container'>
          {% for Stat in GameLeaders%}
          {% if forloop.counter0|modulo:3 == 0%}
          <div class='w3-row-padding margin-top-24 w3-margin-bottom' id='worldLeagueLeaderRow'>
            {% endif %}
            <div class='w3-card s3 equal-sized-item margin-sides-12 no-padding'>
              <div class="w3-bar team-primary-background-bar">
                {{Stat.LongDisplayName}}
              </div>
              <table id='' class='w3-table-all'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th data-field='DisplayName'>{{Stat.DisplayName}}</th>
                  <th>Week</th>
                </thead>
                <tbody>
                  {% with StatName=Stat.FieldName %}
                  {% for Player in Stat.Players%}
                  <tr id='worldLeagueLeadersRowClone' class=''>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='ValueRank' data-value="">{{forloop.counter}}</td>
                    <td class='WorldLeagueLeaderRowCell' data-value=""><a href="{{Player.PlayerHref}}" href-field='PlayerHref' ><span data-field='PlayerName'>{{Player.PlayerName}}</span>, </a><span data-field='PlayerPosition'>{{Player.PlayerPosition}}</span></td>
                    <td class='WorldLeagueLeaderRowCell center-text' data-value="">
                      <a href="{{Player.TeamHref}}" href-field='PlayerTeamHref'>
                        <img src="{{Player.TeamLogoURL}}" src-field='TeamLogoURL' class='worldLeagueLeaderTeamLogo'>
                      </a>
                    </td>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='Value' data-value="">{{Player|keyvalue:StatName}}</td>
                    <td><a href="{{Player.TimeframeHref}}">{{Player.Timeframe}}</a></td>
                  </tr>
                  {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            </div>

              {% if forloop.counter0|modulo:3 == 2%}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-team-season-records">
        <div class='w3-display-container'>
          {% for Stat in TeamSeasonLeaders%}
          {% if forloop.counter0|modulo:3 == 0%}
          <div class='w3-row-padding margin-top-24 w3-margin-bottom' id='worldLeagueLeaderRow'>
            {% endif %}
            <div class='w3-card s3 equal-sized-item margin-sides-12 no-padding'>
              <div class="w3-bar team-primary-background-bar">
                {{Stat.LongDisplayName}}
              </div>
              <table id='' class='w3-table-all'>
                <thead class=' center-text-row'>
                  <th>Rank</th>
                  <th>Team</th>
                  <th data-field='DisplayName'>{{Stat.DisplayName}}</th>
                  <th>Season</th>
                </thead>
                <tbody>
                  {% with StatName=Stat.FieldName %}
                  {% for Team in Stat.Teams%}
                  <tr id='worldLeagueLeadersRowClone' class=''>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='ValueRank' data-value="">{{forloop.counter}}</td>
                    <td class='WorldLeagueLeaderRowCell' data-value="">
                      <a href="{{Team.TeamHref}}" href-field='PlayerTeamHref'>
                        <img src="{{Team.TeamLogoURL}}" src-field='TeamLogoURL' class='worldLeagueLeaderTeamLogo'>
                        <span>{{Team.TeamName}}</span>
                      </a>
                    </td>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='Value' data-value="">{{Team|keyvalue:StatName}}</td>
                    <td>{{Team.Timeframe}}</td>
                  </tr>
                  {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            </div>
              {% if forloop.counter0|modulo:3 == 2%}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-team-game-records">
        <div class='w3-display-container'>
          {% for Stat in TeamGameLeaders%}
          {% if forloop.counter0|modulo:3 == 0%}
          <div class='w3-row-padding margin-top-24 w3-margin-bottom' id='worldLeagueLeaderRow'>
            {% endif %}
            <div class='w3-card s3 equal-sized-item margin-sides-12 no-padding'>
              <div class="w3-bar team-primary-background-bar">
                {{Stat.LongDisplayName}}
              </div>
              <table id='' class='w3-table-all'>
                <thead>
                  <th>Rank</th>
                  <th>Team</th>
                  <th data-field='DisplayName'>{{Stat.DisplayName}}</th>
                  <th>Week</th>
                </thead>
                <tbody>
                  {% with StatName=Stat.FieldName %}
                  {% for Team in Stat.Teams%}
                  <tr id='worldLeagueLeadersRowClone' class=''>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='ValueRank' data-value="">{{forloop.counter}}</td>
                    <td class='WorldLeagueLeaderRowCell' data-value="">
                      <a href="{{Team.TeamHref}}" href-field='PlayerTeamHref'>
                        <img src="{{Team.TeamLogoURL}}" src-field='TeamLogoURL' class='worldLeagueLeaderTeamLogo'>
                        <span>{{Team.TeamName}}</span>
                      </a>
                    </td>
                    <td class='WorldLeagueLeaderRowCell center-text' data-field='Value' data-value="">{{Team|keyvalue:StatName}}</td>
                    <td><a href="{{Team.TimeframeHref}}">{{Team.Timeframe}}</a></td>
                  </tr>
                  {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            </div>

              {% if forloop.counter0|modulo:3 == 2%}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>

{% include "HeadFootballCoach/ext_CommonScripts.html" %}
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.select.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.searchPanes.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedColumns.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'Pages/TeamHistory.js' %}"></script>
{{ TeamSeasonHistory|json_script:"team-history-data" }}
