{% include "HeadFootballCoach/NavBar.html" %}
{% load static %}

<div WorldID="{{page.WorldID}}" TeamJerseyInvert="{{page.TeamJerseyInvert}}" TeamJerseyStyle="{{page.TeamJerseyStyle}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}"  SecondaryJerseyColor="{{page.SecondaryJerseyColor}}" TeamID="{{team.TeamID}}" style='display:none;'
  id='PageDataPassthru'></div>

<head>
  <style id="addedStyle">
    .SelectedGameBox::after {
      border-left-width: 35px;
      border-right-width: 35px;
      border-width: 15px 35px 0;}
  </style>
</head>

<link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<body>
  <div class="PageContent">
    <div class='TeamHeader'>
      <img class='teamTeamLogo' src='{{team.LogoURL}}' alt="My image">
      <div class='teamHeaderInfo'>
        <span class='teamSchoolName'>
          {{ team.TeamName }}
        </span>
        <span class='teamTeamName'>
          {{team.TeamNickname}}
        </span>
        <span class='teamRecord'>
          {{team.CurrentTeamSeason.Wins}} - {{team.CurrentTeamSeason.Losses}}
        </span>
        <div class='teamOverviewInfo'>
          {{team.CityID.CityName}}, {{team.CityID.StateID.StateName}} | <a href="/World/{{page.WorldID}}/Conference/{{team.ConferenceID_id}}">{{team.ConferenceID.ConferenceName}}</a>
        </div>
      </div>
      <div class='teamHeaderRankBox' style='border-color:{{team.TeamColor_Primary_HEX}}'>
        <div class="teamHeaderRankHeader w3-row" style="background-color: #{{team.TeamColor_Primary_HEX}}">Team Rankings</div>
        <div class="w3-col w3-display-container s6">
          <div class="w3-row">
            {{team.ConferenceID.ConferenceAbbreviation}} Ranking
          </div>
          <div class="w3-row">
            {{team.CurrentTeamSeason.ConferenceRank}}
          </div>
        </div>
        <div class="w3-col w3-display-container s6">
          <div class="w3-row">
            National Ranking
          </div>
          <div class="w3-row">
            {{team.CurrentTeamSeason.NationalRank}}
          </div>

        </div>
      </div>
    </div>

    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-roster-tab">Roster</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-schedule-tab">Schedule</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-analytics-tab">Analytics</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-coaches-tab">Coaches</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-history-tab">Team History</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-records-tab">Team Records</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s8 w3-display-container">
              <div class="w3-row">
                <div class="w3-card w3-light-grey w3-col s12">
                  <div class="w3-row teamScheduleBar w3-white">
                    {% for game in games%}
                    <div BoxScoreGameID="{{game.GameID}}" class="w3-col s1 teamScheduleGameBox w3-display-container {{game.SelectedGameBox}}">
                      <div class="teamScheduleGameBoxShortDate w3-display-topleft ellipsis" style='background-color: #{{game.Opponent.TeamColor_Primary_HEX}}'>{{game.Week}}</div>
                      <img class='teamScheduleOpponentLogo' src='{{game.OpponentLogoURL}}' />

                      <div class="width100 w3-display-bottommiddle">
                        <a href="/World/{{page.WorldID}}/Team/{{game.Opponent.TeamID}}">
                          <div class='teamScheduleGameBoxVsString'>{{game.VsString}}</div>
                        </a>
                        <div class="teamScheduleGameBoxResult">
                          <div class="teamGameResultLetter{{game.GameResultLetter}}">{{game.GameResultLetter}}</div>
                          <a href="/World/{{page.WorldID}}/Game/{{game.Game.GameID}}">{{game.GameDisplay}}</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="w3-row teamScheduleGameDashboard w3-display-container w3-light-grey">
                    {% for game in games%}
                    <div BoxScoreGameID="{{game.GameID}}" class="teamScheduleGameDashboardGameDisplay w3-display-middle w3-col s8 w3-display-container w3-white w3-border w3-border-grey w3-hide">
                      <div class="w3-col s7 height100 w3-display-container">
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.AwayTeam.TeamColor_Primary_HEX}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetTop w3-white w3-display-topmiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoTop w3-display-middle' src='{{game.AwayTeam.LogoURL}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.HomeTeam.TeamColor_Primary_HEX}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetBottom w3-white w3-display-bottommiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoBottom w3-display-middle' src='{{game.HomeTeam.LogoURL}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameDisplayTeams w3-col s12 w3-display-container w3-display-topmiddle">
                          <div class=" w3-display-container">
                            <span class='w3-display-right font10 padBottom20'>{{game.Week}}</span>
                          </div>
                          <div class=" w3-display-container">
                            <span class='font10'>{{game.AwayTeamRank}}</span>
                            <span class='font17 {{game.AwayTeamWinningGameBold}}'><a href="/World/{{page.WorldID}}/Team/{{game.AwayTeam.TeamID}}">{{game.AwayTeam.TeamName}}</a></span>
                            <span class='font10'>{{game.AwayTeamRecord}}</span>
                            <span class='w3-display-right {{game.AwayTeamWinningGameBold}}'>{{game.AwayPoints}}</span>
                          </div>
                          <div class=" w3-display-container">
                            <span class='font10'>{{game.HomeTeamRank}}</span>
                            <span class='font17 {{game.HomeTeamWinningGameBold}}'><a href="/World/{{page.WorldID}}/Team/{{game.HomeTeam.TeamID}}">{{game.HomeTeam.TeamName}}</a></span>
                            <span class='font10'>{{game.HomeTeamRecord}}</span>
                            <span class='w3-display-right {{game.HomeTeamWinningGameBold}}'>{{game.HomePoints}}</span>

                          </div>
                        </div>
                        <div class="w3-display-bottomleft teamScheduleGameDashboardGameDisplayBoxScoreText">
                          <a href="/World/{{page.WorldID}}/Game/{{game.GameID}}">
                            Box Score
                          </a>
                        </div>
                      </div>
                      <div class="w3-col w3-display-container s5 height100">
                        <div class="w3-bar boxscore-bar" id="nav-tab-{{game.GameID}}">
                          <button TeamID="{{game.HomeTeam.TeamID}}" GameID="{{game.GameID}}" class="w3-bar-item boxscore-tab w3-button tab selected-boxscore-tab" id="boxscore-hometeam-tab">{{game.HomeTeam.Abbreviation}}</button>
                          <button TeamID="{{game.AwayTeam.TeamID}}" GameID="{{game.GameID}}" class="w3-bar-item boxscore-tab w3-button tab" id="boxscore-awayteam-tab">{{game.AwayTeam.Abbreviation}}</button>
                        </div>
                        <div class="w3-display-container">

                          <div TeamID="{{game.HomeTeam.TeamID}}" GameID="{{game.GameID}}" class="w3-display-container team-highlights w3-light-grey height100 selected-boxscore">
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.HomeTeamPlayer1.PlayerID}}">{{game.HomeTeamPlayer1.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.HomeTeamPlayer1.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.HomeTeamPlayer1.PlayerStats}}</span>
                              </div>
                            </div>
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.HomeTeamPlayer2.PlayerID}}">{{game.HomeTeamPlayer2.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.HomeTeamPlayer2.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.HomeTeamPlayer2.PlayerStats}}</span>
                              </div>
                            </div>
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.HomeTeamPlayer3.PlayerID}}">{{game.HomeTeamPlayer3.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.HomeTeamPlayer3.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.HomeTeamPlayer3.PlayerStats}}</span>
                              </div>
                            </div>
                          </div>
                          <div TeamID="{{game.AwayTeam.TeamID}}" GameID="{{game.GameID}}" class="w3-display-container team-highlights w3-light-grey w3-hide height100">
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.AwayTeamPlayer1.PlayerID}}">{{game.AwayTeamPlayer1.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.AwayTeamPlayer1.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.AwayTeamPlayer1.PlayerStats}}</span>
                              </div>
                            </div>
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.AwayTeamPlayer2.PlayerID}}">{{game.AwayTeamPlayer2.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.AwayTeamPlayer2.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.AwayTeamPlayer2.PlayerStats}}</span>
                              </div>
                            </div>
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.AwayTeamPlayer3.PlayerID}}">{{game.AwayTeamPlayer3.PlayerName}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.AwayTeamPlayer3.PlayerPosition}}</span>
                              </div>
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.AwayTeamPlayer3.PlayerStats}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="w3-row w3-margin-top">
                <div class="w3-card w3-col s12 w3-padding-small">
                  <div class="w3-card-header">
                    Team Leaders
                  </div>
                  <div class="w3-row">
                    {% for teamLeader in teamLeaders %}
                    <div class="w3-col s6 teamTeamLeaderBox">
                      <h2 class='teamTeamLeaderBoxStat'>{{teamLeader.DisplayName}}</h2>
                      <div class="" style='display:inline-block; margin-top: -10px;'>
                        <div class="teamTeamLeaderBoxPlayerFace inline-block" id="teamTeamLeaderBoxPlayerFace{{forloop.counter}}" PlayerFaceJson="{{teamLeader.PTS.PlayerFaceJson|safe}}" HasPlayerFaceJSON="{%if teamLeader.PTS.PlayerFaceJson|length > 0%}1{%else%}0{%endif%}" >
                            <div id="playerFace{{forloop.counter}}" class="PlayerFaceDisplay">

                            </div>
                        </div>
                        <div class="inline-block w3-cell-bottom">
                          <div class="">
                            <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{teamLeader.PTS.PlayerID}}">{{teamLeader.PTS.PlayerName}}</a></span>
                            <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{teamLeader.PTS.PlayerPosition}}</span>
                          </div>
                          <div class="">
                            <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{teamLeader.Value}} total{% if teamLeader.ValuePerGame%}, {{teamLeader.ValuePerGame}} per game{%endif%}</span>
                          </div>
                        </div>

                      </div>
                    </div>
                    {% if forloop.counter|divisibleby:2%}
                  </div>
                  <div class="w3-row">
                    {% endif %}
                    {% endfor %}
                  </div>

                </div>
              </div>
              <div class="w3-row w3-margin-top">
                <div class="w3-card w3-col s12 w3-padding-small">
                  <div class="w3-card-header">
                    Team Stats
                  </div>
                  <div class="w3-row">
                    <div class="w3-col s6">
                      <div class="teamTeamLeaderBox">
                        <div class="">
                          <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="/World/{{page.WorldID}}/Player/{{game.HomeTeamPlayer1.PlayerID}}">{{game.HomeTeamPlayer1.PlayerName}}</a></span>
                          <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{game.HomeTeamPlayer1.PlayerPosition}}</span>
                        </div>
                        <div class="">
                          <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerStats'>{{game.HomeTeamPlayer1.PlayerStats}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="w3-col s6">
                      PER Leader
                    </div>
                  </div>
                  <div class="w3-row">
                    <div class="w3-col s6">
                      APG Leader
                    </div>
                    <div class="w3-col s6">
                      RPG Leader
                    </div>
                  </div>
                  <div class="w3-row">
                    <div class="w3-col s6">
                      SPG Leader
                    </div>
                    <div class="w3-col s6">
                      BPG Leader
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w3-col  s4">
              <div class="w3-row">


                <div class="w3-card">

                  <div class="w3-card-header table_title">
                    {{team.ConferenceName}} Standings
                  </div>
                  <table id='teamOverviewConferenceStandings'>
                    <thead>
                      <th>Team</th>
                      <th>Conf</th>
                      <th>GB</th>
                      <th>Record</th>
                    </thead>
                    {% for standingTeam in conferenceTeams %}
                    <tr class='{{standingTeam.BoldTeam}}'>
                      <td>
                        <a href="{{standingTeam.TeamHref}}">
                          <img class='teamOverviewConferenceStandingsTeamLogo' src="{{standingTeam.TeamLogoURL}}" />
                          {{standingTeam.NationalRankDisplay}} {{standingTeam.TeamName }}
                        </a>
                      </td>
                      <td>{{standingTeam.ConferenceWins}}-{{standingTeam.ConferenceLosses}}</td>
                      <td>{{standingTeam.ConferenceGB}}</td>
                      <td>{{standingTeam.Wins}}-{{standingTeam.Losses}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="w3-row w3-margin-top">


                <div class="w3-card">

                  <div class="w3-card-header">
                    {{team.TeamName}} Signed Recruits
                  </div>
                  <table id='teamOverviewConferenceStandings'>
                    <thead>
                      <th class='teamColorBorder'>Player</th>
                      <th class='teamColorBorder'>Pos</th>
                      <th class='teamColorBorder'>Hometown</th>
                      <th class='teamColorBorder'>*</th>
                      <th class='teamColorBorder'>Rank</th>
                      <th class='teamColorBorder'>Overall</th>
                    </thead>
                    {% for Recruit in SignedRecruits %}
                    <tr >
                      <td  class='w3-margin-top'>
                        <a href="/World/{{page.WorldID}}/Player/{{ Recruit.PlayerID.PlayerID }}/">
                          {{Recruit.PlayerID.FullName}}
                        </a>
                      </td>
                      <td>{{Recruit.PlayerID.PositionID.PositionAbbreviation}}</td>
                      <td>{{Recruit.PlayerID.HometownAndState}}</td>
                      <td>{{Recruit.PlayerID.RecruitingStars}}</td>
                      <td>{{Recruit.PlayerID.Recruiting_NationalRank}}</td>
                      <td>{{Recruit.PlayerID.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-roster">
        <div class='w3-container'>
          <div class='w3-row-padding'>
            <div class='w3-col s9'>
              <div class="w3-card">
                <div id='roster-bar' class="w3-bar">
                  <div class="w3-bar-item">
                    Data display:
                  </div>
                  <button class='w3-button w3-bar-item selected-roster-tab' type="button" table-data-context="StatsPG" name="button">Player Stats (Per Game)</button>
                  <button class='w3-button w3-bar-item' type="button" table-data-context="Ratings" name="button">Player Ratings</button>
                </div>
                <table class="table table-striped sortable width100" id='teamRosterTable'>
                  <thead>
                    <tr>
                      <th data-data="FullName" class='TeamRosterHeaderCell teamColorBorder' scope="col">Name</th>
                      <th data-data="JerseyNumber" class='TeamRosterHeaderCell teamColorBorder' scope="col">#</th>
                      <th data-data="Position" class='TeamRosterHeaderCell teamColorBorder' scope="col">Position</th>
                      <th data-data="HeightFormatted" class='TeamRosterHeaderCell teamColorBorder' scope="col">Height</th>
                      <th data-data="PlayerClass" class='TeamRosterHeaderCell teamColorBorder' scope="col">Class</th>
                      <th data-data="OverallRating" class='TeamRosterHeaderCell teamColorBorder' scope="col">Overall</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>

                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="w3-col s3">
              <div class="w3-card" id='teamRosterPlayerHighlight'>
                <div>
                  <span class='table_title' data-field='PlayerName'>Click on a player for more info</span>
                </div>
                <table class="playerinfo">
                  <tr>
                  <td>
                    <div data-field='PlayerFaceJson' id='teamRosterPlayerHighlightPlayerFace' class="" style='width:80px;'>

                    </div>
                  </td>
                  <td>
                    <table>
                      <tbody>
                        <tr>
                          <td class='font12 padding-4-6'>Home</td>
                          <td class='font14' colspan="2" data-field='HometownAndState'>Eugene, OR</td>
                        </tr>
                        <tr>
                          <td class='font12 padding-4-6'>Height</td>
                          <td class='font14' data-field='HeightFormatted'> 6-6
                          </td>
                        </tr>
                        <tr>
                          <td class='font12 padding-4-6'>Weight</td>
                          <td class='font14' data-field='WeightFormatted'> 237
                          </td>
                        </tr>
                        <tr>
                          <td class='font12 padding-4-6'>Year</td>
                          <td class='font14' data-field='ClassID__ClassAbbreviation'>Senior</td>
                        </tr>
                        <tr>
                          <td class='font12 padding-4-6'>Overall</td>
                          <td class='font14' data-field='playerseasonskill__OverallRating'>92</td>
                        </tr>
                      </tbody>
                    </table>
                    </td>
                    </tr>

                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-schedule">
        <div class="w3-container">
          <div class="w3-row-padding">
            <div class="w3-col s8">
              <div class="w3-card ">
                <div class="w3-card-header">
                  Schedule
                </div>
                <table class="w3-table-all">
                  <tbody id='TeamScheduleContainer'>
                    <tr class='w3-hide' id='TeamScheduleRowPlayedGames'>
                      <td>Week</td>
                      <td>Opponent</td>
                      <td>Record</td>
                      <td>Outcome</td>
                    </tr>
                    <tr class="w3-hide w3-padding-16 TeamScheduleRow" id='TeamScheduleRowClone'>
                      <td class='TeamScheduleGameCell' data-field='WeekName'></td>
                      <td class="w3-col TeamScheduleGameCell">
                        <span data-field='AtOrVs'></span>
                        <img src="" img-src-field='LogoURL' alt="" class='teamScheduleTeamLogo'>
                        <span data-field='OpponentRank'></span>
                        <a href="" href-field='TeamIDURL' data-field='TeamName'></a>
                      </td>
                      <td data-field='GameResultLetter'></td>
                      <td class="w3-col TeamScheduleGameCell">
                        <span data-field='GameResultLetter' class-field='GameResultLetterClass'></span>
                        <a href=""  href-field='GameIDURL' data-field='GameDisplay'></a>
                      </td>
                    </tr>
                    <tr class='w3-hide' id='TeamScheduleRowFutureGames'>
                      <td>Week</td>
                      <td>Opponent</td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-analytics">
        Analytics Window
        <div id="map" style="width: 930px; height: 630px; border: solid 3px red;"></div>
        <div id="TeamRankTrend" style="width: 930px; height: 630px; border: solid 3px black;"></div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-coaches">
        <div class='container'>
          <div class='row'>
            <div class='w3-col s1'></div>
            <div class='w3-col s10' id='CoachChart'>
            </div>
            <div class='w3-col s1'></div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-history">
        <div class='w3-display-container'>
          <div class='w3-row-padding'>
            <div class='w3-col s8'>
              <div class="w3-card">
              <table id='teamSeasonHistoryResultsTable' class='display table sortable'>
                <thead id='TeamSeasonHistoryTable'>
                  <th class=' teamColorBorder'>Season</th>
                  <th class=' teamColorBorder'>Final Rank</th>
                  <th class=' teamColorBorder'>Record</th>
                  <th class=' teamColorBorder'>Conf Record</th>
                  <th class=' teamColorBorder'>Conf Rank</th>
                  <th class=' teamColorBorder'>Bowl</th>
                  <th class=' teamColorBorder'>Recruit Class Rank</th>
                </thead>
                <tr id='TeamSeasonHistoryRowClone' class='hidden'>
                  <td class='TeamSeasonHistoryRowCell' data-value=""><a href-field="SeasonRecapLink" data-field='SeasonYear'></a></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='FinalRank' data-value=""></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='TeamRecord' data-value=""></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='TeamConferenceRecord' data-value=""></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='ConferenceRank' data-value=""></td>
                  <td class='TeamSeasonHistoryRowCell' data-field='' data-value="">
                      <span data-field='BowlResult'></span>
                      <a href-field='BowlHref'><span data-field='BowlScore'></span></a>
                      <span data-field='String_BowlVs'></span>
                      <a href-field='BowlOpponentHref'><span data-field='BowlOpponent'></span></a>
                      <span data-field='String_BowlIn'></span>
                      <span data-field='BowlName'></span>
                  </td>
                  <td class='TeamSeasonHistoryRowCell' data-field='RecruitingClassRank' data-value=""></td>
                </tr>
              </table>
              </div>
            </div>
          </div>
          <div class='w3-row-padding'>
            <div class='w3-col s10'>
              {% for Banner in TeamHistory %}
                <div class="teamAchievementFlag" style='background: #{{page.PrimaryColor}}; border-color: #{{page.SecondaryColor}};'>
                  <div class='teamAchievementFlagYear'>{{Banner.Season}}</div>
                  <div class="teamAchievementFlagTitle">{{team.TeamName}}</div>
                  <div class="teamAchievementFlagTitle BannerLine1">{{Banner.BannerLine1}}</div>
                  <div class="teamAchievementFlagTitle BannerLine2">{{Banner.BannerLine2}}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-records">
        <div class="w3-bar boxscore-bar background-white team-record-bar">
          <div class="w3-bar-item fontweight500">Team Records</div>
          <button class="w3-bar-item w3-button tab team-record-tab selected-team-record-tab" id="Team-Record-Season-tab" timeframe='Season'>Season</button>
          <button class="w3-bar-item w3-button tab team-record-tab" id="Team-Record-Career-tab" timeframe='Career'>Career</button>
          <button class="w3-bar-item w3-button tab team-record-tab" id="Team-Record-Game-tab" timeframe='Game'>Single Game</button>
        </div>
        <div class='w3-display-container'>
          <div class='w3-row-padding' id='teamHistoryPlayerLeaderRowClone'>
            <div id='teamHistoryPlayerLeadersClone' class='w3-col s4 w3-hide'>
              <table id='' class='display table sortable'>
                <thead>
                  <th class='teamColorBorder'>Rank</th>
                  <th class='teamColorBorder'>Player</th>
                  <th class='teamColorBorder'>Season</th>
                  <th class='teamColorBorder' data-field='DisplayName'></th>
                </thead>
                <tr id='teamHistoryPlayerLeadersRowClone' class='w3-hide'>
                  <td class='TeamHistoricalLeaderRowCell' data-field='ValueRank' data-value=""></td>
                  <td class='TeamHistoricalLeaderRowCell' data-value=""><a href="" href-field='PlayerHref' ><span data-field='PlayerName'></span>, </a><span data-field='PlayerPosition'></span></td>
                  <td class='TeamHistoricalLeaderRowCell' data-field='Timeframe' data-value=""></td>
                  <td class='TeamHistoricalLeaderRowCell' data-field='Value' data-value=""></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<script src="{% static 'common/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'common/jquery.min.js' %}"></script>
<script src="{% static 'common/popper.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script src="{% static 'Highcharts/code/highcharts.js' %}"></script>
<script src="{% static 'Highcharts/code/modules/sankey.js' %}"></script>
<script src="{% static 'Highcharts/code/modules/organization.js' %}"></script>
<script src="{% static 'Highcharts/code/modules/accessibility.js' %}"></script>

<script src="{% static 'Pages/Team.js' %}" type="module"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="{% static 'common/bootstrap.min.js' %}"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'common/loader.js' %}"></script>

<style media="screen">
  .teamColorBorder {
    border-top-color: #{{page.PrimaryColor}}  !important;
    border-bottom-color: #{{page.PrimaryColor}} !important;
  }
</style>
