<div>
  {% include "HeadFootballCoach/ext_NavBar.html" %}
</div>
{% load static %}
{% load humanize %}


<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/fixedHeader.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">


<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>

<head>
  <style media="screen">
    .dt-buttons button.dt-button {
      width: 9%
    }
  </style>
</head>

<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "HeadFootballCoach/Scoreboard.html" %}
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-player-stats-tab" style="background-color: #{{page.SecondaryColor}};">{{page.YearDisplay}} Team Stats</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-league-leaders-tab">League Leaders</button>
        <div class="w3-dropdown-hover  w3-right" style='margin-right: 20px;'>
          <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-team-dropdown">Seasons</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:20px; max-height: 70vh; overflow-y: scroll;">
            {% for Season in Seasons %}
            <a href="{{Season.SeasonStatsHref}}" class="w3-bar-item w3-button">{{Season.SeasonStartYear}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:block;"  id="nav-team-stats">
        <div class='w3-display-container' >
          <div class='w3-row-padding w3-margin-bottom'>
            <div class='w3-col s11'>
              <div class="w3-card ">

                <table class="w3-table w3-table-all center-text" id='TeamStats'  style="width:100%;">
                  <thead>
                    <tr >
                      <th colspan="3" class='center-text col-group'>TEAM</th>
                      <th colspan="3" class='center-text col-group'>GAMES</th>
                      <th colspan="3" class='center-text col-group'>POINT MARGIN</th>
                      <!-- OFFENSE TOTALS -->
                      <th colspan="2" class='center-text col-group'>TOTAL</th>
                      <th colspan="2" class='center-text col-group'>PASSING</th>
                      <th colspan="2" class='center-text col-group'>RUSHING</th>
                      <th colspan="2" class='center-text col-group'>POINTS</th>
                      <!-- DEFENSE TOTALS -->
                      <th colspan="2" class='center-text col-group'>TOTAL</th>
                      <th colspan="2" class='center-text col-group'>PASSING</th>
                      <th colspan="2" class='center-text col-group'>RUSHING</th>
                      <th colspan="2" class='center-text col-group'>POINTS</th>
                      <!-- OFFENSE PASSING -->
                      <th colspan="12" class='center-text col-group'>PASSING</th>
                      <!-- OFFENSE RUSHING -->
                      <th colspan="6" class='center-text col-group'>RUSHING</th>
                      <!-- OFFENSE REC -->
                      <th colspan="6" class='center-text col-group'>RECEIVING</th>
                      <!-- OFFENSE DOWNS -->
                      <th colspan="4" class='center-text col-group'>FIRST DOWN</th>
                      <th colspan="3" class='center-text col-group'>THIRD DOWN</th>
                      <th colspan="3" class='center-text col-group'>FOURTH DOWN</th>
                      <th colspan="2" class='center-text col-group'>PENALTIES</th>
                      <!-- DEFENSE PASSING -->
                      <th colspan="12" class='center-text col-group'>PASSING</th>
                      <!-- DEFENSE RUSHING -->
                      <th colspan="6" class='center-text col-group'>RUSHING</th>
                      <!-- Kicking -->
                      <th colspan="8" class='center-text col-group'>FIELD GOALS</th>
                      <th colspan="3" class='center-text col-group'>POINT AFTER</th>
                      <!-- PUNTING -->
                      <th colspan="5" class='center-text col-group'>PUNTING</th>
                      <!-- RETURNING -->
                      <th colspan="5" class='center-text col-group'>KICKOFFS</th>
                      <th colspan="5" class='center-text col-group'>PUNTS</th>

                      <th colspan="3" class='center-text col-group'>RANKINGS</th>
                      <th colspan="4" class='center-text col-group'>VS TOP 25</th>
                      <th colspan="7" class='center-text col-group'>AWARDS</th>
                      <th colspan="6" class='center-text col-group'>BOWLS</th>
                      <th></th>
                    </tr>
                    <tr>
                      <th colspan="1" data-data="PlayerTeam" data-tooltip-title="Player Current Team">Team</th>
                      <th  colspan="1" data-data="PlayerTeam" data-tooltip-title="Player Current Team">Conference</th>
                      <th  colspan="1" data-data="PlayerTeam" data-tooltip-title="Player Current Team">Rank</th>
                      <th  colspan="1" data-data="GamesPlayed" data-tooltip-title="Player Current Team">GP</th>
                      <th  colspan="1" data-data="Wins" data-tooltip-title="Player Current Team">Wins</th>
                      <th  colspan="1" data-data="Losses" data-tooltip-title="Player Current Team">Losses</th>
                      <th  colspan="1" data-data="Points" data-tooltip-title="Player Current Team">PPG</th>
                      <th  colspan="1" data-data="Points Allowed" data-tooltip-title="Player Current Team">PAPG</th>
                      <th  colspan="1" data-data="Points Allowed" data-tooltip-title="Player Current Team">MOV</th>

                      <!-- OFFENSE TOTALS -->
                      <th  colspan="1">Yrds</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">Yrds</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">Yrds</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">Points</th>
                      <th  colspan="1">PPG</th>
                      <!-- DEFENSE TOTALS -->
                      <th  colspan="1">Yrds</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">Yrds</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">Yrds</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">Points</th>
                      <th  colspan="1">PPG</th>

                      <!-- OFFENSE PASSING -->
                      <th  colspan="1">CMP</th>
                      <th  colspan="1">ATT</th>
                      <th  colspan="1">CMP %</th>
                      <th  colspan="1">Yards</th>
                      <th  colspan="1">YPA</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">LNG</th>
                      <th  colspan="1">TD</th>
                      <th  colspan="1">INT</th>
                      <th  colspan="1">SACK</th>
                      <th  colspan="1">SYL</th>
                      <th  colspan="1">RTG</th>

                      <!-- OFFENSE RUSHING -->
                      <th  colspan="1">ATT</th>
                      <th  colspan="1">Yards</th>
                      <th  colspan="1">AVG</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">LNG</th>
                      <th  colspan="1">TD</th>

                      <!-- OFFENSE REC -->
                      <th  colspan="1">REC</th>
                      <th  colspan="1">Yards</th>
                      <th  colspan="1">AVG</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">LNG</th>
                      <th  colspan="1">TD</th>
                      <!-- OFFENSE DOWNS -->
                      <th  colspan="1">Total</th>
                      <th  colspan="1">Rush</th>
                      <th  colspan="1">Pass</th>
                      <th  colspan="1">Pen</th>

                      <th  colspan="1">MADE</th>
                      <th  colspan="1">ATT</th>
                      <th  colspan="1">%</th>

                      <th  colspan="1">MADE</th>
                      <th  colspan="1">ATT</th>
                      <th  colspan="1">%</th>

                      <th  colspan="1">Total</th>
                      <th  colspan="1">Yards</th>

                      <!-- DEFENSE PASSING -->
                      <th  colspan="1">CMP</th>
                      <th  colspan="1">ATT</th>
                      <th  colspan="1">CMP %</th>
                      <th  colspan="1">Yards</th>
                      <th  colspan="1">YPA</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">LNG</th>
                      <th  colspan="1">TD</th>
                      <th  colspan="1">INT</th>
                      <th  colspan="1">SACK</th>
                      <th  colspan="1">SYL</th>
                      <th  colspan="1">RTG</th>
                      <!-- DEFENSE RUSHING -->
                      <th  colspan="1">ATT</th>
                      <th  colspan="1">Yards</th>
                      <th  colspan="1">AVG</th>
                      <th  colspan="1">YPG</th>
                      <th  colspan="1">LNG</th>
                      <th  colspan="1">TD</th>
                      <!-- Kicking -->
                      <th  colspan="1">FGM</th>
                      <th  colspan="1">FGA</th>
                      <th  colspan="1">FG %</th>
                      <th  colspan="1">LNG</th>
                      <th  colspan="1">20-29</th>
                      <th  colspan="1">30-39</th>
                      <th  colspan="1">40-49</th>
                      <th  colspan="1">50+</th>

                      <th  colspan="1">XPM</th>
                      <th  colspan="1">XPA</th>
                      <th  colspan="1">XP %</th>

                      <!-- PUNTING -->
                      <th  colspan="1">Punts</th>
                      <th  colspan="1">Yards</th>
                      <th  colspan="1">LNG</th>
                      <th  colspan="1">AVG</th>
                      <th  colspan="1">Net</th>
                      <!-- RETURNING -->
                      <th  colspan="1">ATT</th>
                      <th  colspan="1">Yards</th>
                      <th  colspan="1">AVG</th>
                      <th  colspan="1">LNG</th>
                      <th  colspan="1">TD</th>

                      <th  colspan="1">ATT</th>
                      <th  colspan="1">Yards</th>
                      <th  colspan="1">AVG</th>
                      <th  colspan="1">LNG</th>
                      <th  colspan="1">TD</th>

                      <th  colspan="1">Weeks #1</th>
                      <th  colspan="1">Weeks Top 10</th>
                      <th  colspan="1">Weeks Top 25</th>

                      <th  colspan="1">GP</th>
                      <th  colspan="1">Wins</th>
                      <th  colspan="1">Losses</th>
                      <th  colspan="1">Win %</th>

                      <th  colspan="1">Heisman</th>
                      <th  colspan="1">AA</th>
                      <th  colspan="1">PreSeason AA</th>
                      <th  colspan="1">POTW</th>
                      <th  colspan="1">All-Conf</th>
                      <th  colspan="1">PreSeason All-Conf</th>
                      <th  colspan="1">Conf POTW</th>

                      <th  colspan="1">Natl Champs</th>
                      <th  colspan="1">Conf Champs</th>
                      <th  colspan="1">Bowl GP</th>
                      <th  colspan="1">Bowl Wins</th>
                      <th  colspan="1">Bowl Losses</th>
                      <th  colspan="1">Bowl Win %</th>

                      <th></th>

                    </tr>
                  </thead>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-league-leaders">
        <div class='w3-display-container'>
          <div class='w3-row-padding' id='worldLeagueLeaderRow'>
            <div id='worldLeagueLeadersClone' class='w3-col s3 w3-hide'>
              <table id='' class='display table sortable w3-table-all'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th data-field='DisplayName'></th>
                </thead>
                <tr id='worldLeagueLeadersRowClone' class='w3-hide'>
                  <td class='WorldLeagueLeaderRowCell text-center' data-field='ValueRank' data-value=""></td>
                  <td class='WorldLeagueLeaderRowCell' data-value=""><a href="" href-field='PlayerHref' ><span data-field='PlayerName'></span>, </a><span data-field='PlayerPosition'></span></td>
                  <td class='WorldLeagueLeaderRowCell' data-value=""><a href-field='PlayerTeamHref'><img src="" src-field='TeamLogoURL' class='worldLeagueLeaderTeamLogo'></a></td>
                  <td class='WorldLeagueLeaderRowCell' data-field='Value' data-value=""></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% include "HeadFootballCoach/ext_CommonScripts.html" %}
<script src="{% static 'Pages/TeamStats.js' %}" type="module"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.select.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.searchPanes.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedColumns.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedHeader.min.js' %}"></script>


{{ Teams|json_script:"team-stat-data" }}
