{% include "HeadFootballCoach/ext_NavBar.html" %}
{% load static %}

<div WorldID="{{page.WorldID}}" TeamJerseyInvert="{{page.TeamJerseyInvert}}" TeamJerseyStyle="{{page.TeamJerseyStyle}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;'
  id='PageDataPassthru'></div>

<link href="https://fonts.googleapis.com/css?family=Volkhov&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<body>
  <div class="PageContent">
    <div class='TeamHeader'></div>

    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-roster-tab">Roster</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s8 w3-display-container">
              <div class="w3-row">
                <div class="w3-card w3-col s12">
                  <table>
                    <thead>
                      <th>Team Name</th>
                      <th>Conference</th>
                      <th>Record</th>
                      <th>Conference Championships</th>
                      <th>National Championships</th>
                    </thead>
                    {% for Team in TeamList %}
                    <tr>
                      <td>
                        <a  class='' href="/World/{{page.WorldID}}/Team/{{ Team.TeamID }}/">
                          <img class='worldTeamLogo' src='{{Team.TeamLogoURL}}' alt="My image">
                          <span>{{ Team.TeamName }} {{ Team.TeamNickname }}</span>
                        </a>
                      </td>
                      <td>{{Team.ConferenceID.ConferenceAbbreviation}}</td>
                      <td>{{Team.HistoricalTeamWins}} - {{Team.HistoricalTeamLosses}}</td>
                      <td>{{Team.HistoricalTeamConferenceChampionships}}</td>
                      <td>{{Team.HistoricalNationalChampionships}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
