<div>
  {% include "HeadFootballCoach/ext_NavBar.html" %}
</div>
{% load static %}
{% load humanize %}
{% load CustomTags %}



<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/rowGroup.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/fixedHeader.dataTables.min.css' %}">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">

{% include "HeadFootballCoach/ext_TeamColoring.html" %}

<head>
  <style id="addedStyle">

    .save-depth-chart{
      border: 2px solid #{{page.PrimaryColor}} !important;
      background-color: white !important;
      color: #{{page.PrimaryColor}} !important;
      background-image: none !important;
      font-weight: 500;
      font-size: 14px!important;
    }

    .save-depth-chart:hover {
      box-shadow: 0px 2px 12px #{{page.PrimaryColor}};
      border: 3px solid #{{page.PrimaryColor}};
    }
  </style>
</head>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>


<body>
  <div class="PageContent">
    {% include "HeadFootballCoach/ext_TeamHeader.html" %}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        {% for PositionGroup in PositionGroups%}
        {% if forloop.counter == 1%}
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-{{PositionGroup.PositionGroupName}}-tab" style="background-color: #{{page.SecondaryColor}};">{{PositionGroup.PositionGroupName}}</button>
        {% else %}
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-{{PositionGroup.PositionGroupName}}-tab">{{PositionGroup.PositionGroupName}}</button>
        {% endif %}
        {% endfor %}
        {% include "HeadFootballCoach/ext_TeamList.html" %}
      </div>
    </nav>
    <div id="nav-tabContent">
      {% for PositionGroup in PositionGroups%}
      {% if forloop.counter == 1%}
      <div class="tab-content" style="display:block;"  id="nav-{{PositionGroup.PositionGroupName}}">
      {% else %}
      <div class="tab-content" style="display:none;"  id="nav-{{PositionGroup.PositionGroupName}}">
      {% endif %}
          <div class='w3-display-container'>
            <div class='w3-row-padding'>
              <div class="w3-col s10"   style='overflow-y: scroll;'>
                <div class="w3-card">
                  <span class='table_title'>{{team.TeamName}} {{PositionGroup.PositionGroupName}} Depth Chart</span>
                  <button type="button" name="button" class='w3-button save-depth-chart w3-right' {{Disabled}}>Save Depth Chart</button>
                  <table class='width100 margin-bottom-24 player-list-table w3-table-all w3-bordered'>
                    <thead>
                      <tr>
                        <th>Position</th>
                        <th>1st</th>
                        <th>2nd</th>
                        <th>3rd</th>
                        <th>4th</th>
                        <th>5th</th>
                        <th>6th</th>
                      </tr>
                    </thead>
                    <tbody>

                    {% for Position in PositionGroup.Positions%}
                      <tr>
                        <td >{{Position.PositionName}}</td>
                        {% for Player in Position.InDepthChart %}
                        <td class='{{Player.StarterClass}}'>
                          <ul class='no-list-style'>
                            <li>
                              <select class="w3-select" name="option" PositionAbbreviation="{{Position.PositionAbbreviation}}" DepthPosition="{{forloop.counter}}" {{Disabled}}>
                                <option value="{{Player.PlayerTeamSeasonID}}" playerteamseasonid="{{Player.PlayerTeamSeasonID}}">{{Player.PositionID__PositionAbbreviation}} {{Player.PlayerName}} ({{Player.playerseasonskill__OverallRating}})</option>
                                {% for AvailPlayer in AvailablePlayers%}
                                <option value="{{AvailPlayer.PlayerTeamSeasonID}}" playerteamseasonid="{{AvailPlayer.PlayerTeamSeasonID}}">{{AvailPlayer.PositionID__PositionAbbreviation}} {{AvailPlayer.PlayerName}} ({{AvailPlayer.playerseasonskill__OverallRating}})</option>
                                {% endfor %}
                              </select>
                              </li>
                              <li class='font10'>Position snaps played: 60%</li>
                            </ul>

                          </td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                  </table>
                </div>

              </div>
            </div>
            <div class="w3-row-padding">
                <div class="w3-col w3-card s10" style='overflow-y: scroll; height: 500px;'>
                  <table class='width100 AvailablePlayerList' style=' width: 100%;'>
                    <thead>
                      <tr>
                        <th>Team</th>
                        <th>Player</th>
                        <th>Position</th>
                        <th>OVR</th>

                        <!-- PHY Skills -->
                        <th>SPD</th>
                        <th>STR</th>
                        <th>AGI</th>
                        <th>ACC</th>
                        <th>JMP</th>
                        <th>AWR</th>

                        <!-- PAS Skills -->
                        <th>OVR (QB)</th>
                        <th>ACU (S)</th>
                        <th>ACU (M)</th>
                        <th>ACU (D)</th>
                        <th>TPow</th>
                        <th>TRun</th>
                        <th>PA</th>

                        <!-- RUS Skills -->
                        <th>OVR (RB)</th>
                        <th>BCV</th>
                        <th>ELU</th>
                        <th>BRT</th>
                        <th>CAR</th>

                        <!-- REC Skills -->
                        <th>OVR (WR)</th>
                        <th>OVR (TE)</th>
                        <th>CAT</th>
                        <th>CIT</th>
                        <th>REL</th>
                        <th>RR</th>

                        <!-- BLK Skills -->
                        <th>OVR (OT)</th>
                        <th>OVR (OG)</th>
                        <th>OVR (OC)</th>
                        <th>PBlk</th>
                        <th>RBlk</th>
                        <th>IBlk</th>

                        <!-- DL Skills -->
                        <th>OVR (DE)</th>
                        <th>OVR (DT)</th>
                        <th>TCK</th>
                        <th>HITP</th>
                        <th>PRush</th>
                        <th>BShed</th>

                        <!-- LB Skills -->
                        <th>OVR (OLB)</th>
                        <th>OVR (MLB)</th>
                        <th>TCK</th>
                        <th>HITP</th>
                        <th>PRush</th>
                        <th>BShed</th>
                        <th>MCov</th>
                        <th>ZCov</th>

                        <!-- SEC Skills -->
                        <th>OVR (CB)</th>
                        <th>OVR (S)</th>
                        <th>TCK</th>
                        <th>HITP</th>
                        <th>MCov</th>
                        <th>ZCov</th>

                        <!-- KCK Skills -->
                        <th>OVR (K)</th>
                        <th>OVR (P)</th>
                        <th>KPow</th>
                        <th>KAcc</th>

                      </tr>
                    </thead>
                    <tbody class="player-list original-list width100">

                    </tbody>
                  </table>
                </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

<script src="{% static 'common/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'common/jquery.min.js' %}"></script>
<script src="{% static 'common/js.cookie.min.js' %}"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="{% static 'common/jquery-ui.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.select.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.rowGroup.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.searchPanes.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'Pages/TeamDepthChart.js' %}"></script>
<script src="{% static 'common/popper.min.js' %}"></script>

{{ AvailablePlayers|json_script:"available-player-data" }}
