<div>
  {% include "HeadFootballCoach/ext_NavBar.html" %}
</div>
{% load static %}
{% load humanize %}
{% load CustomTags %}

<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/rowGroup.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/fixedHeader.dataTables.min.css' %}">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">

{% include "HeadFootballCoach/ext_TeamColoring.html" %}

<head>
  <style id="addedStyle">

    .save-gameplan{
      border: 2px solid #{{page.PrimaryColor}} !important;
      background-color: white !important;
      color: #{{page.PrimaryColor}} !important;
      background-image: none !important;
      font-weight: 500;
      font-size: 14px!important;
    }

    .save-gameples:hover {
      box-shadow: 0px 2px 12px #{{page.PrimaryColor}};
      border: 3px solid #{{page.PrimaryColor}};
    }
  </style>
</head>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>


<body>
  <div class="PageContent">
    {% include "HeadFootballCoach/ext_TeamHeader.html" %}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-gameplan-tab" style="background-color: #{{page.SecondaryColor}};">Gameplan</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-preference-tab" style="background-color: #{{page.PrimaryColor}};">Player Preference</button>
        {% include "HeadFootballCoach/ext_TeamList.html" %}
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:block;"  id="nav-gameplan">
          <div class='w3-display-container'>
            <div class='w3-row-padding'>
              <div class="w3-col s6"   style='overflow-y: scroll;'>
                <div class="w3-card">
                  <table class='w3-table w3-striped w3-margin-bottom'>
                    <tbody>
                      <tr  class='team-primary-background'>
                        <th colspan="2">Offense</th>
                        <th>Original Value</th>
                      </tr>
                      <tr>
                        <th>Offensive Playbook</th>
                        <td>
                          <select {{Disabled}} class="w3-select" field="OffensivePlaybook">
                            <option value="{{ThisTeamSeasonStrategy.OffensivePlaybook}}">{{ThisTeamSeasonStrategy.OffensivePlaybook}}</option>
                            {% for Option in OffensivePlaybook_Options%}
                            {% if Option != ThisTeamSeasonStrategy.OffensivePlaybook%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.OffensivePlaybook}}</td>
                      </tr>
                      <tr>
                        <th>Playcall Aggressiveness</th>
                        <td>
                          <div disable='{{Disabled}}' class="slider inline-block" style='width: 65%;' default='{{ThisTeamSeasonStrategy.SituationalAggressivenessTendency}}' min="-3" max="3" step="1" field='SituationalAggressivenessTendency'>

                          </div>
                          <div class="label margin-left-12 inline-block" style='width: 10%;'>

                          </div>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.SituationalAggressivenessTendency}}</td>
                      </tr>
                      <tr>
                        <th>Pass Frequency</th>
                        <td>
                          <div disable='{{Disabled}}' class="slider inline-block" style='width: 65%;' default='{{ThisTeamSeasonStrategy.PlaycallPassTendency}}' min="20" max="80" step="5" field='PlaycallPassTendency'>

                          </div>
                          <div class="label margin-left-12 inline-block"  style='width: 10%;'>

                          </div>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.PlaycallPassTendency}}</td>
                      </tr>
                      <tr>
                        <th>Passing Strategy</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="PassingStrategy">
                            <option value="{{ThisTeamSeasonStrategy.PassingStrategy}}">{{ThisTeamSeasonStrategy.PassingStrategy}}</option>
                            {% for Option in PassingStrategy_Options%}
                            {% if Option != ThisTeamSeasonStrategy.PassingStrategy%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.PassingStrategy}}</td>
                      </tr>
                      <tr>
                        <th>RB Strategy</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="RunningBackStrategy">
                            <option value="{{ThisTeamSeasonStrategy.RunningBackStrategy}}">{{ThisTeamSeasonStrategy.RunningBackStrategy}}</option>
                            {% for Option in RunningBackStrategy_Options%}
                            {% if Option != ThisTeamSeasonStrategy.RunningBackStrategy%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.RunningBackStrategy}}</td>
                      </tr>
                      <tr>
                        <th>Tempo</th>
                        <td>
                          <div disable='{{Disabled}}' class="slider inline-block" style='width: 65%;' default='{{ThisTeamSeasonStrategy.PlayClockAggressivenessTendency}}' min="-3" max="3" step="1" field='PlayClockAggressivenessTendency'>

                          </div>
                          <div class="label margin-left-12 inline-block" style='width: 10%;'>

                          </div>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.PlayClockAggressivenessTendency}}</td>
                      </tr>
                      <tr  class='team-primary-background'>
                        <th colspan="2">Defense</th>
                        <th>Original Value</th>
                      </tr>
                      <tr>
                        <th>Defensive Playbook</th>
                        <td>
                            <select {{Disabled}} class="w3-select"  field="DefensivePlaybook">
                              <option value="{{ThisTeamSeasonStrategy.DefensivePlaybook}}">{{ThisTeamSeasonStrategy.DefensivePlaybook}}</option>
                              {% for Option in DefensivePlaybook_Options%}
                              {% if Option != ThisTeamSeasonStrategy.DefensivePlaybook%}
                              <option value="{{Option}}">{{Option}}</option>
                              {% endif %}
                              {% endfor %}
                            </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.DefensivePlaybook}}</td>
                      </tr>
                      <tr>
                        <th>Coverage Style</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="CoverageStyleStrategy">
                            <option value="{{ThisTeamSeasonStrategy.CoverageStyleStrategy}}">{{ThisTeamSeasonStrategy.CoverageStyleStrategy}}</option>
                            {% for Option in CoverageStyleStrategy_Options%}
                            {% if Option != ThisTeamSeasonStrategy.CoverageStyleStrategy%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.CoverageStyleStrategy}}</td>
                      </tr>
                      <tr>
                        <th>Blitz Style</th>
                        <td>
                          <select {{Disabled}}  class="w3-select"  field="BlitzStrategy">
                            <option  value="{{ThisTeamSeasonStrategy.BlitzStrategy}}">{{ThisTeamSeasonStrategy.BlitzStrategy}}</option>
                            {% for Option in BlitzStrategy_Options%}
                            {% if Option != ThisTeamSeasonStrategy.BlitzStrategy%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.BlitzStrategy}}</td>
                      </tr>
                      <tr>
                        <th colspan="3">
                            <button class='save-gameplan w3-right w3-button' name="button">Save Gameplan</button>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-preference">
          <div class='w3-display-container'>
            <div class='w3-row-padding'>
              <div class="w3-col s6"   style='overflow-y: scroll;'>
                <div class="w3-card">
                  <table class='w3-table w3-striped w3-margin-bottom'>

                    <tbody>
                      <tr  class='team-primary-background'>
                        <th colspan="2">Offensive Players</th>
                        <th>Original Value</th>
                      </tr>
                      <tr>
                        <th>QB Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="QB_Preference">
                            <option value="{{ThisTeamSeasonStrategy.QB_Preference}}">{{ThisTeamSeasonStrategy.QB_Preference}}</option>
                            {% for Option in QB_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.QB_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.QB_Preference}}</td>
                      </tr>
                      <tr>
                        <th>RB Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="RB_Preference">
                            <option value="{{ThisTeamSeasonStrategy.RB_Preference}}">{{ThisTeamSeasonStrategy.RB_Preference}}</option>
                            {% for Option in RB_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.RB_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.RB_Preference}}</td>
                      </tr>
                      <tr>
                        <th>WR Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="WR_Preference">
                            <option value="{{ThisTeamSeasonStrategy.WR_Preference}}">{{ThisTeamSeasonStrategy.WR_Preference}}</option>
                            {% for Option in WR_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.WR_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.WR_Preference}}</td>
                      </tr>
                      <tr>
                        <th>TE Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="TE_Preference">
                            <option value="{{ThisTeamSeasonStrategy.TE_Preference}}">{{ThisTeamSeasonStrategy.TE_Preference}}</option>
                            {% for Option in TE_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.TE_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.TE_Preference}}</td>
                      </tr>
                      <tr>
                        <th>OL Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="OL_Preference">
                            <option value="{{ThisTeamSeasonStrategy.OL_Preference}}">{{ThisTeamSeasonStrategy.OL_Preference}}</option>
                            {% for Option in OL_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.OL_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.OL_Preference}}</td>
                      </tr>
                      <tr  class='team-primary-background'>
                        <th colspan="2">Defensive Players</th>
                        <th>Original Value</th>
                      </tr>
                      <tr>
                        <th>DE Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="DE_Preference">
                            <option value="{{ThisTeamSeasonStrategy.DE_Preference}}">{{ThisTeamSeasonStrategy.DE_Preference}}</option>
                            {% for Option in DE_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.DE_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.DE_Preference}}</td>
                      </tr>
                      <tr>
                        <th>DT Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="DT_Preference">
                            <option value="{{ThisTeamSeasonStrategy.DT_Preference}}">{{ThisTeamSeasonStrategy.DT_Preference}}</option>
                            {% for Option in DT_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.DT_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.DT_Preference}}</td>
                      </tr>
                      <tr>
                        <th>OLB Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="OLB_Preference">
                            <option value="{{ThisTeamSeasonStrategy.OLB_Preference}}">{{ThisTeamSeasonStrategy.OLB_Preference}}</option>
                            {% for Option in OLB_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.OLB_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.OLB_Preference}}</td>
                      </tr>
                      <tr>
                        <th>MLB Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="MLB_Preference">
                            <option value="{{ThisTeamSeasonStrategy.MLB_Preference}}">{{ThisTeamSeasonStrategy.MLB_Preference}}</option>
                            {% for Option in MLB_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.MLB_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.MLB_Preference}}</td>
                      </tr>
                      <tr>
                        <th>CB Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="CB_Preference">
                            <option value="{{ThisTeamSeasonStrategy.CB_Preference}}">{{ThisTeamSeasonStrategy.CB_Preference}}</option>
                            {% for Option in CB_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.CB_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.CB_Preference}}</td>
                      </tr>
                      <tr>
                        <th>S Preference</th>
                        <td>
                          <select {{Disabled}} class="w3-select"  field="S_Preference">
                            <option value="{{ThisTeamSeasonStrategy.S_Preference}}">{{ThisTeamSeasonStrategy.S_Preference}}</option>
                            {% for Option in S_Preference_Options%}
                            {% if Option != ThisTeamSeasonStrategy.S_Preference%}
                            <option value="{{Option}}">{{Option}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td>{{ThisTeamSeasonStrategy.S_Preference}}</td>
                      </tr>
                      <tr>
                        <th colspan="3">
                            <button class='save-gameplan w3-right w3-button' name="button">Save Gameplan</button>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</body>

<script src="{% static 'common/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'common/jquery.min.js' %}"></script>
<script src="{% static 'common/js.cookie.min.js' %}"></script>
<script src="{% static 'facesjs-master/src/generate.js' %}"></script>
<script src="{% static 'common/jquery-ui.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.select.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.rowGroup.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.searchPanes.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'Pages/TeamGameplan.js' %}"></script>
<script src="{% static 'common/popper.min.js' %}"></script>

{{ AvailablePlayers|json_script:"available-player-data" }}
