{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLinkDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{date.Date}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkDate">
            <a class="dropdown-item" id='SimToday'>Sim Today</a>
            <a class="dropdown-item" id='SimNextWeek'>Sim Next Week</a>
            <a class="dropdown-item" id='SimNextMonth'>Sim Next Month</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLinkNCAA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          NCAA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkNCAA">
          <a class="dropdown-item" href="/TopPlayers">Top Players</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLinkTeams" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          NCAA Teams
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkTeams">
          {% for team in allTeams %}
            <a class="dropdown-item" href="/Team/{{team.TeamID}}">{{team.Name}}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLinkUserTeam" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{userTeam.Name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkUserTeam">
          <a class="dropdown-item" href="/Team/{{userTeam.TeamID}}">Team Home</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<h2>
  <img class='teamTeamLogo' src=  '/static/img/TeamLogos/{{team.LogoURL}}.png'  alt="My image">
  <span class='teamSchoolName'>{{ team.SchoolName }}</span>

  <span class='teamTeamName'>{{team.TeamName}}</span>
  <span class='teamRecord'>{{record.Wins}} - {{record.Losses}}  </span>
</h2>


<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-roster" role="tab" aria-controls="nav-roster" aria-selected="false">Roster</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-schedule" role="tab" aria-controls="nav-schedule" aria-selected="false">Schedule</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-analytics" role="tab" aria-controls="nav-analytics" aria-selected="false">Analytics</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="nav-roster" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class='container'>
      <div class='row'>
        <div class='col-12'>
          <div id="OverallChart"></div>
      </div>
    </div>
  </div>
  </div>
  <div class="tab-pane fade" id="nav-schedule" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="card" >
            <div class="card-header">
              Schedule
            </div>
            <ul class="list-group list-group-flush">
              {% for game in games%}
              <a class='teamGameCell' href="/Game/{{ game.GameID }}/"><li class="list-group-item">
                <div class='container'>

                  <div class='row'>
                    <div class="col-8">{{game.VsString}}</div>
                    <div class="col-1 teamGameResultLetter{{game.GameResultLetter}}">{{game.GameResultLetter}}</div>
                    <div class="col-3">{{game.GameDisplay}}</div>
                  </div>
                </div>
                </li></a>
              {% endfor %}
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-analytics" role="tabpanel" aria-labelledby="nav-profile-tab">
    Analytics Window
    Players by state (google maps)
  </div>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'bootstrap-sortable.js' %}"></script>
<script src="{% static 'moment.min.js' %}"></script>


 <!-- Load c3.css -->
<link href="{% static 'c3/c3.css' %}" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static 'c3/c3.js' %}"></script>

<script>


var chart = c3.generate({
    bindto: '#OverallChart',
    data: {
        x: 'Height',
        columns: [
            ['Height' {% for height in playerHeights %},{{height.Height}}  {% endfor %}],
            ['Count'   {% for height in playerHeights %},{{height.Count}}  {% endfor %}]
        ],
        type: 'bar',
        label: {
          format: function (value, ratio) { return str(value / 12) + '\'' + str(value % 12); }
        },
        onclick: function (d, i) { console.log("onclick", d, i); }
        //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    //colors: customColors,
    size: {
        height: 180
    }
});


</script>


 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Hoops/bootstrap-sortable.css' %}">
