<div>
  {% include "HeadFootballCoach/NavBar.html" %}
</div>
{% load static %}
{% load humanize %}


<link rel="stylesheet" type="text/css" href="{% static 'common/jquery.dataTables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/select.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common/fixedHeader.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">


<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>


<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% if recentGames%}
      <div class="scoreboard-slideshow">
        <div class="scoreboard-slideshow-row">
          <div class="MultiCarousel" data-items="4,6,8,10" data-slide="3" id="MultiCarousel" data-interval="100">
            <div class="MultiCarousel-inner">
              {% for game in recentGames%}
              <div class="inline-block table-cell scoreboard-carousel-item w3-hide">
                <table BoxScoreGameID="{{game.GameID}}" {{game.WorldPageFilterAttributes}} class="all-border width100 background-white height-70">
                  <colgroup>
                    <col span="2">
                    <col span="2">
                    <col span="2">
                  </colgroup>
                  <thead>
                    <th class="" colspan="6">
                      <span class='font10'></span>
                    </th>
                    <th class="" colspan="2">
                      <span class='font10'><a href="{{game.GameHref}}">Recap</a></span>
                    </th>
                  </thead>
                  {% for TeamGame in game.TeamGames %}
                  <tr class="{{TeamGame.TeamWinningGameBold}} w3-margin">
                    <td colspan='2'>
                      <img class="small-logo margin-right-4" src="{{TeamGame.TeamSeasonID__TeamID__TeamLogoURL}}" alt="">
                    </td>
                    <td class='min-width-75 left-text' colspan='4'>
                      <div class='margin0'><span class='font10'>{{TeamGame.NationalRankDisplay}}</span> <a href="{{TeamGame.TeamHref}}" class='font14'>{{TeamGame.TeamSeasonID__TeamID__Abbreviation}}</a></div>
                    </td>
                    <td class='center-text font14 w3-padding-4' colspan='2'>
                      {{TeamGame.Points}}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>

              {% endfor %}
            </div>
            <button class="btn btn-primary leftLst">
              <</button> <button class="btn btn-primary rightLst">>
            </button>
          </div>
        </div>
      </div>
      {% endif %}
</div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-conference-standings-tab">Conference Standings</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-headlines-tab">Headlines</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-team-stats-tab">Team Stats</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-league-leaders-tab">League Leaders</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-player-stats-tab">Player Stats</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-history-tab">History</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-award-races-tab">Award Races</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content show active" style="display:block;"  id="nav-overview">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s3">
              <div class="w3-card">
                <span class='table_title'>Top 25</span>
                <table class='display table sortable w3-table'>
                  <colgroup>
                      <col span="1">
                      <col span="1">
                      <col span="1">
                  </colgroup>
                  {% for team in allTeams %}
                  <tr class='teamTableBorder'  style='border-left-color: #{{team.TeamSeasonID__TeamID__TeamColor_Primary_HEX}}'>
                    <td class="worldOverviewTop25TeamLineRank  w3-cell w3-cell-middle">
                      <div class='Top25RankNumberw3-display-middle '>{{ team.NationalRank }}</div>
                      {% if team.NationalRankDelta < 0 %}
                      <div class='worldOverviewTop25TeamLineRankDelta worldOverviewTop25TeamLineRankDeltaRed'>&#8595;{{team.NationalRankDeltaAbs}}</div>
                      {% elif team.NationalRankDelta > 0 %}
                      <div class='worldOverviewTop25TeamLineRankDelta worldOverviewTop25TeamLineRankDeltaGreen'>&#8593;{{team.NationalRankDeltaAbs}}</div>
                      {% endif %}
                    </td>
                    <td>
                      <a  class='' href="/World/{{page.WorldID}}/Team/{{ team.TeamSeasonID__TeamID }}/">
                        <img class='worldTeamLogo' src='{{team.TeamSeasonID__TeamID__TeamLogoURL}}' alt="">
                      </a>
                    </td>
                    <td class='worldOverviewTop25TeamLineName  w3-cell w3-cell-middle'>
                      <ul class='no-list-style'>
                        <li>
                          <a  class='font14' href="/World/{{page.WorldID}}/Team/{{ team.TeamSeasonID__TeamID }}/">
                            <span>{{ team.TeamSeasonID__TeamID__TeamName }} {{ team.TeamSeasonID__TeamID__TeamNickname }}</span>
                          </a>
                        </li>
                        {% if team.TeamSeasonID__ConferenceChampion %}
                        <li class='font10 bold'>{{team.TeamSeasonID__TeamID__ConferenceID__ConferenceAbbreviation}} Champions</li>
                        {% else %}
                        <li class='font10'>{{team.TeamSeasonID__ConferenceRank|ordinal}} in {{team.TeamSeasonID__TeamID__ConferenceID__ConferenceAbbreviation}}</li>
                        {% endif %}
                      </ul>
                    </td>
                    <td>
                      <img class='worldTeamLogo w3-hide {{team.AdditionalDisplayLogoClass}}' src='{{team.AdditionalDisplayLogo}}' alt="">
                      <img class='worldTeamLogo  w3-hide {{team.AdditionalDisplayLogo2Class}}' src='{{team.AdditionalDisplayLogo2}}' alt="">
                    </td>
                    <td class='worldOverviewTop25TeamLineRecord w3-cell  w3-cell-middle'>
                      <span class=''>{{team.TeamSeasonID__Wins}} - {{team.TeamSeasonID__Losses}}</span>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="w3-col  s4">
              {% if   CurrentWeek.PhaseID.PhaseName == 'Regular Season' or CurrentWeek.PhaseID.PhaseName == 'Conference Championships' or CurrentWeek.PhaseID.PhaseName == 'Bowls' %}
              <div class="w3-card background-eee">
                <div class="w3-bar boxscore-bar background-white" id="nav-tab-{{game.GameID}}">
                  <div class="w3-bar-item fontweight500">This Week</div>
                  <button GameFilterSelection="allgame" class="w3-bar-item upcoming-gameview-tab w3-button tab selected-upcoming-gameview-tab" id="upcoming-gameview-allgame-tab">All</button>
                  <button GameFilterSelection="top25game" class="w3-bar-item upcoming-gameview-tab w3-button tab" id="upcoming-gameview-top25game-tab">Top 25</button>
                  <button GameFilterSelection="nationalgame" class="w3-bar-item upcoming-gameview-tab w3-button tab" id="upcoming-gameview-nationalgame-tab">National</button>
                </div>
                <div class="">
                  {% for game in games%}
                  <table BoxScoreGameID="{{game.GameID}}" {{game.WorldPageFilterAttributes}} class="bottom-border width100 worldUpcomingTable">
                    <colgroup>
                        <col span="2">
                        <col span="2">
                        <col span="2">
                        <col span="2">
                        <col span="2">
                    </colgroup>
                    <thead>
                      <th class="bottom-border left-text" colspan="2">
                        <span class='font10 padBottom20 margin-8'>{{game.GameTime}} PM</span>
                      </th>
                      <th class="bottom-border" colspan="7">
                        <span class='font10'>{{game.GameHeadlineDisplay}}</span>
                      </th>
                      <th class="bottom-border" colspan="2">
                        <span class='font10 padBottom20'><a href="{{game.GameHref}}">Preview</a></span>
                      </th>
                    </thead>
                    {% for TeamGame in game.TeamGames %}
                    <tr class=" w3-margin">
                      <td  colspan='2'>
                          <img class="overviewRecentGameDisplayTeamLogo"   src="{{TeamGame.TeamSeasonID__TeamID__TeamLogoURL}}" alt="">
                      </td>
                      <td class='worldUpcomingGameCell' colspan='4'>
                        <div class='margin0'><span class='font10'>{{TeamGame.NationalRankDisplay}}</span> <a href="{{TeamGame.TeamHref}}" class='font16'>{{TeamGame.TeamSeasonID__TeamID__TeamName}}</a></div>
                        <div class="">
                          <span class='font10'>({{TeamGame.TeamRecordDisplay}})</span>
                        </div>
                      </td>
                      <td class='center-text' colspan='2'>
                        <h2 class='font16'>{{TeamGame.PPP_Rank}}</h2>
                        <div class="">
                          <span class='font8 margin-right-4 '>Off Rank</span>
                        </div>
                      </td>
                      <td class='center-text' colspan='2'>
                        <h2 class='font16'>{{TeamGame.PAPP_Rank}}</h2>
                        <div class="">
                          <span class='font8 margin-right-4 '>Def Rank</span>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    </table>
                  {% endfor %}
                </div>
              </div>
              {% elif CurrentWeek.PhaseID.PhaseName == 'Preseason' %}
              <div class="w3-card">
                <div class="w3-bar preseason-allamerican-team-bar" id="nav-tab-preseason-allamerican-team">
                  <div class="w3-bar-item fontweight500">Preseason All-Americans</div>
                  <button TeamSelection='First Team' class="w3-bar-item award-team-tab w3-button tab selected-preseason-award-team-tab" id="preseason-allamerican-team-firstteam-tab">1st Team</button>
                  <button TeamSelection='Second Team' class="w3-bar-item award-team-tab w3-button tab" id="preseason-allamerican-team-secondteam-tab">2nd Team</button>
                </div>
                <div class="w3-bar preseason-allamerican-conference-bar w3-margin-bottom" id="nav-tab-preseason-allamerican-conference">
                  {% for Conf in PreseasonAllAmericans%}
                  <button ConferenceSelection="{{Conf.Conference.ConferenceID}}" class="w3-bar-item award-conference-tab w3-button tab {{Conf.ConferenceSelected}}" id="preseason-allamerican-conference-{{Conf.Conference.ConferenceID}}-tab">{{Conf.Conference.ConferenceAbbreviation}}</button>
                  {% endfor %}
                </div>
                <div class="list-group list-group-flush">
                  <table id='teamOverviewConferenceStandings'>
                    <thead class=''>
                      <th>Pos</th>
                      <th>Team</th>
                      <th>Player</th>
                    </thead>
                    {% for Conf in PreseasonAllAmericans%}
                    {% for AwardTeam in Conf.Teams %}
                    {% for Award in AwardTeam.Team %}
                    <tr class='{{Conf.ShowConference}} {{AwardTeam.ShowTeam}} pre-season-allamarican-row preseason-allamerican-conference-{{Conf.Conference.ConferenceID}} preseason-allamerican-team-{{AwardTeam.TeamName}}'>
                      <td>{{Award.PositionID.PositionAbbreviation}}</td>
                      <td>
                        <a href="/World/{{page.WorldID}}/Team/{{ Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamID }}/">
                          <img class='teamOverviewConferenceStandingsTeamLogo' src="{{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.LogoURL}}" />
                           {{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamName }}
                        </a>
                      </td>
                      <td><a href="/World/{{page.WorldID}}/Player/{{ Award.PlayerTeamSeasonID.PlayerID_id }}/">{{Award.PlayerTeamSeasonID.PlayerID.FullName}}</a>, {{Award.PlayerTeamSeasonID.PlayerID.ClassID.ClassAbbreviation}}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                  </table>
                </div>
              </div>
              {% elif CurrentWeek.PhaseID.PhaseName == 'Season Recap' %}
              <div class="w3-card">
                <div class="w3-bar season-allamerican-team-bar" id="nav-tab-season-allamerican-team">
                  <div class="w3-bar-item fontweight500">{{CurrentWeek.PhaseID.LeagueSeasonID.SeasonStartYear}} All-Americans</div>
                  <button TeamSelection='First Team' class="w3-bar-item award-team-tab w3-button tab selected-season-award-team-tab" id="season-allamerican-team-firstteam-tab">1st Team</button>
                  <button TeamSelection='Second Team' class="w3-bar-item award-team-tab w3-button tab" id="season-allamerican-team-secondteam-tab">2nd Team</button>
                  <button TeamSelection='Freshman Team' class="w3-bar-item award-team-tab w3-button tab" id="season-allamerican-team-freshman-tab">Freshmen</button>
                </div>
                <div class="w3-bar season-allamerican-conference-bar w3-margin-bottom" id="nav-tab-season-allamerican-conference">
                  {% for Conf in SeasonAllAmericans%}
                  <button ConferenceSelection="{{Conf.Conference.ConferenceID}}" class="w3-bar-item award-conference-tab w3-button tab {{Conf.ConferenceSelected}}" id="season-allamerican-conference-{{Conf.Conference.ConferenceID}}-tab">{{Conf.Conference.ConferenceAbbreviation}}</button>
                  {% endfor %}
                </div>
                <div class="list-group list-group-flush">
                  <table id='teamOverviewConferenceStandings'>
                    <thead class=''>
                      <th>Pos</th>
                      <th>Team</th>
                      <th>Player</th>
                    </thead>
                    {% for Conf in SeasonAllAmericans%}
                    {% for AwardTeam in Conf.Teams %}
                    {% for Award in AwardTeam.Team %}
                    <tr class='{{Conf.ShowConference}} {{AwardTeam.ShowTeam}} season-allamarican-row season-allamerican-conference-{{Conf.Conference.ConferenceID}} season-allamerican-team-{{AwardTeam.TeamName}}'>
                      <td>{{Award.PositionID.PositionAbbreviation}}</td>
                      <td>
                        <a href="/World/{{page.WorldID}}/Team/{{ Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamID }}/">
                          <img class='teamOverviewConferenceStandingsTeamLogo' src="{{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.LogoURL}}" />
                           {{Award.PlayerTeamSeasonID.TeamSeasonID.TeamID.TeamName }}
                        </a>
                      </td>
                      <td><a href="/World/{{page.WorldID}}/Player/{{ Award.PlayerTeamSeasonID.PlayerID_id }}/">{{Award.PlayerTeamSeasonID.PlayerID.FullName}}</a>, {{Award.PlayerTeamSeasonID.PlayerID.ClassID.ClassAbbreviation}}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                  </table>
                </div>
              </div>

              {% endif %}
            </div>
            <div class='w3-col s3'>
              <div class="w3-card">
                <span class='table_title'>Headlines</span>
                <ul class='margin-right-4'>
                    {% for Headline in Headlines%}
                    <li class='left-text gray-text'>
                      <a href="{{Headline.HeadlineHref}}" class='charcoal-text font12'>{{Headline.HeadlineText}}</a>
                    </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content" style="display:none;" id="nav-conference-standings">
        <div class='w3-display-container' id='ConferenceStandingTabContainer'>
          <div class='w3-row-padding w3-hide' id='ConferenceStandingTableClone'>
            <div class='w3-col s8 w3-margin-top'>
              <span data-field='ConferenceName' class='table_title'></span>
              <table class="w3-table w3-table-all">
                <colgroup>
                    <col span="1" class='colgroup-border-right'>
                    <col span="3" class='colgroup-border-right'>
                    <col >
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">Team</th>
                    <th class='initialSortColumn' scope="col">Conf. Rank</th>
                    <th scope="col" data-defaultsort="asc">Conf. W-L</th>
                    <th scope="col" data-defaultsort="asc">W-L</th>
                    <th scope="col" data-defaultsort="asc">PPG</th>
                    <th scope="col" data-defaultsort="asc">PAPG</th>
                    <th scope="col" data-defaultsort="asc">MOV</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id='ConferenceStandingRowClone' class='w3-hide'>
                    <td>
                      <a href="" href-field='TeamHref'>
                        <img class='worldConferenceStandingTeamLogo' src='' img-src-field='TeamLogoURL' alt="My image">
                        <span data-field='NationalRankDisplay'></span>
                        <span data-field='TeamName'></span>
                      </a>
                    </td>
                    <td data-field='teamseason__ConferenceRank'></td>
                    <td data-field='ConferenceWinsLosses'></td>
                    <td data-field='WinsLosses'></td>
                    <td data-field='PPG'></td>
                    <td data-field='PAPG'></td>
                    <td data-field='MOV'></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-player-stats">
        <div class='w3-display-container' >
          <div class='w3-row-padding'>
            <div class='w3-col s11'>
              <table class="w3-table w3-table-all" id='WorldPlayerStats'  style="width:100%">
                <thead>
                  <tr>
                    <th data-data="PlayerTeam">Team</th>
                    <th data-data="PlayerName">Player</th>
                    <th data-data="ClassID__ClassAbbreviation">Class</th>
                    <th data-data="Position">Position</th>
                    <th data-data="playerseasonskill__OverallRating">OVR</th>
                    <th data-data="GameScore">Game Score</th>
                    <th data-data="PAS_Yards" class='WorldPlayerStats-Stat-Passing'>Pass Yards</th>
                    <th data-data="PAS_CompletionPercentage" class='WorldPlayerStats-Stat-Passing'>Pass %</th>
                    <th data-data="PAS_YPG" class='WorldPlayerStats-Stat-Passing'>Pass YPG</th>
                    <th data-data="PAS_TD" class='WorldPlayerStats-Stat-Passing'>Pass TDs</th>
                    <th data-data="PAS_INT" class='WorldPlayerStats-Stat-Passing'>Pass INT</th>
                    <th data-data="RUS_Yards" class='WorldPlayerStats-Stat-Rushing'>Rush Yards</th>
                    <th data-data="RUS_YPC" class='WorldPlayerStats-Stat-Rushing'>Rush YPC</th>
                    <th data-data="RUS_YPG" class='WorldPlayerStats-Stat-Rushing'>Rush YPG</th>
                    <th data-data="RUS_TD" class='WorldPlayerStats-Stat-Rushing'>Rush TDs</th>
                    <th data-data="RUS_LNG" class='WorldPlayerStats-Stat-Rushing'>Rush LNG</th>
                    <th data-data="RUS_20" class='WorldPlayerStats-Stat-Rushing'>Rush 20+</th>
                    <th data-data="FUM_Fumbles" class='WorldPlayerStats-Stat-Rushing'>Rush Fum</th>
                    <th data-data="REC_Yards" class='WorldPlayerStats-Stat-Receiving'>Rec Yards</th>
                    <th data-data="REC_Receptions" class='WorldPlayerStats-Stat-Receiving'>Rec Catches</th>
                    <th data-data="REC_YPC" class='WorldPlayerStats-Stat-Receiving'>Rec YPC</th>
                    <th data-data="REC_YPG" class='WorldPlayerStats-Stat-Receiving'>Rec YPG</th>
                    <th data-data="REC_TD" class='WorldPlayerStats-Stat-Receiving'>Rec TDs</th>
                    <th data-data="REC_Targets" class='WorldPlayerStats-Stat-Receiving'>Rec Targets</th>
                    <th data-data="REC_LNG" class='WorldPlayerStats-Stat-Receiving'>Rec LNG</th>

                    <th data-data="DEF_Tackles" class='WorldPlayerStats-Stat-Defense'>Tackles</th>
                    <th data-data="DEF_TacklesForLoss" class='WorldPlayerStats-Stat-Defense'>TFL</th>
                    <th data-data="DEF_Sacks" class='WorldPlayerStats-Stat-Defense'>Sacks</th>
                    <th data-data="DEF_INT" class='WorldPlayerStats-Stat-Defense'>INTs</th>
                    <th data-data="FUM_Forced" class='WorldPlayerStats-Stat-Defense'>FF</th>
                    <th data-data="FUM_Recovered" class='WorldPlayerStats-Stat-Defense'>FR</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-team-stats">
        <div class='w3-display-container' >
          <div class="w3-row-padding">
            <div class='w3-col s8'>
              <div class='w3-display-container w3-row-padding' id='worldteamstat-statgroup-div'>
                <div class="WorldTeamStats-Stat" id='WorldTeamStats-Stat-Offense'>
                  Offense
                </div>
                <div class="WorldTeamStats-Stat" id='WorldTeamStats-Stat-Offense-Adv'>
                  Offense-Adv
                </div>
              </div>
            </div>
          </div>
          <div class='w3-row-padding'>
            <div class='w3-col s11'>
              <table class="w3-table w3-table-all" id='WorldTeamStats'  style="width:100%">
                <thead>
                  <tr>
                    <th data-data='TeamName' class=''>Team</th>
                    <th data-data='teamseason__teamseasonweekrank__NationalRank' class=''>National Rank</th>
                    <th data-data='ConferenceID__ConferenceAbbreviation' class=''>Conference</th>
                    <th data-data='ConferenceWinsLosses' class=''>Conf. W-L</th>
                    <th data-data='WinsLosses' class=''>W-L</th>
                    <th data-data='PPG' class=''>PPG</th>
                    <th data-data='PAPG' class=''>PAPG</th>
                    <th data-data='MOV' class=''>MOV</th>
                    <th data-data='RUS_YardsPG' class='WorldPlayerStats-Stat-Offense'>Rush PG</th>
                    <th data-data='PAS_YardsPG' class='WorldPlayerStats-Stat-Offense'>Pass PG</th>
                    <th data-data='PercentPassPlays' class='WorldPlayerStats-Stat-Offense-Adv'>% Pass Plays</th>
                    <th data-data='SacksAllowed' class='WorldPlayerStats-Stat-Offense'>Sacks Allowed</th>
                    <th data-data='PercentOfScoringDrives' class='WorldPlayerStats-Stat-Offense-Adv'>% Scoring Drives</th>
                    <th data-data='PercentOfTurnoverDrives' class='WorldPlayerStats-Stat-Offense-Adv'>% Turnover Drives</th>
                    <th data-data='PointsPerDrive' class='WorldPlayerStats-Stat-Offense-Adv'>Points / Drive</th>
                    <th data-data='TimeOfPossessionPerDriveSeconds' class='WorldPlayerStats-Stat-Offense-Adv'>TOP / Drive</th>
                    <th data-data='YardsPerDrive' class='WorldPlayerStats-Stat-Offense-Adv'>Yards / Drive</th>
                    <th data-data='PlaysPerDrive' class='WorldPlayerStats-Stat-Offense-Adv'>Plays / Drive</th>
                    <th data-data='SecondsPerPlay' class='WorldPlayerStats-Stat-Offense-Adv'>Seconds / Play</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-award-races">
        <div class='w3-display-container' id='AwardRacesTabContainer'>
          <div class='w3-row-padding w3-hide' id='AwardRacesTableClone'>
            <div class='w3-col s10'>
              <table class="w3-table w3-table-all">
                <thead>
                  <tr>
                    <th class='initialSortColumn' scope="col">Team</th>
                    <th scope="col">Player</th>
                    <th scope="col">Pos.</th>
                    <th scope="col" data-defaultsort="asc">Ovr.</th>
                    <th scope="col" data-defaultsort="asc">PPG</th>
                    <th scope="col">RPG</th>
                    <th scope="col" data-defaultsort="asc">APG</th>
                    <th scope="col" data-defaultsort="asc">PER</th>
                    <th scope="col" data-defaultsort="asc">Pub. Shares</th>
                    <th scope="col" data-defaultsort="asc">Win Shares</th>
                    <th scope="col" data-defaultsort="asc">Award Shares</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id='AwardRacesRowClone' class='w3-hide'>
                    <td>
                      <a href="" href-field='TeamIDURL'>
                        <img class='worldConferenceStandingTeamLogo' src='' img-src-field='TeamLogoURL' alt="My image">
                        <span data-field='RankDisplayString'></span>
                        <span data-field='TeamName'></span>
                      </a>
                    </td>
                    <td>
                      <a href="" href-field='PlayerIDURL'>
                        <span data-field='FullName'></span>
                      </a>
                    </td>
                    <td data-field='Position'></td>
                    <td data-field='OverallRating'></td>
                    <td data-field='PPG'></td>
                    <td data-field='RPG'></td>
                    <td data-field='APG'></td>
                    <td data-field='PER'></td>
                    <td data-field='PublicityShares'></td>
                    <td data-field='WinShares'></td>
                    <td data-field='AwardShares'></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-schedule">
        <div class="w3-display-container">
          <div class="w3-row">
            <div class="w3-col s6">
              <div class="card">
                <div class="card-header">
                  Schedule
                </div>
                <ul class="list-group list-group-flush">
                  {% for game in games%}
                  <a class='teamGameCell' href="/World/{{page.WorldID}}/Game/{{ game.GameID }}/">
                    <li class="list-group-item">
                      <div class='w3-display-container'>

                        <div class='w3-row'>
                          <div class="w3-col s8">{{game.VsString}}</div>
                          <div class="w3-col s1 teamGameResultLetter{{game.GameResultLetter}}">{{game.GameResultLetter}}</div>
                          <div class="w3-col s3">{{game.GameDisplay}}</div>
                        </div>
                      </div>
                    </li>
                  </a>
                  {% endfor %}
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-analytics">
        Analytics Window
        <div id="map" style="width: 930px; height: 630px; border: solid 3px red;"></div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-headlines">
        Headlines
        <div class='w3-display-container'>
          {% for headline in headlines %}
          <div class='w3-row'>
            {{headline.HeadlineTextHTML|safe}}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="tab-content" style="display:none;"  id="nav-league-leaders">
        <div class='w3-display-container'>
          <div class='w3-row-padding' id='worldLeagueLeaderRow'>
            <div id='worldLeagueLeadersClone' class='w3-col s3 w3-hide'>
              <table id='' class='display table sortable w3-table-all'>
                <thead>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Team</th>
                  <th data-field='DisplayName'></th>
                </thead>
                <tr id='worldLeagueLeadersRowClone' class='w3-hide'>
                  <td class='WorldLeagueLeaderRowCell text-center' data-field='ValueRank' data-value=""></td>
                  <td class='WorldLeagueLeaderRowCell' data-value=""><a href="" href-field='PlayerHref' ><span data-field='PlayerName'></span>, </a><span data-field='PlayerPosition'></span></td>
                  <td class='WorldLeagueLeaderRowCell' data-value=""><a href-field='PlayerTeamHref'><img src="" src-field='PlayerTeamLogoURL' class='worldLeagueLeaderTeamLogo'></a></td>
                  <td class='WorldLeagueLeaderRowCell' data-field='Value' data-value=""></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-history">
        <div class='w3-container'>
          <div class='w3-row-padding'>

            <div class='w3-col s8'>
              <table id='LeagueSeasonHistoryResultsTable' class='w3-table w3-table-all'>
                <thead id='LeagueSeasonHistoryTable'>
                  <th>Season</th>
                  <th>Champions</th>
                  <th>Runner Up</th>
                  <th>Final Four</th>
                  <th>Final Four</th>
                  <th>POTY</th>
                </thead>
                <tr id='LeagueSeasonHistoryRowClone' class='hidden'>
                  <td class='LeagueSeasonHistoryRowCell' data-field='Season' data-value=""></td>
                  <td class='LeagueSeasonHistoryRowCell' data-value=""><a href="" data-field='ChampionTeam'></a><span span-field='ChampionTeam'></span></td>
                  <td class='LeagueSeasonHistoryRowCell' data-value=""><a href="" data-field='RunnerUpTeam'></a><span span-field='RunnerUpTeam'></span></td>
                  <td class='LeagueSeasonHistoryRowCell' data-value=""><a href="" data-field='FinalFourTeam1'></a><span span-field='FinalFourTeam1'></span></td>
                  <td class='LeagueSeasonHistoryRowCell' data-value=""><a href="" data-field='FinalFourTeam2'></a><span span-field='FinalFourTeam2'></span></td>
                  <td class='LeagueSeasonHistoryRowCell' data-value=""><a href="" data-field='POTY'></a></td>
                </tr>
              </table>
            </div>
          </div>

          <div class='row'>
            <div class='w3-col s1'></div>
            <div class='w3-col s10'>
              {% for Banner in WorldHistory %}
                <div class='teamHeaderRankBox' style='border-color:{{team.TeamColor_Primary_HEX}}'>
                  <div class="teamHeaderRankHeader" style="background-color:{{team.TeamColor_Primary_HEX}}">{{Banner.Banner}}</div>
                  <ul class='teamHeaderRank'>
                    <li>
                      <div class='container'>
                        <div class='row teamHeaderRankHeaderRowLine'>
                          <div class='w3-col s12 teamHeaderRankHeaderRow'>{{Banner.Season}}</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class='container'>
                        <div class='row'>
                          <div class='w3-col s12 teamHeaderRankValueRow'>{{Banner.Season}}</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                {% endfor %}
            </div>
            <div class='w3-col s1'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="{% static 'common/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'common/jquery.min.js' %}"></script>
<script src="{% static 'common/popper.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.select.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.searchPanes.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedColumns.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'common/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'action.js' %}"></script>
<script src="{% static 'Pages/World.js' %}" type="module"></script>
