
{% load static %}

<link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'Hoops/bootstrap-sortable.css' %}">

<style media="screen">
  body {
    padding: 0;
    font-size: 10px;
  }

  .grid {
      border: 1px solid #ccc;
      border-width: 1px 0 0 1px;
  }

  .grid-row {

  }

  .grid-box {
      border: 1px solid #ccc;
      border-width: 0 1px 1px 0;
      float: left;
      text-align: center;
  }

  .header {
    font-weight: 800;
  }
</style>

<body>
  <div class='PageContent'>

  </div>
</body>


<script src="{% static 'common/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'common/jquery.min.js' %}"></script>

<script src="{% static 'Pages/XFL.js' %}"></script>

<script type="text/javascript">
  function color(Occurance){
    var MaxOccurance = {{MaxOccurance}};
    var BaseColor = parseInt("FFF", 16);
    var MaxColor  = parseInt("33F", 16);

    // #333 #33F
    // #555 #55F
    // #666 #66F
    // #777 #77F

    var DifPerOccurance = (MaxColor - BaseColor) / MaxOccurance;

    var ThisColor = (Occurance * DifPerOccurance) + BaseColor;

    ThisColor = parseInt(ThisColor);

    var ColorConverted = ThisColor.toString(16);

    console.log('BaseColor', BaseColor, 'MaxColor', MaxColor, 'DifPerOccurance', DifPerOccurance, 'ThisColor', ThisColor, 'ColorConverted', ColorConverted)

    if (Occurance < 0) {
      return "000";
    }

    return ColorConverted;
  }

  function createGrid(size, scores) {


      size = scores.length;
      console.log('size', size);
      var dim = Math.floor($(window).width() * .6 /size)

      var parent = $('<div />', {
          class: 'grid',
          width: dim  * size,
          height: dim  * size
      }).addClass('grid').appendTo('body');


      for (var i = 0; i < size; i++) {
        if (i==0){
          var row = $('<div class="row" />').appendTo(parent);

          for(var p = 0; p < size; p++){
            $('<div class="header grid-box" />').text(p).css({'width': dim*.99, 'height': dim*.99}).appendTo(row);
          }
        }
          var row = $('<div  class="row" />').appendTo(parent)
          for(var p = 0; p < size; p++){
              var col = color(scores[p][i]);
              $('<div class="grid-box"/>').css({'width': dim*.99, 'height': dim*.99, 'background-color': col}).appendTo(row);
          }
          $('<div class="grid-box header"/>').css({'width': dim*.99, 'height': dim*.99}).text(i).appendTo(row);
      }
  }

  createGrid(50, {{ScoreList}});
  console.log({{ScoreList}})
</script>
