{% include "../../static/html_templates/common_templates/ext_nav_bar.njk" %}

<div WorldID="{{page.WorldID}}" TeamJerseyInvert="{{page.TeamJerseyInvert}}" TeamJerseyStyle="{{page.TeamJerseyStyle}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}"  SecondaryJerseyColor="{{page.SecondaryJerseyColor}}" TeamID="{{ThisTeamSeason.TeamID.TeamID}}" style='display:none;'
  id='PageDataPassthru'></div>

<head>
  <style id="addedStyle">
    .SelectedGameBox::after {
      border-left-width: 35px;
      border-right-width: 35px;
      border-width: 15px 35px 0;}

  </style>
</head>

{% include "../../static/html_templates/common_templates/ext_team_coloring.njk" %}


<body>
  <div class="PageContent">
    {% include "../../static/html_templates/common_templates/ext_team_header.njk" %}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item btn tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item btn tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        {% if games_played > 0%}
        <button class="w3-bar-item btn tab nav-tab-button" id="nav-team-stats-tab">Team Stats</button>
        {% endif %}
        <button class="w3-bar-item btn tab nav-tab-button" id="nav-info-tab">Team Info</button>
        {% include "../../static/html_templates/common_templates/ext_team_list.njk" %}
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview">

        {% if games|length > 0%}
        <div class=" w3-margin-bottom">
          <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col m12">
              <div class="">
                <div class="card w3-light-grey w3-col s12">

                  <div class="w3-row teamScheduleBar w3-white equal-sized-item-container">
                    {% for game in games %}
                    <div BoxScoreGameID="{{game.game_id}}" class="equal-sized-item teamScheduleGameBox w3-display-container {{game.selected_game_box}}" style='background-color: #{{game.opponent_team.team_color_primary_hex}}'>
                      <div class="teamScheduleGameBoxShortDate ellipsis" style='background-color: #{{game.opponent_team.team_color_primary_hex}}'>
                        <span class='ellipsis'>{{game.week_name}}</span>

                      </div>
                      <div class="equal-sized-item-container" >
                        <img class='teamScheduleOpponentLogo centered-item' src='{{game.opponent_team.team_logo_100}}' />
                      </div>

                      <div class="width100 white-text" style='color: white;'>
                        <a href="{{game.opponent_team.team_href}}">
                          <div class='teamScheduleGameBoxVsString hide-small white-text'>
                            <span>{{game.game_location_char}}</span>
                            <span class='font10'>{{game.opponent_rank_string}} </span>
                            <span>{{game['opponent_team']['team_abbreviation']}}</span>
                          </div>
                          <div class='teamScheduleGameBoxVsString show-small white-text'>{{game['opponent_team']['team_abbreviation']}}</div>
                        </a>
                        <div class="teamScheduleGameBoxResult">
                          <div class="teamGameResultLetter{{game.game_result_letter}} white-text bold" >{{game.game_result_letter}}</div>
                          <a href="{{game.game_href}}" class='hide-small white-text'>{{game.game_display}}</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="w3-row teamScheduleGameDashboard w3-display-container w3-light-grey">
                    {% for game in games%}
                    <div BoxScoreGameID="{{game.game_id}}" class="teamScheduleGameDashboardGameDisplay w3-display-middle w3-col l12 mw400 w3-display-container w3-white w3-border w3-border-grey w3-hide">
                      <div class="w3-col l12 height100 w3-display-container">
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.away_team.team_color_primary_hex}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetTop w3-white w3-display-topmiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoTop w3-display-middle' src='{{game.away_team.team_logo_50}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.home_team.team_color_primary_hex}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetBottom w3-white w3-display-bottommiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoBottom w3-display-middle' src='{{game.home_team.team_logo_50}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameDisplayTeams w3-col s12 w3-display-container w3-display-topmiddle">
                          <table class='width100 left-text'>
                            <tbody>
                              <tr>
                                <td colspan="1" ></td>
                                <td colspan="3" class='font10'>
                                  {{game.week_name}}
                                  &#183;
                                  <a href="{{game.game_href}}">
                                    {% if game.was_played%}
                                    Box Score
                                    {%else%}
                                    Preview
                                    {%endif%}
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td class='font10 no-width align-bottom'><span>{{game.away_team_season.national_rank_display}}</span></td>
                                <td class='font17 {{game.AwayTeamWinningGameBold}} align-bottom'>
                                  <a href="{{game.away_team.team_href}}">
                                    {{game.away_team.school_name}}
                                  </a>
                                  <span class='font10'>
                                    {% if game.was_played%}
                                    {{game.away_team_game.record_display}}
                                    {%else%}
                                    {{game.away_team_season.record_display}}
                                    {%endif%}
                                  </span>
                                </td>
                                <td class='{{game.away_team_winning_game_bold}} font16'>{{game.scoring.final[0]}}</td>
                              </tr>
                              <tr>
                                <td class='font10 no-width align-bottom'>{{game.home_team_season.national_rank_display}}</td>
                                <td class=' align-bottom'>
                                  <a href="{{game.home_team.team_href}}" class='font17 {{game.HomeTeamWinningGameBold}}'>
                                    {{game.home_team.school_name}}
                                  </a>
                                  <span class='font10'>
                                    {% if game.was_played%}
                                    {{game.home_team_game.record_display}}
                                    {%else%}
                                    {{game.home_team_season.record_display}}
                                    {%endif%}
                                  </span>
                                </td>
                                {% for period in game.periods%}
                                {{period.score}}
                                {%endfor%}
                                <td class='{{game.home_team_winning_game_bold}} font16'>{{game.scoring.final[1]}}</td>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                        <div class="teamScheduleGameDashboardGameDisplayTeams w3-col s12 w3-display-container font12">
                            {%for headline in game.headlines%}
                            <div>
                              {{headline.headline_text}}
                            </div>
                            {%endfor%}
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class=" w3-margin-bottom">
              <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-col s8">
                  <div class="card w3-light-grey w3-col s12">
                    <div class="w3-bar team-primary-background-bar">
                      Headlines
                    </div>
                    <div class="w3-row-padding">

                      {% if headlines %}
                      <div class="headline-slideshow width100">
                        <div class="headline-slideshow-row">
                          <div class="MultiCarousel" data-items="3,5,7,9" data-slide="1" id="MultiCarousel" data-interval="100">
                            <div class="MultiCarousel-inner">
                              <div class="inline-block table-cell headline-carousel-item height100">
                              {% for headline in headlines.slice(0,1)%}

                                <div class="w3-border w3-border-grey background-white height100">
                                  <div class="height80">
                                    <div class="team-header-color-left" style='background-color: #{{page.PrimaryColor}}; border-right-color: #{{page.SecondaryColor}};'></div>
                                    {{headline|log}}

                                    {% for team_season in headline.team_seasons%}
                                      <img src="{{team_season.team.team_logo_100}}" alt="" class='logo-30'>
                                    {%endfor%}

                                    <div class="team-header-color-right align-middle hide-small" style='background-color: #{{page.PrimaryColor}}; border-left-color: #{{page.SecondaryColor}};'></div>
                                  </div>
                                  <h2 >
                                    {{headline.headline_text}}
                                  </h2>
                                </div>
                              {% endfor %}
                              </div>
                              <div class="inline-block table-cell headline-carousel-item height100">
                              {% for headline in headlines.slice(1,100)%}

                                <div class="w3-border w3-border-grey background-white  height50p">
                                  <h5 >
                                    {{headline.headline_text}}
                                  </h5>
                                </div>

                                {% if loop.index % 2 == 0 and loop.index > 0 %}
                                </div>
                                <div class="inline-block table-cell headline-carousel-item height100">
                                {% endif %}

                              {% endfor %}
                              </div>
                            </div>
                            <button class="btn btn-primary leftLst" style='background-color: #{{page.PrimaryColor}}; border-color:  #{{page.PrimaryColor}};'>
                              </button> <button class="btn btn-primary rightLst" style='background-color: #{{page.PrimaryColor}}; border-color:  #{{page.PrimaryColor}};'>
                            </button>
                          </div>
                        </div>
                      </div>
                      {% endif %}

                    </div>
                  </div>
                </div>
                <div class="w3-col s4">
                  <div class="card w3-light-grey w3-col s12">
                    <div class="w3-bar team-primary-background-bar">
                      Signed Recruits
                    </div>
                      <table class='width100 table table-striped table-hover '>
                        <thead class='center-text-row'>
                          <tr class='team-secondary-table-row'>
                            <th class='left-text'>Player</th>
                            <th>Pos</th>
                            <th>Rating</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if signed_player_team_seasons|length == 0%}
                          <tr>
                            <td colspan='3'>No players signed</td>
                          </tr>
                          {% endif %}
                          {% for player_team_season in signed_player_team_seasons%}
                          <tr class='center-text-row'>
                            <td class='left-text'>
                              <div class="">
                                <a href="{{player_team_season.player.player_href}}">{{player_team_season.player.full_name}}</a>
                              </div>
                              <div class='left-text font10'>{{player_team_season.player.hometown_and_state}}</div>
                            </td>
                            <td>{{player_team_season.position}}</td>
                            <td>
                              <div class="">
                                {% for i in range(0, player_team_season.recruiting.stars) %}
                                  <i class="fas fa-star" style='color: #{{page.PrimaryColor}}'></i>
                                {% endfor %}
                              </div>
                              <div class="font10">
                                <span>Nat. {{player_team_season.recruiting.rank.national}}</span> |
                                <span>Pos. {{player_team_season.recruiting.rank.position_rank}}</span> |
                                <span>State {{player_team_season.recruiting.rank.state}}</span>
                              </div>
                            </td>
                          </tr>

                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>

              </div>
            </div>
            <div class="w3-row-padding">
            <div class="w3-col l4 m12 s12">
              <div class="w3-row">

                </div>
              <div class="w3-row w3-margin-top">


                {% if SignedRecruits|length > 0 %}
                <div class="card">
                  <div class="w3-bar team-primary-background-bar">
                    {{team.TeamName}} Signed Recruits
                  </div>
                  <table  class='table table-striped table-hover ' id='teamOverviewConferenceStandings'>
                    <thead>
                      <tr class='team-secondary-table-row'>
                        <th class='teamColorBorder'>Player</th>
                        <th class='teamColorBorder'>Pos</th>
                        <th class='teamColorBorder'>Hometown</th>
                        <th class='teamColorBorder'>*</th>
                        <th class='teamColorBorder'>Rank</th>
                        <th class='teamColorBorder'>Overall</th>
                      </tr>
                    </thead>
                    {% for Recruit in SignedRecruits %}
                    <tr >
                      <td  class='w3-margin-top'>
                        <a href="{{Recruit.PlayerHref}}">
                          {{Recruit.PlayerName}}
                        </a>
                      </td>
                      <td>{{Recruit.Position}}</td>
                      <td>{{Recruit.Hometown}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__RecruitingStars}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__Recruiting_NationalRank}}</td>
                      <td>{{Recruit.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                {% endif %}
              </div>
            </div>


          </div>
        </div>
        {% else %}

        <div class="w3-display-container w3-margin-bottom">
          <div class="w3-row-padding">
            <div class="w3-col l6 m12 w3-display-container">
              <div class="w3-row">
                <div class="card w3-col s12">
                  <div class="w3-bar team-primary-background-bar">
                    Recruits Here
                  </div>
                  <table id='teamOverviewConferenceStandings' class='table table-striped table-hover'>
                    <thead>
                      <th class='teamColorBorder'>Player</th>
                      <th class='teamColorBorder'>Pos</th>
                      <th class='teamColorBorder'>Hometown</th>
                      <th class='teamColorBorder'>*</th>
                      <th class='teamColorBorder'>Rank</th>
                      <th class='teamColorBorder'>Overall</th>
                    </thead>
                    {% for Recruit in SignedRecruits %}
                    <tr >
                      <td  class='w3-margin-top'>
                        <a href="{{Recruit.PlayerHref}}">
                          {{Recruit.PlayerName}}
                        </a>
                      </td>
                      <td>{{Recruit.Position}}</td>
                      <td>{{Recruit.Hometown}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__RecruitingStars}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__Recruiting_NationalRank}}</td>
                      <td>{{Recruit.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>


            </div>
            <div class="w3-col l6 m12">
              <div class="w3-row">


                <div class="card">
                  <div class="w3-bar team-primary-background-bar">
                    Top Players Returning
                  </div>
                  <table class='table table-striped table-hover' id='teamOverviewConferenceStandings'>
                    <thead>
                      <th>Pos</th>
                      <th>Player</th>
                      <th class='hide-small'>Class</th>
                      <th>OVR</th>
                    </thead>
                    {% for Player in TopPlayersReturning %}
                    <tr class='{{standingTeam.BoldTeam}}'>
                      <td>
                        {{Player.PlayerID.PositionID.PositionAbbreviation}}
                      </td>
                      <td>
                        <a href="{{Player.PlayerHref}}">
                          {{Player.PlayerID.PlayerFirstName}} {{Player.PlayerID.PlayerLastName}}
                        </a>
                      </td>
                      <td class='hide-small'> {{Player.ClassID.ClassAbbreviation}}</td>
                      <td>{{Player.playerteamseasonskill.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="w3-row">


            </div>
            </div>
          </div>
        </div>
        {% endif %}

      </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-team-stats">
        <div class='w3-display-container'>
          <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col s4">

            <div class="card w3-margin-bottom">
              <div class="w3-bar team-primary-background-bar">
                {{team.team_season.conference_season.conference.conference_name}}<span class='hide-small'> Standings</span>
              </div>
              <div id='conference_standings_div'></div>
              
            </div>
            <div class='card'>
              <div class="w3-bar team-primary-background-bar">
                <span>Ranking Trend</span>
              </div>
              <div id='team_ranking_trend_chart'>

              </div>

            </div>
          </div>

            <div class="w3-col s4">
              <div class="card w3-margin-bottom">
                <div class="w3-bar team-primary-background-bar">
                  {{team.team_season.conference_season.conference.conference_name}}<span class='hide-small'> Bar Chart</span>
                </div>
                <div id='selector' style='margin-left: 15%; margin-right: 15%; width: 70%;'>

                </div>
                <div class="w3-padding" id='bar_chart'>

                </div>
              </div>
              <div class="card" id='team_leaders'>

              </div>


            </div>


            <div class="w3-col s4" >
              <div class="card w3-margin-bottom" id='team_stats'>

              </div>
            </div>

          </div>
        </div>
    </div>
      <div class="tab-content" style='display:none;' id="nav-info">

    </div>
  </div>
</body>



<style media="screen">
  .teamColorBorder {
    border-top-color: #{{page.PrimaryColor}}  !important;
    border-bottom-color: #{{page.PrimaryColor}} !important;
  }
</style>
