{% include "../../static/html_templates/ext_NavBar.html" %}

<div WorldID="{{page.WorldID}}" TeamJerseyInvert="{{page.TeamJerseyInvert}}" TeamJerseyStyle="{{page.TeamJerseyStyle}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}"  SecondaryJerseyColor="{{page.SecondaryJerseyColor}}" TeamID="{{ThisTeamSeason.TeamID.TeamID}}" style='display:none;'
  id='PageDataPassthru'></div>

<head>
  <style id="addedStyle">
    .SelectedGameBox::after {
      border-left-width: 35px;
      border-right-width: 35px;
      border-width: 15px 35px 0;}

  </style>
</head>

{% include "../../static/html_templates/ext_TeamColoring.html" %}


<body>
  <div class="PageContent">
    {% include "../../static/html_templates/ext_TeamHeader.html" %}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" id="nav-overview-tab" style="background-color: #{{page.SecondaryColor}};">Overview</button>
        <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-info-tab">Team Info</button>
        {% include "../../static/html_templates/ext_TeamList.html" %}
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:block;' id="nav-overview">
        {% if games|length > 0%}
        <div class=" w3-margin-bottom">
          <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col m12">
              <div class="">
                <div class="w3-card w3-light-grey w3-col s12">

                  <div class="w3-row teamScheduleBar w3-white equal-sized-item-container">
                    {% for game in games %}
                    <div BoxScoreGameID="{{game.game_id}}" class="equal-sized-item teamScheduleGameBox w3-display-container {{game.selected_game_box}}" style='background-color: #{{game.opponent_team.team_color_primary_hex}}'>
                      <div class="teamScheduleGameBoxShortDate ellipsis" style='background-color: #{{game.opponent_team.team_color_primary_hex}}'>
                        <span class='ellipsis'>{{game.game_headline}}</span>

                      </div>
                      <div class="equal-sized-item-container" >
                        <img class='teamScheduleOpponentLogo centered-item' src='{{game.opponent_team.team_logo}}' />
                      </div>

                      <div class="width100 white-text" style='color: white;'>
                        <a href="{{game.opponent_team.team_href}}">
                          <div class='teamScheduleGameBoxVsString hide-small white-text'>
                            <span>{{game.game_location_char}}</span>
                            <span>{{game.opponent_rank_string}} </span>
                            <span>{{game['opponent_team']['team_abbreviation']}}</span>
                          </div>
                          <div class='teamScheduleGameBoxVsString show-small white-text'>{{game['opponent_team']['team_abbreviation']}}</div>
                        </a>
                        <div class="teamScheduleGameBoxResult">
                          <div class="teamGameResultLetter{{game.game_result_letter}} white-text" >{{game.game_result_letter}}</div>
                          <a href="{{game.game_href}}" class='hide-small white-text'>{{game.game_display}}</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="w3-row teamScheduleGameDashboard w3-display-container w3-light-grey">
                    {% for game in games%}
                    <div BoxScoreGameID="{{game.game_id}}" class="teamScheduleGameDashboardGameDisplay w3-display-middle w3-col l12 mw600 w3-display-container w3-white w3-border w3-border-grey w3-hide">
                      <div class="w3-col l7 m12 s12 height100 w3-display-container">
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.away_team.team_color_primary_hex}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetTop w3-white w3-display-topmiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoTop w3-display-middle' src='{{game.away_team.team_logo_50}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameTeamDisplayContainer w3-display-container">
                          <div class="teamScheduleGameDashboardGameTeamDisplay" style='background-color: #{{game.home_team.team_color_primary_hex}}'></div>
                          <div class="teamScheduleGameDashboardGameTeamDisplayOffsetBottom w3-white w3-display-bottommiddle"></div>
                          <img class='teamScheduleGameDashboardGameTeamDisplayLogoBottom w3-display-middle' src='{{game.home_team.team_logo_50}}' />
                        </div>
                        <div class="teamScheduleGameDashboardGameDisplayTeams w3-col w3-hide s12 w3-display-container w3-display-topmiddle">
                          <div class=" w3-display-container">
                            <span class='w3-display-right font10 padBottom20'>{{game.week_id}}</span>
                          </div>
                          <div class=" w3-display-container">
                            <span class='font10'>{{game.away_team_season.national_rank_display}}</span>
                            <span class='font17 {{game.away_team_winning_game_bold}}'><a href="{{game.away_team.team_href}}">{{game.away_team.team_name}}</a></span>
                            <span class='font10'>{{game.away_team_season.record_display}}</span>
                            <span class='w3-display-right {{game.away_team_winning_game_bold}}'>{{game.scoring.final[0]}}</span>
                          </div>
                          <div class=" w3-display-container">
                            <span class='font10'>{{game.home_team_season.national_rank_display}}</span>
                            <span class='font17 {{game.home_team_winning_game_bold}}'><a href="{{game.home_team.team_href}}">{{game.home_team.team_name}}</a></span>
                            <span class='font10'>{{game.HomeTeamRecord}}</span>
                            <span class='w3-display-right {{game.home_team_winning_game_bold}}'>{{game.scoring.final[1]}}</span>

                          </div>
                        </div>
                        <div class="teamScheduleGameDashboardGameDisplayTeams w3-col s12 w3-display-container w3-display-topmiddle">
                          <table class='width100 left-text'>
                            <tbody>
                              <tr>
                                <td colspan="1" ></td>
                                <td colspan="3" class='font10'>{{game.game_headline}}</td>
                              </tr>
                              <tr>
                                <td class='font10 no-width align-bottom'><span>{{game.away_team_season.national_rank_display}}</span></td>
                                <td class='font17 {{game.AwayTeamWinningGameBold}} align-bottom'>
                                  <a href="{{game.away_team.team_href}}">
                                    {{game.away_team.school_name}}
                                  </a>
                                  <span class='font10'>{{game.away_team_season.record_display}}</span>
                                </td>
                                <td class='{{game.away_team_winning_game_bold}} font16'>{{game.scoring.final[0]}}</td>
                              </tr>
                              <tr>
                                <td class='font10 no-width align-bottom'>{{game.home_team_season.national_rank_display}}</td>
                                <td class=' align-bottom'>
                                  <a href="{{game.home_team.team_href}}" class='font17 {{game.HomeTeamWinningGameBold}}'>
                                    {{game.home_team.school_name}}
                                  </a>
                                  <span class='font10'>{{game.home_team_season.record_display}}</span>
                                </td>
                                <td class='{{game.home_team_winning_game_bold}} font16'>{{game.scoring.final[1]}}</td>
                              </tr>
                            </tbody>
                          </table>

                        </div>

                        <div class="w3-display-bottomleft teamScheduleGameDashboardGameDisplayBoxScoreText">
                          <a href="{{game.game_href}}">
                            Box Score
                          </a>
                        </div>
                      </div>
                      <div class="w3-col w3-display-container l5 m12 height100">
                        <div class="w3-bar boxscore-bar" id="nav-tab-{{game.game_id}}">
                          <button TeamID="{{game.team.team_id}}" GameID="{{game.game_id}}" class="w3-bar-item boxscore-tab w3-button tab selected-boxscore-tab" id="boxscore-hometeam-tab">{{game.team.team_abbreviation}}</button>
                          <button TeamID="{{game.opponent_team.team_id}}" GameID="{{game.game_id}}" class="w3-bar-item boxscore-tab w3-button tab" id="boxscore-awayteam-tab">{{game.opponent_team.team_abbreviation}}</button>
                        </div>
                        <div class="w3-display-container">
                          {% if game.was_played%}
                          <div TeamID="{{game.team.team_id}}" GameID="{{game.game_id}}" class="w3-display-container team-highlights w3-light-grey height100 selected-boxscore">
                            {% for player_stat in game.team_game.top_stats.slice(0,3) %}
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="{{player_stat.player_team_game.player_team_season.player.player_href}}">{{player_stat.player_team_game.player_team_season.player.full_name}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{player_stat.player_team_game.player_team_season.position}}</span>
                              </div>
                              <div class=" font-black" style='font-size: 10px;'>
                                <span class=''>{{player_stat.top_stats[0].display}}</span>
                                {%if player_stat.top_stats[1] %}and <span class=''>{{player_stat.top_stats[1].display}}</span>{% endif %}
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                          <div TeamID="{{game.opponent_team.team_id}}" GameID="{{game.game_id}}" class="w3-display-container team-highlights w3-light-grey height100 selected-boxscore">
                            {% for player_stat in game.opponent_team_game.top_stats.slice(0,3) %}
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="{{player_stat.player_team_game.player_team_season.player.player_href}}">{{player_stat.player_team_game.player_team_season.player.full_name}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{player_stat.player_team_game.player_team_season.position}}</span>
                              </div>
                              <div class=" font-black" style='font-size: 10px;'>
                                <span class=''>{{player_stat.top_stats[0].display}}</span>
                                {%if player_stat.top_stats[1] %}and <span class=''>{{player_stat.top_stats[1].display}}</span>{% endif %}
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                          {% else %}
                          <div TeamID="{{game.team.team_id}}" GameID="{{game.game_id}}" class="w3-display-container team-highlights w3-light-grey height100 selected-boxscore">
                            {% for player_stat in game.team_season.top_stats.slice(0,3) %}
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="{{player_stat.player_team_game.player_team_season.player.player_href}}">{{player_stat.player_team_season.player.full_name}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{player_stat.player_team_season.position}}</span>
                              </div>
                              <div class=" font-black" style='font-size: 10px;'>
                                <span class=''>{{player_stat.top_stats[0].display}}</span>
                                {%if player_stat.top_stats[1] %}and <span class=''>{{player_stat.top_stats[1].display}}</span>{% endif %}
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                          <div TeamID="{{game.opponent_team.team_id}}" GameID="{{game.game_id}}" class="w3-display-container team-highlights w3-light-grey height100 selected-boxscore">
                            {% for player_stat in game.opponent_team_season.top_stats.slice(0,3) %}
                            <div class="">
                              <div class="">
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="{{player_stat.player_team_season.player.player_href}}">{{player_stat.player_team_season.player.full_name}}</a></span>
                                <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{player_stat.player_team_season.position}}</span>
                              </div>
                              <div class=" font-black" style='font-size: 10px;'>
                                <span class=''>{{player_stat.top_stats[0].display}}</span>
                                {%if player_stat.top_stats[1] %}and <span class=''>{{player_stat.top_stats[1].display}}</span>{% endif %}
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="w3-row-padding">
            <div class="w3-col l4 m12 s12">
              <div class="w3-row">
                <div class="w3-card">
                  <div class="w3-bar team-primary-background-bar">
                    {{team.team_season.conference_season.conference.conference_name}}<span class='hide-small'> Standings</span>
                  </div>
                  <table id='teamOverviewConferenceStandings' class='w3-table-all width100 no-border'>

                    <thead>
                      <tr class='team-secondary-table-row'>
                        {% if Division.DivisionName %}
                        <th>{{Division.DivisionName}}</th>
                        {% else %}
                        <th></th>
                        <th>Team</th>
                        {%endif%}
                        <th>Conf</th>
                        <th class='hide-small'>GB</th>
                        <th>Record</th>
                      </tr>
                    </thead>
                    {% for standing_team in conference_standings.conference_standings %}
                    <tr class='{{standing_team.bold}}'>
                      <td style=' width: 10px; padding: 8px; border-left-color: #{{standing_team.team.team_color_primary_hex}}' >
                          <a href="{{standing_team.team.team_href}}">
                            <img class='teamOverviewConferenceStandingsTeamLogo' src="{{standing_team.team.team_logo_50}}" />
                          </a>
                      </td>
                      <td>
                        <a href="{{standing_team.team.team_href}}">

                          <span  class='hide-small font10'>{{standing_team.national_rank_display}} </span>
                          <span  class='hide-small'>{{standing_team.team.school_name }}</span>
                        </a>
                      </td>
                      <td>{{standing_team.conference_record_display}}</td>
                      <td class='hide-small'> {{standing_team.record.conference_gb}}</td>
                      <td>{{standing_team.record_display}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                </div>
              <div class="w3-row w3-margin-top">


                {% if SignedRecruits|length > 0 %}
                <div class="w3-card">
                  <div class="w3-bar team-primary-background-bar">
                    {{team.TeamName}} Signed Recruits
                  </div>
                  <table  class='w3-table-all no-border' id='teamOverviewConferenceStandings'>
                    <thead>
                      <tr class='team-secondary-table-row'>
                        <th class='teamColorBorder'>Player</th>
                        <th class='teamColorBorder'>Pos</th>
                        <th class='teamColorBorder'>Hometown</th>
                        <th class='teamColorBorder'>*</th>
                        <th class='teamColorBorder'>Rank</th>
                        <th class='teamColorBorder'>Overall</th>
                      </tr>
                    </thead>
                    {% for Recruit in SignedRecruits %}
                    <tr >
                      <td  class='w3-margin-top'>
                        <a href="{{Recruit.PlayerHref}}">
                          {{Recruit.PlayerName}}
                        </a>
                      </td>
                      <td>{{Recruit.Position}}</td>
                      <td>{{Recruit.Hometown}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__RecruitingStars}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__Recruiting_NationalRank}}</td>
                      <td>{{Recruit.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                {% endif %}
              </div>
            </div>
            {% if team_leaders|length > 0%}

              <div class="w3-col s4">
                <div class="w3-card margin-bottom-24">
                  <div class="w3-bar team-primary-background-bar">
                    Team Leaders
                  </div>

                  <table class="w3-table-all no-border">
                    {% for team_leader in team_leaders %}
                    <tr>

                    <td class="w3-col center-text ">
                      <div class="PlayerFace-60 PlayerFace-Headshot inline-block" player_id='{{team_leader.player_team_season.player.player_id}}' style='border-color:#{{page.PrimaryColor}};' id="teamTeamLeaderBoxPlayerFace{{loop.index}}"  >
                      </div>
                    </td>
                    <td>
                      <ul class='no-list-style'>
                        <li class='bold'>{{team_leader.display}}</li>
                        <li>
                          <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerName'><a href="{{team_leader.player_team_season.player.player_href}}">{{team_leader.player_team_season.player.full_name}}</a></span>
                          <span class='teamScheduleGameDashboardGameDisplayBoxScorePlayerPosition'>{{team_leader.player_team_season.position}}</span>
                        </li>
                        <li>
                          {%for stat in team_leader.player_team_season.top_stats%}{%if loop.index > 1%}, {%endif%}<span class=''>{{stat.display}}</span>{%endfor%}
                        </li>
                      </ul>
                    </td>
                  </tr>


                    {% endfor %}
                  </table>
                  </div>
                  <div class="w3-row">
                  <div class="w3-card">
                    <div class="w3-bar team-primary-background-bar">
                      {{team.team_season.conference_season.conference.conference_name}}<span class='hide-small'> Bar Chart</span>
                    </div>
                    <div id='selector' style='margin-left: 15%; margin-right: 15%; width: 70%;'>

                    </div>
                    <div class="w3-padding" id='bar_chart'>

                    </div>
                  </div>

                </div>

                  </div>

            {% endif %}
            {% if team_stats|length > 0%}
              <div class="w3-col s4">
                <div class="w3-row margin-bottom-24">
                                  <div class="w3-card">
                  <div class="w3-bar team-primary-background-bar">
                    Team Stats
                  </div>
                  <table class="w3-table-all no-border">
                    {% for stat_detail in team_stats %}
                    <tr class='team-secondary-table-row'>
                      <th class='center-text' colspan="3">{{stat_detail.display}}</th>
                    </tr>
                    <tr class='center-text-row'>
                      <td>
                        <div class="">
                          <div class="font10">
                            FOR
                          </div>
                          <div class="font16">
                            {{stat_detail.stats['for'].team_value}}
                          </div>
                          <div class="margin-8">
                            <span class='tiers-7 {{stat_detail.stats["for"].tier}}' style='border-radius: 20px; padding: 5px;'  data-toggle="tooltip" data-html="true" data-placement="bottom" title="<div>{{TeamStat.OffenseRank_Tier}} - {{TeamStat.OffenseRank}} out of {{TotalTeamCount}} teams</div>">
                              {{stat_detail.stats['for'].team_rank|ordinal}}
                            </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="">
                          <div class="font10">
                            AGAINST
                          </div>
                          <div class="font16">
                            {{stat_detail.stats['against'].team_value}}
                          </div>
                          <div class="margin-8">
                            <span class='tiers-7 {{stat_detail.stats["against"].tier}}' style='border-radius: 20px; padding: 5px; '  data-toggle="tooltip" data-html="true" data-placement="bottom" title="<div>{{TeamStat.DefenseRank_Tier}} - {{TeamStat.DefenseRank}} out of {{TotalTeamCount}} teams</div>">
                              {{stat_detail.stats['against'].team_rank|ordinal}}
                            </span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="">
                          <div class="font10">
                            DIFF
                          </div>
                          <div class="font16">
                            {{stat_detail.stats['diff'].team_value}}
                          </div>
                          <div class="margin-8">
                            <span class='tiers-7 {{stat_detail.stats["diff"].tier}}' style='border-radius: 20px; padding: 5px; '  data-toggle="tooltip" data-html="true" data-placement="bottom" title="<div>{{TeamStat.MarginRank_Tier}} - {{TeamStat.MarginRank}} out of {{TotalTeamCount}} teams</div>">
                              {{stat_detail.stats['diff'].team_rank|ordinal}}
                            </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                  </div>
                  </div>
                  </div>
            {% endif %}
          </div>
        </div>
        {% else %}
        <div class="w3-display-container w3-margin-bottom">
          <div class="w3-row-padding">
            <div class="w3-col l6 m12 w3-display-container">
              <div class="w3-row">
                <div class="w3-card w3-col s12">
                  <div class="w3-bar team-primary-background-bar">
                    Recruits Here
                  </div>
                  <table id='teamOverviewConferenceStandings' class='w3-table'>
                    <thead>
                      <th class='teamColorBorder'>Player</th>
                      <th class='teamColorBorder'>Pos</th>
                      <th class='teamColorBorder'>Hometown</th>
                      <th class='teamColorBorder'>*</th>
                      <th class='teamColorBorder'>Rank</th>
                      <th class='teamColorBorder'>Overall</th>
                    </thead>
                    {% for Recruit in SignedRecruits %}
                    <tr >
                      <td  class='w3-margin-top'>
                        <a href="{{Recruit.PlayerHref}}">
                          {{Recruit.PlayerName}}
                        </a>
                      </td>
                      <td>{{Recruit.Position}}</td>
                      <td>{{Recruit.Hometown}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__RecruitingStars}}</td>
                      <td>{{Recruit.PlayerTeamSeasonID__PlayerID__Recruiting_NationalRank}}</td>
                      <td>{{Recruit.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>


            </div>
            <div class="w3-col l6 m12">
              <div class="w3-row">


                <div class="w3-card">
                  <div class="w3-bar team-primary-background-bar">
                    Top Players Returning
                  </div>
                  <table class='w3-table' id='teamOverviewConferenceStandings'>
                    <thead>
                      <th>Pos</th>
                      <th>Player</th>
                      <th class='hide-small'>Class</th>
                      <th>OVR</th>
                    </thead>
                    {% for Player in TopPlayersReturning %}
                    <tr class='{{standingTeam.BoldTeam}}'>
                      <td>
                        {{Player.PlayerID.PositionID.PositionAbbreviation}}
                      </td>
                      <td>
                        <a href="{{Player.PlayerHref}}">
                          {{Player.PlayerID.PlayerFirstName}} {{Player.PlayerID.PlayerLastName}}
                        </a>
                      </td>
                      <td class='hide-small'> {{Player.ClassID.ClassAbbreviation}}</td>
                      <td>{{Player.playerteamseasonskill.OverallRating}}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      </div>
      <div class="tab-content" style='display:none;' id="nav-info">
        <div class='w3-display-container'>
          <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col l12 mw800">
              <div class="w3-card">
                <div class="team-primary-background-bar">
                  Team Info
                </div>
                <table class='w3-table-all width100 no-border' id='TeamInfo' style='width: 100%;'>
                  <thead>
                    <tr class='team-secondary-table-row'>
                      <th>Category</th>
                      <th>Grade</th>
                      <th>Rank</th>
                      <th></th>
                    </tr>

                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col l12 mw800">
              <div class="w3-card">
                <div class="team-primary-background-bar">
                  Team Field
                </div>
                {% include "../../static/html_templates/ext_TeamField.html"%}
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>
</body>



<style media="screen">
  .teamColorBorder {
    border-top-color: #{{page.PrimaryColor}}  !important;
    border-bottom-color: #{{page.PrimaryColor}} !important;
  }
</style>
