<div class='TeamHeader' style='height: 150px;'>
  <div class="team-header-color-left" style='background-color: #{{page.PrimaryColor}}; border-right-color: #{{page.SecondaryColor}};'></div>
  <img class='teamTeamLogo' src='{{team.team_logo}}' alt="My image">
  <div class='teamHeaderInfo'>
    <span class='thin-font font20'>
        {{team.team_season.national_rank_display}}
    </span>
    <span class='teamSchoolName'>
      {{ team.school_name }}
    </span>
    <span class='teamTeamName'>
      {{team.team_name}}
    </span>
    <span class='teamRecord hide-small'>
      {{team.team_season.record_display}}
    </span>
    <div class='teamOverviewInfo'>
      {{team.location.city}}, {{team.location.state}} | <a href="{{team.team_season.conference_season.conference.conference_href}}">{{team.team_season.conference_season.conference.conference_name}}</a>
    </div>
    <div class='teamOverviewInfo'>
      {% for Link in page.TeamHeaderLinks.link_paths%}
      {% if forloop.counter0 > 0%}
      |
      {% endif %}
      <a href="{{team.team_href}}/{{Link.href_extension}}">{{Link.Display}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="team-header-color-right align-middle hide-small" style='background-color: #{{page.PrimaryColor}}; border-left-color: #{{page.SecondaryColor}};'>
  </div>

</div>
