<div class="w3-display-topmiddle indexWorldContainer">
  World List
  <div class="w3-card s8">
    <table class='w3-table-all width100'>
      <thead>
        <tr>
          <th>Dynasty Name</th>
          <th colspan='2'>Team</th>
          <th>Year</th>
          <th>Date started</th>
          <th>Date last played</th>
          <th>Play!</th>
        </tr>
      </thead>
      <tbody>
        {% for World in world_list %}
        <tr>
          <td>{{World.database_name}}</td>
          <td>
            <img src="teamlogo" alt="">
          </td>
          <td>
            <div class="">
              Team Name
            </div>
            <div class="">
              School Name
            </div>
          </td>
          <td>Year</td>
          <td>Date started</td>
          <td>Date last played</td>
          <td>
            <div class="w3-button w3-blue" style='border-radius: 5px;'>
              <a class='no-link-link' href="/World/{{World.world_id}}">Continue</a>
            </div>
          </td>


        </tr>
        {% endfor %}
        <tr>
          <td colspan='6'>Create new game!</td>
          <td>
            <div id='create-world-row' class="w3-button w3-blue" style='border-radius: 5px;'>
              New Game
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<div id="indexCreateWorldModal" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <header class="w3-container w3-blue-grey">
      <span onclick="document.getElementById('id01').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
      <h2>New College Football World</h2>
    </header>
    <div class="w3-container">
      <span id='indexCreateWorldModalCloseButton'
      class="w3-button w3-display-topright">&times;</span>
      <div class="">
        Conferences to include
        {% for Conference in PossibleConferences %}
        <label class='indexCreateWorldModalInputLabel'>
          <input type="checkbox" checked="checked" name="{{Conference.ConferenceFormValue}}"> {{Conference.ConferenceDisplayName}}
        </label>
        {% endfor %}
      </div>
      <button type="button" name="button" class='w3-button' id='indexCreateWorldModalContinueButton' >
          Continue
      </button>
    </div>
  </div>
</div>


<div id="indexChooseTeamModal" class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-blue-grey">
      <span onclick="document.getElementById('id01').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
      <h2>New Head Coaching Dynasty - Choose your team!</h2>
    </header>
    <div class="w3-container">
      <span id='indexChooseTeamModalCloseButton'
      class="w3-button w3-display-topright">&times;</span>
      <div class="" id='indexChooseTeamModalTeamList'>
        Team List
      </div>
      <button type="button" name="button" class='w3-button'  id='indexChooseTeamModalContinueButton' >
          Continue
      </button>
    </div>
  </div>
</div>

<div class="CloneContainer hidden">
  <div class="indexChooseTeamModalTeamListTeamDiv hidden" id='indexChooseTeamModalTeamListTeamDivClone'>
    <img class="indexChooseTeamModalTeamListTeamLogo" src=""/>
    <span class="indexChooseTeamModalTeamListTeamName"></span>
  </div>

</div>
