<div class="w3-display-topmiddle indexWorldContainer">
  World List
  <ul class="w3-ul w3-card-4">
    {% for World in Worlds %}

    <li class="w3-bar indexWorldSelectionBar">
      <a href="/World/${World.world_id}">
        <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
        <img src="${World.team__TeamLogoURL}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">{{World.team__TeamName}} </span><br>
          <span>${World.week__WeekName}</span>
        </div>
      </a>
    </li>

    {% endfor %}

    <li class="w3-bar indexWorldSelectionBar" id='indexCreateWorldButton'>
      <a href="#">
        <div class="w3-bar-item">
          <span class="w3-large">New World</span><br>
          <span>World click</span>
        </div>
      </a>
    </li>

  </ul>
</div>




<div id="indexCreateWorldModal" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <header class="w3-container w3-blue-grey">
      <span onclick="document.getElementById('id01').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
      <h2>New College Football World</h2>
    </header>
    <div class="w3-container">
      <span id='indexCreateWorldModalCloseButton'
      class="w3-button w3-display-topright">&times;</span>
      <div class="">
        Conferences to include
        {% for Conference in PossibleConferences %}
        <label class='indexCreateWorldModalInputLabel'>
          <input type="checkbox" checked="checked" name="{{Conference.ConferenceFormValue}}"> {{Conference.ConferenceDisplayName}}
        </label>
        {% endfor %}
      </div>
      <button type="button" name="button" class='w3-button' id='indexCreateWorldModalContinueButton' >
          Continue
      </button>
    </div>
  </div>
</div>


<div id="indexChooseTeamModal" class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-blue-grey">
      <span onclick="document.getElementById('id01').style.display='none'"
      class="w3-button w3-display-topright">&times;</span>
      <h2>New Head Coaching Dynasty - Choose your team!</h2>
    </header>
    <div class="w3-container">
      <span id='indexChooseTeamModalCloseButton'
      class="w3-button w3-display-topright">&times;</span>
      <div class="" id='indexChooseTeamModalTeamList'>
        Team List
      </div>
      <button type="button" name="button" class='w3-button'  id='indexChooseTeamModalContinueButton' >
          Continue
      </button>
    </div>
  </div>
</div>

<div class="CloneContainer hidden">
  <div class="indexChooseTeamModalTeamListTeamDiv hidden" id='indexChooseTeamModalTeamListTeamDivClone'>
    <img class="indexChooseTeamModalTeamListTeamLogo" src=""/>
    <span class="indexChooseTeamModalTeamListTeamName"></span>
  </div>

</div>
