{% include "../../html_templates/common_templates/ext_nav_bar.njk" %}

{% include "../../html_templates/common_templates/ext_team_coloring.njk" %}

<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "../../html_templates/common_templates/scoreboard.njk" %}
    </div>
    <div class='TeamHeader'></div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 0.1875rem solid #{{page.SecondaryColor}}; border-top: 0.1875rem solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item btn tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
          <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item btn tab nav-tab-button selected-tab" id="nav-week-{{this_week.week_id}}-tab" style="background-color: #{{page.SecondaryColor}};">{{this_week.week_name}}</button>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="w3-row-padding my-3">
        <div class="w3-col l6">

          <div class="card w3-margin-bottom">
            <div class="w3-bar team-primary-background-bar">
                {{user_team.full_name}} Game Last Week
            </div>
            <div>
              {{user_game|log}}
            </div>
          </div>
        </div>
        <div class="w3-col l6">

          <div class="card w3-margin-bottom">
            <div class="w3-bar team-primary-background-bar">
                {{user_team.full_name}} Game Last Week
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>