{# <div class='w3-margin-bottom football-table-filter-bar'>

  <div class='w3-row-padding flex-start no-flex-wrap'>
    <div class='col-3'>
      <button class="btn btn-sm football-table-show-button" id='football-table-filter-show-button'>
        <i class="fa fa-filter" style='vertical-align:middle; '></i>
        <span class='no-wrap' style='vertical-align:middle; '>Filters</span>
      </button>
      <button class="btn btn-sm football-table-show-button">
        <i class="fa fa-eye" style='vertical-align:middle; '></i>
        <span class='no-wrap' style='vertical-align:middle; '>Column Select</span>
      </button>
    </div>
  </div>
</div> #}

<div class='w3-margin-bottom football-table-column-control-bar'>
  <div class="">
    <button class="btn btn-sm btn-outline-secondary football-table-show-button" id='football-table-filter-show-button'>
      <i class="fa fa-filter" style='vertical-align:middle; '></i>
      <span class='no-wrap' style='vertical-align:middle; '>Filters</span>
    </button>
    <button class="btn btn-sm btn-outline-secondary football-table-show-button" id='football-table-column-show-button'>
      <i class="fa fa-eye" style='vertical-align:middle; '></i>
      <span class='no-wrap' style='vertical-align:middle; '>Column Control</span>
    </button>
  </div>
</div>

<div class='football-table-alter-modal' id='football-table-filter-modal'>
  <div class="card modal-content" aria-modal="true" role="dialog" style="width: 75%; left: 0px;">
    <div class='card-header team-primary-background-bar'>
      <span>Filter Players</span>
      {# <span style='float: right;'>
        <i class="fa fa-window-close"></i>
      </span> #}
    </div>
    <div class="" style="background-color: white; overflow-y: scroll;">
      <div class="w3-row-padding flex-start">
        <div class='col-4 m-3'>
          <div class='input-group'>
            <input class="form-control search football-table-search-text" type="text" placeholder='Search for players or teams' style=''></input>
            <button type="button" class=" btn btn-outline-secondary football-table-search-clear-button">
              <i class="fa fa-ban"></i>
            </button>
            <button type="button" class=" btn btn-outline-secondary football-table-search-text-button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="w3-row-padding flex-start">
        <div class=""></div>
        {% for table_filter_group_name, table_filter_group in filter_options %}
          <div class="col-4 padding-10 football-table-filter-option-group" filter_option="{{table_filter_group_name}}">
            <div class="w3-row-padding no-flex-wrap space-between no-padding">
              <div>
                {{table_filter_group.display}}
              </div>
              <div class="">
                <div class="btn-group">
                  <button type="button" class="disabled btn btn-light football-filter-clear-row">
                    <i class="fa fa-ban"></i>
                  </button>
                  {# <button type="button" class="btn btn-light football-filter-alpha-sort">
                    <i class="fa fa-sort-alpha-down"></i>
                  </button>
                  <button type="button" class="btn btn-light football-filter-count-sort">
                    <i class="fa fa-sort-numeric-down"></i>
                  </button> #}
                  <button type="button" class="btn btn-light football-filter-collapse">
                    <i class="fa fa-angle-up"></i>
                  </div>
                </div>
              </div>
              <div id="" class="football-filter-option-list no-footer border">
                <div class="">
                  <div class="" style="position: relative; overflow: auto; max-height: 200px; height: 200px; width: 100%;">
                    <table id="" class="no-footer table table-sm table-borderless" style="width: 100%;">
                      {# <thead>
                        <tr style="height: 0px;">
                          <th class="sorting" aria-controls="" rowspan="1" colspan="1" style="width: 100%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label=": activate to sort column ascending">
                            <div class="" style="height: 0px; overflow: hidden;"></div>
                          </th>
                        </tr>
                      </thead> #}
                      <tbody>
                        {% for table_filter_option in table_filter_group.options%}
                          <tr class="football-table-filter-option" count_value="{{table_filter_option.count}}" filter_value="{{table_filter_option.display}}">
                            <td count='{{table_filter_option.count}}'>
                              <div class='w3-row-padding space-between'>
                                <span title="{{table_filter_option.display}}">
                                  {% if table_filter_option.logo_url %}
                                    <img src='{{table_filter_option.logo_url}}'/>
                                  {% endif %}
                                  {{table_filter_option.display}}
                                </span>
                                <span class="badge rounded-pill bg-secondary football-table-filter-option-value">
                                  {{table_filter_option.count.toLocaleString("en-US")}}
                                </span>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<div class='football-table-alter-modal' id='football-table-column-modal'>
  <div class="card modal-content" aria-modal="true" role="dialog" style="width: 75%; left: 0px;">
    <div class='card-header team-primary-background-bar'>
      <span>Column Controls</span>
      {# <span style='float: right;'>
        <i class="fa fa-window-close"></i>
      </span> #}
    </div>
    <div class="" style="background-color: white; overflow-y: scroll;">
      <div class="w3-row-padding flex-start" id='football-table-column-control'>
        {% for column_control_group_name, column_control_group in column_controls %}
          <div class="col-4 padding-10 football-table-column-option-group"  column_control_group="{{column_control_group_name}}">
            <div class="w3-row-padding no-flex-wrap space-between no-padding">
              <div>
                {{column_control_group_name}}
              </div>
              <div class="">
                <div class="btn-group">
                  <button type="button" class="disabled btn btn-light football-filter-clear-row">
                    <i class="fa fa-ban"></i>
                  </button>
                  <button type="button" class="btn btn-light football-filter-collapse">
                    <i class="fa fa-angle-up"></i>
                  </div>
                </div>
              </div>
              <div id="" class="football-column-option-list no-footer border">
                <div class="">
                  <div class="" style="position: relative; overflow: auto; max-height: 200px; height: 200px; width: 100%;">
                    <table id="" class="no-footer table table-sm table-borderless" style="width: 100%;">
                      {# <thead>
                        <tr style="height: 0px;">
                          <th class="sorting" aria-controls="" rowspan="1" colspan="1" style="width: 100%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label=": activate to sort column ascending">
                            <div class="" style="height: 0px; overflow: hidden;"></div>
                          </th>
                        </tr>
                      </thead> #}
                      <tbody>
                        {% for table_columnn_control_option, table_columnn_control_object in column_control_group%}
                          <tr class="football-table-column-control-option" table_columnn_control_option="{{table_columnn_control_option}}">
                            <td>
                              <div class='w3-row-padding space-between'>
                                <span title="{{table_columnn_control_object.display}}">
                                  {{table_columnn_control_object.display}}
                                </span>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>