<style></style>

{% if player_stats_show.Passing %}
  <div class='card margin-bottom-24'>
    <div class='w3-bar team-primary-background-bar'>
      Passing Stats
    </div>
    <div style='width:100%;'>

      <table id='season-stats-passing' class='football-table-content font14' style=' width:100%; '>
        <thead class='football-table-header  minor-bold white-text center-text' style=' width: 100%;'>
          <tr class='football-table-column-headers unselectable team-secondary-table-row' style=' height: 30px; '>
            <th>Season</th>
            <th>Team</th>
            <th>Class</th>

            <th>Yards</th>
            <th>Cmp</th>
            <th>Att</th>
            <th>Cmp%</th>
            <th>TDs</th>
            <th>INTs</th>
          </tr>
        </thead>
        <tbody class='football-table-body center-text vertical-align-middle' style='width: 100%;'>
          {% for player_team_season in player_team_seasons%}
            <tr class='football-table-row  ' style='height: 50px;'>
              <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                <a href='{{player_team_season.team_season.team_season_href}}'>
                  {{player_team_season.season}}
                </a>
              </td>
              <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                <a>
                  <img class='logo logo-30' src='{{player_team_season.team_season.team.team_logo}}'/>
                </a>
              </td>
              <td>{{player_team_season.class_name}}</td>

              <td value='{{player_team_season.season_stats.passing.yards|toLocaleString|OrZero}}'>{{player_team_season.season_stats.passing.yards|toLocaleString|OrZero}}</td>
              <td value='{{player_team_season.season_stats.passing.completions|OrZero}}'>{{player_team_season.season_stats.passing.completions|OrZero}}</td>
              <td value='{{player_team_season.season_stats.passing.attempts|OrZero}}'>{{player_team_season.season_stats.passing.attempts|OrZero}}</td>
              <td value='{{player_team_season.season_stats.passing_completion_percentage}}'>{{player_team_season.season_stats.passing_completion_percentage}}</td>
              <td value='{{player_team_season.season_stats.passing.tds|OrZero}}'>{{player_team_season.season_stats.passing.tds|OrZero}}</td>
              <td value='{{player_team_season.season_stats.passing.ints|OrZero}}'  >{{player_team_season.season_stats.passing.ints|OrZero}}</td>
            </tr>
          {% endfor %}
          {%if player_team_seasons|length > 1%}
            <tr class='football-table-row bold ' style='height: 50px;'>
              <td>
              Totals
            </td>
              <td></td>
              <td>{{player_team_seasons|length}} seasons</td>

              <td value='{{player.career_stats.passing.yards|toLocaleString|OrZero}}'>{{player.career_stats.passing.yards|toLocaleString|OrZero}}</td>
              <td value='{{player.career_stats.passing.completions|toLocaleString|OrZero}}'>{{player.career_stats.passing.completions|toLocaleString|OrZero}}</td>
              <td value='{{player.career_stats.passing.attempts|toLocaleString|OrZero}}'>{{player.career_stats.passing.attempts|toLocaleString|OrZero}}</td>
              <td value='{{player.passing_completion_percentage}}'>{{player.passing_completion_percentage}}</td>
              <td value='{{player.career_stats.passing.tds|OrZero}}'>{{player.career_stats.passing.tds|OrZero}}</td>
              <td value='{{player.career_stats.passing.ints|OrZero}}'  >{{player.career_stats.passing.ints|OrZero}}</td>
            </tr>
            {%endif%}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  {% if player_stats_show.Rushing %}
    <div class='card margin-bottom-24'>
      <div class='w3-bar team-primary-background-bar'>
      Rushing Stats
    </div>
      <div style='width:100%;'>

        <table id='season-stats-rushing' class='football-table-content font14' style=' width:100%; '>
          <thead class='football-table-header  minor-bold white-text center-text' style=' width: 100%;'>
            <tr class='football-table-column-headers unselectable team-secondary-table-row' style=' height: 30px; '>
              <th>Season</th>
              <th>Team</th>
              <th>Class</th>

              <th>Yards</th>
              <th>Car</th>
              <th>YPC</th>
              <th>TDs</th>
              <th>Brk</th>
              <th>1st D</th>
              <th>YPG</th>
              <th>CPG</th>
            </tr>
          </thead>
          <tbody class='football-table-body center-text vertical-align-middle' style='width: 100%;'>
            {% for player_team_season in player_team_seasons%}
              <tr class='football-table-row  ' style='height: 50px;'>
                <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                  <a href='{{player_team_season.team_season.team_season_href}}'>
                    {{player_team_season.season}}
                  </a>
                </td>
                <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                  <a>
                    <img class='logo logo-30' src='{{player_team_season.team_season.team.team_logo}}'/>
                  </a>
                </td>
                <td>{{player_team_season.class_name}}</td>

                <td value='{{player_team_season.season_stats.rushing.yards|toLocaleString|OrZero}}'>{{player_team_season.season_stats.rushing.yards|toLocaleString|OrZero}}</td>
                <td value='{{player_team_season.season_stats.rushing.carries|OrZero}}'>{{player_team_season.season_stats.rushing.carries|OrZero}}</td>
                <td value='{{player_team_season.season_stats.rushing_yards_per_carry}}'>{{player_team_season.season_stats.rushing_yards_per_carry}}</td>
                <td value='{{player_team_season.season_stats.rushing.tds|OrZero}}'>{{player_team_season.season_stats.rushing.tds|OrZero}}</td>
                <td value='{{player_team_season.season_stats.rushing.broken_tackles|OrZero}}'>{{player_team_season.season_stats.rushing.broken_tackles|OrZero}}</td>

                <td value=''>0</td>
                <td value='{{player_team_season.season_stats.rushing_yards_per_game|OrZero}}'>{{player_team_season.season_stats.rushing_yards_per_game|OrZero}}</td>
                <td value='{{player_team_season.season_stats.rushing_carries_per_game|OrZero}}'>{{player_team_season.season_stats.rushing_carries_per_game|OrZero}}</td>
              </tr>
            {% endfor %}
            {%if player_team_seasons|length > 1%}
              <tr class='football-table-row bold ' style='height: 50px;'>
                <td>
              Totals
            </td>
                <td></td>
                <td>{{player_team_seasons|length}} seasons</td>

                <td value='{{player.career_stats.rushing.yards|toLocaleString|OrZero}}'>{{player.career_stats.rushing.yards|toLocaleString|OrZero}}</td>
                <td value='{{player.career_stats.rushing.carries|toLocaleString|OrZero}}'>{{player.career_stats.rushing.carries|toLocaleString|OrZero}}</td>
                <td value='{{player.rushing_yards_per_carry}}'>{{player.rushing_yards_per_carry}}</td>
                <td value='{{player.career_stats.rushing.tds|OrZero}}'>{{player.career_stats.rushing.tds|OrZero}}</td>
                <td value='{{player.career_stats.rushing.broken_tackles|OrZero}}'>{{player.career_stats.rushing.broken_tackles|OrZero}}</td>
                <td value=''>0</td>
                <td value='{{player.rushing_yards_per_game|OrZero}}'>{{player.rushing_yards_per_game|OrZero}}</td>
                <td value='{{player.rushing_carries_per_game|OrZero}}'>{{player.rushing_carries_per_game|OrZero}}</td>
              </tr>
              {%endif%}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

    {% if player_stats_show.Receiving %}
      <div class='card margin-bottom-24'>
        <div class='w3-bar team-primary-background-bar'>
      Receiving Stats
    </div>
        <div style='width:100%;'>

          <table id='season-stats-receiving' class='football-table-content font14' style=' width:100%; '>
            <thead class='football-table-header  minor-bold white-text center-text' style=' width: 100%;'>
              <tr class='football-table-column-headers unselectable team-secondary-table-row' style=' height: 30px; '>
                <th>Season</th>
                <th>Team</th>
                <th>Class</th>

                <th>Yards</th>
                <th>Rec</th>
                <th>YPC</th>
                <th>Tgt</th>
                <th>TDs</th>
              </tr>
            </thead>
            <tbody class='football-table-body center-text vertical-align-middle' style='width: 100%;'>
              {% for player_team_season in player_team_seasons%}
                <tr class='football-table-row  ' style='height: 50px;'>
                  <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                    <a href='{{player_team_season.team_season.team_season_href}}'>
                      {{player_team_season.season}}
                    </a>
                  </td>
                  <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                    <a>
                      <img class='logo logo-30' src='{{player_team_season.team_season.team.team_logo}}'/>
                    </a>
                  </td>
                  <td>{{player_team_season.class_name}}</td>

                  <td value='{{player_team_season.season_stats.receiving.yards|toLocaleString|OrZero}}'>{{player_team_season.season_stats.receiving.yards|toLocaleString|OrZero}}</td>
                  <td value='{{player_team_season.season_stats.receiving.receptions|OrZero}}'>{{player_team_season.season_stats.receiving.receptions|OrZero}}</td>
                  <td value='{{player_team_season.season_stats.receiving_yards_per_catch}}'>{{player_team_season.season_stats.receiving_yards_per_catch}}</td>
                  <td value='{{player_team_season.season_stats.receiving.targets|OrZero}}'>{{player_team_season.season_stats.receiving.targets|OrZero}}</td>
                  <td value='{{player_team_season.season_stats.receiving.tds|OrZero}}' >{{player_team_season.season_stats.receiving.tds|OrZero}}</td>
                </tr>
              {% endfor %}
              {%if player_team_seasons|length > 1%}
                <tr class='football-table-row bold ' style='height: 50px;'>
                  <td>
              Totals
            </td>
                  <td></td>
                  <td>{{player_team_seasons|length}} seasons</td>

                  <td value='{{player.career_stats.receiving.yards|toLocaleString|OrZero}}'>{{player.career_stats.receiving.yards|toLocaleString|OrZero}}</td>
                  <td value='{{player.career_stats.receiving.receptions|toLocaleString|OrZero}}'>{{player.career_stats.receiving.receptions|toLocaleString|OrZero}}</td>
                  <td value='{{player.receiving_yards_per_catch}}'>{{player.receiving_yards_per_catch}}</td>
                  <td value='{{player.career_stats.receiving.targets|OrZero}}'>{{player.career_stats.receiving.targets|OrZero}}</td>
                  <td value='{{player.career_stats.receiving.tds|OrZero}}' >{{player.career_stats.receiving.tds|OrZero}}</td>
                </tr>
                {%endif%}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}

      {% if player_stats_show.Blocking %}
        <div class='card margin-bottom-24'>
          <div class='w3-bar team-primary-background-bar'>
      Blocking Stats
    </div>
          <div style='width:100%;'>

            <table id='season-stats-blocking' class='football-table-content font14' style=' width:100%; '>
              <thead class='football-table-header  minor-bold white-text center-text' style=' width: 100%;'>
                <tr class='football-table-column-headers unselectable team-secondary-table-row' style=' height: 30px; '>
                  <th>Season</th>
                  <th>Team</th>
                  <th>Class</th>

                  <th>PAN</th>
                  <th>Sacks</th>
                </tr>
              </thead>
              <tbody class='football-table-body center-text vertical-align-middle' style='width: 100%;'>
                {% for player_team_season in player_team_seasons%}
                  <tr class='football-table-row  ' style='height: 50px;'>
                    <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                      <a href='{{player_team_season.team_season.team_season_href}}'>
                        {{player_team_season.season}}
                      </a>
                    </td>
                    <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                      <a>
                        <img class='logo logo-30' src='{{player_team_season.team_season.team.team_logo}}'/>
                      </a>
                    </td>
                    <td>{{player_team_season.class_name}}</td>

                    <td value='{{player_team_season.season_stats.blocking.pancakes|OrZero}}'>{{player_team_season.season_stats.blocking.pancakes|OrZero}}</td>
                    <td value='{{player_team_season.season_stats.blocking.sacks_allowed|OrZero}}' >{{player_team_season.season_stats.blocking.sacks_allowed|OrZero}}</td>
                  </tr>
                {% endfor %}
                {%if player_team_seasons|length > 1%}
                  <tr class='football-table-row bold ' style='height: 50px;'>
                    <td>
              Totals
            </td>
                    <td></td>
                    <td>{{player_team_seasons|length}} seasons</td>

                    <td value='{{player.career_stats.blocking.pancakes|OrZero}}'>{{player.career_stats.blocking.pancakes|OrZero}}</td>
                    <td value='{{player.career_stats.blocking.sacks_allowed|OrZero}}' >{{player.career_stats.blocking.sacks_allowed|OrZero}}</td>
                  </tr>
                  {%endif%}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}

        {% if player_stats_show.Defense %}
          <div class='card margin-bottom-24'>
            <div class='w3-bar team-primary-background-bar'>
      Defense Stats
    </div>
            <div style='width:100%;'>

              <table id='season-stats-defense' class='football-table-content font14' style=' width:100%; '>
                <thead class='football-table-header  minor-bold white-text center-text' style=' width: 100%;'>
                  <tr class='football-table-column-headers unselectable team-secondary-table-row' style=' height: 30px; '>
                    <th>Season</th>
                    <th>Team</th>
                    <th>Class</th>

                    <th>Tckl</th>
                    <th>TFL</th>
                    <th>Sacks</th>
                    <th>Ints</th>
                    <th>Defl</th>
                    <th>FF</th>
                    <th>FR</th>
                  </tr>
                </thead>
                <tbody class='football-table-body center-text vertical-align-middle' style='width: 100%;'>
                  {% for player_team_season in player_team_seasons%}
                    <tr class='football-table-row  ' style='height: 50px;'>
                      <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                        <a href='{{player_team_season.team_season.team_season_href}}'>
                          {{player_team_season.season}}
                        </a>
                      </td>
                      <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                        <a>
                          <img class='logo logo-30' src='{{player_team_season.team_season.team.team_logo}}'/>
                        </a>
                      </td>
                      <td>{{player_team_season.class_name}}</td>

                      <td value='{{player_team_season.season_stats.defense.tackles|OrZero}}'>{{player_team_season.season_stats.defense.tackles|OrZero}}</td>
                      <td value='{{player_team_season.season_stats.defense.tackles_for_loss|OrZero}}'>{{player_team_season.season_stats.defense.tackles_for_loss|OrZero}}</td>
                      <td value='{{player_team_season.season_stats.defense.sacks|OrZero}}'>{{player_team_season.season_stats.defense.sacks|OrZero}}</td>
                      <td value='{{player_team_season.season_stats.defense.ints|OrZero}}'>{{player_team_season.season_stats.defense.ints|OrZero}}</td>
                      <td value='{{player_team_season.season_stats.defense.deflections|OrZero}}'>{{player_team_season.season_stats.defense.deflections|OrZero}}</td>
                      <td value='{{player_team_season.season_stats.fumbles.forced|OrZero}}'>{{player_team_season.season_stats.fumbles.forced|OrZero}}</td>
                      <td value='{{player_team_season.season_stats.fumbles.recovered|OrZero}}' >{{player_team_season.season_stats.fumbles.recovered|OrZero}}</td>
                    </tr>
                  {% endfor %}
                  {%if player_team_seasons|length > 1%}
                    <tr class='football-table-row bold ' style='height: 50px;'>
                      <td colspan='1'>
              Totals
            </td>
                      <td colspan='1'></td>
                      <td>{{player_team_seasons|length}} seasons</td>

                      <td value='{{player.career_stats.defense.tackles|OrZero}}'>{{player.career_stats.defense.tackles|OrZero}}</td>
                      <td value='{{player.career_stats.defense.tackles_for_loss|OrZero}}'>{{player.career_stats.defense.tackles_for_loss|OrZero}}</td>
                      <td value='{{player.career_stats.defense.sacks|OrZero}}'>{{player.career_stats.defense.sacks|OrZero}}</td>
                      <td value='{{player.career_stats.defense.ints|OrZero}}'>{{player.career_stats.defense.ints|OrZero}}</td>
                      <td value='{{player.career_stats.defense.deflections|OrZero}}'>{{player.career_stats.defense.deflections|OrZero}}</td>
                      <td value='{{player.career_stats.fumbles.forced|OrZero}}'>{{player.career_stats.fumbles.forced|OrZero}}</td>
                      <td value='{{player.career_stats.fumbles.recovered|OrZero}}' >{{player.career_stats.fumbles.recovered|OrZero}}</td>
                    </tr>
                    {%endif%}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}

          {% if player_stats_show.Kicking %}
            <div class='card margin-bottom-24'>
              <div class='w3-bar team-primary-background-bar'>
      Kicking Stats
    </div>
              <div style='width:100%;'>

                <table id='season-stats-kicking' class='football-table-content font14' style=' width:100%; '>
                  <thead class='football-table-header  minor-bold white-text center-text' style=' width: 100%;'>
                    <tr class='football-table-column-headers unselectable team-secondary-table-row' style=' height: 30px; '>
                      <th>Season</th>
                      <th>Team</th>
                      <th>Class</th>

                      <th>FGM</th>
                      <th>FGA</th>
                      <th>Punts</th>
                      <th> W20 </th>
                    </tr>
                  </thead>
                  <tbody class='football-table-body center-text vertical-align-middle' style='width: 100%;'>
                    {% for player_team_season in player_team_seasons%}
                      <tr class='football-table-row  ' style='height: 50px;'>
                        <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                          <a href='{{player_team_season.team_season.team_season_href}}'>
                            {{player_team_season.season}}
                          </a>
                        </td>
                        <td style='color:white; background-color: #{{player_team_season.team_season.team.team_color_primary_hex}};'>
                          <a>
                            <img class='logo logo-30' src='{{player_team_season.team_season.team.team_logo}}'/>
                          </a>
                        </td>
                        <td>{{player_team_season.class_name}}</td>

                        <td value='{{player_team_season.season_stats.kicking.fgm|OrZero}}'>{{player_team_season.season_stats.kicking.fgm|OrZero}}</td>
                        <td value='{{player_team_season.season_stats.kicking.fga|OrZero}}'>{{player_team_season.season_stats.kicking.fga|OrZero}}</td>
                        <td value='{{player_team_season.season_stats.punting.punts|OrZero}}'>{{player_team_season.season_stats.punting.punts|OrZero}}</td>
                        <td value='{{player_team_season.season_stats.punting.within_20|OrZero}}' >{{player_team_season.season_stats.punting.within_20|OrZero}}</td>
                      </tr>
                    {% endfor %}
                    {%if player_team_seasons|length > 1%}
                      <tr class='football-table-row bold ' style='height: 50px;'>
                        <td colspan='1'>
              Totals
            </td>
                        <td colspan='1'></td>
                        <td>{{player_team_seasons|length}} seasons</td>

                        <td value='{{player.career_stats.kicking.fgm|OrZero}}'>{{player.career_stats.kicking.fgm|OrZero}}</td>
                        <td value='{{player.career_stats.kicking.fga|OrZero}}'>{{player.career_stats.kicking.fga|OrZero}}</td>
                        <td value='{{player.career_stats.punting.punts|OrZero}}'>{{player.career_stats.punting.punts|OrZero}}</td>
                        <td value='{{player.career_stats.punting.within_20|OrZero}}' >{{player.career_stats.punting.within_20|OrZero}}</td>
                      </tr>
                      {%endif%}
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}