{% include "../../static/html_templates/ext_NavBar.njk" %}



<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>

{% include "../../static/html_templates/ext_TeamColoring.njk" %}

<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "../../static/html_templates/Scoreboard.njk" %}
    </div>
    <div class='TeamHeader'></div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        {% for conference_season in conference_seasons%}
        {% if loop.index == 1%}
        <button class="w3-bar-item w3-button tab nav-tab-button selected-tab" conference_id='{{conference_season.conference.conference_id}}' id="nav-{{conference_season.conference.conference_id}}-tab" style="background-color: #{{page.SecondaryColor}};">{{conference_season.conference.conference_abbreviation}}</button>
        {% else %}
        <button class="w3-bar-item w3-button tab nav-tab-button" conference_id='{{conference_season.conference.conference_id}}' id="nav-{{conference_season.conference.conference_id}}-tab">{{conference_season.conference.conference_abbreviation}}</button>
        {% endif %}
        {% endfor %}
      </div>
    </nav>
    <div id="nav-tabContent">
      {% for conference_season in conference_seasons%}
      {% if loop.index == 1%}
      <div class="tab-content" style='display:block;' id="nav-{{conference_season.conference.conference_id}}">
      {% else %}
      <div class="tab-content" style='display:none;' id="nav-{{conference_season.conference.conference_id}}">
      {% endif %}
        <div class="w3-display-container">
          <div class="w3-row-padding">
                <div class="w3-col s10">
                  <div class="w3-card w3-margin-bottom">
                  <table class='w3-table-all no-border' id='teamOverviewConferenceStandings-{{conference_season.conference.conference_id}}'>
                    <thead>
                      <tr class='center-text-row' style='background-color: #{{page.PrimaryColor}};border-top: 3px solid black; color: white;'>
                        <th colspan="3" class='col-group left-text'>{{conference_season.conference.conference_name}}</th>
                        <th colspan="5" class='col-group'>Conference</th>
                        <th colspan="6">Overall</th>
                      </tr>
                      <tr class='team-secondary-table-row center-text-row' style='background-color: #{{page.SecondaryColor}}; color: white;'>
                        <th>Rank</th>
                        <th>Team</th>
                        <th class='col-group'></th>
                        <th  class='center-text'>W-L</th>
                        <th class='hide-small center-text'>GB</th>
                        <th>PPG</th>
                        <th>PAPG</th>
                        <th class='col-group'>MOV</th>
                        <th  class='center-text'>W-L</th>
                        <th>PPG</th>
                        <th>PAPG</th>
                        <th>MOV</th>
                        <th>Streak</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                      </tr>
                      {% for team_season in conference_season.team_seasons%}
                      <tr class='{{team_season.BoldTeam}} ' style=''>
                        <td style='background-color: #{{team_season.team.team_color_primary_hex}}; color: white;' class='Top25RankNumber center-text no-width'>
                          {{loop.index}}
                        </td>
                        <td style='background-color: #{{team_season.team.team_color_primary_hex}}' class='no-width'>
                          <a href="{{ team_season.team.team_href }}">
                            <img class='worldTeamLogo' src="{{team_season.team.team_logo}}" />
                          </a>
                        </td>
                        <td class='col-group'>
                          <a href="{{ team_season.team.team_href }}">
                            <span class='font10'>{{team_season.national_rank_display}}</span> <span class='font14'>{{team_season.team.school_name }}</span>

                          </a>
                          {% if team_season.results.conference_champion%}
                          <div class="">
                            <span class='font10'>Conference Champions</span>
                          </div>
                          {% endif %}
                        </td>
                        <td class='center-text'>{{team_season.conference_outcomes.record}}</td>
                        <td class='center-text'>{{team_season.conference_outcomes.gb}}</td>
                        <td class='center-text'>{{team_season.conference_outcomes.ppg}}</td>
                        <td class='center-text'>{{team_season.conference_outcomes.papg}}</td>
                        <td class='center-text col-group {{team_season.conference_outcomes.color}}'>{{team_season.conference_outcomes.mov}}</td>

                        <td class='center-text'>{{team_season.record_display}}</td>
                        <td class='center-text'>{{team_season.overall_outcomes.ppg}}</td>
                        <td class='center-text'>{{team_season.overall_outcomes.papg}}</td>
                        <td class='center-text {{team_season.overall_outcomes.color}}'>{{team_season.overall_outcomes.mov}}</td>
                        <td class='center-text '>
                          <span class='{{team_season.win_streak_color}} W-L-Badge' style='float:none;'>{{team_season.win_streak_string}}</span>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="w3-card">
                  <div class="w3-bar team-primary-background-bar">
                    Conference Standings Trend
                  </div>
                  <div class="standings-trend-chart" conference_id='{{conference_season.conference_id}}' id='standings-trend-chart-{{conference_season.conference_id}}'>
                    <svg width='500' height='50'>
                      <g transform='translate(30,30)'>
                        <circle r='8' fill='none' stroke='grey'></circle>
                        <text transform='translate(10,4)'> = start of season rank</text>
                      </g>
                      <g transform='translate(200,30)'>
                        <circle r='8' fill='gray'></circle>
                        <text transform='translate(10,4)'> = end of season / current rank</text>
                      </g>

                    </svg>
                  </div>
                </div>
                </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
