{% for stat_category in player_leader_categories%}
  <div class="card margin-bottom-24 inline-block" style='width: 380px; margin-left: 20px;'>
    <div class='team-primary-background-bar'>
      {{stat_category.category_name}}
    </div>

    <table class='table table-striped table-hover '>
      <tbody class="">
        <tr player_id='{{stat_category.player_team_games[0].player_team_game.player_team_season.player_id}}'>
          {{stat_category|log}}
          <td class="center-text bold font20" style='background-color: #{{stat_category.player_team_games[0].player_team_game.player_team_season.team_season.team.team_color_primary_hex}}; color:white;'>
                        1
                      </td>
          <td class="" style='background-color: #{{stat_category.player_team_games[0].player_team_game.player_team_season.team_season.team.team_color_primary_hex}}; color:white;'>
            <a href="{{stat_category.player_team_games[0].player_team_game.player_team_season.team_season.team.team_href}}">
              <img src="{{stat_category.player_team_games[0].player_team_game.player_team_season.team_season.team.team_logo}}" alt="" class='logo-50'>
            </a>
          </td>
          <td class="">
            <div class="inline-block">
              <div class="PlayerFace-60 PlayerFace-Headshot inline-block" player_id='{{stat_category.player_team_games[0].player_team_game.player_team_season.player_id}}' style='border-color:#{{stat_category.player_team_games[0].player_team_game.player_team_season.team_season.team.team_color_primary_hex}};' id="player-stat-leaders-face-{{stat_category.player_team_games[0].player_team_game.player_team_season.player_id}}-{{loop.index}}-{{stat_category.player_team_games[0].value_rank}}"  ></div>
            </div>

          </td>
          <td>
            <div class="inline-block">
              <div class="font16">
                <a href="{{stat_category.player_team_games[0].player_team_game.player_team_season.player.player_href}}">
                  {{stat_category.player_team_games[0].player_team_game.player_team_season.player.full_name}}
                </a>
              </div>
              <div class="font10">
                <span>
                  <i class="fa fa-address-card player-profile-popup-icon"></i>
                </span>
                            &#183;
                            <span>
                  <a href='{{stat_category.player_team_games[0].player_team_game.player_team_season.team_season.team.team_href}}'>
                    {{stat_category.player_team_games[0].player_team_game.player_team_season.team_season.team.team_abbreviation}}
                  </a>
                </span>
                            &#183;
                            <span>{{stat_category.player_team_games[0].player_team_game.player_team_season.position}}</span>
                            &#183;
                            <span>{{stat_category.player_team_games[0].player_team_game.player_team_season.class.class_name}}</span>
              </div>
              <div class="font10">
                {{stat_category.player_team_games[0].player_team_game.team_game.game.week.week_name}}, {{stat_category.player_team_games[0].player_team_game.player_team_season.season}} Season
              </div>
              <div class="font10">
                <span class='{{stat_category.player_team_games[0].player_team_game.team_game.game_outcome_letter}} bold'>{{stat_category.player_team_games[0].player_team_game.team_game.game_outcome_letter}}
                </span>
                <a href='{{stat_category.player_team_games[0].player_team_game.team_game.game.game_href}}'>{{stat_category.player_team_games[0].player_team_game.team_game.game_stats.team.points}}-{{stat_category.player_team_games[0].player_team_game.team_game.opponent_game_stats.team.points}}
                </a>
                vs.
                <a href='{{stat_category.player_team_games[0].player_team_game.team_game.opponent_team_season.team.team_href}}'>{{stat_category.player_team_games[0].player_team_game.team_game.opponent_team_season.team.team_abbreviation}}</a>
              </div>
            </div>
          </td>
          <td class="center-text">
            <div class="font20">
              {{stat_category.player_team_games[0].value|toLocaleString}}
            </div>
            <div class="font10">
              {{stat_category.category_abbr}}
            </div>
          </td>
        </tr>
        <tr>
          <th class='center-text'>Rank</th>
          <th colspan='2'>Team</th>
          <th>Player</th>
          <th class='center-text'>{{stat_category.category_abbr}}</th>
        </tr>
        {% for player in stat_category.player_team_games.slice(1,5)%}
          <tr player_id='{{player.player_team_game.player_team_season.player_id}}'>
            <td class='center-text bold' style='background-color: #{{player.player_team_game.player_team_season.team_season.team.team_color_primary_hex}}; color:white;'>
              {{loop.index + 1}}
            </td>
            <td style='background-color: #{{player.player_team_game.player_team_season.team_season.team.team_color_primary_hex}}' class='center-text'>
              <a href="{{player.player_team_game.player_team_season.team_season.team.team_href}}">
                <img src="{{player.player_team_game.player_team_season.team_season.team.team_logo}}" alt="" class='logo-30'>
              </a>
            </td>
            {# <td>
                        <a href="{{player.player.player_team_season.team_season.team.team_href}}">
                            {{player.player.player_team_season.team_season.team.team_abbreviation}}
                        </a>
                    </td> #}
            <td colspan='2' style='padding-left: 24px;'>
              <div>
                <span>
                  <a href="{{player.player_team_game.player_team_season.player.player_href}}">{{player.player_team_game.player_team_season.player.full_name}}</a>
                </span>
              </div>
              <div class='font10'>
                <span>
                  <i class="fa fa-address-card player-profile-popup-icon"></i>
                </span>
                            &#183;
                            <span>
                  <a href='{{player.player_team_game.player_team_season.team_season.team.team_href}}'>
                    {{player.player_team_game.player_team_season.team_season.team.team_abbreviation}}
                  </a>
                </span>
                            &#183;
                            <span class=''>{{player.player_team_game.player_team_season.position}}</span>
                            &#183;
                            <span class=''>{{player.player_team_game.player_team_season.class.class_name}}</span>
              </div>
              <div class="font10">
                {{player.player_team_game.team_game.game.week.week_name}}, {{player.player_team_game.player_team_season.season}} Season
              </div>
              <div class="font10">
                <span class='{{player.player_team_game.team_game.game_outcome_letter}} bold'>{{player.player_team_game.team_game.game_outcome_letter}}
                </span>
                <a href='{{player.player_team_game.team_game.game.game_href}}'>{{player.player_team_game.team_game.game_stats.team.points}}-{{player.player_team_game.team_game.opponent_game_stats.team.points}}
                </a>
                vs.
                <a href='{{player.player_team_game.team_game.opponent_team_season.team.team_href}}'>{{player.player_team_game.team_game.opponent_team_season.team.team_abbreviation}}</a>
              </div>

            </td>
            <td class='center-text'>{{player.value|toLocaleString}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}