<div class='ext_NavBar'>
  {% include "../../static/html_templates/ext_NavBar.njk" %}
</div>
<style>
  #Top25Table tr:nth-child({{TeamsInPlayoff}}) td{
    border-bottom: 2px solid black;
  }

  .team-primary-background-bar-heisman {
    font-size: 12.5px;
    font-weight: bold;
    padding: 8px 16px;
    border-top: 4px solid !important;
    background-color: #{{heisman_winner.player_team_season.team_season.team.team_color_primary_hex}};
    color: #{{heisman_winner.player_team_season.team_season.team.team_color_primary_hex|TeamBackgroundFontColor}} !important;
    border-top: 4px solid #{{heisman_winner.player_team_season.team_season.team.team_color_secondary_hex}} !important;
  }
</style>

<div WorldID="{{page.WorldID}}" PrimaryColor="{{page.PrimaryColor}}" SecondaryColor="{{page.SecondaryColor}}" TeamID="{{team.TeamID}}" style='display:none;' id='PageDataPassthru'></div>
{% include "../../static/html_templates/ext_TeamColoring.njk" %}



<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "../../static/html_templates/Scoreboard.njk" %}
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item w3-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>

        {% for display_item in display_items%}
        <button class="w3-bar-item w3-button tab nav-tab-button {{display_item.classes}}" id="nav-{{display_item.div_id}}-tab"  {{display_item.other_attrs|safe}}>{{display_item.display}}</button>
        {% endfor %}

        <div class="w3-dropdown-hover  w3-right" style='margin-right: 20px;'>
          <button class="w3-bar-item w3-button tab nav-tab-button" id="nav-team-dropdown">Seasons</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:20px; max-height: 70vh; overflow-y: scroll;">
            {% for Season in Seasons %}
            <a href="{{Season.SeasonStatsHref}}" class="w3-bar-item w3-button">{{Season.SeasonStartYear}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style='display:{{display_options["heisman_race"].display}};' id="nav-heisman-race">
      </div>
      <div class="tab-content" style='display:{{display_options["preseason"].display}};' id="nav-preseason">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s10">
            <div class="w3-card">

            <table class='w3-table-all width100'>

            {% for conference_season in conference_seasons%}
            {% set conference_loop = loop %}
            <tr class='team-primary-background-bar'>
              <th colspan="10">{{conference_season.conference.conference_name}}</th>
            </tr>
                  <tr class='team-secondary-background-bar'>
                    <th class='column-shrink'>POS</th>
                    <th class='column-shrink' colspan="1">Team</th>
                    <th colspan="2">Player</th>
                    <th class='center-text'>OVR</th>

                    <th class='column-shrink'>POS</th>
                    <th class='column-shrink' colspan="1">Team</th>
                    <th colspan="2">Player</th>
                    <th class='center-text'>OVR</th>
                  </tr>

                  {% for award_group in conference_season.preseason_awards %}
                  {% set award_loop = loop %}
                  <tr class='{{Conf.ShowConference}}'>
                    {% for position_group, award in award_group%}
                    {% set position_loop = loop %}
                    <td class='font16 white-text column-shrink' style='background-color: #{{award.player_team_season.team_season.team.team_color_primary_hex}}'>
                      {{award.player_team_season.position}}
                    </td>
                    <td class='column-shrink' style='background-color: #{{award.player_team_season.team_season.team.team_color_primary_hex}}'>
                      <a href="{{award.player_team_season.team_season.team.team_href}}">
                        <img class='logo-50' src="{{award.player_team_season.team_season.team.team_logo}} " alt="">

                      </a>
                    </td>
                    <td class='center-text' style='background-color: #{{award.player_team_season.team_season.team.team_color_primary_hex}}'  id="preseason-all-americans-PlayerFaceDiv-{{conference_loop.index}}-{{award_loop.index}}-{{position_loop.index}}">
                      <div class="PlayerFace-60 PlayerFace-Headshot inline-block" player_id='{{award.player_team_season.player.player_id}}' style='border-color:#{{award.player_team_season.team_season.team.team_color_secondary_hex}}; background-color: white;' id="preseason-all-americans-PlayerFace-{{conference_loop.index}}-{{position_loop.index}}-{{award_loop.index}}" face_drawn='false' >
                      </div>
                    </td>
                    <td>
                      <div class="">
                        <a class='font14' href="{{award.player_team_season.player.player_href}}"> {{award.player_team_season.player.full_name}} </a>
                      </div>
                      <div class="font10">
                        <span class='{{award.team_game.game_outcome_letter}} bold'>{{award.team_game.game_outcome_letter}} </span>
                      </div>
                    </td>
                    <td class='center-text'>
                      <div class="font16">
                        {{award.player_team_season.ratings.overall.overall}}
                      </div>
                      <div class="font10">
                        Overall
                      </div>
                    </td>

                    {% endfor %}
                  </tr>

                  {% endfor %}


            {% endfor %}
          </table>
        </div>
        </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:{{display_options["season"].display}};' id="nav-all-americans">
        <div class="w3-display-container">
          <div class="w3-row-padding">
            <div class="w3-col s11">
            <div class="w3-card">

            <table class='w3-table-all width100'>

            {% for conference_season in conference_seasons%}
            {% set conference_loop = loop %}
            <tr class='team-primary-background-bar'>
              <th colspan="12">{{conference_season.conference.conference_name}}</th>
            </tr>
                  <tr class='team-secondary-background-bar'>
                    <th class='column-shrink'>POS</th>
                    <th class='column-shrink' colspan="1">Team</th>
                    <th colspan="3">Player</th>
                    <th class='center-text'>OVR</th>

                    <th class='column-shrink'>POS</th>
                    <th class='column-shrink' colspan="1">Team</th>
                    <th colspan="3">Player</th>
                    <th class='center-text'>OVR</th>
                  </tr>

                  {% for award_group in conference_season.regular_season_all_american_awards %}
                  {% set award_loop = loop %}
                  <tr class='{{Conf.ShowConference}}'>
                    {% for position_group, award in award_group%}
                    {% set position_loop = loop %}
                    <td class='font16 white-text column-shrink' style='background-color: #{{award.player_team_season.team_season.team.team_color_primary_hex}}'>
                      {{award.player_team_season.position}}
                    </td>
                    <td class='column-shrink' style='background-color: #{{award.player_team_season.team_season.team.team_color_primary_hex}}'>
                      <a href="{{award.player_team_season.team_season.team.team_href}}">
                        <img class='logo-50' src="{{award.player_team_season.team_season.team.team_logo}} " alt="">

                      </a>
                    </td>
                    <td class='center-text' style='background-color: #{{award.player_team_season.team_season.team.team_color_primary_hex}}'  id="all-americans-PlayerFaceDiv-{{conference_loop.index}}-{{award_loop.index}}-{{position_loop.index}}">
                      <div class="PlayerFace-60 PlayerFace-Headshot inline-block" player_id='{{award.player_team_season.player.player_id}}' style='border-color:#{{award.player_team_season.team_season.team.team_color_secondary_hex}}; background-color: white;' id="all-americans-PlayerFace-{{conference_loop.index}}-{{position_loop.index}}-{{award_loop.index}}" face_drawn='false' >
                      </div>
                    </td>
                    <td>
                      <div class="">
                        <a class='font14' href="{{award.player_team_season.player.player_href}}"> {{award.player_team_season.player.full_name}} </a>
                      </div>
                      <div class="font10">
                        <span>{{award.player_team_season.class.class_name}} </span>
                      </div>
                    </td>
                    <td>
                      <ul class='no-list-style'>
                        {% for top_stat in award.player_team_season.top_stats%}
                        <li class='nowrap'>
                          {{top_stat.display}}
                        </li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td class='center-text'>
                      <div class="font16">
                        {{award.player_team_season.ratings.overall.overall}}
                      </div>
                      <div class="font10">
                        Overall
                      </div>
                    </td>

                    {% endfor %}
                  </tr>

                  {% endfor %}


            {% endfor %}
          </table>
        </div>
        </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:{{display_options["heisman"].display}};' id="nav-heisman">
        <div class="w3-row-padding w3-margin-bottom">
          <div class="w3-col l12 mw1200">

            <div class="w3-card w3-margin-bottom">
              <div class="w3-bar team-primary-background-bar-heisman">
                Heisman Winner
              </div>
              <table class='width100 w3-table-all'>
                <tr>
                  <td id='heisman-highlight'>
                    <div class='w3-row-padding ' style='text-align: initial;'>
                      <div class='w3-col l3 m4 s12' >
                        <img class='playerTeamLogo inline-block' src='{{heisman_winner.player_team_season.team_season.team.team_logo}}'  style='width: 200px; height: inherit; margin-left: 0%;'>
                      </div>
                      <div class='w3-col l3 m4 s12' >
                        <div class='center-text inline-block'  id="heisman-winner-PlayerFaceDiv">
                          <div class="PlayerFace-200 PlayerFace-Headshot inline-block" player_id='{{heisman_winner.player_team_season.player.player_id}}' style='border-color:#{{heisman_winner.player_team_season.team_season.team.team_color_secondary_hex}}; background-color: white;' id="heisman-winner-PlayerFace" face_drawn='false' >
                          </div>
                        </div>
                      </div>
                      <div class='w3-col l4 m4 s12 vertical-align-middle' style='width: 370px;'>
                        <div class=''>
                          <div class='playerHeaderInfo'>
                            <span class='playerFirstName'>
                              {{heisman_winner.player_team_season.player.name.first}}
                            </span>
                            <span class='playerLastName' style='margin-top: 0px; margin-bottom: 0px;'>
                              {{heisman_winner.player_team_season.player.name.last}}
                            </span>
                            <div class='playerOverviewInfo'>
                              <a href-field="PlayerTeamHref">
                                <span>{{heisman_winner.player_team_season.team_season.team.school_name}}</span>
                                <span>{{heisman_winner.player_team_season.team_season.team.team_name}}</span>
                              </a>
                              | #<span data-field="JerseyNumber">{{heisman_winner.player_team_season.player.jersey_number}}</span> | <span data-field="Position">{{heisman_winner.player_team_season.position}}</span>
                            </div>
                            <div class='playerOverviewInfo italic player-captain'>
                              <span html-field="TeamCaptainIcon"></span><span data-field="TeamCaptain"></span>
                            </div>

                          </div>
                          <ul class='playerHeaderBio' style='border-color:{{playerTeam.TeamColor_Primary_HEX}}'>
                            <li class='playerHeaderClass'>
                              <div class='playerHeaderBioDescription'>CLASS</div>
                              <div class="player-class">
                                <span>{{heisman_winner.player_team_season.class.class_name}}</span><span  html-field="RedshirtIcon"></span>
                              </div>
                            </li>
                            <li class='playerHeaderHtWt'>
                              <div class='playerHeaderBioDescription'>HT/WT</div>
                              <div><span>{{heisman_winner.player_team_season.player.body.height}}</span>, <span>{{heisman_winner.player_team_season.player.body.weight}}</span></div>
                            </li>
                            <li class='playerHeaderHometown'>
                              <div class='playerHeaderBioDescription'>HOMETOWN</div>
                              <div><span>{{heisman_winner.player_team_season.player.hometown.city}}, {{heisman_winner.player_team_season.player.hometown.state}}</span></div>
                            </li>
                            <li class='playerHeaderHometown'>
                              <div class='playerHeaderBioDescription'>OVR</div>
                              <div><span>{{heisman_winner.player_team_season.ratings.overall.overall}}</span></div>
                            </li>
                          </ul>

                        </div>
                      </div>
                      </div>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" style='display:{{display_options["potw"].display}};' id="nav-weekly">
        <div class="w3-display-container">
          <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-col w3-display-container">
              <div class="w3-card">

              <table class='w3-table-all'>

              {% for conference_season in conference_seasons%}
              {% set conference_loop = loop %}
              <tr class='team-primary-background-bar'>
                <th colspan="9">{{conference_season.conference.conference_name}}</th>
              </tr>
                    <tr class='team-secondary-background-bar'>
                      <th>Week</th>
                      <th colspan="4">Offensive Player</th>
                      <th colspan="4">Defensive Player</th>
                    </tr>

                    {% for week in conference_season.weekly_awards %}
                    {% set week_loop = loop %}
                    <tr class='{{Conf.ShowConference}}'>
                      <td>
                        <a href="{{Week.GameHref}}">{{week.week_name}}</a>
                      </td>
                      {% for award in week.awards.slice(0,2)  %}
                      {% set award_loop = loop %}
                      <td class='column-shrink' style='background-color: #{{award.player_team_game.player_team_season.team_season.team.team_color_primary_hex}}'>
                        <a href="{{award.player_team_game.player_team_season.team_season.team.team_href}}">
                          <img class='logo-50' src="{{award.player_team_game.player_team_season.team_season.team.team_logo}} " alt="">

                        </a>
                      </td>
                      <td class='center-text' style='background-color: #{{award.player_team_game.player_team_season.team_season.team.team_color_primary_hex}}'  id="teamTeamLeaderBoxPlayerFaceDiv-{{conference_loop.index}}-{{week_loop.index}}-{{award_loop.index}}">
                        <div class="PlayerFace-60 PlayerFace-Headshot inline-block" player_id='{{award.player_team_game.player_team_season.player.player_id}}' style='border-color:#{{award.player_team_game.player_team_season.team_season.team.team_color_secondary_hex}}; background-color: white;' id="teamTeamLeaderBoxPlayerFace-{{conference_loop.index}}-{{week_loop.index}}-{{award_loop.index}}" face_drawn='false' >
                        </div>
                      </td>
                      <td>
                        <div class="">
                          <a class='font14' href="{{award.player_team_game.player_team_season.player.player_href}}"> {{award.player_team_game.player_team_season.player.full_name}} </a>
                          <span class='font10'>{{award.player_team_game.player_team_season.position}} </span>
                        </div>
                        <div class="font10">
                          <span class='{{award.player_team_game.team_game.game_outcome_letter}} bold'>{{award.player_team_game.team_game.game_outcome_letter}} </span>
                          <a href='{{award.player_team_game.team_game.game.game_href}}'>{{award.player_team_game.team_game.game_stats.team.points}}-{{award.player_team_game.team_game.opponent_game_stats.team.points}} </a>
                          vs.
                          <a href='{{award.player_team_game.team_game.opponent_team_season.team.team_href}}'>{{award.player_team_game.team_game.opponent_team_season.team.team_abbreviation}}</a>
                        </div>


                      </td>
                      <td>
                        <div class="">
                          <ul class='no-list-style'>
                            {% for stat in award.player_team_game.top_stats.slice(0,3) %}
                            <li>{{stat.display}}</li>
                            {% endfor %}
                          </ul>
                        </div>
                      </td>
                      {%endfor%}

                    </tr>
                    {% endfor %}


              {% endfor %}
            </table>
          </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
