{% include "../../static/html_templates/common_templates/ext_nav_bar.njk" %}

{% include "../../static/html_templates/common_templates/ext_team_coloring.njk" %}

<body>
  <div class="PageContent">
    {% include "../../static/html_templates/common_templates/ext_team_header.njk" %}
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 3px solid #{{page.SecondaryColor}}; border-top: 3px solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item btn tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
          <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item btn tab nav-tab-button selected-tab" id="nav-schedule-tab" style="background-color: #{{page.SecondaryColor}};">Depth Chart</button>
        <button class="w3-bar-item btn tab nav-tab-button" id="nav-formation-subs-tab">Formation Subs</button>
        <button class="w3-bar-item btn tab nav-tab-button" id="nav-gameplan-tab">Gameplan</button>
        {% include "../../static/html_templates/common_templates/ext_team_list.njk" %}
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:block;"  id="nav-schedule">
        <div class='w3-display-container' >
          {{team|log}}
          {% if team.team_season.is_user_team %}
          <div class="w3-row-padding justify-start mb-2" style='overflow: visible;'>
            <div class='w3-col '>
              <div class='card  w3-light-gray '>
                <div class='p-2 btn-group-sm'>
                  <button class='btn team-color-button disabled depth-chart-save-button'>Save</button>
                  <button class='btn team-color-button disabled depth-chart-reset-button'>Reset</button>
                  <button class='btn team-color-button depth-chart-ask-button'>Ask Assistants</button>
                </div>
                <div class='pb-2 px-2 font12'>
                  <span class=''>
                    Re-arrange players in the area below, and make sure to save your changes!
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% for position_obj in position_depth_chart %}
            <div class='w3-row-padding w3-margin-bottom'>
              <div class='w3-col'>
                <div class="card "   style="width:100%;">

                  <table class="table table-striped table-hover football-table depth-chart-position-table" position='{{position_obj.position}}' num-starters='{{position_obj.starter_count}}' id='depth-chart-{{position_obj.position}}'>
                    <thead>
                      <tr class='team-primary-background-bar center-text-row'>
                        <th colspan='{{7 + position_obj.rating_list|length + 1 + position_obj.stat_list|length + all_pos_stat_list|length}}' class='left-text'>
                          {% if team.team_season.is_user_team %}Set{%endif%}
                            {{position_obj.position}} Depth Chart 
                        <span class='font10'>
                              {{position_obj.starter_count}}
                              {{'starter'|pluralize(position_obj.starter_count)|upper}}</span>
                          </th>
                        </tr>
                        <tr class='team-secondary-table-row center-text-row'>
                          <th colspan='7' class=' col-group'>Player</th>
                          <th colspan='{{position_obj.rating_list|length + 1}}' class='col-group'>Ratings</th>
                          <th colspan='{{position_obj.stat_list|length + all_pos_stat_list|length}}' class='col-group'>Stats</th>
                        </tr>
                        <tr class='team-primary-table-row center-text-row'  style='white-space: nowrap;'>
                          <th></th>
                          <th></th>
                          <th class='left-text'>Player</th>
                          <th class=''>Class</th>
                          <th class='col-group'>Position</th>

                          <th class=''>Ht</th>
                          <th class='col-group'>Wt</th>

                          <th>Ovr</th>
                          {# {% for stat in all_pos_rating_list%}
                      <th class='{%if loop.last%}col-group{%endif%}'>{{stat.display}}</th>
                      {% endfor %} #}

                          {% for rating in position_obj.rating_list%}
                            <th class='{%if loop.last%}col-group{%endif%}'>{{rating.display}}</th>
                          {% endfor %}

                          {% for stat in all_pos_stat_list%}
                            <th class='{%if loop.last%}col-group{%endif%}'>{{stat.display}}</th>
                          {% endfor %}

                          {% for stat in position_obj.stat_list%}
                            <th class='{%if loop.last%}col-group{%endif%}'>{{stat.display}}</th>
                          {% endfor %}

                        </tr>
                      </thead>
                      <tbody style='height: 100%;'>
                        {# .slice(0, position_obj.starter_count * 3) #}
                        {%for pts in position_obj.player_team_seasons%}
                          <tr class='center-text-row player-depth-chart-row' player_id='{{pts.player_id}}' player_team_season_id='{{pts.player_team_season_id}}' style='white-space: nowrap;' original-index='{{loop.index}}' index='{{loop.index}}'>
                            <td class='row-index-td left-text {%if loop.index <= position_obj.starter_count%} bold team-color-font {% endif %}'>
                              <span class='row-index-span '>{{loop.index}}</span>
                              <span class='row-change-span font10 strikethrough'></span>
                            </td>
                            <td class='font16'>
                              {% if team.team_season.is_user_team %}
                                <i class="fa fa-arrow-alt-circle-up depth-chart-reorder-icon"></i>
                                <i class="fa fa-arrow-alt-circle-down depth-chart-reorder-icon"></i>
                              {% endif %}
                            </td>
                            <td class='left-text'>
                              <i class="fa fa-address-card player-profile-popup-icon"></i>
                              <a href='{{pts.player.player_href}}'>{{pts.player.full_name}}</a>
                            </td>
                            <td>{{pts.class.class_name}}</td>
                            <td class='col-group'>{{pts.player.position}}</td>

                            <td>{{pts.player.body.height}}</td>
                            <td class='col-group'>{{pts.player.body.weight}} lbs</td>

                            <td style='font-weight: {{pts|get("ratings.overall.overall") * 10}};'>
                              {{pts|get('ratings.overall.overall')}}
                            </td>

                            {# {% for rating in all_pos_rating_list%}
                      <td  class='{%if loop.last%}col-group{%endif%}' style='font-weight: {{pts|get(rating.key) * 50}};'>
                        {{pts|get(rating.key)|NumberToGradeBadge(20)|safe}}
                      </td>
                      {% endfor %} #}

                            {% for rating in position_obj.rating_list%}
                              <td class='{%if loop.last%}col-group{%endif%}' style='font-weight: {{pts|get(rating.key) * 50}};'>
                                {{pts|get(rating.key)|NumberToGradeBadge(20)|safe}}
                              </td>
                            {% endfor %}

                            {% for stat in all_pos_stat_list%}
                              <td  class='{%if loop.last%}col-group{%endif%}'>{{pts|get(stat.key)|clean_number}}</td>
                            {% endfor %}

                            {% for stat in position_obj.stat_list%}
                              <td  class='{%if loop.last%}col-group{%endif%}'>{{pts|get(stat.key)|OrZero}}</td>
                            {% endfor %}
                          </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {%endfor%}
              </div>
            </div>
            <div class="tab-content" style="display:none;"  id="nav-formation-subs"></div>
            <div class="tab-content" style="display:none;"  id="nav-gameplan"></div>
          </div>
        </div>
      </body>