<div class='ext_nav_bar'>
  {% include "../../html_templates/common_templates/ext_nav_bar.njk" %}
</div>
<style>

</style>


{% include "../../html_templates/common_templates/ext_team_coloring.njk" %}


<body>
  <div class="PageContent">
    <div class='worldHeader w3-row background-eee'>
      {% include "../../html_templates/common_templates/scoreboard.njk" %}
    </div>
    <nav>
      <div class="w3-bar team-bar" id="nav-tab" style="background-color: #{{page.PrimaryColor}}; border-bottom: 0.1875rem solid #{{page.SecondaryColor}}; border-top: 0.1875rem solid #{{page.SecondaryColor}};  color: white; ">
        <button class='w3-bar-item btn team-color-button tab nav-tab-button show-small'  id="nav-sidebar-tab" style="">
            <i class="fas fa-bars"></i>
        </button>
        <button class="w3-bar-item btn team-color-button tab nav-tab-button selected-tab" id="nav-ncaa-history" style="background-color: #{{page.SecondaryColor}};">NCAA History</button>
        {% for conference in conferences%}
        <button class="w3-bar-item btn team-color-button tab nav-tab-button" id="nav-game-records-tab">{{conference.conference_abbreviation}}</button>
        {%endfor%}
      </div>
    </nav>
    <div id="nav-tabContent">
      <div class="tab-content" style="display:block;"  id="nav-ncaa-history" >
        <div class='w3-display-container' >
          <div class="w3-row-padding">
            <div class="w3-col">
              <div class="card">
                <div class="w3-bar team-primary-background-bar">
                <span class='hide-small'>Yearly Results</span>
              </div>
                <table class='table table-striped table-hover'>
                  <thead>
                    <tr class='team-secondary-table-row'>
                      <th>Season</th>
                      <th class='col-group'>Champion</th>
                      <th class='col-group' colspan="1">Final Top 5</th>
                      <th class='col-group'>Pre-Season Top 5</th>

                      <th class='col-group' colspan='3'>Heisman Winner</th>
                      <th></th>
                    </tr>
                  </thead>
                    {% for season in seasons%}
                    {{season|log}}
                    <tr>
                      {% if season.national_champion%}
                      <td class='font16' style='color:white; background-color: #{{season.national_champion.team.team_color_primary_hex}}'>{{season.season}}</td>
                      <td class='col-group' style='background-color: #{{season.national_champion.team.team_color_primary_hex}}'>
                        <a href="{{season.national_champion.team_season_href}}">
                          <img src="{{season.national_champion.team.team_logo}}" alt="" class='logo logo-50'>
                        </a>
                        <a href="{{season.national_champion.team_season_href}}" class='font20 white-text'>
                          {{season.national_champion.team.full_name}}
                        </a>
                      </td>
                      {% else%}
                      <td class='font16'>{{season.season}}</td>
                      <td></td>
                      {% endif %}
                      <td class='p-0'>
                        <div class='mb-0'>
                        {% for team_season in season.season_end_top_five%}
                        <div class='white-text p-05'  style='color: #{{team_season.team.team_color_primary_hex}};'>
                          <span>{{loop.index}}.</span>
                          <span>
                            <a href="{{team_season.team_season_href}}">
                              {{team_season.team.full_name}}
                            </a>
                          </span>
                        </div>
                        {% endfor %}
                        </div>
                      </td>
                      
                      <td class='p-0'>
                        <div class='mb-0'>
                        {% for team_season in season.season_start_top_five%}
                        <div class='white-text p-05'   style='color: #{{team_season.team.team_color_primary_hex}};'>
                          <span>{{loop.index}}.</span>
                          <span>
                            <a href="{{team_season.team_season_href}}">
                              {{team_season.team.full_name}}
                            </a>
                          </span>
                        </div>
                        {% endfor %}
                        <div>
                      </td>
                      

                      {% if season.heisman_winner%}
                      <td  class='center-text' style="background-color: #{{season.heisman_winner.player_team_season.team_season.team.team_color_primary_hex}}">
                        <a href="{{season.heisman_winner.player_team_season.player.player_href}}">
                          <img src="{{season.heisman_winner.player_team_season.team_season.team.team_logo}}" class='logo logo-50' alt="">
                        </a>
                      </td>
                      <td class='column-shrink center-text' style="background-color: #{{season.heisman_winner.player_team_season.team_season.team.team_color_primary_hex}}">
                        <div id='heisman-face-{{loop.index}}-{{season.heisman_winner.player_team_season.player.player_id}}' player_id='{{season.heisman_winner.player_team_season.player.player_id}}'  class='PlayerFace-60 PlayerFace-Headshot' style='background-color: white; border-color: #{{season.heisman_winner.player_team_season.team_season.team.team_color_secondary_hex}}'>
                        </div>
                      </td>
                      <td class=' col-group'>
                        <div class="font16 bold font-black">
                          <a href="{{season.heisman_winner.player_team_season.player.player_href}}">
                            {{season.heisman_winner.player_team_season.player.full_name}}
                          </a>
                        </div>
                        <div class="">
                          <a href="{{season.heisman_winner.player_team_season.team_season.team_season_href}}">
                            {{season.heisman_winner.player_team_season.team_season.team.full_name}}
                          </a>
                        </div>
                        <div class="">
                          <span>{{season.heisman_winner.player_team_season.position}}</span>
                          <span>{{season.heisman_winner.player_team_season.class_name}}</span>
                        </div>
                      </td>
                      {% else%}
                      <td></td><td></td><td></td>
                      {% endif%}

                      <td>
                        <div class="">
                          <ul class='no-list-style'>
                            {% for link in season.links%}
                            <li>
                              <a href="{{link.href}}">{{link.display}}</a>
                            </li>
                            {% endfor %}
                          </ul>
                        </div>

                      </td>
                    </tr>
                    {% endfor %}
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-content" style="display:block;"  id="nav-game-records" >

      </div>
    </div>
  </div>
</body>
